﻿@using Nop.Web.Extensions
@model IEnumerable<Treefort.Portal.Queries.Geo.LocationModel>
    
<h3>Choose a location to submit your gear:</h3>
<table class="locations">
@foreach(var location in Model) {
    <tr class="location" data-href="@Url.Action("Form", "SellYourGear", new {locationId = location.Id, zip = ViewBag.Zip})">
        <td class="arrow"><span>&raquo;</span></td>
        <td>
            <h3>@location.City</h3>
            <span>@location.PhoneNumber</span> <br />
        </td>
        <td>
            <h3 class="distance-mileage">@(location.Distance.HasValue ? Math.Round(location.Distance.Value,1) + " mi" : "NA")</h3>
            <a href="@Url.GoogleDirections(location)" target="_blank">Map</a>
        </td>
    </tr>
    <tr class="spacer"><td colspan="3"></td></tr>
}
</table>