﻿@using SimpleHoneypot.HtmlHelpers
@model Nop.Web.Models.SellYourGear.FormViewModel

@{
    Html.AppendTitleParts(Model.RcContent.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.RcContent.Meta.MetaDescription);
    Layout = "~/Views/Shared/_ColumnsTwoRightColumn.cshtml";
    Html.AppendScriptParts(@Url.Content("~/Scripts/user-location-map.js"));
}

<div id="sellgearContentWrapper">
    <h1>Sell Us Your Gear</h1>

   @Html.Raw(Model.RcContent.PageBody)
    
    @using (Html.BeginForm()) {
        <div id="sellgearwrapper" class="clearfix">
            <div class="formColumn">
                <h3>Your Info</h3>
                @Html.LabelFor(m => m.Name):
                @Html.TextBoxFor(m => m.Name)
        
                @Html.LabelFor(m => m.Email):
                @Html.TextBoxFor(m => m.Email)
        
                @Html.LabelFor(m => m.Phone):
                @Html.TextBoxFor(m => m.Phone)
        
                @Html.LabelFor(m => m.City):
                @Html.TextBoxFor(m => m.City)
        
                <div class="dualbox clearfix">
                    <div>
                        @Html.LabelFor(m => m.State):
                        @Html.TextBoxFor(m => m.State)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Zip):
                        @Html.TextBoxFor(m => m.Zip)
                    </div>
                </div>
            </div>
            <div class="borderColumn"></div>
            <div class="formColumn gearInfoColumn">
                <h3>Your Gear Info</h3>
        
                @Html.LabelFor(x => x.GearType):
                @Html.DropDownListFor(x => x.GearType, Model.GearTypeOptions)
        
                @Html.LabelFor(m => m.MakeAndModel):
                @Html.TextBoxFor(m => m.MakeAndModel)
        
                @Html.LabelFor(m => m.Color):
                @Html.TextBoxFor(m => m.Color)
        
                @Html.LabelFor(m => m.Year):
                @Html.TextBoxFor(m => m.Year)
        
                @Html.LabelFor(m => m.Condition):
                @Html.DropDownListFor(x => x.Condition, Model.ConditionOptions)
            </div>
    
            <div class="largeFormColumn">
                @Html.LabelFor(x => x.Describe):
                @Html.TextAreaFor(x => x.Describe, new {style="margin-top:10px;height:83px;"})
        
                @Html.LabelFor(x => x.Modifications):
                @Html.TextAreaFor(x => x.Modifications)
            </div>
        </div>

        <div class="form-field inputPot">
            <label>Please do not enter anything in the following field</label>
            @Html.HoneypotInput()
        </div>
    
        <div id="sellgearPhotoUpload" class="clearfix">
            <h3>
                Gear Photos
            </h3>
        
            <div id="photoGearWrapper" class="clearfix">
                <div class="imageUploader"> @Html.EditorFor(x => x.PictureOne.PictureId)</div>
                <div class="imageUploader"> @Html.EditorFor(x => x.PictureTwo.PictureId)</div>
                <div class="imageUploader"> @Html.EditorFor(x => x.PictureThree.PictureId)</div>
                <div class="imageUploader"> @Html.EditorFor(x => x.PictureFour.PictureId)</div>
            </div>
        </div>
    
        <div class="sellGearFormButton">
            <input type="submit" value="Submit" />
        </div>
    }
</div>

@section right
{
    @if (Model.IsFranchiseSite)
    {
         @Html.Action("LocationSidebar", "Franchisee")
    }
    else
    {
        @Html.Partial("_HowItWorksVideoSidebar")

          @Html.Partial("_UserLocation")
    }
}

