﻿@model Nop.Web.Models.SellYourGear.CommonViewModel

@{
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.AppendScriptParts(@Url.Content("~/Scripts/user-location-map.js"));
    Html.AppendTitleParts(Model.RcContent.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.RcContent.Meta.MetaDescription);
}

<h1 class="big-page-title">Sell Us Your Gear</h1>
<div class="how-it-works-page">
    <div class="centerwrapper">
        <div class="intro-text">
                Music Go Round<sup>&reg;</sup> is the place to go for used, musical instruments and music gear! <br/>For 30 years Music Go Round has specialized in buying, selling and trading used musical equipment all day, every day. You will find a huge variety of cool, used gear in our stores and online. To ensure that we are providing the best customer experience in our industry, our used gear is inspected, cleaned, and prepped so the used gear you’re buying is always in great working condition.
            
        </div>
    </div>
    @if (!Model.IsFranchiseSite)
    {
        <div class="golden-search-bar gold-blend">
            <div class="find-a-store-wrapper">
                <div mgr-location-search form-id="'findLocationHome'" label="'Find A Store'" place-holder-text="'Zip Code or City & State'" use-async="true" action-url="'/Locations/ListAsync'" layout="'one-line'"></div>
            </div>
        </div>
        @Html.Partial("~/Views/Locations/_LocationSearchResult.cshtml")
    }
    <div class="how-it-works-video" style="background-image: url('http://img.youtube.com/vi/NBI-MXCWprw/maxresdefault.jpg')">
        <a href="" class="play-video-button gold-blend">
            <div class="big-title">How It Works</div>
            <div class="play-text">Play Video</div>
        </a>
        <div class="overlay-video">
            <div id="youtubeEmbed"></div>
        </div>
    </div>
    <div class="how-it-works-page">
        @Html.Partial("~/Views/Home/_HowItWorksCallout.cshtml", "Selling Us Your Gear Is Simple")
    </div>
    <div class="faq-section">
        <div class="inner-wrapper centerwrapper">
            <div class="title">Frequently Asked Questions</div>
            <div class="faq-item">
                <div class="question">HOW CAN I GET THE MOST WHEN SELLING MY GEAR?</div>
                <div class="answer">
                    <p>Music Go Round<sup>&reg;</sup> buys all kinds of musical instruments and equipment daily.  We do offer the best possible price to every seller, based on the supply, demand and condition of your specific products.  However, making sure the product is clean, functional and has all of the related accessories, manuals and adapters will certainly improve the wholesale value of your gear.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">HOW WILL YOU VALUE MY EQUIPMENT?</div>
                <div class="answer">
                    <p>Our certified buyers receive extensive training on how to appropriately value all categories of musical instruments and equipment.  In a “typical” situation, we will pay 40-60% of what we have deemed to be the fair market value of your products.  Every product is unique and in some circumstances, the value will fluctuate based on supply, demand, condition, currency of the product in question and other market factors.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">HOW DOES MUSIC GO ROUND PAY?</div>
                <div class="answer">
                    <p>Music Go Round pays you on the spot, typically in the form of an official company check.  Please bring a valid driver’s license or government issued identification card as required by state laws.  You must be 18 years old and the legal owner of the product to sell to Music Go Round.  Proof of ownership may be requested during the buy transaction.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">I LOVE MUSIC GO ROUND AND WANT TO WORK FOR THEM.  ARE YOU HIRING?</div>
                <div class="answer">
                    <p>All of our hiring happens in our stores.   Please visit the store website or contact the store management to inquire about available positions and to supply a resume.</p>
                </div>
            </div>
        </div>
    </div>
</div>


@section FooterScripts{
    @if (!Model.IsFranchiseSite)
    {
        <script type="text/javascript" src="/Scripts/libs/markerwithlabel.js"></script>
    }
    <script type="text/javascript">
        $(function() {
            var tag = document.createElement('script');
            tag.src = 'https://www.youtube.com/iframe_api';

            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            var playerLoaded = false;

            function onYtReady(e) {
                playerLoaded = true;
                e.target.playVideo();
            };

            function initYtPlayer() {
                player = new YT.Player('youtubeEmbed', {
                    height: '405',
                    width: '720',
                    videoId: 'NBI-MXCWprw',
                    events: {
                        'onReady': onYtReady
                    },
                    playerVars: {
                        'rel': 0,
                        'showinfo': 0
                    }
                });
            }

            $('.overlay-video').on('click', function(e) {
                $(this).hide();
                player.pauseVideo();
                $('body').css('overflow', '');
            }).children().on('click', function(e) {
                e.stopPropagation();
            });
            $('.play-video-button').on('click', function(e) {
                e.preventDefault();
                $('.overlay-video').show();
                if (!playerLoaded) {
                    initYtPlayer();
                }
                $('body').css('overflow', 'hidden');
            });
        });
    </script>
}
