﻿@model Nop.Web.Models.SellYourGear.CommonViewModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AppendTitleParts(Model.RcContent.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.RcContent.Meta.MetaDescription);
}

<section>
    <h1>@Model.RcContent.PageTitle</h1>

    <p>Music Go Round can help you trade your quality used musical instruments & equipment in for something new, used or for cash. To get started:</p>

    <ol>
        <li>Call your local @Html.ActionLink("Music Go Round location", "Index", "Home") to find out the most wanted and requested items in your city.</li>
        <li>Make sure your items are clean, in good condition and include all necessary parts.</li>
        <li>Bring them to your local store for trade or payment on the spot.</li>
    </ol>
</section>
