﻿@model Nop.Web.Models.SellYourGear.CommonViewModel

@{
    Html.AppendTitleParts(Model.RcContent.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.RcContent.Meta.MetaDescription);
    Layout = "~/Views/Shared/_ColumnsTwoRightColumn.cshtml";
    Html.AppendScriptParts(@Url.Content("~/Scripts/user-location-map.js"));
}

<div id="sellgearContentWrapper">
   <h2>Your Sell Us Your Gear request has been submitted.</h2>
</div>

@section right
{
    @if (Model.IsFranchiseSite)
    {
         @Html.Action("LocationSidebar", "Franchisee")
    }
    else
    {
        @Html.Partial("_HowItWorksVideoSidebar")

          @Html.Partial("_UserLocation")
    }
}
