﻿@model System.String
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<h3>Check out Disabled</h3><br />

<p style="margin-bottom: 100px;">
    Purchasing is currently blocked from your IP address. This can occur if our system detects potentially fraudulent activity. If you feel this is in error please call the Music Go Round location the product(s) you wish to purchase is from. Go to the cart to find contact information for the store that your product(s) is from.
</p>
