﻿@model CheckoutCompletedModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    @Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Complete})
    <div class="clear">
    </div>
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body checkout-data">
        <div class="order-completed">
            @Html.Widget("checkout_completed_top")
            <div class="body">
                <strong>
                    @T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
                <p>
                    @T("Checkout.OrderNumber"): @Model.OrderId
                </p>
                <p>
                    <a href="@Url.RouteUrl("OrderDetails", new {orderID = @Model.OrderId})">@T("Checkout.PlacedOrderDetails")</a>
                </p>
            </div>
            <div class="clear">
            </div>
            <div class="select-button">
                <input type="button" value="@T("Checkout.Continue")" class="button-2 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')"/>
            </div>
            @Html.Widget("checkout_completed_bottom")
        </div>
    </div>
</div>
