﻿@model OnePageCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure.DependencyManagement;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddScriptParts(@Url.Content("~/Scripts/public.accordion.js"));
    Html.AddScriptParts(@Url.Content("~/Scripts/public.onepagecheckout.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/user-location-map.js"));

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}
<div class="checkout-page">
    <h1 class="big-page-title">
        @T("Checkout")
    </h1>

    <div class="gray-background">

        <div class="inner-wrapper centerwrapper">
            <div class="checkout-breadcrumb">
                <a href="@Url.Action("Cart", "ShoppingCart")">Shopping Cart</a> / Checkout
            </div>
            <div class="checkout-data">
                <div class="checkout-data-left">
                    <ol class="opc" id="checkout-steps">
                        <li id="opc-billing" class="section allow">
                            <div class="step-title">
                                <span>@T("Checkout.BillingAddress")</span>
                            </div>
                            <div id="checkout-step-billing" class="step a-item" style="display: none;">
                                <form id="co-billing-form" action="">
                                    <div id="checkout-billing-load">
                                        @Html.Action("OpcBillingForm", "Checkout")
                                        @*billing address content will be loaded here*@
                                    </div>
                                </form>
                                <script type="text/javascript">
                                    Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/');
                                    if ($("#billing-address-select").length > 0) {
                                        Billing.newAddress(!$('#billing-address-select').val());
                                    }
                                </script>
                                <div class="buttons" id="billing-buttons-container">
                                    <span class="please-wait" id="billing-please-wait" style="display: none;">
                                        <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")"
                                             alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                                        @T("Common.LoadingNextStep")
                                    </span>
                                    <input type="button" title="Next Step" class="button-1 new-address-next-step-button" onclick="Billing.save(updateOrderSummary)" value="Next Step" />
                                </div>
                            </div>
                        </li>
                        @if (Model.ShippingRequired)
                        {
                            <li id="opc-shipping_method" class="section">
                                <div class="step-title">
                                    <span>@T("Checkout.ShippingMethod")</span>
                                </div>
                                <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                                    <form id="co-shipping-method-form" action="">
                                        <div id="checkout-shipping-method-load">
                                            @*shipping methods content will be loaded here*@
                                        </div>
                                        <script type="text/javascript">
                                            ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                                        </script>
                                        <div class="buttons" id="shipping-method-buttons-container">
                                            <span id="shipping-method-please-wait" class="please-wait" style="display: none;">
                                                <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")"
                                                     alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                                                @T("Common.LoadingNextStep")
                                            </span>
                                            <a class="button-1" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                                            <input type="button" class="button-1 shipping-method-next-step-button" onclick="ShippingMethod.save(updateOrderSummary)" value="Next Step" />
                                        </div>
                                    </form>
                                </div>
                            </li>
                        }
                        <li id="opc-payment_method" class="section">
                            <div class="step-title">
                                <span>@T("Checkout.PaymentMethod")</span>
                            </div>
                            <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                                <form action="" id="co-payment-method-form">
                                    <div id="checkout-payment-method-load">
                                        @*payment methods content will be loaded here*@ Payment is not required
                                    </div>
                                </form>
                                <script type="text/javascript">
                                    PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                                </script>
                                <div class="buttons" id="payment-method-buttons-container">
                                    <span class="please-wait" id="payment-method-please-wait" style="display: none;">
                                        <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")"
                                             alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                                        @T("Common.LoadingNextStep")
                                    </span>
                                    <a class="button-1" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                                    <input type="button" class="button-1 payment-method-next-step-button" onclick="PaymentMethod.save(updateOrderSummary)" value="Next Step" />
                                </div>
                            </div>
                        </li>
                        <li id="opc-payment_info" class="section">
                            <div class="step-title">
                                <span>@T("Checkout.PaymentInfo")</span>
                            </div>
                            <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                                <form action="" id="co-payment-info-form">
                                    <div id="checkout-payment-info-load">
                                        @*payment info content will be loaded here*@ Payment is not required
                                    </div>
                                </form>
                                <script type="text/javascript">
                                    PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                                </script>
                                <div class="buttons" id="payment-info-buttons-container">
                                    <span class="please-wait" id="payment-info-please-wait" style="display: none;">
                                        <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")"
                                             alt="@T("Common.LoadingNextStep")" title="@T("Common.LoadingNextStep")" />
                                        @T("Common.LoadingNextStep")
                                    </span>
                                    <a class="button-1" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                                    <input type="button" class="button-1 payment-info-next-step-button" onclick="PaymentInfo.save(updateOrderSummary)" value="Next Step" />
                                </div>
                            </div>
                        </li>
                        <li id="opc-confirm_order" class="section">
                            <div class="step-title">
                                <span>@T("Checkout.ConfirmOrder")</span>
                            </div>
                            <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                                <div id="checkout-confirm-order-load">
                                    @*confirm order content will be loaded here*@
                                </div>
                                <script type="text/javascript">
                                    ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/');
                                </script>
                                <div class="buttons" id="confirm-order-buttons-container">
                                    <span class="please-wait" id="confirm-order-please-wait" style="display: none;">
                                        <img src="@Url.Content("~/Content/Images/ajax_loader_small.gif")"
                                             alt="@T("Checkout.SubmittingOrder")" title="@T("Checkout.SubmittingOrder")" />
                                        @T("Checkout.SubmittingOrder")
                                    </span>
                                    <a class="button-1" href="#" onclick="Checkout.back(); return false;">@T("Common.Back")</a>
                                    <input type="button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save(updateOrderSummary)" value="@T("Common.Confirm")" />
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="checkout-data-right">
                    <div class="order-summary-sidebar" ng-controller="ShoppingCartCtrl">
                        <div class="order-summary-title">
                            Order Summary
                        </div>
                        <div class="order-summary-body">
                            <a class="cart-item" ng-repeat="product in shoppingCartService.items" ng-href="{{product.ProductUrl}}">
                                <div class="product-image">
                                    <img ng-src="{{product.Picture.ImageUrl}}" alt="{{product.Picture.Title}}" />
                                </div>
                                <div class="product-info">
                                    <div class="product-name">{{product.ProductName}}</div>
                                    <div class="product-location" ng-if="product.Store && !product.IsNewAccessory">
                                        <div class="ship-from">Ships From</div>
                                        <div class="product-location-name">Music Go Round &mdash; {{product.Store.Name}}</div>
                                        <div class="product-location-aux">{{product.Store.State}} | {{product.Store.Phone}}</div>
                                    </div>
                                </div>
                                <div class="product-price-quantity">
                                    <div class="product-price">{{product.UnitPrice}}</div>
                                    <div class="product-quantity">QTY {{product.Quantity}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="order-summary-totals">
                            <div class="cart-subtotal cart-totals-line">
                                <span class="cart-totals-list-left">@T("ShoppingCart.Totals.SubTotal"): </span>
                                <span class="cart-totals-list-right">{{shoppingCartService.subtotal}}</span>
                            </div>
                            <div class="cart-shipping cart-totals-line">
                                <span class="cart-totals-list-left">@T("ShoppingCart.Totals.Shipping"): </span>
                                <span class="cart-totals-list-right">{{shoppingCartService.requiresShipping ? (shoppingCartService.shipping ? shoppingCartService.shipping : '@(T("ShoppingCart.Totals.CalculatedDuringCheckout"))') : '@(T("ShoppingCart.Totals.Shipping.NotRequired"))'}}</span>
                            </div>
                            <div class="cart-tax cart-totals-line">
                                <span class="cart-totals-list-left">@T("ShoppingCart.Totals.Tax"): </span>
                                <span class="cart-totals-list-right">{{shoppingCartService.tax}}</span>
                            </div>
                            <div class="cart-tax cart-totals-line">
                                <span class="cart-totals-list-left">Discount: </span>
                                <span class="cart-totals-list-right">{{shoppingCartService.orderTotalDiscount}}</span>
                            </div>
                            <div class="cart-totals-separator-line"></div>
                            <div class="cart-order-total cart-totals-line">
                                <span class="cart-totals-list-left">@T("ShoppingCart.Totals.OrderTotal"): </span>
                                <span class="cart-totals-list-right">{{shoppingCartService.orderTotal ? shoppingCartService.orderTotal : '@T("ShoppingCart.Totals.CalculatedDuringCheckout")'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="first-time-text">
                        <div class="red">First time buying from Music Go Round?</div>
                        <div class="">
                            <a href="@Url.Action("WhatToExpect", "Home")" target="_blank">Click here to see what to expect with your purchase.</a>
                        </div>
                    </div>
                    <a href="@Url.Action("HowItWorks", "Home")" target="_blank" class="sell-us-your-gear">
                        <div class="suyg-image-wrapper gold-blend">
                            <div class="suyg-image-title">Sell Us Your Gear</div>
                            <div class="suyg-image-subtitle">And Save Even More</div>
                            <div class="suyg-image-link">
                                <div class="default-yellow-arrow">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">
                                        See How It Works
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');

        Checkout.init('@(storeLocation)cart/');

        var model = @Html.Raw(Json.Encode(Model.JsonCommand));
        if (model) {
            Checkout.setStepResponse(model);
        }

    </script>
</div>
