﻿@model CheckoutBillingAddressModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
<div class="inner-step">
    <div class="enter-address step-content">
        <div class="enter-address-body">
            @Html.Widget("op_checkout_billing_address_top")
            @if (Model.ExistingAddresses.Count > 0)
            {
                <div class="existing-address-selection">
                    <div class="label-input-group">
                        <div class="inner-label">
                            <label for="billing-address-select">@T("Checkout.SelectBillingAddressOrEnterNewOne")</label>
                        </div>
                        <div class="inner-input">
                            <select name="billing_address_id" id="billing-address-select" class="address-select"
                                    title="" onchange="Billing.newAddress(!this.value)">
                                @foreach (var address in Model.ExistingAddresses)
                                {
                                    var addressLine = "";
                                    addressLine += address.FirstName;
                                    addressLine += " " + address.LastName;
                                    addressLine += ", " + address.Address1;
                                    addressLine += ", " + address.City;
                                    addressLine += ", " + address.StateProvinceName;
                                    addressLine += " " + address.ZipPostalCode;
                                    if (!String.IsNullOrWhiteSpace(address.CountryName))
                                    {
                                        addressLine += ", " + address.CountryName;
                                    }
                                    <option value="@(address.Id)">@(addressLine)</option>
                                }
                                <option value="" @(Model.NewAddressPreselected ? Html.Raw(" selected=\"selected\"") : null)>@T("Checkout.NewAddress")</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="small-divider"></div>
            }
            @Html.Widget("op_checkout_billing_address_middle")
            <div id="billing-new-address-form">
                @{
                    var dataDictAddress = new ViewDataDictionary();
                    //Merge ModelState (required for validation)
                    dataDictAddress.ModelState.Merge(ViewData.ModelState);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                    @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)
                }
            </div>
            @Html.Widget("op_checkout_billing_address_bottom")
        </div>
    </div>
    <div class="checkout-info">
        <div class="checkout-notes">
            <div class="note-title">
                Please Note
            </div>
            <p>It is our policy to only ship products to the billing address used in the order.</p>
            <p>Shipping is only offered within the United States. For international orders, contact store directly.</p>
        </div>
    </div>
</div>
