﻿@model CheckoutConfirmModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
<div class="inner-step">
	@Html.Widget("op_checkout_confirm_top")
    <div class="step-content">
        <div>
            @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                @Model.MinOrderTotalWarning
            }
        </div>
        @if (Model.Warnings.Count > 0)
        {
            <div class="clear">
            </div>
            <div class="message-error">
                <ul>
                    @for (int i = 0; i < Model.Warnings.Count; i++)
                    {
                        <li>@Model.Warnings[i]</li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="checkout-info"></div>
	@Html.Widget("op_checkout_confirm_bottom")
</div>
