﻿@model CheckoutPaymentInfoModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
<div class="inner-step">
    @Html.Widget("op_checkout_payment_info_top")
    <div class="step-content">
        @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)

        <div class="message-error">
            @Html.ValidationSummary(false)
        </div>
    </div>
    <div class="checkout-info"></div>

    @Html.Widget("op_checkout_payment_info_bottom")
</div>
