﻿@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;
<div class="inner-step">
    @Html.Widget("op_checkout_payment_method_top")
    @if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
    {
        <div class="use-reward-points">
            @Html.EditorFor(model => model.UseRewardPoints)
            @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
        </div>

    }
    <div class="payment-method-options step-content">
        @if (Model.PaymentMethods.Count > 0)
        {
            for (int i = 0; i < Model.PaymentMethods.Count; i++)
            {
                var paymentMethod = Model.PaymentMethods[i];
                <label for="paymentmethod_@(i)" class="option-item">
                    <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" @(paymentMethod.Selected ? Html.Raw(" checked=\"checked\"") : null) />
                    <span class="option-name">
                        @paymentMethod.Name
                    </span>
                    <span class="option-description">
                        @if (!string.IsNullOrEmpty(paymentMethod.Fee))
                        {
                            @paymentMethod.Fee
                        }
                    </span>
                </label>
            }
        }
        else
        {
            <div class="message-error">
                @T("Checkout.NoPaymentMethods")
            </div>
        }
    </div>

    <div class="checkout-info">
        <div class="checkout-notes">
            <div class="note-title">Please Note</div>
            <p>PayPal is only available for orders shipped from a single store, and not for multi-store orders or in-store pickup.</p>
        </div>
    </div>

    @Html.Widget("op_checkout_payment_method_bottom")
</div>
