﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
<div class="inner-step">
    @Html.Widget("op_checkout_shipping_method_top")
    <div class="shipping-options step-content">
        @if (Model.Warnings.Count == 0)
        {
            for (int i = 0; i < Model.ShippingMethods.Count; i++)
            {
                var shippingMethod = Model.ShippingMethods[i];
                <label for="shippingoption_@(i)" class="option-item">
                    <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" @(shippingMethod.Selected ? Html.Raw(" checked=\"checked\"") : null)/>
                    <span class="option-name">
                        @shippingMethod.Name @(string.IsNullOrEmpty(shippingMethod.Fee) ? string.Empty : string.Format("({0})", shippingMethod.Fee))
                
                    </span>
                    <span class="option-description">
                        @if (!string.IsNullOrEmpty(shippingMethod.Description))
                        {
                            @Html.Raw(shippingMethod.Description)
                        }
                    </span>
                </label>
            }
        }
        else
        {
            <div class="message-error">
                <ul>
                    @for (int i = 0; i < Model.Warnings.Count; i++)
                    {
                        <li>@Model.Warnings[i]</li>
                    }
                </ul>
            </div>
        }
    </div>

    <div class="checkout-info">
        @if (Model.Stores.Any())
        {
            <div class="checkout-notes">
                @if (Model.Stores.Any(s => !s.HasInStorePickupOnlyItems))
                {
                    <p>Your order contains items from the following location(s):</p>
                }
                @foreach (var store in Model.Stores.OrderBy(s => s.HasInStorePickupOnlyItems ? 1 : 0))
                {
                    <p>
                        @if (store.HasInStorePickupOnlyItems)
                        {
                            <span class="pick-up-only-warning">Your order contains items that must be picked up at this store</span><br/>
                        }
                        Music Go Round @store.Name
                        <br/>@store.Address1
                        @if (!string.IsNullOrWhiteSpace(@store.Address2))
                        {
                            <br/>@store.Address2
                        }
                        <br/>@store.City, @store.State @store.Zip
                    </p>
                }
            </div>
        }

        <div class="checkout-notes">
            <div class="note-title">PLEASE NOTE</div>
            <p>It is our policy to only ship products to the billing address used in the order.</p>
            <p>Shipping price may vary for oversized / overweight OR smaller sized items.</p>
            <p class="emphasized">Orders from AK and HI may be subject to additional shipping costs. Please contact the store for an exact shipping quote for any AK or HI orders.</p>
            <p>Shipping is only offered within the United States. For international orders, contact the store directly.</p>
        </div>
    </div>
    @Html.Widget("op_checkout_shipping_method_bottom")
</div>
