﻿@model CheckoutPaymentMethodModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1 id="lblSelectPaymentMethod">@T("Checkout.SelectPaymentMethod")</h1>
    </div>
    <div class="page-body checkout-data no-edge">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginRouteForm("CheckoutPaymentMethod", FormMethod.Post,
                new Dictionary<string, Object> { { "data-ajax", "false" } }))
        {
            @Html.Widget("mobile_checkout_payment_method_top")
            if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
            {
                <div class="use-reward-points">
                    @Html.EditorFor(model => model.UseRewardPoints)
                    <label for="@Html.FieldIdFor(model => model.UseRewardPoints)">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)</label>
                </div>
            }
            <div class="payment-methods">
                @if (Model.PaymentMethods.Count > 0)
                {
                    <div>
                        @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                        {
                            var paymentMethod = Model.PaymentMethods[i];
                            var paymentMethodName = paymentMethod.Name;
                            if (!String.IsNullOrEmpty(paymentMethod.Fee))
                            {
                                paymentMethodName = string.Format("{0} ({1})", paymentMethodName, paymentMethod.Fee);
                            }
                            <div class="payment-method-item" style="margin-bottom: 1em;">
                                <div class="option-name">
                                    <input aria-labelledby="lblSelectPaymentMethod" id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" @(paymentMethod.Selected ? Html.Raw(" checked=\"checked\"") : null) />
                                    <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                </div>
                            </div>
                        }
                        <div class="select-button">
                            <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="message-error">
                        @T("Checkout.NoPaymentMethods")
                    </div>
                }
            </div>
            @Html.Widget("mobile_checkout_payment_method_bottom")
        }
    </div>
</div>
