﻿@model CheckoutPaymentInfoModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.PaymentInfo")</h1>
    </div>
    <div class="page-body checkout-data genericForm no-edge">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post,
                new Dictionary<string, Object> { { "data-ajax", "false" } }))
        {
            @Html.Widget("mobile_checkout_payment_info_top")
            <div class="message-error">
                @Html.ValidationSummary(false)
            </div>
            <div class="payment-info">
                <div class="body">
                    @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                </div>
                <div class="buttons">
                    <input type="submit" class="pinkButton" name="nextstep" value="@T("Checkout.NextButton")" />
                </div>
            </div>
            @Html.Widget("mobile_checkout_payment_info_bottom")
        }
    </div>
</div>
