﻿@model CheckoutShippingMethodModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1 id="lblSelectShipping">@T("Checkout.SelectShippingMethod")</h1>
    </div>
    <div class="page-body checkout-data no-edge">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginRouteForm("CheckoutShippingMethod", FormMethod.Post,
                new Dictionary<string, Object> { { "data-ajax", "false" } }))
        {
            @Html.Widget("mobile_checkout_shipping_method_top")
            <div class="shipping-options">
                @if (Model.Warnings.Count == 0)
                {
                    <div>
                        @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                        {
                            var shippingMethod = Model.ShippingMethods[i];
                            <div class="shipping-option-item">
                                <div class="option-name">
                                    <input aria-labelledby="lblSelectShipping" id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)"  @(shippingMethod.Selected ? Html.Raw(" checked=\"checked\"") : null) />
                                    <label for="shippingoption_@(i)">
                                        @shippingMethod.Name @(string.IsNullOrEmpty(shippingMethod.Fee) ? string.Empty : string.Format("({0})", shippingMethod.Fee))
                                    </label>
                                </div>
                                @if (!String.IsNullOrEmpty(shippingMethod.Description))
                                {
                                    <div class="option-description">
                                        @Html.Raw(shippingMethod.Description)
                                    </div>
                                }
                            </div>
                        }
                        <div class="select-button">
                            <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="message-error">
                        <ul>
                            @for (int i = 0; i < Model.Warnings.Count; i++)
                            {
                                <li>@Model.Warnings[i]</li>
                            }
                        </ul>
                    </div>
                }
            </div>
            @Html.Widget("mobile_checkout_shipping_method_bottom")
        }

        @if (Model.Stores.Any())
        {
            <div class="checkout-notes" style="width:200px;">
                @if (Model.Stores.Any(s => !s.HasInStorePickupOnlyItems))
                {
                    <div class="location-message">Your order contains items from the following location(s):</div>
                }
                <ul id="storeList" data-role="listview">
                    @foreach (var store in Model.Stores.OrderBy(s => s.HasInStorePickupOnlyItems ? 1 : 0))
                    {
                        <li>
                            @if (store.HasInStorePickupOnlyItems)
                            {
                                <div class="pick-up-only-warning">Your order contains items that must be picked up at this store</div><br />
                            }
                            <div class="store-name">@store.Name</div>
                            <div>@store.Address1</div>
                            @if (!string.IsNullOrWhiteSpace(@store.Address2))
                            {
                                <div>@store.Address2</div>
                            }
                            <div>@store.City, @store.State @store.Zip</div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
