﻿@model bool

@{
    ViewBag.Title = "Error";
    Html.AppendTitleParts("Error");
    
    Layout = "~/Views/Shared/_Root.cshtml";
}



<div class="page home-page rc-base-styles">
    <h1>Error</h1>
    <div class="page-body" style="min-height:500px;">
        <h3>We're sorry, an error has occurred.</h3>    
    </div>
</div>