﻿@model bool

@{
    ViewBag.Title = "Not Found";
    Html.AppendTitleParts("Not Found");

    Layout = "~/Views/Shared/_Root.cshtml";
}



<div class="page home-page rc-base-styles">
    <h1>Not Found</h1>
    <div class="page-body" style="min-height:500px;">
        <h3>We're sorry, but we could not find what you are looking for.</h3>    
    </div>
</div>