﻿@model Nop.Web.Models.Home.IndexViewModel

<div class="search-bar-wrapper gold-blend @(Model.IsFranchiseHomepage? "franchisee-bar" : "corporate-bar")">
    <div class="search-gear-wrapper home-hero-search-bar">
        @Html.Action("SearchBox", "Catalog")
    </div>
    @if (Model.IsFranchiseHomepage)
    {
    }
    else
    {
        <div class="divider">
            Or
        </div>
        <div class="find-a-store-wrapper">
            <div mgr-location-search form-id="'findLocationHome'" label="'Find A Store'" place-holder-text="'Zip Code or City & State'" use-async="true" action-url="'/Locations/ListAsync'" layout="'one-line'"></div>
        </div>
    }
</div>
@if (!Model.IsFranchiseHomepage)
{
    <div ng-controller="HelperCtrl">
        <a class="advanced-search-show-button" href="" aria-controls="advancedSearchBoxSlider" aria-expanded="{{advancedSearchService.show}}" ng-click="toggleHomeAdvancedSearch(); updateSearchTerm('.home-hero-search-bar .search-box-text');">Advanced Search</a>
    </div>
}
else if(!Model.IsCoop)
{
    <div ng-controller="HelperCtrl">
        <a class="advanced-search-inline-button" href="" aria-controls="advancedSearchBoxSlider" aria-expanded="{{advancedSearchService.show}}" ng-click="toggleHomeAdvancedSearch()">Advanced</a>
    </div>
}
