﻿@model string

<div class="how-it-works-callout how-it-works-widget-wrapper bkg-white">
    <a href="@Url.Action("HowItWorks", "Home")" class="centerwrapper inner-wrapper">
        <div class="title">@Model</div>
        <div class="steps">
            <div class="step-1">
                <div class="step-image">
                    <img src="/Themes/MGR/Content/images/howitworks_1.png" alt="Man playing a guitar"/>
                </div>
                <div class="step-title">
                    Bring It In
                </div>
                <div class="step-description">
                    @*We buy: guitars, amps, drums, cymbals, keyboards, MIDI equipment, speakers, mixeers, pro sound equipment, band instruments, and accessories.*@
                    Bring us your musical instruments like guitars, amps, drums, keyboards, MIDI&nbsp;equipment, mixers, pro sound equipment, band instruments as well as related accessories. We buy all day, every day!
                </div>
            </div>
            <div class="step-2">
                <div class="step-image">
                    <img src="/Themes/MGR/Content/images/howitworks_2.png" alt="Employee inspecting a guitar" />
                </div>
                <div class="step-title">
                    We'll Take A Look
                </div>
                <div class="step-description">
                    @*We'll review and research each item and define a fair market value for your products. WHile you wait. check out the used gear we have in store.*@
                    We’ll review and research each item and identify a fair market value for your products. While we are doing this, feel free to check out all of the cool used gear in our stores.
                </div>
            </div>
            <div class="step-3">
                <div class="step-image">
                    <img src="/Themes/MGR/Content/images/howitworks_3.png" alt="Customer receiving cash" />
                </div>
                <div class="step-title">
                    We'll Make An Offer
                </div>
                <div class="step-description">
                    @*We then make you an offer based on that fair market value. If you like the offer, we will pay you on the spot and you are on your way!*@
                    We will then make you an offer based on that fair market value. If you like the offer, we will pay you on the spot or you can trade against the cool, used gear you find in our stores.
                </div>
            </div>
        </div>
    </a>
</div>