﻿@model Treefort.Portal.Queries.Home.RemoteControlPage

@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AddTitleParts(Model.Meta.Title);
    Html.AddMetaDescriptionParts(Model.Meta.MetaDescription);
}


<section>
    <div class="page-body rc-base-styles">
        <p>At Music Go Round® we take pride in providing our customers with the best value in used, musical instruments and musical gear. For over 30 years we have specialized in buying and selling quality, used gear. Our buy process is simple: visit one of our stores; bring your gear; and one of our certified buyers will review your products for sale. Our buyers will make you an offer based on the fair market value of your used gear. If you like the offer, we pay you on the spot. If you want to get more out of your gear, you can always trade it in for any product we have in our stores.</p>

        <p>Music Go Round prides itself on the quality of used products we offer. All of our products have been tested and re-tested before selling to ensure they’re in great working condition. Visit any of our Music Go Round store locations and see for yourself how easy it is to find great value by buying modern or vintage musical instruments from us!</p>

        <p>We also stock a broad assortment of the most popular new accessories at the best prices. Not only will you save by buying quality, used gear from our stores, but we can supply you with your everyday accessory needs as well.</p>

        <p>Music Go Round stores are individually owned and operated by musicians like you, who are knowledgeable about their products and understand your wants and needs. Founded in 1986, Music Go Round stores have become a rapidly growing component of the Winmark Corporation family of brands. Winmark is proud to include over 1,000 franchise-owned and operated businesses throughout North America.</p>

        <p>Since 1987, Winmark has successfully operated award winning, national brands including:</p>
        <p>
            <a href="http://www.playitagainsports.com" target="_blank">Play It Again Sports</a><br/>
            <a href="http://www.platoscloset.com" target="_blank">Plato's Closet</a><br/>
            <a href="http://www.onceuponachild.com" target="_blank">Once Upon A Child</a><br/>
            <a href="http://www.style-encore.com" target="_blank">Style Encore</a><br/>
        </p>
        <p>
            If you are interested in more information about owning a Music Go Round franchise, please visit our franchising website at <a href="http://www.winmarkfranchises.com/music-go-round/overview" target="_blank">WinmarkFranchises.com.</a>
        </p>
    </div>
</section>

<script type="text/javascript">
    $(function() {
        var frames = $('iframe');

        $.each(frames, function(i, f) {
            $(f).css('width', 'auto');
            $(f).css('height', 'auto');
        });
    });
</script>
