﻿@model Treefort.Portal.Queries.Home.RemoteControlPage

@{
    Html.AddTitleParts(Model.Meta.Title);
    Html.AddMetaDescriptionParts(Model.Meta.MetaDescription);
    
    Layout = "~/Views/Shared/_Root.cshtml";
}

<h1 class="big-page-title">@Model.PageTitle</h1>
<div class="additional-pages-nav">
    <ul>
        <li><a href="@Url.Action("AboutUs", "Franchisee")">About Us</a></li>
        <li><a href="@Url.Action("ReturnPolicy", "Home")">Return</a></li>
        <li><a href="@Url.Action("ShippingPolicy", "Home")">Shipping</a></li>
        <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
        <li><a href="@Url.Action("ConditionsOfUse", "Home")">Conditions of Use</a></li>
        <li><a href="@Url.Action("Sitemap", "Common")">Site Map</a></li>
        <li><a href="@Url.Action("ContactUs", "Home")">Contact</a></li>
        <li><a href="@Url.Action("Faq", "Home")">FAQ</a></li>
    </ul>
</div>

<div class="generic-remote-control-page">
    <div class="rc-base-styles centerwrapper">
        @Html.Raw(Model.PageBody)
    </div>
</div>
