﻿@model Treefort.Portal.Queries.Home.RemoteControlPage
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AddTitleParts(Model.Meta.Title);
    Html.AddMetaDescriptionParts(Model.Meta.MetaDescription);
}

<section>
    <div class="page-body rc-base-styles">
        @Html.Raw(Model.PageBody)
    </div>
</section>

<script type="text/javascript">
    $(function() {
        var frames = $('iframe');

        $.each(frames, function(i, f) {
            $(f).css('width', 'auto');
            $(f).css('height', 'auto');
        });
    });
</script>