﻿@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AppendTitleParts("Gift Cards | Music Go Round");
}

<section id="gift-cards">
    <h1>Gift Cards</h1>

    <img src="@Url.Content("~/Themes/MGR/Content/mobile-images/gift_card.png")" width="125" height="79" alt="Music Go Round Gift Card" />
    <p>
        Perfect for holidays, birthdays, and rewards. Whatever the occasion,
        a Music Go Round Gift Card will allow them to get more for their
        buck than other gift cards.
    </p>
</section>
