﻿@model Treefort.Portal.Queries.Home.RemoteControlPage

@{
    ViewBag.Title = "SellUsYourGear";
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.AppendScriptParts(@Url.Content("~/Scripts/user-location-map.js"));
    Html.AppendTitleParts(Model.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.Meta.MetaDescription);
}

<h1 class="big-page-title">Sell Us Your Gear</h1>
<div class="how-it-works-page">
    <div class="golden-search-bar gold-blend">
        <div class="find-a-store-wrapper">
            <div mgr-location-search form-id="'findLocationHome'" label="'Find A Store'" place-holder-text="'Zip Code or City & State'" use-async="true" action-url="'/Locations/ListAsync'" layout="'one-line'"></div>
        </div>
    </div>
    @Html.Partial("~/Views/Locations/_LocationSearchResult.cshtml")
    <div class="how-it-works-video" style="background-image:url('http://img.youtube.com/vi/NBI-MXCWprw/maxresdefault.jpg')">
        <a href="" class="play-video-button gold-blend">
            <div class="big-title">How It Works</div>
            <div class="play-text">Play Video</div>
        </a>
        <div class="overlay-video">
            <div id="youtubeEmbed"></div>
        </div>
    </div>
    <div class="how-it-works-page">
        @Html.Partial("_HowItWorksCallout", "Selling Tips")
    </div>
    <div class="faq-section">
        <div class="inner-wrapper centerwrapper">
            <div class="title">Frequently Asked Questions</div>
            <div class="faq-item">
                <div class="question">How Can I Get the Most for My Gear?</div>
                <div class="answer">
                    <p>Music Go Round shoppers know what's cool and what brands are best. While we buy anything that you no longer use, we pay the most when your gear is clean and in good working condition.</p>
                    <p>Music Go Round recognizes that some products are inhigher demand. We have no problem cutting a "big check" offer the absolute top dollar on high end equipment. We have paid over $20,000 for a single guitar.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">How Can I Get the Most for My Gear?</div>
                <div class="answer">
                    <p>Music Go Round shoppers know what's cool and what brands are best. While we buy anything that you no longer use, we pay the most when your gear is clean and in good working condition.</p>
                    <p>Music Go Round recognizes that some products are inhigher demand. We have no problem cutting a "big check" offer the absolute top dollar on high end equipment. We have paid over $20,000 for a single guitar.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">How Can I Get the Most for My Gear?</div>
                <div class="answer">
                    <p>Music Go Round shoppers know what's cool and what brands are best. While we buy anything that you no longer use, we pay the most when your gear is clean and in good working condition.</p>
                    <p>Music Go Round recognizes that some products are inhigher demand. We have no problem cutting a "big check" offer the absolute top dollar on high end equipment. We have paid over $20,000 for a single guitar.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">How Can I Get the Most for My Gear?</div>
                <div class="answer">
                    <p>Music Go Round shoppers know what's cool and what brands are best. While we buy anything that you no longer use, we pay the most when your gear is clean and in good working condition.</p>
                    <p>Music Go Round recognizes that some products are inhigher demand. We have no problem cutting a "big check" offer the absolute top dollar on high end equipment. We have paid over $20,000 for a single guitar.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">How Can I Get the Most for My Gear?</div>
                <div class="answer">
                    <p>Music Go Round shoppers know what's cool and what brands are best. While we buy anything that you no longer use, we pay the most when your gear is clean and in good working condition.</p>
                    <p>Music Go Round recognizes that some products are inhigher demand. We have no problem cutting a "big check" offer the absolute top dollar on high end equipment. We have paid over $20,000 for a single guitar.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScripts{
    <script type="text/javascript">
        $(function() {
            var tag = document.createElement('script');
            tag.src = 'https://www.youtube.com/iframe_api';

            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            var playerLoaded = false;
            function onYtReady(e) {
                playerLoaded = true;
                e.target.playVideo();
            };

            function initYtPlayer() {
                player = new YT.Player('youtubeEmbed', {
                    height: '405',
                    width: '720',
                    videoId: 'NBI-MXCWprw',
                    events: {
                        'onReady': onYtReady
                    },
                    playerVars: {
                        'rel': 0,
                        'showinfo': 0
                    }
                });
            }
            $('.overlay-video').on('click', function(e) {
                $(this).hide();
                player.pauseVideo();
                $('body').css('overflow', '');
            }).children().on('click', function(e) {
                e.stopPropagation();
            });
            $('.play-video-button').on('click', function(e) {
                e.preventDefault();
                $('.overlay-video').show();
                if (!playerLoaded) {
                    initYtPlayer();
                }
                $('body').css('overflow', 'hidden');
            });
        });
    </script>
}
