﻿@model Nop.Web.Models.Home.IndexViewModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    ViewBag.GoogleMaps = true;
    if (!Model.IsFranchiseHomepage)
    {
        Html.AppendTitleParts(Model.RemoteControlPage.Meta.Title);
        Html.AppendMetaDescriptionParts(Model.RemoteControlPage.Meta.MetaDescription);
    }
    else
    {
        Html.AppendMetaDescriptionParts(Model.FranchiseeIndex.Meta.MetaDescription);
        Html.AppendTitleParts(Model.FranchiseeIndex.Meta.Title);
    }
}

<section id="location">
    @if (Model.IsFranchiseHomepage)
    {
        Html.RenderAction("LocationBox", "Locations", new {useLocationText = true});
    }
    else
    {
        Html.RenderPartial("_LocationSearchForm");
    }
</section>

<nav>
    <ul>
        @if (!Model.IsCoop)
        {
            <li><a href="@Url.RouteUrl("Shop Online")">Shop Our Used Gear</a></li>
        }
        <li>@Html.ActionLink("Sell Us Your Gear", "Index", "SellYourGear")</li>
        @if (Model.IsFranchiseHomepage)
        {
            if (Model.MobileNavigation.IsVisibleAbout)
            {
                <li>@Html.ActionLink("About Us", "AboutUs", "Franchisee")</li>
            }
            if (Model.MobileNavigation.IsVisibleNewGear)
            {
                <li>@Html.ActionLink("New Gear", "NewGear", "Franchisee")</li>
            }
            if (Model.MobileNavigation.IsVisibleCommunity)
            {
                <li>@Html.ActionLink("Community Links", "CommunityLinks", "Franchisee")</li>
            }
            if (Model.MobileNavigation.IsVisiblePromotions)
            {
                <li>@Html.ActionLink("Promotions", "Promotions", "Franchisee")</li>
            }
            if (Model.MobileNavigation.IsVisibleMostWanted)
            {
                <li>@Html.ActionLink("Most Wanted", "MostWanted", "Franchisee")</li>
            }
            if (Model.MobileNavigation.IsVisibleLessons)
            {
                <li>@Html.ActionLink("Lessons", "Lessons", "Franchisee")</li>
            }
            if (Model.MobileNavigation.IsVisibleRepairs)
            {
                <li>@Html.ActionLink("Repairs", "Repairs", "Franchisee")</li>
            }
            if (Model.MobileNavigation.IsVisibleJobs)
            {
                <li>@Html.ActionLink("Jobs", "Jobs", "Franchisee")</li>
            }
        }
        <li>@Html.ActionLink("Gift Cards", "GiftCards")</li>
        @if (!Model.IsFranchiseHomepage)
        {
            <li>@Html.ActionLink("Own a Music Go Round", "Index", "Own")</li>
        }
    </ul>
</nav>

