﻿@using Treefort.Portal.Queries.Locations
@model Nop.Web.Models.Home.IndexViewModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    if (!Model.IsFranchiseHomepage)
    {
        Html.AppendScriptParts(@Url.Content("~/Scripts/user-location-map.js"));
        Html.AppendTitleParts(Model.RemoteControlPage.Meta.Title);
        Html.AppendMetaDescriptionParts(Model.RemoteControlPage.Meta.MetaDescription);
    }
    else
    {
        Html.AppendMetaDescriptionParts(Model.FranchiseeIndex.Meta.MetaDescription);
        Html.AppendTitleParts(Model.FranchiseeIndex.Meta.Title);
        if (!string.IsNullOrEmpty(Model.FranchiseeIndex.WebsiteOptions.DomainVerification))
        {
            Html.AppendMetaGoogleParts(Model.FranchiseeIndex.WebsiteOptions.DomainVerification);
        }
    }
}

 
<div class="home-page">
    @Html.Widget("home_page_top")
    <div class="home-page-hero-wrapper">
        <div class="home-page-hero">
            <div class="hero-main-wrapper">
                @if (Model.IsFranchiseHomepage)
                {
                    <div id="franchiseeHero" class="hero-header" style="@(string.IsNullOrEmpty(Model.FranchiseeIndex.WebsiteOptions.HomepageHeroImageUrl) ? "" : string.Format("background-image:url('{0}?width=1920');", Model.FranchiseeIndex.WebsiteOptions.HomepageHeroImageUrl))">
                        <div class="center-container">
                            <div class="location-name-container gold-blend">
                                @if (Model.FranchiseeIndex.WebsiteOptions.IsGoldStar)
                                {
                                    <div class="four-star-description">
                                        Highest Standards in Store Operations & Customer Service
                                    </div>
                                }
                                <div class="big-text">
                                    @Model.FranchiseeIndex.WebsiteOptions.LocationTextLine1, @Model.FranchiseeIndex.WebsiteOptions.LocationTextLine2
                                </div>
                                @if (Model.FranchiseeIndex.WebsiteOptions.IsGoldStar)
                                {
                                    <div class="four-star">
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="leftHero" class="hero-header">
                        <div class="center-container" ng-controller="HelperCtrl">
                            <a href="#" ng-click="showHomeAdvancedSearch(scrollIntoElement('.advanced-search-show-button'))" class="message-container gold-blend advanced-search-link" aria-controls="advancedSearchBoxSlider" aria-expanded="{{advancedSearchService.show}}">
                                <div class="big-text">
                                    <span>Buy Gear</span>
                                </div>
                                <div class="sub-text">
                                    Online & In Store
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="rightHero" class="hero-header">
                        <div class="center-container">
                            <a href="@Url.Action("Index", "Locations")" class="message-container gold-blend">
                                <div class="big-text gold-blend">
                                    <span>Sell Gear</span>
                                </div>
                                <div class="sub-text">
                                    In Store
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            @Html.Partial("_GoldSearchBar", Model)
        </div>
    </div>
    @if (!Model.IsCoop)
    {
        <div ng-controller="AdvancedSearchCtrl" ng-init="initAdvancedSearch()">
            <div mgr-advanced-search data-container-id="'advancedSearchBoxSlider'" data-submit-text="Search" data-homepage-search="true" data-search="search" data-submit-form="submitAdvancedSearch(ev)" data-current-form="currentForm"></div>
        </div>
    }
    @if (Model.IsFranchiseHomepage)
    {
        @Html.Partial("/Views/Franchisee/_FranchiseeIndex.cshtml", Model.FranchiseeIndex)
    }
    else
    {

        @Html.Partial("~/Views/Locations/_LocationSearchResult.cshtml")
        <div class="home-intro centerwrapper">
            <div class="home-intro-subtitle">Music Go Round is the world’s largest musical instrument resale franchise with retail locations throughout the U.S.</div>
            <div class="home-intro-text">We buy, sell and trade quality, used gear all day, every day, providing the ultimate used gear resource for musicians. With more than 30,000 items available online, we offer the highest quality used products on the market. Visit any of our locations to see our huge selection of products for sale; bring in your used gear to sell or trade, or browse all of our items online at any time.</div>
        </div>
        @Html.Action("HomepageProducts", "Catalog", new {minimumPrice = 300.00m})
        @Html.Partial("~/Views/Common/_FeaturedStore.cshtml")
        @Html.Partial("_HowItWorksCallout", "Here's How We Buy Your Gear")
    }


    @Html.Widget("home_page_bottom")
</div>


@section FooterScripts
{
    @if (!Model.IsFranchiseHomepage)
    {
        <script type="text/javascript" src="/Scripts/libs/markerwithlabel.js"></script>
    }
}
