﻿@model Treefort.Portal.Services.MobileBools

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
        User Agent: @Model.UA <br />
        DontUseMobileVersion : @Model.DontUseMobileVersion <br />
        ForceMobile: @Model.ForceMobile <br />
        IgnoreMobile: @Model.IgnoreMobile <br />
        IsMobileBrowser: @Model.IsMobileBrowser <br/>
        IsMobile: @Model.IsMobile <br/>
        IP: @Model.IP <br/>
        Guid: @Model.Guid

</body>
</html>
