﻿@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

<h1 class="big-page-title">@T("Account.MyAccount") - @T("Account.CustomerAddresses.AddNew")</h1>
@Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())

<div class="account-page address-edit-page">
    <div class="account-section-block">
        <div class="account-section-title">
            @T("Account.CustomerAddresses.AddNew")
        </div>
        <form action="@Url.Action("AddressAdd", "Customer")" method="POST">
            <div class="account-section-body">
                @{
                    var dataDictAddress = new ViewDataDictionary();
                    //Merge ModelState (required for validation)
                    dataDictAddress.ModelState.Merge(ViewData.ModelState);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                    @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
                }
                <div class="buttons">
                    <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")"/>
                </div>
            </div>
        </form>
    </div>
</div>