﻿@model CustomerAddressListModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

<h1 class="big-page-title">
    @T("Account.MyAccount") - @T("Account.CustomerAddresses")
</h1>
@Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
<div class="account-page address-list-page">
    <div class="centerwrapper">
        <div class="address-list">
            @if (Model.Addresses.Count > 0)
            {
                for (int i = 0; i < Model.Addresses.Count; i++)
                {
                    var address = Model.Addresses[i];

                    <div class="address-item">
                        <div class="title">@address.FirstName @address.LastName</div>
                        <div class="detail">

                            <div class="info">
                                <div class="name">
                                    @address.FirstName @address.LastName
                                </div>
                                <div class="email">
                                    @address.Email
                                </div>
                                <div class="phone">
                                    @address.PhoneNumber
                                </div>
                                <div class="fax">
                                    @address.FaxNumber
                                </div>
                                @if (!string.IsNullOrEmpty(address.Company))
                                {
                                    <div class="company">@address.Company</div>
                                }
                                <div class="address1">
                                    @address.Address1
                                </div>
                                @if (!string.IsNullOrEmpty(address.Address2))
                                {
                                    <div class="address2">
                                        @address.Address2
                                    </div>
                                }
                                <div class="city-state-zip">
                                    @address.City,
                                    @address.StateProvinceName
                                    @address.ZipPostalCode
                                </div>
                                @if (!string.IsNullOrEmpty(address.CountryName))
                                {
                                    <div class="country">
                                        @address.CountryName
                                    </div>
                                }
                            </div>
                            <div class="buttons">
                                <a href="@Url.RouteUrl("CustomerAddressEdit", new {addressId = address.Id})" class="yellow-arrow-button">@T("Common.Edit")</a>
                                <a href="@Url.RouteUrl("CustomerAddressDelete", new {addressId = address.Id})" class="yellow-arrow-button">@T("Common.Delete")</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                @T("Account.CustomerAddresses.NoAddresses")
            }
        </div>
        <div class="add-button">
            <input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")" />
        </div>
    </div>
</div>
