﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

<h1 class="big-page-title">@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
@Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())

    @Html.AntiForgeryToken()
    <div class="account-page change-password-page">
        <div class="account-section-block">
            <div class="account-section-title">
                @T("Account.ChangePassword")
            </div>
            <form action="@Url.Action("ChangePassword", "Customer")" method="POST">
                @Html.AntiForgeryToken()
                <div class="account-section-body" id="registerBody">
                    @Html.ValidationSummary(false, T("Account.Register.Unsuccessful").Text)

                    <div class="label-input-group">
                        <div class="inner-label">
                            <label for="registerOldPassword">Old Password*</label>
                        </div>
                        <div class="inner-input">
                            <input type="password" id="registerOldPassword" name="OldPassword" value="@Model.OldPassword"/>
                        </div>
                    </div>
                    <div class="label-input-group">
                        <div class="inner-label">
                            <label for="registerPassword">Password*</label>
                        </div>
                        <div class="inner-input">
                            <input type="password" id="registerPassword" name="NewPassword" value="@Model.NewPassword"/>
                        </div>
                    </div>
                    <div class="label-input-group">
                        <div class="inner-label">
                            <label for="registerConfirmPassword">Confirm Password*</label>
                        </div>
                        <div class="inner-input">
                            <input type="password" id="registerConfirmPassword" name="ConfirmNewPassword" value="@Model.ConfirmNewPassword"/>
                        </div>
                    </div>

                    <div class="submit-form-section">
                        <div class="submit-group">
                            <button type="submit" class="yellow-arrow-button">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>