﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        <div class="page-title">
            <h1>@T("Account.ChangePassword")</h1>
        </div>
        <div class="page-body no-edge">
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="section-body">
                <div>
                    <div>
                        @Html.LabelFor(model => model.OldPassword)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.OldPassword)
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(model => model.NewPassword)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(model => model.ConfirmNewPassword)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" value="@T("Account.ChangePassword.Button")" />
            </div>
        </div>
    </div>
}