﻿@model LoginModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
}
<div class="page login-page">
    <div class="page-title">
        <h1>@T("Account.Login.Welcome")</h1>
    </div>
    <div class="page-body no-edge">
        <div class="returning-wrapper">
            <span class="login-title">@T("Account.Login.ReturningCustomer")</span>
            <div class="login-block">
                <div class="message-error">
                    @Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text)
                </div>
                @using (Html.BeginForm())
                {
                    if (Model.UsernamesEnabled)
                    {
                        <div>
                            @*@Html.LabelFor(m => m.Username)*@
                            @Html.TextBoxFor(m => m.Username, new {placeholder="Username", aria_label="Username"})
                            @Html.ValidationMessageFor(m => m.Username)
                        </div>
                    }
                    else
                    {
                        <div>
                            @*@Html.LabelFor(m => m.Email)*@
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", aria_label = "Email" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    }
                    <div>
                        @*@Html.LabelFor(m => m.Password)*@
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", aria_label = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    if (Model.DisplayCaptcha)
                    {
                        <div class="captcha-box">
                            @Html.Raw(Html.GenerateCaptcha())
                        </div>
                    }
                    <div class="buttons">
                        <input type="submit" value="@T("Account.Login.LoginButton")" />
                    </div>
                    <div class="forgot-password">
                        @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")
                    </div>
                }
            </div>
        </div>
        @if (Model.CheckoutAsGuest)
        {
            <div class="new-wrapper">
                <span class="register-title">@T("Account.Login.CheckoutAsGuestOrRegister")</span>
                <div class="checkout-as-guest-or-register-block">
                    <div class="buttons clearfix">
                        <a id="checkoutAsGuest" href="@(Url.RouteUrl("Checkout"))" data-role="button">@T("Account.Login.CheckoutAsGuest")</a><div></div><a id="register" href="@(Url.RouteUrl("Register"))" data-role="button">@T("Account.Register")</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="new-wrapper">
                <span class="register-title">@T("Account.Login.NewCustomer")</span>
                <div class="register-block">
                    <div class="buttons clearfix">
                        <a href="@(Url.RouteUrl("Register"))" data-role="button">@T("Account.Register")</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
