﻿@model LoginModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
}
<div class="login-page">
    <div class="account-section-block" id="loginBlock">
        <form action="@Url.Action("Login", "Customer")" method="POST">
            <div class="account-section-title">Account Log In</div>
            <div class="account-section-body">
                    @Html.ValidationSummary(false, T("Account.Login.Unsuccessful").Text)
                <div class="half-container">
                    <div class="account-half-left">
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="loginEmail">Email*</label>
                            </div>
                            <div class="inner-input">
                                <input type="email" id="loginEmail" name="Email" value="@Model.Email"/>
                            </div>
                        </div>
                    </div>
                    <div class="account-half-right">
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="loginPassword" value="@Model.Password">Password*</label>
                            </div>
                            <div class="inner-input">
                                <input type="password" id="loginPassword" name="Password"/>
                            </div>
                            <div>
                                <a href="@Url.Action("PasswordRecovery", "Customer")" class="generic-small-link">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-form-section">
                    <div class="label-checkbox-group custom-checkbox-wrapper">
                        <input type="checkbox" value="true" id="loginRememberMe" name="RememberMe" @(Model.RememberMe ? "checked='checked'" : "")/>
                        <label for="loginRememberMe">Remember Me</label>
                        <input type="hidden" name="RememberMe" value="false"/>
                    </div>
                    <div class="submit-group">
                        <button type="submit" class="default-yellow-arrow">
                            <svg>
                                <use xlink:href="#yellow-arrow-template"></use>
                            </svg>
                            <span class="yellow-arrow-text">
                                Login
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="account-section-block" id="registerBlock">
        <form action="@Url.Action("Register", "Customer")" method="POST">
            @Html.AntiForgeryToken()
            <div class="account-section-title">
                New Customer?
                <div class="expand-account-icon">
                    <a href="" aria-controls="registerBody" aria-expanded="false">
                        <span class="icon-chevron-down"></span><span class="sr-only">Expand Register Section</span>
                    </a>
                </div>
            </div>
            <div class="account-section-body" id="registerBody" style="display: none;">
                <div class="half-container">
                    <div class="account-half-left">
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerFirstName">First Name*</label>
                            </div>
                            <div class="inner-input">
                                <input type="text" id="registerFirstName" name="FirstName"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerLastName">Last Name*</label>
                            </div>
                            <div class="inner-input">
                                <input type="text" id="registerLastName" name="LastName"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerEmail">Email*</label>
                            </div>
                            <div class="inner-input">
                                <input type="email" id="registerEmail" name="Email"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerAge">Age</label>
                            </div>
                            <div class="inner-input">
                                <select name="AgeRange" id="registerAge">
                                    <option value="" selected="selected" disabled="disabled"></option>
                                    <option value="at least 18">At Least 18</option>
                                    <option value="rockin 18-44">Rockin 18-44</option>
                                    <option value="still rockin 45+">Still Rockin 45+</option>
                                </select>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerPhoneNumber">Phone Number</label>
                            </div>
                            <div class="inner-input">
                                <input type="tel" id="registerPhoneNumber" name="Phone"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerZipCode">Zip Code*</label>
                            </div>
                            <div class="inner-input">
                                <input type="text" class="short" id="registerZipCode" name="ZipPostalCode"/>
                            </div>
                        </div>
                        <div class="small-divider"></div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerPassword">Password*</label>
                            </div>
                            <div class="inner-input">
                                <input type="password" id="registerPassword" name="Password"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerConfirmPassword">Confirm Password*</label>
                            </div>
                            <div class="inner-input">
                                <input type="password" id="registerConfirmPassword" name="ConfirmPassword"/>
                            </div>
                        </div>
                    </div>
                    <div class="account-half-right">
                        <div class="label-input-group large-gap">
                            <div class="inner-label"><span class="label">Interested In</span></div>
                            <div class="box-radio-button-group">
                                <label for="registerInterestedInGuitars" class="box-button">
                                    <input type="checkbox" name="InterestedInGuitars" value="true" id="registerInterestedInGuitars"/>
                                    <div class="box-text">Guitars</div>
                                    <input type="hidden" name="InterestedInGuitars" value="false"/>
                                </label>
                                <label for="registerInterestedInPercussion" class="box-button">
                                    <input type="checkbox" name="InterestedInPercussion" value="true" id="registerInterestedInPercussion"/>
                                    <div class="box-text">Percussion</div>
                                    <input type="hidden" name="InterestedInPercussion" value="false"/>
                                </label>
                                <label for="registerInterestedInBand" class="box-button">
                                    <input type="checkbox" name="InterestedInBand" value="true" id="registerInterestedInBand"/>
                                    <div class="box-text">Band</div>
                                    <input type="hidden" name="InterestedInBand" value="false"/>
                                </label>
                                <label for="registerInterestedInKeyboards" class="box-button">
                                    <input type="checkbox" name="InterestedInKeyboards" value="true" id="registerInterestedInKeyboards"/>
                                    <div class="box-text">Keyboards</div>
                                    <input type="hidden" name="InterestedInKeyboards" value="false"/>
                                </label>
                                <label for="registerInterestedInProSound" class="box-button">
                                    <input type="checkbox" name="InterestedInProSound" value="true" id="registerInterestedInProSound"/>
                                    <div class="box-text">Pro Sound</div>
                                    <input type="hidden" name="InterestedInProSound" value="false"/>
                                </label>
                            </div>
                        </div>
                        <div class="label-input-group large-gap">
                            <div class="inner-label"><span class="label">Sign Up For Newsletter</span></div>
                            <div class="box-radio-button-group">
                                <label for="registerNewsletterYes" class="box-button">
                                    <input type="radio" name="Newsletter" id="registerNewsletterYes" value="true"/>
                                    <div class="box-text">Sign Up</div>
                                </label>
                                <label for="registerNewsltterNo" class="box-button">
                                    <input type="radio" name="Newsletter" id="registerNewsltterNo" value="false"/>
                                    <div class="box-text">No Thanks</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-form-section">
                    <div class="submit-group">
                        <button type="submit" class="default-yellow-arrow">
                            <svg>
                                <use xlink:href="#yellow-arrow-template"></use>
                            </svg>
                            <span class="yellow-arrow-text">
                                Sign Up
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @if (Model.CheckoutAsGuest)
    {
        <div class="account-section-block" id="checkoutAsGuestBlock">
            <div class="account-section-title"><a class="checkout-as-guest-link" href="@(Url.RouteUrl("Checkout"))">@T("Account.Login.CheckoutAsGuest")</a></div>
        </div>
    }
</div>
@section FooterScripts{
    <script type="text/javascript">
        $(function () {
            var $registerBody = $('#registerBody');
            $('.expand-account-icon a').on('click', function(e) {
                e.preventDefault();
                $registerBody.toggle();
                if ($registerBody.is(':visible')) {
                    $(this).attr('aria-expanded', true);
                    $(this).children('.icon-chevron-down').removeClass('icon-chevron-down').addClass('icon-chevron-up');
                } else {
                    $(this).attr('aria-expanded', false);
                    $(this).children('.icon-chevron-up').removeClass('icon-chevron-up').addClass('icon-chevron-down');
                }
            });
        })
    </script>
}