﻿@model CustomerNavigationModel           
@using Nop.Web.Models.Customer;


<div class="additional-pages-nav centerwrapper">
        <ul>
            @Html.Widget("account_navigation_before")
            @if (!Model.HideInfo)
            {
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="@(Model.SelectedTab == CustomerNavigationEnum.Info ? "selected" : "")">@T("Account.CustomerInfo")</a></li>
            }
            @if (!Model.HideAddresses)
            {
                <li><a href="@Url.RouteUrl("CustomerAddresses")" class="@(Model.SelectedTab == CustomerNavigationEnum.Addresses ? "selected" : "")">@T("Account.CustomerAddresses")</a></li>
            }
            @if (!Model.HideOrders)
            { 
                <li><a href="@Url.RouteUrl("CustomerOrders")" class="@(Model.SelectedTab == CustomerNavigationEnum.Orders ? "selected" : "")">@T("Account.CustomerOrders")</a></li>
            }
            @if (!Model.HideReturnRequests)
            { 
                <li><a href="@Url.RouteUrl("CustomerReturnRequests")" class="@(Model.SelectedTab == CustomerNavigationEnum.ReturnRequests ? "selected" : "")">@T("Account.CustomerReturnRequests")</a></li>
            }
            @if (!Model.HideDownloadableProducts)
            { 
                <li><a href="@Url.RouteUrl("CustomerDownloadableProducts")" class="@(Model.SelectedTab == CustomerNavigationEnum.DownloadableProducts ? "selected" : "")">@T("Account.DownloadableProducts")</a></li>
            }
            @if (!Model.HideBackInStockSubscriptions)
            { 
                <li><a href="@Url.RouteUrl("CustomerBackInStockSubscriptions")" class="@(Model.SelectedTab == CustomerNavigationEnum.BackInStockSubscriptions ? "selected" : "")">@T("Account.BackInStockSubscriptions")</a></li>
            }
            @if (!Model.HideRewardPoints)
            { 
                <li><a href="@Url.RouteUrl("CustomerRewardPoints")" class="@(Model.SelectedTab == CustomerNavigationEnum.RewardPoints ? "selected" : "")">@T("Account.RewardPoints")</a></li>
            }
            @if (!Model.HideChangePassword)
            { 
                <li><a href="@Url.RouteUrl("CustomerChangePassword")" class="@(Model.SelectedTab == CustomerNavigationEnum.ChangePassword ? "selected" : "")">@T("Account.ChangePassword")</a></li>
            }
            @if (!Model.HideAvatar)
            { 
                <li><a href="@Url.RouteUrl("CustomerAvatar")" class="@(Model.SelectedTab == CustomerNavigationEnum.Avatar ? "selected" : "")">@T("Account.Avatar")</a></li> 
            }
            @if (!Model.HideForumSubscriptions)
            { 
                <li><a href="@Url.RouteUrl("CustomerForumSubscriptions")" class="@(Model.SelectedTab == CustomerNavigationEnum.ForumSubscriptions ? "selected" : "")">@T("Account.ForumSubscriptions")</a></li>
            }
            @Html.Widget("account_navigation_after")
        </ul>
    </div>
