﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<h1 class="big-page-title">@T("Account.PasswordRecovery")</h1>
<div class="account-page password-recovery-page">
    <div class="account-section-block">
        <div class="account-section-title">
            @T("Account.PasswordRecovery")
        </div>
        <form action="@Url.Action("PasswordRecovery", "Customer")" method="POST">
            @Html.AntiForgeryToken()
            <div class="account-section-body" id="registerBody">
                @Html.ValidationSummary(false, T("Account.Register.Unsuccessful").Text)

                <div class="label-input-group">
                    <div class="inner-label">
                        <label for="emailAddress">Your Email Address*</label>
                    </div>
                    <div class="inner-input">
                        <input type="email" id="emailAddress" name="Email" value="@Model.Email" />
                    </div>
                </div>

                <div class="submit-form-section">
                    <div class="submit-group">
                        <button type="submit" class="yellow-arrow-button">@T("Account.PasswordRecovery.RecoverButton")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
