﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;

<h1 class="big-page-title">@T("Account.PasswordRecovery")</h1>
<div class="account-page password-recovery-page">
    <div>
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="centerwrapper result">
                @Model.Result
            </div>
        }
        @if (!Model.SuccessfullyChanged)
        {
            <div class="account-section-block">
                <div class="account-section-title">
                    @T("Account.PasswordRecovery")
                </div>
                <form action="@Url.Action("PasswordRecoveryConfirm", "Customer")" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="account-section-body" id="registerBody">
                        @Html.ValidationSummary(false, T("Account.Register.Unsuccessful").Text)

                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerPassword">Password*</label>
                            </div>
                            <div class="inner-input">
                                <input type="password" id="registerPassword" name="NewPassword" value="@Model.NewPassword" />
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerConfirmPassword">Confirm Password*</label>
                            </div>
                            <div class="inner-input">
                                <input type="password" id="registerConfirmPassword" name="ConfirmNewPassword" value="@Model.ConfirmNewPassword" />
                            </div>
                        </div>

                        <div class="submit-form-section">
                            <div class="submit-group">
                                <button type="submit" class="yellow-arrow-button">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>
