﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}

<div class="login-page">
    <div class="account-section-block" id="registerBlock">
        <form action="@Url.Action("Register", "Customer")" method="POST">
            @Html.AntiForgeryToken()
            <div class="account-section-title">
                Register
            </div>
            <div class="account-section-body" id="registerBody">
                @Html.ValidationSummary(false, T("Account.Register.Unsuccessful").Text)
                <div class="half-container">
                    <div class="account-half-left">
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerFirstName">First Name*</label>
                            </div>
                            <div class="inner-input">
                                <input type="text" id="registerFirstName" name="FirstName" value="@Model.FirstName"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerLastName">Last Name*</label>
                            </div>
                            <div class="inner-input">
                                <input type="text" id="registerLastName" name="LastName" value="@Model.LastName"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerEmail">Email*</label>
                            </div>
                            <div class="inner-input">
                                <input type="email" id="registerEmail" name="Email" value="@Model.Email"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerAge">Age</label>
                            </div>
                            <div class="inner-input">
                                <select name="AgeRange" id="registerAge">
                                    @if (string.IsNullOrEmpty(Model.AgeRange))
                                    {
                                        <option value="" selected="selected" disabled="disabled"></option>
                                    }
                                    <option value="at least 18" @(Model.AgeRange == "at least 18" ? "selected='selected'" : "")>At Least 18</option>
                                    <option value="rockin 18-44" @(Model.AgeRange == "rockin 18-44" ? "selected='selected'" : "")>Rockin 18-44</option>
                                    <option value="still rockin 45+" @(Model.AgeRange == "still rockin 45+" ? "selected='selected'" : "")>Still Rockin 45+</option>
                                </select>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerPhoneNumber">Phone Number</label>
                            </div>
                            <div class="inner-input">
                                <input type="tel" id="registerPhoneNumber" name="Phone" value="@Model.Phone"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerZipCode">Zip Code*</label>
                            </div>
                            <div class="inner-input">
                                <input type="text" class="short" id="registerZipCode" name="ZipPostalCode" value="@Model.ZipPostalCode"/>
                            </div>
                        </div>
                        <div class="small-divider"></div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerPassword">Password*</label>
                            </div>
                            <div class="inner-input">
                                <input type="password" id="registerPassword" name="Password" value="@Model.Password"/>
                            </div>
                        </div>
                        <div class="label-input-group">
                            <div class="inner-label">
                                <label for="registerConfirmPassword">Confirm Password*</label>
                            </div>
                            <div class="inner-input">
                                <input type="password" id="registerConfirmPassword" name="ConfirmPassword" value="@Model.ConfirmPassword"/>
                            </div>
                        </div>
                    </div>
                    <div class="account-half-right">
                        <div class="label-input-group large-gap">
                            <div class="inner-label"><span class="label">Interested In</span></div>
                            <div class="box-radio-button-group">
                                <label for="registerInterestedInGuitars" class="box-button">
                                    <input type="checkbox" name="InterestedInGuitars" value="true" id="registerInterestedInGuitars" @(Model.InterestedInGuitars ? "checked='checked'" : "")/>
                                    <div class="box-text">Guitars</div>
                                    <input type="hidden" name="InterestedInGuitars" value="false"/>
                                </label>
                                <label for="registerInterestedInPercussion" class="box-button">
                                    <input type="checkbox" name="InterestedInPercussion" value="true" id="registerInterestedInPercussion" @(Model.InterestedInPercussion ? "checked='checked'" : "")/>
                                    <div class="box-text">Percussion</div>
                                    <input type="hidden" name="InterestedInPercussion" value="false"/>
                                </label>
                                <label for="registerInterestedInBand" class="box-button">
                                    <input type="checkbox" name="InterestedInBand" value="true" id="registerInterestedInBand" @(Model.InterestedInBand ? "checked='checked'" : "")/>
                                    <div class="box-text">Band</div>
                                    <input type="hidden" name="InterestedInBand" value="false"/>
                                </label>
                                <label for="registerInterestedInKeyboards" class="box-button">
                                    <input type="checkbox" name="InterestedInKeyboards" value="true" id="registerInterestedInKeyboards" @(Model.InterestedInKeyboards ? "checked='checked'" : "")/>
                                    <div class="box-text">Keyboards</div>
                                    <input type="hidden" name="InterestedInKeyboards" value="false"/>
                                </label>
                                <label for="registerInterestedInProSound" class="box-button">
                                    <input type="checkbox" name="InterestedInProSound" value="true" id="registerInterestedInProSound" @(Model.InterestedInProSound ? "checked='checked'" : "")/>
                                    <div class="box-text">Pro Sound</div>
                                    <input type="hidden" name="InterestedInProSound" value="false"/>
                                </label>
                            </div>
                        </div>
                        <div class="label-input-group large-gap">
                            <div class="inner-label"><span class="label">Sign Up For Newsletter</span></div>
                            <div class="box-radio-button-group">
                                <label for="registerNewsletterYes" class="box-button">
                                    <input type="radio" name="Newsletter" id="registerNewsletterYes" value="true" @(Model.Newsletter ? "checked='checked'" : "")/>
                                    <div class="box-text">Sign Up</div>
                                </label>
                                <label for="registerNewsltterNo" class="box-button">
                                    <input type="radio" name="Newsletter" id="registerNewsltterNo" value="false" @(!Model.Newsletter ? "checked='checked'" : "")/>
                                    <div class="box-text">No Thanks</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-form-section">
                    <div class="submit-group">
                        <button type="submit" class="yellow-arrow-button">Sign Up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
