﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
     $(function() {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                //show progress
                $.mobile.showPageLoadingMsg();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addEmptyStateIfRequired": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        //hide progress
                        $.mobile.hidePageLoadingMsg();

                        //jQuery Mobile. If you manipulate a select via JavaScript, you must call the refresh method on it to update the visual styling.
                        ddlStates.selectmenu("refresh");
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('Failed to retrieve states.');
                        //hide progress
                        $.mobile.hidePageLoadingMsg();
                    }  
                });
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page registration-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
        <div class="page-body no-edge">
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            <div class="section-title">
                @T("Account.YourPersonalDetails")
            </div>
            <div class="section-body personal-info">
                @if (Model.GenderEnabled)
                {
                    <div>
                        @Html.LabelFor(model => model.Gender)
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                                <input type="radio" name="Gender" id="gender-male" value="M" @(Model.Gender == "M" ? Html.Raw(" checked=\"checked\"") : null) />
                                <label for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                <input type="radio" name="Gender" id="gender-female" value="F" @(Model.Gender == "F" ? Html.Raw(" checked=\"checked\"") : null) />
                                <label for="gender-female">@T("Account.Fields.Gender.Female")</label>
                            </fieldset>
                        </div>
                    </div>
                }
                <div>
                    @*@Html.LabelFor(model => model.FirstName)*@
                    @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name", aria_label="First Name" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div>
                    @*@Html.LabelFor(model => model.LastName)*@
                    @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name", aria_label="Last Name" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                @if (Model.DateOfBirthEnabled)
                {
                    <div class="singlerow">
                        <label>Age</label>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                                @Html.DropDownList("AgeRange", new List<SelectListItem>() { new SelectListItem() { Selected = true, Text = "at least 18", Value = "at least 18" }, new SelectListItem() { Selected = true, Text = "rockin 18-44", Value = "rockin 18-44" }, new SelectListItem() { Selected = true, Text = "still rockin 45+", Value = "still rockin 45+" } }, new {aria_label="Age Range"})
                            </fieldset>
                        </div>
                    </div>
                }
                <div>
                    @*@Html.LabelFor(model => model.Email)*@
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", aria_label="Email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                @if (Model.UsernamesEnabled)
                {
                    <div>
                        @*@Html.LabelFor(model => model.Username)*@
                        @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", aria_label="Username" })
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                }
            </div>

            @if (Model.StreetAddressEnabled ||
                 Model.StreetAddress2Enabled ||
                 Model.ZipPostalCodeEnabled ||
                 Model.CityEnabled ||
                 Model.CountryEnabled)
            {
                <div class="section-title">
                    @T("Account.YourAddress")
                </div>
                <div class="section-body">
                    @if (Model.StreetAddressEnabled)
                    {
                        <div>
                            @*@Html.LabelFor(model => model.StreetAddress)*@
                            @Html.TextBoxFor(model => model.StreetAddress, new { placeholder = "Address", aria_label="Adress line 1" })
                            @Html.ValidationMessageFor(model => model.StreetAddress)
                        </div>
                    }
                    @if (Model.StreetAddress2Enabled)
                    {
                        <div>
                            @*@Html.LabelFor(model => model.StreetAddress2)*@
                            @Html.TextBoxFor(model => model.StreetAddress2, new { placeholder = "Address 2", aria_label="Adress line 2" })
                            @Html.ValidationMessageFor(model => model.StreetAddress2)
                        </div>
                    }
                    @if (Model.ZipPostalCodeEnabled)
                    {
                        <div>
                            @*@Html.LabelFor(model => model.ZipPostalCode)*@
                            @Html.TextBoxFor(model => model.ZipPostalCode, new { placeholder = "Postal Code", aria_label="Postal code" })
                            @Html.ValidationMessageFor(model => model.ZipPostalCode)
                        </div>
                    }
                    @if (Model.CityEnabled)
                    {
                        <div>
                            @*@Html.LabelFor(model => model.City)*@
                            @Html.TextBoxFor(model => model.City, new { placeholder = "City", aria_label="City" })
                            @Html.ValidationMessageFor(model => model.City)
                        </div>
                    }
                    @if (Model.CountryEnabled)
                    {
                        <div>
                            @Html.LabelFor(model => model.CountryId)
                            @Html.DropDownList("CountryId", Model.AvailableCountries)
                        </div>
                    }
                    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                    {
                        <div>
                            @Html.LabelFor(model => model.StateProvinceId)
                            @Html.DropDownList("StateProvinceId", Model.AvailableStates)
                        </div>
                    }
                </div>
            }
            @if (Model.PhoneEnabled || Model.FaxEnabled)
            {
                <div class="section-title">
                    @T("Account.YourContactInformation")
                </div>
                <div class="section-body">
                    @if (Model.PhoneEnabled)
                    {
                        <div>
                            @*@Html.LabelFor(model => model.Phone)*@
                            @Html.TextBoxFor(model => model.Phone, new {placeholder = "Phone", aria_label="Phone number"})
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    }
                    @if (Model.FaxEnabled)
                    {
                        <div>
                            @*@Html.LabelFor(model => model.Fax)*@
                            @Html.TextBoxFor(model => model.Fax, new {placeholder = "Fax", aria_label="Fax number"})
                            @Html.ValidationMessageFor(model => model.Fax)
                        </div>
                    }
                </div>
            }
            @if (Model.AllowCustomersToSetTimeZone)
            {
                <div class="section-title">
                    @T("Account.Preferences")
                </div>
                <div class="section-body">
                    @if (Model.AllowCustomersToSetTimeZone)
                    {
                        <div>
                            @Html.LabelFor(model => model.TimeZoneId)
                            @Html.DropDownList("TimeZoneId", Model.AvailableTimeZones)
                            @Html.ValidationMessageFor(model => model.TimeZoneId)
                        </div>
                    }
                </div>
            }
            <div class="section-title">
                @T("Account.YourPassword")
            </div>
            <div class="section-body">
                <div>
                    @*@Html.LabelFor(model => model.Password)*@
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", aria_label="Password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div>
                    @*@Html.LabelFor(model => model.ConfirmPassword)*@
                    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", aria_label="Confirm password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                }
            </div>
            <div class="buttons">
                <input type="submit" value="@T("Account.Register.Button")" name="register-button" />
            </div>
        </div>
    </div>
}