﻿@{
    Layout = "";
}
@using Nop.Web.Framework;

<h1 class="icon-bubble-notification icon"></h1>
<p>After you confirm your order, you'll be redirected to PayPal.com where you'll be prompted to enter/confirm your payment information.</p>
