﻿@using Treefort.Portal.Services
@model Treefort.Portal.Queries.Geo.LocationModel

<div class="big-location-box-wrapper">
    <div class="inner-wrapper centerwrapper">
        <div class="location-image-col">
            <div class="location-image">
                <div class="image-border gold-blend"></div>
                @if (string.IsNullOrEmpty(Model.ImageFileName))
                {
                    <img class="store-photo" src="/images/no-photo.jpg" alt="No Photo Available" />
                }
                else
                {
                    @Html.SaltCheckImage(Model.ImageFileName, "width=265&height=175&crop=auto&scale=both", "", "", new { @class = "store-photo" })
                }
            </div>
        </div>
        <div class="location-address-col">
            <div class="location-address section-title">
                <div>@Model.AddressLine1</div>
                <div>@Model.AddressLine2</div>
                <div>@Model.City, @Model.Region @Model.PostalCode</div>
            </div>
            <div class="location-directions">
                <a class="default-yellow-arrow short" href="@Model.MapUrl" target="_blank" rel="nofollow">
                    <svg viewbox="0 0 160 28" preserveAspectRatio="none">
                        <use xlink:href="#yellow-arrow-template"></use>
                    </svg>
                    <span class="yellow-arrow-text">
                        Get Directions
                    </span>
                </a>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.ConstantContactUrl))
            {
                <div class="location-constant-contact">
                    <div class="section-title">Sign-Up For News</div>
                    <a class="default-yellow-arrow x-short" href="@Model.ConstantContactUrl" target="_blank" rel="nofollow">
                        <svg viewbox="0 0 160 28" preserveAspectRatio="none">
                            <use xlink:href="#yellow-arrow-template"></use>
                        </svg>
                        <span class="yellow-arrow-text">
                            Sign Up
                        </span>
                    </a>
                </div>
            }
        </div>
        <div class="location-contact-col">
            <div class="section-title">
                Contact Us
            </div>
            <a href="tel:@Model.PhoneNumber" class="contact-line-large phone">@Model.PhoneNumber</a>
            <a href="mailto:@Model.EmailAddress" class="contact-line-large email">Send an Email</a>
            <div class="location-social-media">
                @if (!string.IsNullOrEmpty(Model.FacebookUrl))
                {
                    <a href="@Model.FacebookUrl" target="_blank"><img src="/Themes/MGR/Content/images/facebook.png" alt="Facebook"></a>
                }
                @if (!string.IsNullOrEmpty(Model.TwitterUrl))
                {
                    <a href="@Model.TwitterUrl" target="_blank"><img src="/Themes/MGR/Content/images/twitter.png" alt="Twitter"></a>
                }
                @if (!string.IsNullOrEmpty(Model.InstagramUrl))
                {
                    <a href="@Model.InstagramUrl" target="_blank"><img src="/Themes/MGR/Content/images/instagram.png" alt="Instagram"></a>
                }
            </div>
        </div>
        <div class="location-hours-col">
            <div class="section-title">Store Hours</div>
            <div class="location-hours">
                <div class="today">
                    <span class="day">@Model.Hours[0].DayName</span>
                    <span class="hours">@(Model.Hours[0].Open)-@(Model.Hours[0].Close)</span>
                </div>
                <ul id="@(Model.StoreNumber)ExpandedHours" class="expanded-hours">
                    @foreach (var h in Model.Hours.Skip(1))
                    {
                        <li><span class="day">@h.DayName</span><span class="hours">@(h.Open)-@(h.Close)</span></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>