﻿

<div class="constant-contact-form">
    <div class="form-title">
        Sign up for news from your local store
    </div>
    <form id="constantContactForm">
        <label for="ccSelectRegion" class="sr-only">Select a region</label>
        <select id="ccSelectRegion" ng-model="selectedRegion" ng-options="region.Abbr as region.FullName group by region.Country for region in regions" ng-change="resetStores()">
            <option value="" disabled>Select a Region</option>
        </select>

        <label for="ccSelectStore" class="sr-only">Select a store</label>
        <select id="ccSelectStore" ng-model="selectedStore" ng-options="location.ConstantContactUrl as location.Name for location in locationsByRegion()">
            <option value="" disabled>Select a Store</option>
        </select>

        <a ng-href="{{selectedStore}}" class="default-yellow-arrow" rel="nofollow" target="_blank">
            <svg>
                <use xlink:href="#yellow-arrow-template"></use>
            </svg>
            <span class="yellow-arrow-text">Go to Sign Up Form</span>
        </a>
    </form>
</div>