﻿<div class="location-search-box" ng-controller="LocationCtrl" ng-cloak>

    <form method="post" action="{{actionUrl}}" id="{{formId}}" ng-submit="findLocation($event)">
        <input id="Lat" name="Lat" type="hidden" value="{{search.Lat}}" />
        <input id="Lon" name="Lon" type="hidden" value="{{search.Lon}}" />
        <input id="GeocodeShortName" name="GeocodeShortName" type="hidden" value="{{search.GeocodeShortName}}" />
        <input id="GeocodeType" name="GeocodeType" type="hidden" value="{{search.GeocodeType}}" />
        <input name="HCheck" type="hidden" value="{{search.HCheck}}"/>
        <div ng-if="layout == 'two-line'" class="two-line-search-bar">
            <label for="{{formId}}locationSearchText" class="small-search-label">{{buttonLabel}}</label>
        </div>
        <div class="one-line-search-bar">
            <label ng-if="layout == 'one-line'" for="{{formId}}locationSearchText" class="small-search-label">{{buttonLabel}}</label>
            <input type="text" class="search-box-text" id="{{formId}}locationSearchText" name="SearchedLocation" ng-model="search.SearchedLocation" placeholder="{{placeHolderText}}" />

            <button type="submit" class="search-button">
                <span class="icon icon-search"><span class="sr-only">Search</span></span>
            </button>
        </div>
    </form>
</div>
