﻿@model Treefort.Portal.Queries.Locations.HoursViewModel

@{var ca = new char[] { '0' }; }
@if (Model == null)
{
    <table id="hours0" class="location-hours">

	    <tr><th>Not Yet Open.</th></tr>
    </table>
}
else
{
<table id="@Html.Raw("hours" + @Model.locationID)" class="location-hours">
	<tr><th>Mon</th><td>@(Model.monopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.monopen + "-" + Model.monclose))</td></tr>
	<tr><th>Tues</th><td>@(Model.tueopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.tueopen + "-" + Model.tueclose))</td></tr>
	<tr><th>Wed</th><td>@(Model.wedopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.wedopen + "-" + Model.wedclose))</td></tr>
	<tr><th>Thu</th><td>@(Model.thuopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.thuopen + "-" + Model.thuclose))</td></tr>
	<tr><th>Fri</th><td>@(Model.friopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.friopen + "-" + Model.friclose))</td></tr>
	<tr><th>Sat</th><td>@(Model.satopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.satopen + "-" + Model.satclose))</td></tr>
	<tr><th>Sun</th><td>@(Model.sunopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.sunopen + "-" + Model.sunclose))</td></tr>
</table>
}

