﻿@model Treefort.Portal.Queries.Locations.HoursViewModel

@{var ca = new char[] { '0' }; }

<a data-id="@Html.Raw("hours" + @Model.locationID)" href="#" class="hours-link" rel="nofollow">Hours</a>
@if (Model == null)
{
    <ul id="hours0" class="location-hours">
        <li>Not Yet Open.</li>
    </ul>
}
else
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/treefort/TreefortModal.js")"></script>
    <ul id="store-hours" class="location-hours" style="display: none">
        <li>Mon: @(Model.monopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.monopen + "-" + Model.monclose))</li>
        <li>Tue: @(Model.tueopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.tueopen + "-" + Model.tueclose))</li>
        <li>Wed: @(Model.wedopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.wedopen + "-" + Model.wedclose))</li>
        <li>Thu: @(Model.thuopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.thuopen + "-" + Model.thuclose))</li>
        <li>Fri: @(Model.friopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.friopen + "-" + Model.friclose))</li>
        <li>Sat: @(Model.satopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.satopen + "-" + Model.satclose))</li>
        <li>Sun: @(Model.sunopen == "" ? Html.Raw("Store Closed") : Html.Raw(Model.sunopen + "-" + Model.sunclose))</li>
    </ul>

    <script type="text/javascript">
        var hoursMl;
        $(function () {
            hoursMl = new ModalList({
                Selector: '#store-hours',
                Title: 'Store Hours',
                ShowTrigger: '.hours-link'
            });
        });
    </script>
}
