﻿@using Nop.Web.Extensions
@using Treefort.Portal.Services
@model IList<Treefort.Portal.Queries.Geo.LocationModel>

<div class="locations-wrapper">
    @foreach (var l in Model)
    {
        @Html.Partial("_LocationBox", l)
    }

    <div class="location-box own-a-mgr-box" data-state="own-box">
        <div class="own-box-inner">
            <div class="own-title">
                <div>Own A</div>
                <div>Music Go Round</div>
            </div>
            <div class="own-text">
                <p>Our franchisees are our customers&mdash;business-oriented people with a love for music!</p>
                <p>Learn more about owning a Music Go Round store at WinmarkFranchises.com</p>
            </div>
            <div>
                <a href="http://www.winmarkfranchises.com/music-go-round/overview" target="_blank" class="default-yellow-arrow">
                    <svg>
                        <use xlink:href="#yellow-arrow-template"></use>
                    </svg>
                    <span class="yellow-arrow-text">
                        Take the Next Steps
                    </span>
                </a>
            </div>
        </div>
    </div>

</div>