﻿
<div class="location-search-result" ng-controller="LocationCtrl" ng-show="searchResult.show" ng-cloak>
    <div class="result-wrapper">
        <div class="centerwrapper">
            <div class="inner-wrapper">
                <ul class="locations-list">
                    <li class="location-card" ng-repeat="l in searchResult.locations | filter:{IsComingSoon:false}" ng-init="l.expandHours = false">
                        <div class="location-name">
                            {{l.Name}}
                        </div>
                        <div class="location-actions">
                            <a href="{{l.WebsiteUrl}}">Visit Website</a> | <a href="{{l.MapUrl}}" target="_blank">Get Directions</a>
                        </div>
                        <div class="location-address">
                            <div class="location-phone">
                                {{l.PhoneNumber}}
                            </div>
                            <div class="address-line">{{l.AddressLine1}}, {{l.City}}, {{l.Region}} {{l.PostalCode}}</div>
                        </div>
                        <div class="location-hours">
                            <div class="today">
                                <span class="day">{{l.Hours[0].DayName}}</span>
                                <span class="hours">{{l.Hours[0].Open}}-{{l.Hours[0].Close}}</span>
                                <a href="" class="collapse-hours" ng-click="l.expandHours = !l.expandHours" aria-controls="{{l.StoreNumber}}ExpandedHours" aria-expanded="{{l.expandHours}}">
                                    <span class="sr-only">Expand hours for {{l.Name}}</span>
                                    <span ng-class="{'icon-chevron-up': l.expandHours, 'icon-chevron-down': !l.expandHours }"></span>
                                </a>
                            </div>
                            <ul id="{{l.StoreNumber}}ExpandedHours" ng-show="l.expandHours">
                                <li ng-repeat="h in l.Hours" ng-if="$index > 0"><span class="day">{{h.DayName}}</span><span class="hours">{{h.Open}}-{{h.Close}}</span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="map-container">
                    <div class="google-map-box">
                        <div class="google-map-result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
