﻿@using Treefort.Portal.Services
@model Treefort.Portal.Queries.Geo.LocationModel


<div class="location-box" data-state="@Model.Region">

    <div class="location-img-wrapper">
        @if (string.IsNullOrEmpty(Model.ImageFileName))
        {
            <img class="store-photo" src="/images/no-photo.jpg" alt="No Photo Available" />
        }
        else
        {
            @Html.SaltCheckImage(Model.ImageFileName, "width=244&height=244&crop=auto&scale=both", "", "", new { @class = "store-photo" })
        }
        @if (Model.IsGold)
        {
            <div class="four-star-description">
                <div class="four-star-title">
                    This is a 4-Star Store
                </div>
                <div class="four-star-text">
                    They earned this status by achieving the highest standards in Store Operations, Customer Service, Staff Development and E-Commerce Service.
                </div>
            </div>
        }
        @if (Model.IsComingSoon)
        {
            <div class="coming-soon-img-overlay gold-blend">
                <div class="coming-soon-text">Coming Soon</div>
            </div>
        }
    </div>

    <div class="location-info-wrapper">
        <div class="gold-star-wrapper">
            @if (Model.IsGold)
            {
                <a href="" class="four-star">
                    <span class="sr-only">Four Stars</span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                </a>
            }
        </div>
        <div class="location-name">@Model.Name</div>

        @if (Model.IsComingSoon)
        {
            <div class="coming-soon-text">
                <p>We're excited to introduce a new store! Check back for updates on Music Go Round&mdash;@Model.Name</p>
            </div>
        }
        else
        {
            <div class="location-actions">
                @if (!string.IsNullOrEmpty(Model.WebsiteUrl))
                {
                    <a class="location-action-link cross-domain" href="@Model.WebsiteUrl" aria-label="Website for @Model.Name">Website</a>@: |
                }

                <a class="location-action-link" href="@Model.MapUrl" target="_blank" aria-label="Directions for @Model.Name">Directions</a>
                @if (!string.IsNullOrEmpty(Model.EmailAddress))
                {
                    @: | <a class="location-action-link" href="mailto:@Model.EmailAddress" aria-label="Email for @Model.Name">Email</a>
                }
            </div>
            <div class="location-phone">
                <a href="tel:@Model.PhoneNumber" aria-label="Phone number for @Model.Name">@Model.PhoneNumber</a>
            </div>
            <address>
                @Model.AddressLine1 @Model.AddressLine2<br/>
                @Model.City @Model.Region, @Model.PostalCode
            </address>
            <div class="location-hours">
                <div class="today">
                    <span class="day">@Model.Hours[0].DayName</span>
                    <span class="hours">@(Model.Hours[0].Open)-@(Model.Hours[0].Close)</span>
                    <a data-id="@Html.Raw("hours" + @Model.Id)" href="" class="collapse-hours hours-link non-angular-link" aria-controls="@(Model.StoreNumber)ExpandedHours" aria-expanded="false">
                        <span class="sr-only">Expand/collapse hours for @Model.Name</span>
                        <span class="icon-chevron-down"></span>
                    </a>
                </div>
                <ul id="@(Model.StoreNumber)ExpandedHours" class="expanded-hours">
                    @foreach (var h in Model.Hours.Skip(1))
                    {
                        <li><span class="day">@h.DayName</span><span class="hours">@(h.Open)-@(h.Close)</span></li>
                    }
                </ul>
            </div>
        }
    </div>

</div>

