﻿@using Treefort.Portal.Services
@model Treefort.Portal.Queries.Geo.LocationModel

<h1>Music Go Round @Model.Name</h1>
@if (!string.IsNullOrWhiteSpace(Model.ImageFileName))
{
    <img id="store-photo" src="@Model.ImageFileName" alt="Photo of Store" />
}

<script>
		$(function () {
			$("#store-photo").click(function () {
				$("<div id='store-photo-large'></div>").click(function () {
					$(this).remove();
				}).append($(this).clone().removeAttr("id")).appendTo("body");
			});
		});
</script>

<div id="store-address" class="clearfix">
    @if (Model.Distance.HasValue && Model.Distance != 0)
    {
            <span id="distance">@string.Format("Distance: {0} miles", Model.Distance.Value.ToString("#.##"))</span><br />
    }
    @Model.AddressLine1 @Model.AddressLine2<br />
    @Model.City, @Model.Region @Model.PostalCode<br />
    <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a><br />

    @if (!String.IsNullOrEmpty(Model.FacebookUrl))
    {
        <a href="@Model.FacebookUrl" id="facebookIcon" class="social-media-icon" onclick="_gaq.push(['_trackEvent', 'Facebook Link' , 'clicked' , 'Facebook for Mobile Store @Model.StoreNumber']);" aria-label="Facebook">Facebook</a>
    }

    @if (!String.IsNullOrEmpty(Model.TwitterUrl))
    {
        <a href="@Model.TwitterUrl" id="twitterIcon"class="social-media-icon" aria-label="Twitter">Twitter</a>
    }

    @if (!String.IsNullOrEmpty(Model.MyspaceUrl))
    {
        <a href="@Model.MyspaceUrl" id="myspaceIcon" class="social-media-icon" style="display:inline-block; margin-right:3px; position:relative; top:3px;font-size:0;" aria-label="Mysapce">Myspace</a>
    }

    @if (!String.IsNullOrEmpty(Model.FourSquareUrl))
    {
        <a href="@Model.FourSquareUrl" id="foursquareIcon" class="social-media-icon" aria-label="Foursquare">Foursquare</a>
    }
    @if (!String.IsNullOrEmpty(Model.YoutubeUrl))
    {
        <a href="@Model.YoutubeUrl" id="youtubeIcon" class="social-media-icon" aria-label="Youtube">Youtube</a>
    }




    @if (Model.HasGiftCards)
    {
        <div>This location offers gift cards</div>
    }
</div>

<ul id="contact-links">
    <li><a href="@Url.GoogleMap(Model.AddressLine1, Model.City, Model.Region, Model.PostalCode)">Map</a></li>
    <li><a href="tel:@Model.PhoneNumber">Call</a></li>
    <li><a href="mailto:@(Model.EmailAddress)">Email</a></li>
    @if (!string.IsNullOrEmpty(Model.WebsiteUrl) && Model.DisplayWebsiteLink)
    {
        <li><a href="@Model.WebsiteUrl">Website</a></li>
    }
</ul>