﻿@using Treefort.Portal.Services
@model Treefort.Portal.Queries.Locations.IndexViewModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AppendTitleParts(Model.RcPage.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.RcPage.Meta.MetaDescription);
}

<div id="search-results">
    @if (Model.Locations != null && Model.Locations.Any())
    {
        <div class="section">
            <h2>Store Locations</h2>
        </div>
        <ol class="results">
            @foreach (var location in Model.Locations.OrderBy(l => l.Region))
            {
                <li class="vcard" data-detail-url="">
                    <div class="adr">
                        <span class="locality">@location.City, @location.Region</span>
                        <span class="line">
                            <span class="street-address">@location.AddressLine1</span>
                        </span>
                        <span class="line action-links">
                            <a class="tel" href="tel:@location.PhoneNumber">@location.PhoneNumber</a>
                            <a class="map" href="@Url.GoogleMap(location.AddressLine1, location.City, location.Region, location.PostalCode)">Map</a>
                            @if (!string.IsNullOrWhiteSpace(location.ConstantContactUrl))
                            {
                                <a class="emailList" href="@location.ConstantContactUrl" target="_blank">Join Our Email List</a>
                            }
                        </span>
                    </div>
                </li>
            }
        </ol>

        <script>
	    $(function () {
	        $(".vcard").click(function (e) {
	            e.preventDefault();
	            window.location = $(this).data("detail-url");
	        });

	        $(".vcard a").click(function (e) {
	            e.stopPropagation();
	        });
	    });
        </script>
    }
</div>