﻿@using Nop.Web.Extensions
@using Treefort.Portal.Services
@model Treefort.Portal.Queries.Locations.IndexViewModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AppendTitleParts(Model.RcPage.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.RcPage.Meta.MetaDescription);
    
    ViewBag.PageTitle = Model.RcPage.PageTitle;
}

<div class="locations-list-page">
    <div class="centerwrapper">
        <ul class="location-state-nav clearfix">
            <li><a href="" class="selected">All</a></li>
            @foreach (var s in Model.States)
            {
                <li><a data-state="@s.StateAbbr" href="">@s.StateFullName</a></li>
            }
        </ul>
        @Html.Partial("_LocationsList", Model.Locations)
    </div>
</div>
