﻿@model Treefort.Portal.Queries.Locations.SearchViewModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AppendTitleParts("Music Go Round near " + (string.IsNullOrWhiteSpace(Model.SearchedLocation) ? "You" : Model.SearchedLocation));
    
    ViewBag.PageTitle = "Locations";
}

<div class="locations-list-page">
    <div class="centerwrapper">
        <div class="locations-search-result-message">
            @(Model.Locations.Count) Locations Found Near @((string.IsNullOrWhiteSpace(Model.SearchedLocation) ? "You" : Model.SearchedLocation))
        </div>
        @Html.Partial("_LocationsList", Model.Locations)
    </div>
</div>
