﻿@using Treefort.Portal.Services
@model Treefort.Portal.Queries.Locations.SearchViewModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AppendTitleParts("Music Go Round near " + (string.IsNullOrWhiteSpace(Model.SearchedLocation) ? "You" : Model.SearchedLocation));
}

<div id="search-results" class="page">
    @if (Model.Locations != null && Model.Locations.Any())
    {
        <div class="page-title">
            <h1>Store Locations</h1>
        </div>
        <ol class="results">
            @foreach (var location in Model.Locations)
            {
                <li class="vcard" data-detail-url="@Url.Action("Detail", "Locations", new {id = location.Id, distance = location.Distance})">
                    <div class="adr">
                        <span class="locality">@location.City, @location.Region</span>
                        <span class="line">
                            @if (location.Distance.HasValue)
                            {
                                <span class="distance">@string.Format("{0} miles, ", location.Distance.Value.ToString("#.##"))</span>
                            }
                            <span class="street-address">@location.AddressLine1</span>
                        </span>
                        <span class="line action-links">
                            <a class="tel" href="tel:@location.PhoneNumber">@location.PhoneNumber</a>
                            <a class="map" href="@Url.GoogleMap(location.AddressLine1, location.City, location.Region, location.PostalCode)">Map</a>
                            @if (!string.IsNullOrWhiteSpace(location.ConstantContactUrl))
                            {
                                <a class="emailList" href="@location.ConstantContactUrl" target="_blank">Join Our Email List</a>
                            }
                        </span>
                    </div>
                </li>
            }
        </ol>

        <script>
	    $(function () {
	        $(".vcard").click(function (e) {
	            e.preventDefault();
	            window.location = $(this).data("detail-url");
	        });

	        $(".vcard a").click(function (e) {
	            e.stopPropagation();
	        });
	    });
        </script>
    }
</div>
