﻿@model string
@using Nop.Core;
@using Nop.Web.Framework.UI;
@{
    //register CSS and JS
    Html.AddCssFileParts(@Url.Content("~/Administration/Content/fileuploader.css"));
    Html.AddScriptParts(@Url.Content("~/Administration/Scripts/fileuploader.js"));

    //other variables
    var random = CommonHelper.GenerateRandomInteger();
    var clientId = Html.FieldNameFor(x => x);
}

<br />

<div id="@clientId">
	<noscript>
		<p>
			Please enable JavaScript to use file uploader.</p>
		<!-- or put a simple form for upload here -->
	</noscript>
</div>

<script type="text/javascript">
$(function() {
	var ids = [];
	var started = 0;
	var completed = 0;
    		
    var uploader@(clientId) = new qq.FileUploader({
        element: document.getElementById('@clientId'),
    	action: '@(Url.Content("~/Admin/Picture/AsyncUpload"))',
        onSubmit: function() {
	        started++;
        },
        onComplete: function(id, fileName, responseJSON){
            if (responseJSON.success) {
                ids.push(responseJSON.pictureId);
            }
        	completed++;
			if (completed == started) {
				$('#@clientId').trigger('uploads-finished', ids.join(','));
				ids = [];
				started = 0;
				completed = 0;
				$('#@clientId ul.qq-upload-list').empty();
			}
		},
        strings: {
            upload: "Add new picture(s)",
            drop: "@T("Common.FileUploader.DropFiles")",
            cancel: "@T("Common.FileUploader.Cancel")",
            failed: "@T("Common.FileUploader.Failed")"
        }
    });
});
</script>
