﻿@model AddressModel
@using Nop.Web.Models.Common;
<script type="text/javascript">
    $(function () {
        $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
            //show progress
            $.mobile.showPageLoadingMsg();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                data: { "countryId": selectedItem, "addEmptyStateIfRequired": "true" },
                success: function (data) {
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    //hide progress
                    $.mobile.hidePageLoadingMsg();

                    //jQuery Mobile. If you manipulate a select via JavaScript, you must call the refresh method on it to update the visual styling.
                    ddlStates.selectmenu("refresh");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    //hide progress
                    $.mobile.hidePageLoadingMsg();
                }
            });
        });
    });
</script>
<div id="createUpdateAddress">
    @Html.HiddenFor(model => model.Id)
    <div>
        @*@Html.LabelFor(model => model.FirstName)*@
        @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name", aria_label="First Name" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div>
        @*@Html.LabelFor(model => model.LastName)*@
        @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name", aria_label="Last Name" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div>
        @*@Html.LabelFor(model => model.Email)*@
        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", aria_label="Email" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div>
        @*@Html.LabelFor(model => model.Company)*@
        @Html.TextBoxFor(model => model.Company, new { placeholder = "Company", aria_label="Company" })
        @Html.ValidationMessageFor(model => model.Company)
    </div>
    <div class="singlerow">
        @Html.LabelFor(model => model.CountryId)
        @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
        @Html.ValidationMessageFor(model => model.CountryId)
    </div>
    <div class="singlerow">
        @Html.LabelFor(model => model.StateProvinceId)
        @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
        @Html.ValidationMessageFor(model => model.StateProvinceId)
    </div>
    <div>
        @*@Html.LabelFor(model => model.City)*@
        @Html.TextBoxFor(model => model.City, new { placeholder = "City", aria_label="City" })
        @Html.ValidationMessageFor(model => model.City)
    </div>
    <div>
        @*@Html.LabelFor(model => model.Address1)*@
        @Html.TextBoxFor(model => model.Address1, new { placeholder = "Address 1", aria_label="Address line 1" })
        @Html.ValidationMessageFor(model => model.Address1)
    </div>
    <div>
        @*@Html.LabelFor(model => model.Address2)*@
        @Html.TextBoxFor(model => model.Address2, new { placeholder = "Address 2", aria_label="Address line 2" })
        @Html.ValidationMessageFor(model => model.Address2)
    </div>
    <div>
        @*@Html.LabelFor(model => model.ZipPostalCode)*@
        @Html.TextBoxFor(model => model.ZipPostalCode, new { placeholder = "Zip/Postal Code", aria_label="Zip or postal code" })
        @Html.ValidationMessageFor(model => model.ZipPostalCode)
    </div>
    <div>
        @*@Html.LabelFor(model => model.PhoneNumber)*@
        @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone Number", aria_label="Phone number" })
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
</div>
