﻿@model AddressModel
@using Nop.Web.Models.Common;
<script type="text/javascript">
    $(function () {
        $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                data: { "countryId": selectedItem, "addEmptyStateIfRequired": "true" },
                success: function (data) {
                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
</script>
@Html.HiddenFor(model => model.Id)
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.FirstName)*
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.LastName)*
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.Email)*
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>
@*<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.Company)
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.Company)
        @Html.ValidationMessageFor(model => model.Company)
    </div>
</div>*@
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.CountryId)*
    </div>
    <div class="inner-input">
        @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
        @Html.ValidationMessageFor(model => model.CountryId)
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.Address1)*
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.Address1)
        @Html.ValidationMessageFor(model => model.Address1)
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.Address2)
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.Address2)
        @Html.ValidationMessageFor(model => model.Address2)
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.City)*
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City)
    </div>
</div>
<div class="multi-label-input-group">
    <div class="label-input-group split">
        <div class="inner-label">
            @Html.LabelFor(model => model.StateProvinceId)*
        </div>
        <div class="inner-input">
            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
            <span id="states-loading-progress" style="display: none;">
                @T("Common.Wait...")
                <img src='@Url.Content("~/Content/Images/ajax_loader_small.gif")' alt="@T("Common.Wait...")" />
            </span>
            @Html.ValidationMessageFor(model => model.StateProvinceId)
        </div>
    </div>
    <div class="label-input-group split">
        <div class="inner-label">
            @Html.LabelFor(model => model.ZipPostalCode)*
        </div>
        <div class="inner-input">
            @Html.EditorFor(model => model.ZipPostalCode)
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </div>
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.PhoneNumber)*
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.PhoneNumber)
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
</div>
@*<div class="label-input-group">
    <div class="inner-label">
        @Html.LabelFor(model => model.FaxNumber)
    </div>
    <div class="inner-input">
        @Html.EditorFor(model => model.FaxNumber)
        @Html.ValidationMessageFor(model => model.FaxNumber)
    </div>
</div>*@
