﻿<link rel="stylesheet" media="screen" href="@System.Configuration.ConfigurationManager.AppSettings["CrossBrand.CssUrl"]" />
<div class="CrossBrandBar">
    <div class="CenterBrandContainer clearfix">
        <ul>
            <li>
                <a id="PlatosCloset" target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["CrossBrand.PcUrl"]" >
                    <div class="btnBrand clearfix">
                        <div class="brandLogo" id="PcLogo"></div>
                        <div class="brandName">
                            <div>Plato's</div>
                            <div>Closet</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a id="OnceUponAChild" target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["CrossBrand.OuacUrl"]" >
                    <div class="btnBrand clearfix">
                        <div class="brandLogo" id="OuacLogo"></div>
                        <div class="brandName">
                            <div>Once Upon</div>
                            <div>A Child</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a id="StyleEncore" target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["CrossBrand.SeUrl"]" >
                    <div class="btnBrand clearfix">
                        <div class="brandLogo" id="SeLogo"></div>
                        <div class="brandName">
                            <div>Style</div>
                            <div>Encore</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a id="PlayItAgainSports" target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["CrossBrand.PiasUrl"]" >
                    <div class="btnBrand clearfix">
                        <div class="brandLogo" id="PiasLogo"></div>
                        <div class="brandName">
                            <div>Play It Again</div>
                            <div>Sports</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a id="MusicGoRound" target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["CrossBrand.MgrUrl"]" >
                    <div class="btnBrand clearfix">
                        <div class="brandLogo" id="MgrLogo"></div>
                        <div class="brandName">
                            <div>Music</div>
                            <div>Go Round</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <div class="OwnFranchiseContainer">
            <div id="cbOwnText">Own one of our five award-winning franchises.</div>
            <div id="cbLearnMoreContainer"><a href="http://www.winmarkfranchises.com/" onclick="cbTrackLearnMore();" target="_blank">Learn More</a></div>
        </div>
    </div>
</div>
<script>
    var currentFranchise = '@System.Configuration.ConfigurationManager.AppSettings["CrossBrand.CurrentFranchise"]';
    document.getElementById(currentFranchise).className += ' cbSelected';
    document.getElementsByClassName('CrossBrandBar')[0].setAttribute('id', 'CB-' + currentFranchise);

    function cbTrackLearnMore() {
        if (typeof ga !== "undefined") {
            ga('send', 'event', 'Learn More - ' + currentFranchise, 'clicked', 'Cross Brand Bar');
            ga('altB.send', 'event', 'Learn More - ' + currentFranchise, 'clicked', 'Cross Brand Bar');
        }
        else if (typeof _gaq !== "undefined") {
            _gaq.push(['_trackEvent', 'Learn More - ' + currentFranchise, 'clicked', 'Cross Brand Bar']);
            ga('altB.send', 'event', 'Learn More - ' + currentFranchise, 'clicked', 'Cross Brand Bar');
        }
    }
</script>
