﻿<h3 id="hotItWorksSidebar">How It Works</h3>
<div class="sidebar-video-wrapper">
    <a href="@Url.Action("HowItWorks","Home", new {autoplay = true})"><img src="/Themes/MGR/Content/images/how-it-works-still.jpg" alt="How It Works" /></a>
</div>
