﻿<div>
    @using (Html.BeginForm("List", "Locations", FormMethod.Post, new {@id = "locationSearch"}))
    {
        <input type="hidden" id="Lat" name="Lat"/>
        <input type="hidden" id="Lon" name="Lon"/>
        <input type="hidden" id="GeocodeShortName" name="GeocodeShortName"/>
        <input type="hidden" id="GeocodeType" name="GeocodeType"/>
        <input type="hidden" id="HVerify" name="HVerify"/>

        <label for="SearchedLocation">Find A Music Go Round</label>
        <div class="one-line-search-bar">
            <input id="SearchedLocation" name="SearchedLocation" type="text" class="search-box-text" placeholder="Zip Code or City & State" />

            <button id="geoSearch" class="search-button">
                <span class="icon icon-search"><span class="sr-only">Search</span></span>
            </button>
        </div>
    }
</div>