﻿
<div class="locationheader clearfix">
    <h3>Locations near St. Louis Park</h3>
    <a href="#">change</a>
</div>
<div id="google-map">
    <img src="/Themes/MGR/Content/images/sample-map.jpg" style="width:270px; height:128px;" alt=""/>
</div>

<div class="iLocation">
    <h4>Golden Valley</h4><span class="distance-mileage">5 mi</span>
    
    <div class="location-actions">
        &raquo; <a href="#">Map</a>  <a href="#">Phone</a> <a href="#">Website</a> <a href="#">Hours</a>
    </div>
</div>

<div class="iLocation">
    <h4>Highland Center</h4><span class="distance-mileage">12 mi</span>
    
    <div class="location-actions">
        &raquo; <a href="#">Map</a>  <a href="#">Phone</a> <a href="#">Website</a> <a href="#">Hours</a>
    </div>
</div>

<div class="iLocation">
    <h4>Roseville</h4><span class="distance-mileage">19 mi</span>
    
    <div class="location-actions">
        &raquo; <a href="#">Map</a>  <a href="#">Phone</a> <a href="#">Website</a> <a href="#">Hours</a>
    </div>
</div>

<div id="view-all-locations">
    <a href="@Url.Action("Index", "Locations")" >View All Locations</a>
</div>

<img src="/Themes/MGR/Content/images/dont-forget-bring-in-text.png" alt="Don't forget to bring us your gear!"/>