﻿@using System.Web.Optimization
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Core.Infrastructure.DependencyManagement;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("mobile_head_html_tag")
    @*custom css*@
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/5f59362b-60ce-4a3a-a6e6-563c5849edf1.css"/>
    @Html.NopCssFiles(ResourceLocation.Head)
    @if (ViewBag.GoogleMaps != null && ViewBag.GoogleMaps)
    {
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    }
    @Scripts.Render("~/bundles/mobilehead")

    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2012-->
    @Html.Partial("_Analytics")
</head>
<body id="content">
    <div>
        <header>
            @Html.Action("HeaderLinks", "Common")
            <h1 id="logo">
                <a href="/">
                    <img src="@Url.Content("~/Themes/MGR/Content/mobile-images/logo.png")" alt="Music Go Round" />
                </a>
                @if (ViewBag.DisplayProductSearch != null && ViewBag.DisplayProductSearch)
                {
                    <span class="search-toggle icon icon-search"></span>
                }
            </h1>
            @if (ViewBag.DisplayProductSearch != null && ViewBag.DisplayProductSearch)
            {
                <div class="search-box-wrapper" style="@(ViewBag.ShowSearchBar != null && ViewBag.ShowSearchBar ? "" : "display:none;")">
                    @Html.Action("SearchBox", "Catalog")   
                </div>
            }
        </header>
    </div>


    @RenderBody()

    <div id="overlay"></div>

    <footer>
        <ul>
            <li><a href="@Url.Action("ChangeDevice", "Common", new {dontUseMobileVersion = true})">View Full Site</a></li>
            <li>@Html.ActionLink("Shipping", "ShippingPolicy", "Home")</li>
            <li>@Html.ActionLink("Return", "ReturnPolicy", "Home")</li>
            <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
            <li>@Html.ActionLink("Conditions Of Use", "ConditionsOfUse", "Home")</li>
            <li>@Html.ActionLink("Contact", "ContactUs", "Home")</li>
        </ul>

        <a target="_blank" href="http://www.winmarkcorporation.com">&copy;@DateTime.Now.Year Winmark Corporation</a>
    </footer>

    @RenderSection("scripts", required: false)

    <script>
            $(function () {
                $('#menuButton, #overlay').click(function (e) {
                    e.preventDefault();

                    $('nav').toggle();
                    $('#overlay').toggle();
                });
            })
    </script>

</body>
</html>
