﻿@helper IsSelected(string section)
    {
    if (ViewBag.Section == section)
    { 
        @:class="own-selected" 
    }
}

@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

@section Head
{
    @RenderSection("Head", false)
}

@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        <div class="header">
            <div class="centerwrapper">
                <div class="header-logo">
                    <a href="@Url.RouteUrl("HomePage")" class="logo">&nbsp; </a>
                </div>
                <div class="own-mgr-nav">
                    <a href="/">Get Ready To - Reuse. Recycle. Rock.</a>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="centerwrapper">
                <a id="back-to-retail" href="/" class="clearfix"><span style="float:left; margin-right:12px;"></span>Back To Retail Store<span style="float:right"></span></a>
                <ul class="top-menu own-mgr-navigation clearfix">
                    @Html.Widget("header_menu_before")
                    <li @IsSelected("brand")><a style="padding-left:0px;" href="@Url.Action("Index", "Own")">The Brand</a></li>
                    <li @IsSelected("support")><a href="@Url.Action("Support", "Own")">Support</a></li>
                    <li @IsSelected("investment")><a href="@Url.Action("Investment", "Own")">Investment</a></li>
                    <li @IsSelected("territories")><a href="@Url.Action("Territories", "Own")">Territories</a></li>
                   
                    @Html.Widget("header_menu_after")
                </ul>
            </div>
        </div>
        <div id="yellowNavLine"></div>
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div id="mainAnchor" style="height:0;width:0;"></div>
        <div class="centerwrapper">
           <div class="master-wrapper-leftcenter-2">
    @Html.Widget("main_column_before")
    @RenderBody()
    @Html.Widget("main_column_after")
</div>

            <div class="master-wrapper-side-2-right">
                <div id="own-store-sidebar">
                    <a href="@Url.Action("Qualify", "Own")" id="tell-me-more" @Html.Raw("onClick=\"ga('send', 'event', 'Tell Me More', 'clicked', 'Qualify Button');\"")><strong>Tell Me More</strong>Take Your First Step Now</a>       

                    <h3>Discover More</h3>
                    
                    <ul id="discover-more-nav">
                        <li><a href="@Url.Action("FAQ", "Own")">Frequently Asked Questions</a></li>
                        @*   <li><a href="#">Music Go Round Commercials</a></li>*@
                        <li><a href="@Url.Action("FranchiseeTestimonials", "Own")">Franchisee Testimonials</a></li>
                        <li><a href="@Url.Action("Index", "Press")">Music Go Round Press Room</a></li>
                       @* <li><a href="#">360 View Of Music Go Round Store</a></li>*@
                    </ul>
                    
               @*     <h3>Franchisee Testimonials</h3>
                    
                    @Html.Action("TestimonialWidget", "Own")*@
                    
                    @RenderSection("Sidebar", false)
                </div>
            </div>
        </div>
        @Html.Widget("content_after")
        @Html.Action("EuCookieLaw", "Common")
    </div>
    @Html.Action("Footer", "Common")
    @RenderSection("FooterScripts", false)
</div>
