﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@if (ViewBag.IsCorporate != null && ViewBag.IsCorporate)
{
    @Html.Partial("_CrossBrandBar");
}
<div ng-app="mgr">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div>
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Action("Header", "Common")
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div id="mainAnchor" class="sr-only" tabindex="-1"></div>
        <div>
            @RenderBody()
        </div>
        @Html.Widget("content_after")
        @Html.Action("EuCookieLaw", "Common")
    </div>
    @Html.Action("Footer", "Common", new{hideOwnMgrFooter = ViewBag.HideOwnMgrFooter})
    @Html.Action("FranchiseFooterEmbed", "Common")
    @Html.Action("AdvancedSearchPopup", "Catalog")
</div>
<div id="globalSpinnerOverlay" class="overlay">
    <div class="spinner"></div>
</div>
@Html.Widget("body_end_html_tag_before")

@section Head
{
    @Html.Action("FranchiseHeaderEmbed", "Common")
    @RenderSection("Head", false)
}
@section FooterScripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC7S3cCgQvsXqlVjh2l5RSu_Q_-rJNqORo&libraries=geometry,places&sensor=false&language=en&signedin=false"></script>
    @RenderSection("FooterScripts", false)
}
