﻿@using System.Web.Optimization
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Core.Infrastructure.DependencyManagement;
@{
    var host = Request != null && Request.Url != null ? Request.Url.Host : "";
    var displayMiniProfiler = System.Configuration.ConfigurationManager.AppSettings["ShowMiniProfiler"] == "true";


    //resources
    // Load fonts first
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/5f59362b-60ce-4a3a-a6e6-563c5849edf1.css" />
    Html.AppendCssFileParts(@Url.Content("~/Content/smoothness/jquery-ui-1.8.17.custom.css"));
    Html.AppendCssFileParts(@Url.Content("~/Themes/MGR/Content/etalage.css"));
    // Scripts have been moved to mvc bundle
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    @Scripts.Render("~/bundles/site")

}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.NopTitle(true)</title>
    @if (!string.IsNullOrEmpty(Html.NopMetaGoogle().ToString()))
    {
        <meta name="google-site-verification" content="@Html.NopMetaGoogle()"/>
    }
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="description" content="@(Html.NopMetaDescription())"/>
    <meta name="keywords" content="@(Html.NopMetaKeywords())"/>

    @RenderSection("Head", false)

    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(ResourceLocation.Head)
    @Html.NopScripts(ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @Html.Partial("_Analytics")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
        ;
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2012-->

    @if (host.Contains("treefort") || host.Contains("musicgoroundpreview"))
    {
        <meta name="robots" content="noindex, nofollow"/>
    }

    @if (host.EndsWith("musicgoround.com"))
    {
        <meta name="google-site-verification" content="tSWNNVPL529Voqm7dKkaC-EFKgag8BAkXfmYsbi_6jw"/>
    }
</head>
<body>
    <svg width="160px" height="28px" viewbox=" 0 0 160 28" class="svg-template" preserveAspectRatio="none">
        <path id="yellow-arrow-template" d="M 0 0 l 153 0 l 7 14 l -7 14 l -153 0 l 7 -14 z"></path>
    </svg>
<!--For tab index conventions, refer to tabindex.txt-->
<div class="sr-only">
    <a href="#mainAnchor">[Skip to Content]</a>
</div>
@{
    var localIp = Request.ServerVariables["LOCAL_ADDR"];
    if (host.EndsWith(".winmark.treefort.com") || host.EndsWith("treeforttest.com") || Request.IsLocal)
    {
        <div id="_inside_information" style="position: absolute; top: 5px; right: 5px; opacity: 0.8; background-color: #ccc; padding: 5px 10px; border: black 1px solid; border-radius: 6px; text-align: center; z-index: 256;">
            @System.Environment.MachineName <br/>
            @localIp
        </div>
    }}
@RenderBody()
@Html.NopCssFiles(ResourceLocation.Foot)
@Html.NopScripts(ResourceLocation.Foot)


@RenderSection("FooterScripts", false)

<div id="overlay"></div>

@Html.Action("Remarketing", "Home")
</body>
</html>
