﻿
<div class="locationheader clearfix">
    <h3 id="cityNear">Locations Near <span></span></h3>
    <a id="changeLocation" href="#">change</a>


    <div class="prompt clearfix" id="map-prompt" style="display:none;">
        <p>
            <em>Use the location form below to correct the map.</em>
            <label for="tbChangeLocation" style="width: 0; height: 0; position: absolute; font-size: 0;">City & State or Postal Code</label>
            <input aria-label="City & State or Postal Code" type="text" id="tbChangeLocation" value="City & State or Postal Code" />
        </p>

        <button class="button action">Change Your Location</button>
    </div>
</div>
<div id="google-map"><div id="map_canvas"></div></div>
<div id="map-loading-indicator" style="display:none;">
    <p style="margin-top:20px; margin-bottom:20px;"><em>Loading ...</em></p>
</div>

<p id="map-change" style="display:none;">
    <em>Expand my search</em>
    <button class="button action"></button>
</p>


<div id="map-list" style="display:none;">


</div>


<div id="view-all-locations">
    <a href="@Url.Action("Index", "Locations")">View All Locations</a>
</div>

<div id="connectWithUs">
    <h3>Connect with Us</h3>
    <a href="https://www.facebook.com/musicgoround" target="_blank"><img src="/Themes/MGR/Content/images/facebook.png" alt="facebook" /></a> <a href="http://www.youtube.com/user/MusicGoRoundstores" target="_blank"><img src="/Themes/MGR/Content/images/youtube.png" alt="youtube" /></a>
</div>
<img src="/Themes/MGR/Content/images/dont-forget-bring-in-text.png" alt="Don't Forget to Bring Us Your Gear" />



