﻿@model Treefort.Portal.Queries.Locations.StoresNearYouViewModel

@using Nop.Web.Extensions


    <span id="locationInfo" style="display:none" data-city="@Model.CityNear"></span>

@foreach (var location in Model.Stores) {

        <div lat="@location.Lat" lng="@location.Lon" data-id="@location.StoreNumber" class="iLocation">
            <h4>@location.Name</h4><span class="distance-mileage">@(location.Distance.HasValue ? Math.Round(location.Distance.Value,1) + " mi" : "NA")</span>
    
            <div class="location-actions">
                &raquo; <a href="@Url.GoogleDirections(location)" target="_blank">Map</a>  <span>@location.Phone</span>
                
                @if (!string.IsNullOrWhiteSpace(location.Website)) { 
                       <a class="cross-domain" href="@location.Website" title="@location.Website">Website</a>
                   }
                
                <a class="hours-link" data-id="@Html.Raw("hours" + location.Id)" href="@Url.Action("Hours", "Locations", new {Id = location.Id})">Hours</a>
            </div>
        </div>
 } 