﻿@model Nop.Web.Models.Common.FranchiseHeaderModel

<div class="header franchisee-header" style="@(string.IsNullOrEmpty(Model.BackgroundImageUrl) ? "" : string.Format("background-image:url('{0}?width=1920');",Model.BackgroundImageUrl))">
    <div class="header-inner">
        <div class="centerwrapper">
            <div class="header-bar">
                <div class="header-section header-logo">
                    <a href="@Url.RouteUrl("HomePage")" class="logo"><img src="/Themes/MGR/Content/images/logo-mgr.png" alt="Music Go Round" /></a>
                </div>
                <div class="header-section header-menu">
                    @Html.Action("Menu", "Common")
                </div>
                @if (!Model.IsCoop)
                {
                    <div class="header-section header-links-wrapper" ng-controller="ShoppingCartCtrl">
                        @Html.Action("HeaderLinks", "Common")
                        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="header-inner secondary-header  search-bar-container">
        <div class="centerwrapper">
            <div class="secondary-header-bar">
                <div class="logo-subtext">@Model.LogoSubtext</div>
                <div class="sub-navigation">
                    @Html.Partial("~/Views/Common/_FranchiseDropdown.cshtml", Model.FranchiseeLinks)
                </div>
            </div>
            @if (!Model.IsCoop)
            {
                <div class="secondary-header-bar">
                    @Html.Partial("~/Views/Catalog/_HeaderSearchBar.cshtml")
                </div>
            }
        </div>
    </div>
</div>