﻿<div class="header">
    <div class="header-inner">
        <div class="centerwrapper">
            <div class="header-bar">
                <div class="header-section header-logo">
                    <a href="@Url.RouteUrl("HomePage")" class="logo"><img src="/Themes/MGR/Content/images/logo-mgr.png" alt="Music Go Round"/></a>
                </div>
                <div class="header-section header-menu">
                    @Html.Action("Menu", "Common")
                </div>
                <div class="header-section header-location">
                    <a href="@Url.Action("Index", "Locations")" class="header-location-link">Our Locations</a>
                    <a href="@Url.Action("Index", "Own")" class="header-location-link gold-link">Own A Store</a>
                </div>
                <div class="header-section header-links-wrapper" ng-controller="ShoppingCartCtrl">
                    @Html.Action("HeaderLinks", "Common")
                    @Html.Partial("~/Views/ShoppingCart/FlyoutShoppingCart.cshtml")
                </div>
            </div>
        </div>
    </div>
    <div class="header-inner search-bar-container">
        <div class="centerwrapper">
            <div class="header-bar">
                @Html.Partial("~/Views/Catalog/_HeaderSearchBar.cshtml")
            </div>
        </div>
    </div>
</div>
