﻿<ul class="top-menu clearfix">
    @Html.Widget("header_menu_before")
    <li class="own-selected"><a style="padding-left:0px;" href="#">The Brand</a></li>
    <li><a href="/c/20/percussion">Percussion</a></li>
    <li><a href="/c/21/band-instruments">Band</a></li>
    <li><a href="/c/22/keyboardmidi">Keyboard</a></li>
    <li><a href="/c/23/pro-sound">Pro Sound</a></li>
    <li><a href="/c/24/accessories">Accessories</a></li>
    <li style="border-right:none"><a href="@Url.RouteUrl("HomePage")" style="color:#d1830f">Sell Your Gear</a></li>

    @Html.Widget("header_menu_after")
</ul>
