﻿@model bool
@{
    Layout = null;
}
# robots.txt for @this.Request.Url.Host
@if (Model)
{
<text>
User-agent: *
Disallow: /
</text>
}
else
{
<text>
User-agent: *
Disallow: /MGR_Inventory.txt
Disallow: /gproducts/
Disallow: /Locations/Hours/
Disallow: /error/internal?aspxerrorpath=/
Disallow: /tabindex.txt
</text>
}