﻿@model ShoppingCartModel.OrderReviewDataModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
	<div class="order-review-data-box">
		@if (Model.StoreCount > 1) {
			<h1>Hey There! Please note that you are ordering products from @Model.StoreCount separate Music Go Round stores and will
				receive @Model.StoreCount separate order receipts and charges which will equal the total amount of @Model.OrderTotal shown below.</h1>
		}
		else {
			<h1>Hey There! Just about done. Please review, then complete the order.</h1>
		}
		
		@if (Model.IsShippable) {
			<p><strong>Your order(s) will ship to:</strong></p>
			<p>
				@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
				@if (!string.IsNullOrWhiteSpace(Model.ShippingAddress.Company)) {
					<br/>
					@Model.ShippingAddress.Company
				}
				<br/>@Model.ShippingAddress.Address1
				@if (!string.IsNullOrWhiteSpace(Model.ShippingAddress.Address2)) {
					<br/>
					@Model.ShippingAddress.Address2
				}
				<br/>@Model.ShippingAddress.City, @Model.ShippingAddress.StateProvinceName @Model.ShippingAddress.ZipPostalCode
				<br/>@Model.ShippingAddress.PhoneNumber
			</p>
		}
	</div>
}