﻿@model ShoppingCartModel
@using Newtonsoft.Json
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart
@using Nop.Web.Extensions
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
<script>
    window.scParams = {
        CheckoutUrl: '@(Url.Action("StartCheckoutSimple", "ShoppingCart"))',
        IsEditable: @Model.IsEditable.ToString().ToLower(),
        Items: @Html.Raw(JsonConvert.SerializeObject(Model.Items))
    };
</script>
@*@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })*@
<div class="shopping-cart-page" ng-controller="ShoppingCartCtrl" ng-init="initShoppingCartFull('scParams')" ng-cloak>
    <h1 class="big-page-title">
        @T("ShoppingCart")
    </h1>

    <div class="products-section">
        <div class="centerwrapper inner-wrapper">
            <div class="continue-shopping-section">
                <a href="@Url.Action("ContinueShoppingSync", "ShoppingCart")">Continue Shopping</a>
            </div>
            <div class="product-wrapper" ng-repeat="product in shoppingCartService.items">
                <div class="product-image">
                    <img ng-src="{{product.Picture.ImageUrl}}" alt="{{product.Picture.Title}}" />
                </div>
                <div class="product-info">
                    <a href="{{product.ProductUrl}}" class="product-title">
                        {{product.ProductName}}
                    </a>
                    <div class="sku">SKU: {{product.Sku}}</div>
                    <div class="product-location" ng-if="product.Store && !product.IsNewAccessory">
                        <div class="product-location-name">Music Go Round &mdash; {{product.Store.Name}}</div>
                        <div class="location-actions">
                            <span class="phone"><a href="tel:{{product.Store.Phone}}">{{product.Store.Phone}}</a></span>
                            <span ng-if="product.Store.Email"> | <a href="mailto:{{product.Store.Email}}?subject={{product.ProductName}} - {{product.Sku}}">Email</a></span>
                            | <a href="{{product.Store.GoogleMapUrl}}" target="_blank">Get Directions</a>
                        </div>

                        <div class="location-hours">
                            {{product.Store.TodayHours}}
                        </div>
                    </div>
                </div>
                <div class="product-quantity">
                    <div class="add-qty" ng-if="isEditable && product.IsNewAccessory">
                        <a href="" ng-click="updateProductVariantQuantity(product.Id, product.ProductVariantId, product.Quantity + 1)">+<span class="sr-only">Add quantity</span></a>
                    </div>
                    <div class="quantity-label">Qty</div>
                    <div class="quantity-text">{{product.Quantity}}</div>
                    <div class="decrease-qty" ng-if="isEditable && product.IsNewAccessory">
                        <a href="" ng-click="updateProductVariantQuantity(product.Id, product.ProductVariantId, product.Quantity - 1)">&mdash;<span class="sr-only">Decrease quantity</span></a>
                    </div>
                </div>
                <div class="product-price">
                    <div class="remove-product">
                        <a href="" ng-click="removeProductVariantFromCart(product.Id, product.ProductVariantId)"><span class="remove-text">Remove</span><span class="remove-x">X</span></a>
                    </div>
                    <div ng-if="product.Quantity > 1" class="unit-price">Price: {{product.UnitPrice}}</div>
                    <div class="total-price">{{product.SubTotal}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="totals-section">
        <div class="centerwrapper inner-wrapper">
            <div class="cart-total-image-section">
                <a href="@Url.Action("HowItWorks", "Home")" class="cart-total-image-wrapper gold-blend">
                    <div class="cart-total-image-title">Sell Us Your Gear</div>
                    <div class="cart-total-image-subtitle">And Save Even More</div>
                    <div class="cart-total-image-link">
                        <div class="default-yellow-arrow">
                            <svg>
                                <use xlink:href="#yellow-arrow-template"></use>
                            </svg>
                            <span class="yellow-arrow-text">
                                See How It Works
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cart-totals-list-section">
                <div class="cart-subtotal cart-totals-line">
                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.SubTotal"): </span>
                    <span class="cart-totals-list-right">{{shoppingCartService.subtotal}}</span>
                </div>
                <div class="cart-shipping cart-totals-line">
                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.Shipping"): </span>
                    <span class="cart-totals-list-right">{{shoppingCartService.requiresShipping ? (shoppingCartService.shipping ? shoppingCartService.shipping : '@(T("ShoppingCart.Totals.CalculatedDuringCheckout"))') : '@(T("ShoppingCart.Totals.Shipping.NotRequired"))'}}</span>
                </div>
                <div class="cart-tax cart-totals-line" ng-if="shoppingCartService.displayTax">
                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.Tax"): </span>
                    <span class="cart-totals-list-right">{{shoppingCartService.tax}}</span>
                </div>
                <div class="cart-totals-separator-line"></div>
                <div class="cart-order-total cart-totals-line">
                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.OrderTotal"): </span>
                    <span class="cart-totals-list-right">{{shoppingCartService.orderTotal}}</span>
                </div>
                <div class="cart-totals-checkout-link">
                    <a id="checkoutLink" class="default-yellow-arrow" ng-href="{{checkoutUrl}}">
                        <svg>
                            <use xlink:href="#yellow-arrow-template"></use>
                        </svg>
                        <span class="yellow-arrow-text">
                            Checkout
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @if (Model.IsEditable)
    {
        <div class="cross-sells-section">
            <div class="centerwrapper inner-wrapper">
                @Html.Action("CrossSellProducts", "Catalog")
            </div>
        </div>
    }
</div>
