﻿@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;

<div id="flyout-cart" ng-init="initShoppingCartMini('@(Url.Action("StartCheckoutSimple", "ShoppingCart"))')" ng-cloak>
    <div class="mini-shopping-cart">
        <div class="cart-title">Shopping Cart</div>
        <div class="cart-body">
            <div class="no-product" ng-hide="shoppingCartService.items.length">
                No items in your shopping cart.
            </div>
            <a class="cart-item" ng-repeat="product in shoppingCartService.items" ng-href="{{product.ProductUrl}}">
                <div class="product-image">
                    <img ng-src="{{product.Picture.ImageUrl}}" alt="{{product.Picture.Title}}" />
                </div>
                <div class="product-info">
                    <div class="product-name">{{product.ProductName}}</div>
                    <div class="product-location" ng-if="product.Store && !product.IsNewAccessory">
                        <div class="ship-from">Ships From</div>
                        <div class="product-location-name">Music Go Round &mdash; {{product.Store.Name}}</div>
                        <div class="product-location-aux">{{product.Store.State}} | {{product.Store.Phone}}</div>
                    </div>
                </div>
                <div class="product-price-quantity">
                    <div class="product-price">{{product.UnitPrice}}</div>
                    <div class="product-quantity">QTY {{product.Quantity}}</div>
                </div>
            </a>
        </div>
        <div class="cart-totals" ng-show="shoppingCartService.items.length">
            <div class="subtotal-line">
                <span>Subtotal: </span><span class="subtotal">{{shoppingCartService.subtotal}}</span>
            </div>
        </div>
        <div class="cart-actions" ng-show="shoppingCartService.items.length">
            <a id="checkoutLinkMini" class="default-yellow-arrow" href="@Url.Action("Cart", "ShoppingCart")">
                <svg>
                    <use xlink:href="#yellow-arrow-template"></use>
                </svg>
                <span class="yellow-arrow-text">
                    Shopping Cart
                </span>
            </a>
            <a class="default-yellow-arrow" ng-href="{{checkoutUrl}}">
                <svg>
                    <use xlink:href="#yellow-arrow-template"></use>
                </svg>
                <span class="yellow-arrow-text">
                    Checkout
                </span>
            </a>
        </div>
    </div>
</div>
