﻿@model ShoppingCartModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.ShoppingCart;
<div class="order-summary-content">
@Html.Widget("mobile_order_summary_content_before")
@Html.Partial("_OrderReviewData", Model.OrderReviewData)
@if (Model.Items.Count > 0)
{
    if (Model.Warnings.Count > 0)
    {
        <div class="message-error">
            <ul>
                @for (int i = 0; i < Model.Warnings.Count; i++)
                {
                    <li>@Model.Warnings[i]</li>
                }
            </ul>
        </div>
    }

    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post,
        new Dictionary<string, object> {{"data-ajax", "false"}, {"enctype", "multipart/form-data"}}))
    {
        <div class="cart">
            <ul data-role="listview" data-inset="true" data-filter="false">
                @foreach (var item in Model.Items)
                {
                    <li>
                        <div class="cart-item-row">
                            <div class="info">
                                <div class="product">
                                    <a href="@Url.RouteUrl("Product", new {productId = item.ProductId, SeName = item.ProductSeName})" title="View details">@item.ProductName</a>
                                    @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @for (int i = 0; i < item.Warnings.Count; i++)
                                                {
                                                    <li>@item.Warnings[i]</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                                @if (Model.ShowSku && !string.IsNullOrEmpty(item.Sku))
                                {
                                    <div class="sku">
                                        @T("ShoppingCart.SKU"): @item.Sku
                                    </div>
                                }
                                <div class="unitprice">
                                    @item.UnitPrice
                                </div>
                                @if (Model.IsEditable && item.IsNewAccessory)
                                {
                                    <div class="quantity">
                                        @T("ShoppingCart.Quantity"):
                                        @if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" class="qty-dropdown" data-mini="true" data-inline="true">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option @(qty.Selected ? Html.Raw(" selected=\"selected\"") : null) value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input"/>
                                        }
                                    </div>
                                }
                                <div class="totalprice">
                                    @if (item.IsNewAccessory)
                                    {
                                        @(T("ShoppingCart.ItemTotal"))<text>:</text>
                                        @item.SubTotal
                                    }
                                    @if (!string.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount">
                                            @T("ShoppingCart.ItemYouSave")<text>:</text>
                                            @item.Discount
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="actions">
                                @if (Model.IsEditable)
                                {
                                    if (item.IsNewAccessory)
                                    {
                                        <div class="updateitem">
                                            <button class="yellow-arrow-button fake-submit" type="button" name="updatecartitem-@(item.Id)">@T("ShoppingCart.UpdateCartItem")</button>
                                        </div>
                                    }
                                    <div class="remove">
                                        <button class="yellow-arrow-button fake-submit" type="button" name="removefromcart-@(item.Id)">@T("ShoppingCart.Remove")</button>
                                    </div>
                                }</div>

                        </div>
                    </li>
                }
            </ul>

        </div>
        if (!string.IsNullOrEmpty(Model.CheckoutAttributeInfo))
        {
            <div class="selected-checkout-attributes">
                @Html.Raw(Model.CheckoutAttributeInfo)
            </div>
        }
        <div>
        </div>

        <div class="cart-footer">
            @if (Model.IsEditable)
            {
                if (!string.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                {
                    <div>
                        <div class="min-amount-warning">
                            @Model.MinOrderSubtotalWarning
                        </div>
                    </div>
                }
            }
            <div class="cart-collaterals">
                @if (Model.IsEditable)
                {
                    <div class="deals">
                        @Html.Partial("_DiscountBox", Model.DiscountBox)
                        @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                        @Html.Widget("mobile_order_summary_content_deals")
                    </div>
                }
            </div>
            <div class="totals">
                @Html.Action("OrderTotals", "ShoppingCart", new {isEditable = Model.IsEditable})
                @if (Model.IsEditable)
                {
                    <div class="buttons">
                        @if (Model.TermsOfServiceEnabled)
                        {
                            <script language="javascript" type="text/javascript">
                                function accepttermsofservice() {
                                    if (!$('#termsofservice').is(':checked')) {
                                        alert('@T("Checkout.TermsOfService.PleaseAccept")');
                                        return false;
                                    } else
                                        return true;
                                }
                            </script>
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice"/>
                                <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                            </div>
                        }
                        <div class="checkout-buttons">
                            @if (string.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <script type="text/javascript">
                                    function startcheckout() {
                                        //terms of services
                                        var termOfServiceOk = true;
                                        @if (Model.TermsOfServiceEnabled)
                                        {
                                            <text>
                                    termOfServiceOk = accepttermsofservice();
                                    </text>
                                        }
                                        if (termOfServiceOk) {
                                            doRealSubmit('startcheckout');
                                        }
                                    }
                                </script>
                                <button type="button" name="checkout" id="checkout" class="yellow-arrow-button" onclick="javascript: startcheckout();">
                                    @T("Checkout.Button")
                                </button>
                            }
                        </div>

                        <div class="common-buttons">
                            <input type="submit" class="continuebutton" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")"/>
                        </div>
                        @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @Html.Partial("_ButtonPaymentMethod", Model)
                        </div>
                    </div>

                    <input type="submit" class="real-submit" value="submit"/>
                }
            </div>
        </div>
    }
}
else
{
    @T("ShoppingCart.CartIsEmpty")
}
@Html.Widget("mobile_order_summary_content_after")
</div>
<script type="text/javascript">
    function doRealSubmit(actionName) {
        var $inp = $('.real-submit');
        $inp.prop('name', actionName);
        $inp.click();
    }

    $('.fake-submit').on('click', function (e) {
        e.preventDefault();
        doRealSubmit($(this).attr('name'));
    });
</script>
