﻿@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;
<div class="total-info">
    <table class="cart-total">
        <tbody>
            <tr>
                <td class="cart-total-left">
                    Subtotal:
                </td>
                <td class="cart-total-right">
                    <span class="product-price">@Model.SubTotal</span>
                </td>
            </tr>
            @if (!string.IsNullOrEmpty(Model.SubTotalDiscount))
            {
                <tr>
                    <td class="cart-total-left">
                        @T("ShoppingCart.Totals.SubTotalDiscount"):
                    </td>
                    <td class="cart-total-right">
                        <span class="product-price">@Model.SubTotalDiscount</span>
                        @if (Model.AllowRemovingSubTotalDiscount)
                        {
                            using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
                            {
                            <input type="submit" name="removesubtotaldiscount" value="@T("Common.Remove")" />                                    
                            }
                        }
                    </td>
                </tr>
            }
            <tr>
                <td class="cart-total-left">
                        @T("ShoppingCart.Totals.Shipping")@(Model.RequiresShipping && !string.IsNullOrEmpty(Model.SelectedShippingMethod) ? string.Format("({0})", Model.SelectedShippingMethod) : ""):
                </td>
                <td class="cart-total-right">
                    @if (Model.RequiresShipping)
                    {
                        if (!string.IsNullOrEmpty(Model.Shipping))
                        {
                        <span class="product-price">@Model.Shipping
                        </span>
                        }
                        else
                        {
                        <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                        }
                    }
                    else
                    {
                        <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                    }
                </td>
            </tr>
            @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
            {
                <tr>
                    <td class="cart-total-left">
                        @T("ShoppingCart.Totals.PaymentMethodAdditionalFee"):
                    </td>
                    <td class="cart-total-right">
                        <span class="product-price">@Model.PaymentMethodAdditionalFee</span>
                    </td>
                </tr>
            }
            @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
            {
                foreach (var taxRate in Model.TaxRates)
                {
                <tr>
                    <td class="cart-total-left">
                        @string.Format(T("ShoppingCart.Totals.TaxRateLine").Text, taxRate.Rate):
                    </td>
                    <td class="cart-total-right">
                        <span class="product-price">
                            @taxRate.Value
                        </span>
                    </td>
                </tr>
                }
            }
            @if (Model.DisplayTax)
            {
                <tr>
                    <td class="cart-total-left">
                        @T("ShoppingCart.Totals.Tax"):
                    </td>
                    <td class="cart-total-right">
                        <span class="product-price">@Model.Tax</span>
                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
            {
                <tr>
                    <td class="cart-total-left">
                        @T("ShoppingCart.Totals.OrderTotalDiscount"):
                    </td>
                    <td class="cart-total-right">
                        <span class="product-price">@Model.OrderTotalDiscount</span>
                        @if (Model.AllowRemovingOrderTotalDiscount)
                        {
                            using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
                            {
                                <input type="submit" name="removeordertotaldiscount" value="@T("Common.Remove")" />
                            }
                        }
                    </td>
                </tr>
            }
            @if (Model.GiftCards.Count > 0)
            {
                foreach (var gc in Model.GiftCards)
                {
                <tr>
                    <td class="cart-total-left">
                        @string.Format(T("ShoppingCart.Totals.GiftCardInfo").Text, gc.CouponCode):
                    </td>
                    <td class="cart-total-right">
                        <span class="product-price">@gc.Amount</span>
                        @if (Model.IsEditable)
                        {
                            using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
                            {
                                <input type="submit" name="removegiftcard" value="@T("Common.Remove")" />
                                <input type="hidden" name="giftcardid" value="@gc.Id" />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td class="cart-total-left-below">
                        @string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, gc.Remaining)
                    </td>
                    <td>
                    </td>
                </tr>
                }
            }
            @if (Model.RedeemedRewardPoints > 0)
            {
                <tr>
                    <td class="cart-total-left">
                        @string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints):
                    </td>
                    <td class="cart-total-right">
                        <span class="product-price">@Model.RedeemedRewardPointsAmount</span>
                    </td>
                </tr>
            }
            <tr>
                <td class="cart-total-left">
                    @T("ShoppingCart.Totals.OrderTotal"):
                </td>
                <td class="cart-total-right">
                    @if (!string.IsNullOrEmpty(Model.OrderTotal))
                    {
                        <span class="product-price order-total">@Model.OrderTotal</span>
                    }
                    else
                    {
                        <span>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
