﻿@model ShoppingCartModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.ShoppingCart;

@{ Html.AppendScriptParts(@Url.Content("~/Scripts/user-location-map.js")); }

<div class="order-summary-content">
    @Html.Widget("order_summary_content_before")
    @Html.Partial("_OrderReviewData", Model.OrderReviewData)
    <div class="clear">
    </div>
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
        <div class="message-error">
            <ul>
                @for (int i = 0; i < Model.Warnings.Count; i++)
                {
                    <li>@Model.Warnings[i]</li>
                }
            </ul>
        </div>
        }
@*we add enctype = "multipart/form-data" because "File upload" attribute control type requries it*@
        using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { @class = "attach-ga-id", enctype = "multipart/form-data" }))
        {
        <table class="cart">
            @if (Model.IsEditable)
            {
                <col width="1" />
            }
            @if (Model.ShowSku)
            {
                <col width="1" />
            }
            @if (Model.ShowProductImages)
            {
                <col width="1" />
            }
            <col />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <thead>
                <tr class="cart-header-row">
                    @if (Model.IsEditable)
                    {
                        <th>
                            @T("ShoppingCart.Remove")
                        </th>
                    }
                    @if (Model.ShowSku)
                    {
                        <th>
                            @T("ShoppingCart.SKU")
                        </th>
                    }
                    @if (Model.ShowProductImages)
                    {
                        <th class="picture">
                        </th>
                    }
	                <th>
		                @T("ShoppingCart.Product(s)")
	                </th>
					@if (Model.ShowStore) {
						<th>
							Store
						</th>
					}
                    <th>
                        @T("ShoppingCart.UnitPrice")
                    </th>
                    <th>
                        @T("ShoppingCart.Quantity")
                    </th>
                    <th class="end">
                        @T("ShoppingCart.ItemTotal")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="cart-item-row">
                        @if (Model.IsEditable)
                        {
                            <td>
                                <input type="checkbox" name="removefromcart" value="@(item.Id)" />
                            </td>
                        }
                        @if (Model.ShowSku)
                        {
                            <td class="nobr">
                                @item.Sku
                            </td>
                        }
                        @if (Model.ShowProductImages)
                        {
                            <td class="productpicture">
                                <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                            </td>
                        }
	                    <td class="product">
		                    <a href="@Url.RouteUrl("Product", new { productId = item.ProductId, SeName = item.ProductSeName })" title="View details">@item.ProductName</a>
		                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
		                    {
			                    <div class="attributes">
				                    @Html.Raw(item.AttributeInfo)
			                    </div>
		                    }
		                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
		                    {
			                    <div class="recurring-info">
				                    @Html.Raw(item.RecurringInfo)
			                    </div>
		                    }
							@if (item.InStorePickupOnly) {
								<div>This Product is Only Available for In Store Pick-Up at @item.Store.City, @item.Store.State Location.</div>
							}
		                    @if (item.Warnings.Count > 0)
		                    {
			                    <div class="message-error">
				                    <ul>
					                    @for (int i = 0; i < item.Warnings.Count; i++)
					                    {
						                    <li>@item.Warnings[i]</li>
					                    }
				                    </ul>
			                    </div>
		                    }
	                    </td>
						@if (Model.ShowStore) {
							<td class="nobr store">
								@item.Store.Name
								<br/>@item.Store.Address1
								@if (!string.IsNullOrWhiteSpace(@item.Store.Address2)) {
									<br/>
									@item.Store.Address2
								}
								<br/>@item.Store.City, @item.Store.State @item.Store.Zip
								<br/>@item.Store.Phone &middot; <a href="mailto:@item.Store.Email">email</a> &middot;
								<a class="hours-link" data-id="@Html.Raw("hours" + @item.Store.LocationId)" href="@Url.Action("Hours", "Locations", new { Id = @item.Store.LocationId })">hours</a>
							</td>
						}
                        <td class="nobr">
                            <span class="product-unit-price">@item.UnitPrice</span>
                        </td>
                        <td class="nobr">
                            @if (Model.IsEditable && item.IsNewAccessory)
                            {
                                if (item.AllowedQuantities.Count > 0)
                                {
                                <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                    @foreach (var qty in item.AllowedQuantities)
                                    {
                                        <option @(qty.Selected ? Html.Raw(" selected=\"selected\"") : null) value="@qty.Value">@qty.Value</option>
                                    }
                                </select>
                                }
                                else
                                {
                                <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                                }

                            }
                            else
                            {
                                <span>@item.Quantity</span>
                            }
                        </td>
                        <td class="nobr end">
                            <span class="product-subtotal">@item.SubTotal</span>
                            @if (!String.IsNullOrEmpty(item.Discount))
                            {
                                <div class="discount">
                                    @T("ShoppingCart.ItemYouSave")<text>:</text>
                                    <text>&nbsp; &nbsp;</text>@item.Discount
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="clear">
        </div>
                if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
        <div class="selected-checkout-attributes">
            @Html.Raw(Model.CheckoutAttributeInfo)
        </div>
        <div class="clear">
        </div>
                }
        <div>
            @if (Model.IsEditable)
            {
                <div class="common-buttons">
                    <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-2 update-cart-button" />
                    <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                    <input type="submit" name="startcheckout" value="startcheckout" id="startcheckout"
                        style="display: none;" />
                </div>                    
                <div class="clear">
                </div>
                @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                <div class="clear">
                </div>
            }
        </div>
        <div class="clear">
        </div>
        }
        <div class="cart-footer">
            @if (Model.IsEditable)
            {
                if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                {
                <div>
                    <div class="min-amount-warning">
                        @Model.MinOrderSubtotalWarning
                    </div>
                </div>
                }
            }
            <div class="clear">
            </div>
            <div class="totals">
                @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                @if (Model.IsEditable)
                {
                    <div class="clear">
                    </div>
                    if (Model.TermsOfServiceEnabled)
                    {
                    <script language="javascript" type="text/javascript">
	                    function accepttermsofservice() {
		                    if (!$('#termsofservice').is(':checked')) {
			                    $("#terms-of-service-warning-box").dialog();
			                    return false;
		                    }
		                    else
			                    return true;
	                    }
                    </script>
                    <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
                        <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                    </div>
                    <div class="terms-of-service">
                        <input id="termsofservice" type="checkbox" name="termsofservice" />
                        @T("Checkout.TermsOfService.IAccept")
                        @*uncomment below to how simple pop-up*@ @*<span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofUse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</span>*@
                        @*use fancybox to how nice pop-up*@
                        @{
                        Html.AddScriptParts(@Url.Content("~/Scripts/jquery.fancybox-1.3.4.pack.js"));
                        Html.AddCssFileParts(@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css"));
                        }
                        <a class="read" href='@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofUse" })'>@T("Checkout.TermsOfService.Read")</a>
                        <script type="text/javascript">
	                        $(".terms-of-service .read").fancybox({
		                        'speedIn': 600,
		                        'speedOut': 200,
		                        'width': 450,
		                        'height': 500,
		                        'type': 'iframe',
		                        'centerOnScroll': true
	                        });
                        </script>
                    </div>
                    }
                            
                    <div class="clear">
                    </div>
                    <div class="checkout-buttons">
                        @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                        {
                            <script language="javascript" type="text/javascript">
	                            function startcheckout() {
		                            //terms of services
		                            var termOfServiceOk = true;
		                            @if (Model.TermsOfServiceEnabled)
                                            {
                                                <text>
                                                termOfServiceOk = accepttermsofservice();
                                                </text>
                                            }
		                            if (termOfServiceOk)
		                            {
			                            $('#startcheckout').trigger("click");
		                            }
	                            }
                            </script>
                            <input type="submit" name="checkout" value="@T("Checkout.Button")" id="checkout" class="button-1 checkout-button" onclick="startcheckout()" />
                        }
                    </div>
                    <div class="addon-buttons">
                        @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                        @Html.Partial("_ButtonPaymentMethod", Model)
                    </div>
                }
            </div>
            <div class="cart-collaterals">
                @if (Model.IsEditable)
                {
                    <div class="deals">
                        @Html.Partial("_DiscountBox", Model.DiscountBox)
                        @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                        @Html.Widget("order_summary_content_deals")
                    </div>
                    @*@Html.Partial("EstimateShipping", Model.EstimateShipping)*@
                }
            </div>
            <div class="clear">
            </div>
        </div>
    }
    else
    {
        @T("ShoppingCart.CartIsEmpty")
    }
    @Html.Widget("order_summary_content_after")
</div>

<script type="text/javascript">
	bindLocationLinks();
	$(document).click(function() {
		$('.location-hours').hide();
	});

	var $cartForm = $('form.attach-ga-id');
	if ($cartForm.length && ga) {
		ga('linker:decorate', $cartForm[0]);
	}
</script>