@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?hm3tdr');
    src:    url('fonts/icomoon.eot?hm3tdr#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?hm3tdr') format('truetype'),
        url('fonts/icomoon.woff?hm3tdr') format('woff'),
        url('fonts/icomoon.svg?hm3tdr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\e008";
}
.icon-chevron-left:before {
    content: "\e009";
}
.icon-star:before {
    content: "\e012";
}
.icon-exit:before {
    content: "\e013";
}
.icon-chevron-down:before {
    content: "\e010";
}
.icon-chevron-up:before {
    content: "\e011";
}
.icon-phone:before {
    content: "\e006";
}
.icon-bubble-notification:before {
    content: "\e005";
}
.icon-compass:before {
    content: "\e000";
}
.icon-clock:before {
    content: "\e003";
}
.icon-envelope:before {
    content: "\e004";
}
.icon-mic:before {
    content: "\e002";
}
.icon-facebook:before {
    content: "\e001";
}
.icon-search:before {
    content: "\e007";
}

