﻿

@import "icomoon.css";

@font-face{
font-family:"Neo Sans W01 Light";
src:url("fonts/681fbcbc-1907-441a-893a-fc00ecea0267.eot?#iefix");
src:url("fonts/681fbcbc-1907-441a-893a-fc00ecea0267.eot?#iefix") format("eot"),url("Fonts/a21a792c-051c-4059-8719-ecc8749c99a6.woff") format("woff"),url("Fonts/feee8e94-28a0-416a-88d3-db3912effbc4.ttf") format("truetype"),url("Fonts/be444bf4-2ebe-416a-baa3-b19910fb06ba.svg#be444bf4-2ebe-416a-baa3-b19910fb06ba") format("svg");
}
@font-face{
font-family:"Neo Sans W01";
src:url("fonts/2959d89a-a257-4ce7-9cda-63e00f275369.eot?#iefix");
src:url("fonts/2959d89a-a257-4ce7-9cda-63e00f275369.eot?#iefix") format("eot"),url("Fonts/a32c3a17-3242-461c-a048-ca8e775582b1.woff") format("woff"),url("Fonts/97316a7d-9db1-4dc1-bd87-e24103d88a81.ttf") format("truetype"),url("Fonts/1287ca7a-3ce7-40b7-9612-061d4c793f04.svg#1287ca7a-3ce7-40b7-9612-061d4c793f04") format("svg");
}
@font-face{
font-family:"Neo Sans W01 Bold";
src:url("fonts/a0b14394-4dd9-4421-98cf-dfe2f8dc6251.eot?#iefix");
src:url("fonts/a0b14394-4dd9-4421-98cf-dfe2f8dc6251.eot?#iefix") format("eot"),url("Fonts/ecedcc38-3aec-48a5-a693-fbfac59dd0ed.woff") format("woff"),url("Fonts/2974017c-634d-4238-9381-e3f0b95a150c.ttf") format("truetype"),url("Fonts/0b4cc213-f9e9-4cb1-aa3c-64e91a1328dc.svg#0b4cc213-f9e9-4cb1-aa3c-64e91a1328dc") format("svg");
}

@font-face {
    font-family: 'American Captain Regular';
    src: url('fonts/american_captain-webfont.eot');
    src: url('fonts/american_captain-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/american_captain-webfont.woff2') format('woff2'),
         url('fonts/american_captain-webfont.woff') format('woff'),
         url('fonts/american_captain-webfont.ttf') format('truetype'),
         url('fonts/american_captain-webfont.svg#american_captainregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family:"Avenir Next Cyr W00 Regular";
}

@font-face{
    font-family:"Avenir Next Cyr W00 Medium";
}

@mixin white_textshadow {
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);	
}

@mixin box_shadow($x,$y,$b,$c) {
	-webkit-box-shadow: $x $y $b $c;
	-moz-box-shadow: $x $y $b $c;
	box-shadow: $x $y $b $c;
}
 
@mixin inset_box_shadow($x,$y,$b,$c) {
	-webkit-box-shadow: inset $x $y $b $c;
	-moz-box-shadow: inset $x $y $b $c;
	box-shadow: inset $x $y $b $c;
}

@mixin border_radius($x) {
	-moz-border-radius: $x;
	border-radius: $x;
} 

@mixin box_sizing($value) {
	-moz-box-sizing: $value;
	-webkit-box-sizing: $value;
	box-sizing: $value;
}

@mixin red_gradient() {
	background: $darkred; /* old browsers */
}

@mixin gray_gradient() {
	background: #949BA5; /* old browsers */
	background: -moz-linear-gradient(top, #949BA5 0%, #646D7A 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#949BA5), color-stop(100%,#646D7A)); /* webkit */
}

@mixin light_gray_gradient() {
	background: #bcbec0; /* old browsers */
	background: -moz-linear-gradient(top, #f6f6f6 0%, #d4d5d7 50%, #bcbec0 51%, #bec0c2 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(50%,#d4d5d7), color-stop(51%,#bcbec0), color-stop(100%,#bec0c2)); /* webkit */
}

@mixin yellow_gradient() {
	background: #fdcb39; /* old browsers */
	background: -moz-linear-gradient(top, #fdcb39 0%, #ffd75a 50%, #f3bd2a 51%, #fbc633 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdcb39), color-stop(50%,#ffd75a), color-stop(51%,#f3bd2a), color-stop(100%,#fbc633)); /* webkit */
}


$background_color : #fff;
$darkred: #a51700;
$AvenirNextRegular: 'Avenir Next Cyr W00 Regular', Helvetica, Arial;
$AvenirNextMedium: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
$AmericanCaptainRegular: 'American Captain Regular', Helvetica, Arial;
$gold: #f6a914; 
$lightenedgold:#f6b914 ;
$darkenedgold: darken($gold, 5%);
$red:#a51700;
$graytext: #565451;
$graybutton:#555450;
$lightgraybackground: #f1eae2;
$lightgray2:#ddd6cd;
$nav_border_top: solid 1px $lightgray2;
$nav_border_bottom: solid 1px $lightgray2;$content_margin: 15px;
$yellow: #f6a914;

body {
    font-size: 1rem;
    height: 100%;
	color: $graytext;
    font-family: $AvenirNextRegular;
}
h1,h2,h3,h4,h5,h6{
    font-family:$AvenirNextMedium;
}
h1 {
    text-decoration: none;
    font-family:$AmericanCaptainRegular;
}

a, a:link, a:visited{
    color: $graybutton;
}

a:hover, a:focus{
    color: $gold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.yellow-arrow-button, .yellow-arrow-button, input.yellow-arrow-button, button.yellow-arrow-button{
    color: #000;
}
.yellow-arrow-button{
    font-size: 0.625rem;
    line-height: 1.5rem;
    text-transform:uppercase;
    display: inline-block;
    background-color: $gold;
    padding: 0 10px;
    margin: 0 8px;
    position: relative;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border: 12px solid $gold;
        border-left: 4px solid transparent;
        border-right: none;
        position: absolute;
        top: 0;
        left: -4px;
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-left: 4px solid $gold;
        position: absolute;
        top: 0;
        right: -16px;
    }

    &:hover, &:focus{
        background-color: lighten($gold, 5%);

        &:before{
            border-color: lighten($gold, 5%);
            border-left-color:transparent;
        }
        &:after{
            border-color:transparent;
            border-left-color: lighten($gold, 5%);
        }
    }
}

header {
    padding: 5px 0;
    background-color: #222;

    h1 {
        padding: 12px 15px;

        a img {
            width: 225px;
            margin-top: 5px;
        }

        .search-toggle {
            position:absolute;
            right:15px;
	        padding-right: 5px;
            color: white;
            font-size: 30px;
        }
    }

    .cart-navbar {
        background-color: #2f2f2f;
        border-bottom: 1px solid $background_color;
        padding: 5px 10px 10px 10px;

        ul {
            text-align: right;
        }

        li {
            list-style: none;
            display: inline;
            padding-left: 5px;

            a {
                text-decoration: none;
                color: white;
                font-size: 14px;
                box-shadow: none;
                background: none;
                padding: 0 3px;;
                font-weight: normal;
            }
        }

        .ico-cart {
            background: url(/Themes/MGR/Content/images/shopping-cart.png) no-repeat;
            padding-left: 27px;
            /*height:21px;*/
            /*width:23px;*/
        }
    }
}


.big-red {color:#b10001;}
 

footer {
	padding-top: 10px;
	padding-bottom: 20px;
    background-color: $lightgraybackground;
    text-align:center;
	
	ul {
        margin-left: 0;
        margin-bottom: 10px;
	}
	li {
		display: inline;
		padding: 0 .25em;
        a{
            text-decoration:underline;
        }
	}
	
	a, a:visited {
		font-size: 0.5rem;
		text-decoration: none;
        color: $graytext;
	}
	
	a:hover, a:focus {
		color: $gold;
	}
}

.all-caps{
    text-transform:uppercase;
}

/* SEARCH BOX */
/* ================================================= */


.search-box {
    padding: 2px 15px 2px 15px;
    font-size: 0.875rem;
    
    input, select, button {
        font-size: 1rem;
    }

    button {
        text-decoration:none;
    }

    .search-button {
        border-radius: 0;
        box-shadow: none;
        padding: 7px 8px;
        font-size: 0.8125rem;
        background-color: $graytext;
        text-transform:uppercase;
        font-family: $AvenirNextMedium;
    }


    .advanced-search {
        display: inline-block;
        right: 15px;
        width: 100%;

        #orAdvancedSearch {
            color: white;
            text-align:center;
            font-size:0.8125rem;
            margin: 4px 0;
        }

        #advancedSearchButton {
            width: 100%;
            display:block;
            padding: 5px 0;
            text-transform:uppercase;
            background-color: $yellow;
            border-radius: 0;
            font-size: 0.875rem;
            font-family: $AvenirNextMedium;
        }

        #advanced-search-wrapper {
            font-size: 0.875rem;
            background-color: $yellow;
            padding: 3px 10px 6px 10px;
            box-shadow: 1px 2px 0;

            .line-section {
                margin: 5px 0;
            }

            .button-section {
                padding-top: 5px;
                text-align:right;
            }

            .input-label {
                color: #222;
                margin-bottom: 2px;
            }

            input, select {
                box-shadow: none;
                width: 100%;
                margin: 0;
            }

            .short-box, .short-select {
                width: 85px;
            }

            select {
                overflow: hidden;

                option {
                    width: 100%;
                }
            }

            .price-reduction {
                .price-reduction-left, .price-reduction-right{
                    display:inline-block;
                    vertical-align:middle;
                }
                .price-reduction-left {

                    input[type=checkbox] {
                        margin: 1em 0;
                        width: 20px;
                        height: 20px;
                    }
                }

                .price-reduction-right {
                    padding: 7px 0;
                }
            }
        }
    }
}

.message-error{
    margin: 20px 0;
    font-size: 0.75rem;
    color: $red;
}
.search-result-message {
    text-align: center;
    margin: 10px 0;
    font-style: italic;
}

/* HOME PAGE */
/* =================================================== */

#locationSearch {
    text-align:center;
    label{
        font-size: 2rem;
        font-family:$AmericanCaptainRegular;
        color:$red;
        text-transform:uppercase;
        margin-bottom: 10px;
        display:block;
    }
}

.no-edge {
    margin: 0 15px;
}

div.validation-summary-errors{
    margin-bottom: 15px;
    ul{
    }

    li{
        color:red;
    }
}

// Checkout
.login-page {
    .login-title, .register-title {
        font-size: 16px;
        font-weight: bold;
    }

    .returning-wrapper {
        .login-block {
            input {
                margin: 3px 0;
            }

            input[type=checkbox] {
                width: 18px;
                height: 18px;
                margin: 9px 0 0 0;
                vertical-align: text-bottom;
                box-shadow: none;
            }

            input[type=submit] {
                margin: 20px 0;
                padding: 5px 45px;
            }
        }
    }

    .new-wrapper {
        margin-top: 15px;

        .buttons {
            margin: 6px auto;
            text-align: center;

            a[data-role=button] {
                display: block;
                float: left;
                text-decoration: none;
                color: white;
                padding: 8px 10px;
                margin-right: 15px;
                width: 100px;
                font-size: 14px;
                text-align: center;
                margin-bottom: 10px;

                &#register {
                    line-height: 28px;
                }

                &#checkoutAsGuest {
                    line-height: 14px;
                }
            }
        }
    }
}

.enter-address-title,.select-address-title {
    margin-bottom: 10px;
    font-size:20px;
}
#createUpdateAddress{
    margin-bottom: 10px;
    .singlerow{
        margin: 3px 0;
        vertical-align: baseline;

        label {
            width:100px;
            display: inline-block;
            margin-right: 10px;
            vertical-align:top;
        }

        select{
            width: 168px;
        }
    }

    input {
        margin: 3px 0;
    }

    input[type=text]{
        width: 270px;
    }

    .field-validation-error {
        display:block;
        color:red;
        font-style:italic;
    }
}

.address-item {
    .select-button {
        a   {
            box-shadow: none;
            text-shadow:none;
            background: none;
        }
    }
}

.shipping-options{
    .shipping-option-item {
        margin-bottom: 5px;

        .option-name{
            font-size:16px;
            font-weight:bold;
            display:inline-block;

            input[type=radio]{
                vertical-align: middle;
                box-shadow: none;
            }

            label {
                position:relative;
                vertical-align: middle;
            }
        }

        .option-description {
            margin-left: 1.2em;
        }
    }
}

.checkout-notes {
    margin: 15px 0;

    .location-message {
        font-style: italic;
    }

    ul#storeList {
        margin-top: 10px;

        li {
            padding: 5px 0;

            .pickup-only-warning {
                color: red;
            }

            .store-name {
                font-weight: bold;
            }
        }
    }
}

.payment-info {
    .singlerow {
        margin: 3px 0;
        vertical-align:baseline;

        
        label {
            width:130px;
            display: inline-block;
            margin-right: 10px;
            float:left;
        }

        select{
            width: 168px;
        }
    }
    
    input, select {
        margin: 3px 0;
        font-size:14px;
    }

    #CardholderName, #CardNumber, #CardCode {
        width: 250px;
    }

}
.confirm-order {
    margin-bottom: 15px;
}

/* NAVIGATION LIST */
/* =================================================== */



nav, [data-role="nav"] {
	ul {
		border-top: $nav_border_bottom;
		border-bottom: $nav_border_top;
	}
	
	a {
		padding: 24px 10px 24px 18px;
		display: block;
		font-size: 0.75rem;
        background-color: $lightgraybackground;
        font-family: $AvenirNextMedium;
        text-transform:uppercase;
		border-top: $nav_border_top;
		border-bottom: $nav_border_bottom;
		text-decoration: none;
        color: $graytext;
	}
    a:hover, a:focus{
        color: $gold;
    }
}

// Shopping Cart
.order-summary-content {
    .cart {
        li {

            input {
                font-size: 14px;
            }

            input[type=text] {
                width: 40px;
                text-align: right;
            }
        }
    }

    .cart-item-row {
        .info, .actions {
            display: inline-block;
            vertical-align: bottom;
        }

        .product, .sku, .quantity, .unitprice, .totalprice, .updateitem, .remove {
            margin-bottom: 10px;
        }

        .product {
            text-transform: uppercase;
            font-family: $AvenirNextMedium;
            width: 200px;
        }

        .sku {
            font-family: $AvenirNextMedium;
        }

        .quantity {
        }

        .unitprice, .totalprice {
            font-family: $AmericanCaptainRegular;
            text-transform: uppercase;
            color: $red;
        }

        .unitprice {
            font-size: 1.25rem;
        }

        .totalprice {
            font-size: 1.25rem;
        }
    }
}
.cart-footer{
    background-color: $lightgraybackground;
    .total-info{
        border-bottom: 2px solid $lightgray2;
        padding: 20px;
        table.cart-total{
            font-size: 0.875rem;
            margin-left: auto;
            .cart-total-left, .cart-total-right{
                vertical-align: text-bottom;
                padding-bottom: 4px;
            }
            .cart-total-left{
                padding-right: 5px;
                text-transform:uppercase;
                font-family: $AvenirNextMedium;
            }
            .cart-total-right{
                text-align:right;
            }
            .order-total{
                font-family: $AmericanCaptainRegular;
                font-size: 2rem;
                color:$red;
                text-transform:uppercase;
            }
        }
    }
    .buttons{
        text-align:center;
        padding: 30px;
        border-bottom: 2px solid $lightgray2;
        .yellow-arrow-button{
            padding: 0 75px;
        }
        input[type=submit].continuebutton{
            background: none;
            text-transform:uppercase;
            font-family: $AvenirNextMedium;
            color:$graytext;
            text-decoration:underline;
            font-size: 0.875rem;

            &:hover, &:focus{
                color: $gold;
            }
        }
        .checkout-buttons{
            margin-bottom: 20px;
        }
    }
    
    .real-submit{
        display:none;
    }
}

ul[data-role=listview] {
	border-top: $nav_border_bottom;
	border-bottom: $nav_border_top;

    margin:0;
    
        li {
            font-size:0.875rem;
            padding: 20px;
		    border-top: $nav_border_top;
		    border-bottom: $nav_border_bottom;
            list-style:none;
            
            a{
                background:none;
                display:block;
                border:none;
                padding: 0;
		        font-size: 1rem;
                text-decoration:none;
            }
        }
}

div.product-list{
    ul{

    }

    a {
        text-decoration: none;
        color: black;
    }

    ul li {
        padding: 0;
    }

    li .product-box
    {

        $product_image_size: 110px;
        background-color: $lightgraybackground;

        padding: 10px;
        font-size:14px;

        .product-image{
            float:left;
            width: $product_image_size;
            position:relative;
            /*overflow:hidden;*/

            img {
                width: $product_image_size;
                height: $product_image_size;
            }

            .clearance-tag, .special-price-tag{
                font-size: 0.5rem;
                line-height: 0.75rem;
                text-transform:uppercase;
                position:absolute;
                top:0;right:0;left:0;
                margin: auto;
                color:#fff;
                width: 84px;
                text-align:center;
                
                &:before, &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    position: relative;
                    top: 11px;
                }

                &:before {
                    border-width: 12px 0 0 6px;
                    left: -7px;
                }

                &:after {
                    right: -7px;
                    border-width: 12px 6px 0 0;
                }
            }

            .clearance-tag{
                background-color: $red;
                &:before, &:after{
                    border-color: $red transparent transparent transparent;
                }
            }
            .special-price-tag{
                background-color: $gold;
                &:before, &:after{
                    border-color: $gold transparent transparent transparent;
                }
            }
        }

        .product-info{
            margin-left: $product_image_size;
            margin-right: 35px;
            padding: 0 0 0 10px;
            text-transform:uppercase;

            div {
            }

            .product-title{
                font-family: $AvenirNextMedium;
                font-size: 0.75rem;
                font-weight:normal;
                margin-bottom: 8px;
            }

            .product-location{
                font-weight:normal;
                font-size: 0.75rem;
                font-family: $AvenirNextMedium;
            }

            .product-prices{
                font-family: $AmericanCaptainRegular;
                font-size: 1.375rem;
                font-weight: normal;
                color: $red;
                margin-top:5px;

                .old-product-price{
                    text-decoration:line-through;
                    text-shadow:none;
                }
            }
        }
    }
}

div.pager{
    padding-top: 15px;
    text-align:center;
    font-family: $AvenirNextMedium;
    font-size: 1rem;
    text-transform: uppercase;
    color: $yellow;
    background-color: $lightgraybackground;

    a{
        padding: 0 6px;
    }
}


.product-details-page{
    .page-title h1.product-name{
        font-family: $AvenirNextMedium;
        text-align:left;
        color: $graytext;
        letter-spacing:unset;
        font-size: 1.25rem;
        margin: 20px 0;
    }
}
.product-essential{
    padding:10px;


    $default_picture_size: 100%;
    .pictures-container{

        .picture-slides{
            width: $default_picture_size;
            overflow:hidden;
            visibility: hidden;
            position: relative;
            margin: 0 auto;
            max-width: 480px;

            .slides-wrapper {
                overflow: hidden;
                position: relative;

                .slide-image{
                    float:left;
                    width: 100%;
                    position:relative;
                    overflow: hidden;
                }
            }

        }

        ul.pictures-pagination{
            margin: 6px auto 0 auto;
            display: block;
            width:95%;
            text-align:center;

            li.selected-dot{
                background-color:$gold;
            }

            li{
                background-color:$lightgraybackground;
                width: 0.625rem;
                height: 0.625rem;
                border: 0;
                margin: 0 1px;
                border-radius:2rem;
                list-style:none;
                display:inline-block;
                float:none;
            }
        }
    }

    .product-details{
        /*margin-left:$default_picture_size;*/
    }
}

.product-collateral {
    padding: 0 0 10px 0;

    .product-variant-line {
        margin: 10px 0;
        padding: 0 10px;
        .price-sku-container {
            text-align: left;
            margin-bottom: 10px;
            display:flex;
            justify-content: space-between;

            .product-price-container, .sku-container{
                flex-grow: 1;
            }

            .product-price-container {
                .product-price {
                    font-family: $AmericanCaptainRegular;
                    font-size: 1.75rem;
                    color:$red;
                }
                .old-product-price {
                    text-decoration: line-through;
                }
            }

            .sku-container {
                text-align: right;
                font-family: $AvenirNextMedium;

                .sku {
                    font-size: 0.75rem;
                }
            }
        }

        .add-to-cart-container {
            text-align: center;
            margin-bottom: 25px;

            .add-to-cart {
                margin-top: 30px;
                .yellow-arrow-button{
                    padding: 0 50px;
                }
                .product-detail-instore {
                    font-size: 0.75rem;
                    text-transform:uppercase;
                    font-family: $AvenirNextMedium;
                    margin-top: 15px;
                }
            }
        }
    }

    .product-details {
        position: relative;
        margin-bottom: 50px;
        padding: 0 10px;

        .long-description-title {
            position: relative;
            font-weight: bold;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
            text-align: center;
            opacity: 0.6;
        }

        .long-description {
            max-height: 125px;
            overflow: hidden;
            padding: 0 5px;
            font-size:12px; font-size:small;

            &.expand {
                max-height: none;
            }
        }


        .show-more {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-top: 30px;
            background: linear-gradient(to bottom, rgba(233,229,226,0.4) 0, $background_color 100%);
            text-align: center;
            text-decoration: underline;

            &.expand {
                background: none;
            }

            span {
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                position: relative;
                top: 1.5em;
                text-align: center;
                padding: 2px 5px;
                cursor: pointer;
                opacity: 0.6;
            }
        }
    }

    .product-detail-location {
        border-top: 2px solid $lightgray2;
        font-size:1rem;
        padding: 20px 10px 0;

        .location-address {
            line-height: 16px;
            padding-bottom:2px;

            .location-address-line{
                text-align:left;
                font-size: 0.75rem;
            }

            .location-address-title{
                font-size: 0.8125rem;
                text-transform:uppercase;
                font-family: $AvenirNextMedium;
                margin-bottom: 4px;
            }
        }

        .location-actions {
            color: $graytext;
            text-align: center;
            margin-bottom: 20px;

            a{
                text-decoration:none;
                text-transform:uppercase;
                display:block;
            }
            a:hover, a:focus{
                color: $gold;
            }

            .location-action-block {
                width: 20%;
                display: inline-block;

                [class^=ico-]{
                    width: 24px;
                    height: 24px;
                    background-size: cover;
                    display:inline-block;
                }
                .ico-email{
                    background-image: url('/Themes/MGR/Content/images/icon-email.png');
                }
                .ico-phone{
                    background-image: url('/Themes/MGR/Content/images/icon-phone.png');
                }
                .ico-hours{
                    background-image: url('/Themes/MGR/Content/images/icon-hours.png');
                }
                .ico-map{
                    background-image: url('/Themes/MGR/Content/images/icon-map.png');
                }

                .location-action-text{
                    margin: 6px 0;
                    font-size: 0.875rem;
                    font-family: $AvenirNextMedium;
                }
            }
        }
    }

    .product-detail-shipping-text{
                    font-size:12px;
	                color:#303030;
                    text-align: center;
                    padding-top: 10px;
                }

    .related-products-grid {
        margin-top: 25px;
    }
}


// ORDER DETAILS

.order-details {
    .page-body {
        border:$nav_border_bottom;
        padding:10px;
    }

    .order-overview {
    }

    .section-title {
        font-weight:bold;
        margin: 5px 0 2px 0;
    }

    .order-summary-content {
        .cart {
            ul {
                margin: 0 0 10px 0;
            }

            ul li {
                padding: 3px 0;
            }
        }
    }

    .total-info {
    }
}

/* FORMS */
/* =================================================== */

form{
    
    .one-line-search-bar{
        display: flex;
        background-color: #fff;
        label, input, button {
            font-size: 0.75rem;
            line-height: 1.25rem;
        }
            
        label {
            padding: 6px 5px 6px 10px;
            font-weight: bold;
            font-size: 0.8125rem;
            letter-spacing: 0.03125rem;
        }


        input.search-box-text {
            padding: 6px;
            flex-grow: 1;
            width:auto;
            border-right: none;
        }

        button.search-button {
            padding: 0 8px;
            font-weight: bold;
            font-size: 1rem;
            color: $gold;
            background-color: $lightgraybackground;
            border: 1px solid $lightgray2;
            border-left: none;

            .icon {
                -moz-transform: rotate(-10deg) translate(-1px, 2px);
                -ms-transform: rotate(-10deg) translate(-1px, 2px);
                -o-transform: rotate(-10deg) translate(-1px, 2px);
                -webkit-transform: rotate(-10deg) translate(-1px, 2px);
                transform: rotate(-10deg) translate(-1px, 2px);
                display:inline-block;
            }
        }
    }
}
button, input[type=submit], input[type=button], [data-role=button] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: $AvenirNextMedium;
    border:none;
    background-color: $gold;
    text-transform:uppercase;
    color: #fff;
    padding: 5px 20px;
}


button.secondary, input[type=submit].secondary, input[type=button].secondary {
	@include gray_gradient();
}


input, select {
	padding: 5px;
	background: #fff;
	color: $graytext;
	vertical-align: baseline;
    border: 1px solid $lightgray2;
}

.page {

    .page-title{
        margin: $content_margin;

        h1{
		    color: $red;
            font-size: 1.75rem;
            text-transform:uppercase;
            font-family: $AmericanCaptainRegular;
            letter-spacing: 0.125rem;
            text-align:center;
            font-weight:normal;
		
		    a { color: $gold; }
        }
    }
}

#content section, .section {
	margin: $content_margin;
	
	h1 {
		color: $red;
        font-size: 1.5rem;
        text-transform:uppercase;
        font-family: $AmericanCaptainRegular;
        letter-spacing: 0.125rem;
        text-align:center;
        font-weight:normal;
		
		a { color: $gold; }
	}
	
	p,li {
		margin-top: .75em;
		line-height: 150%;
	}
	
	p:first-of-type,
	li:first-of-type {
		margin-top: 0;
	}
	
	ol {
		margin-top: .75em;
		margin-left: 2em;
	}
}

/* GEAR SEARCH FORM */
/* =================================================== */
#search-gear 
{
    fieldset {
        margin-top: 8px;
        
        #ks input {
            margin-right: 7px;
        }
    }
    
    input.price {
        width: 4.3em;
    }
    
    input {
        width: 12em;
    }
    
    select {
        width: 12.6em;
    }
    
    .form-field {
        margin-bottom: 10px;
    }

    .image-preload {
        background-image: url(../Content/mobile-images/selectCheck.png);
        display: none;
    }
    
    .form-field.custom-checkbox 
    {
        padding: 3px 0px;
        
    	width: 228px;
		@include light_gray_gradient();
		@include border_radius(10px);
		
		color: #6a6b6d;
		font-size: 13px;
		font-weight: bold;
        

    	label 
    	{
    		display: table-cell;
    		width: 178px;
			letter-spacing: -.5pt;
		    vertical-align: middle;
		    text-align: right;
			padding: 6px 10px 6px 0px;
		}

		span {
			display: table-cell;
			width: 42px;
			height: 17px;
		}
    }

    .form-field.custom-checkbox.selected 
    {
    	@include yellow_gradient();
    	
    	label 
    	{
    		color: #030303;
		}
		
		span {
			background: transparent url(../Content/mobile-images/selectCheck.png) no-repeat;
			background-position: 10px center;
			background-size: 26px 26px;
		}
    }
    
}

/* GIFT CARD IMAGE */
/* =================================================== */

#gift-cards {
    img {
	    float: left;
	    margin-right: 10px;
    }
}


/* STORE SEARCH RESULTS */
/* =================================================== */

#internalWrapper
{
    margin:15px;   
}

.results {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		padding: 0;
		cursor: pointer;
        background-color: $lightgraybackground;
	}
	
	border-top: $nav_border_bottom;
	border-bottom: $nav_border_top;
	
	.adr, .gear {
		padding: 16px 18px;
		display: block;
        color: $graytext;
		font-size: 0.875rem;
		border-top: $nav_border_top;
		border-bottom: $nav_border_bottom;
		text-decoration: none;
		
		.locality {
            font-family: $AvenirNextMedium;
			font-size: 1rem;
            text-transform:uppercase;
		}
		
		a, a:visited {
            color: $graytext;
			text-decoration: none;
		}

		a:hover, a:focus {
			color: $gold;
		}
		
		.map {
			margin-left: 8px;
			text-decoration: underline;
		}
		
		.tel {
			text-decoration: underline;
		}
	}
	
	.line { 
		display: block;
	}

    .gear {
        height: 45px;
        
        img {
            display: block;
            float: left;
            margin-right: 8px;
        }
        
        .info {
            margin-left: 68px;
            margin-right: 40px;
        }
        
        .description {
            color: white;    
            font-weight: bold;
        }
        
        .price {
            color: #adbacb;
            font-size: 90%;
        }
    }
}

#gear-search-results {
    h1 {
        font-size: 80%;
    }
}


/* STORE DETAIL PAGE */
/* =================================================== */

#store-photo,
#store-address {
    #distance {
        color: rgba(0,0,0,.5);
    }
    
	display: inline-block;
	vertical-align: top;

    .social-media-icon {
        display:inline-block;
        top: -6px;
        margin-right:3px; 
        position:relative;
        font-size:0;
    }
}

#store-photo { 
	margin: 5px 15px 0 0;
	max-width: 100px;
}

#store-photo-large {
	background: rgba(0,0,0,.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
	img {
		margin: 2.5%;
		min-width: 95%;
		max-width: 95%;
	}
}

#contact-links {
	margin: 15px 0;
	padding: 0;
    text-align:center;
	li {
		display: inline-block;
		margin-right: 8px;
	}
	a {
	 	display: block;
        background-color: $gold;
		padding: 6px 9px;
        font-family: $AvenirNextMedium;
        text-transform:uppercase;
		color: #fff;
		text-decoration: none;
        font-size: 0.875rem;
	}
}

#store-hours {
	line-height: 150%;
	caption {
		text-align: left;
		font-weight: bold;
	}
	th {
		text-align: right;
		padding-right: 4pt;
		font-weight: normal;
	}
	td {
		text-align:right; 
		padding-left: 4pt;
	}
}

// Personal Info

.personal-info{

    input, select {
        margin: 3px 0;
    }


    .singlerow{

        label{
            padding-top: 12px;
            display:inline-block;
            margin-right:10px;
            width: 60px;
            vertical-align:top;
        }

        div{
            max-width:200px;
            display:inline-block;
        }

        select{
            display:inline-block;

        }
    }
        
}

.related-products-grid{
    margin: 10px 0;
    border-top: 2px solid $lightgray2;
    
    .title{
        background: $lightgraybackground;
        font-family: $AmericanCaptainRegular;
        color:$graytext;
        text-align:center;
        font-size: 1.75rem;
        line-height: 4.25rem;
        text-transform:uppercase;
    }
}

/* GEAR DETAIL PAGE */
/* =================================================== */

#gear-detail {
    h1 {
        padding-left: 4px;
        color: white !important;
        font-size: 18px !important;
        font-weight: bold;
    }
    
    h2 {
        padding-left: 4px;
		color: #d00e42;
		font-size: 12px;
		font-weight: normal;
    }
    
    img {
        float: left;
    }
    
    #contact-links {
        margin-top: 6px;
        
        li {
            display: block;
            width: 8em;
            font-weight: bold;
            font-size: 12px;
            padding-top: 4px;
            padding-bottom: 4px;
            margin: 0;
            a {
                padding: 4px;
            }
        }
    }
    
    p {
        font-size: 11px;
    }
    
    #long-description {
        font-size: 14px;
    }
    
    #price-and-links {
        margin-top: 20px;
        padding-left: 150px;
    }
}

/* SORT BY */
/* ------------------------- */

.sort-filter-bar {
    width: 100%;
    background-color: $yellow;
    box-shadow: rgba(128, 128, 128, .75) 1px 1px 2px;
    text-align: center;
    color: white;

    select {
        display: none;
    }

    .sort-by {
        width:100%;
        height: 100%;
        padding: 5px 0;
    }

    .filter-by{
        border-left: $nav_border_bottom;
        padding: 5px 0;
        height: 100%;
        float:right;
        width:50%;
    }
}

.order-review-data-box, .order-details-box{
    padding: 0 10px;
    .billinginfo, .shippinginfo {
        margin-bottom: 15px;
        .payment-method, .shipping-method {
            margin-top: 10px;
        }
    }
}

.treefort-modal {
    text-align: center;
    text-decoration: none;
    background-color: white;
    overflow: hidden;
    display: none;
    min-width: 80%;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    max-height:85%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,.25);

    .title {
        font-size: 16px;
        padding: 12px 0;
        border-bottom: $nav_border_bottom;
        font-family: $AvenirNextMedium;
    }

    .options-list {
        margin-bottom: 10px;
        position: relative;
        overflow: auto;

        .option {
            display: block;
            padding: 10px 10px;
            border-bottom: $nav_border_bottom;
            background-color: $lightgraybackground;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;

            &:hover, &:active {
                background-color: $gold;
            }

            &.selected {
                font-family:$AvenirNextMedium;
            }

            &.red {
                color: $darkred;
            }
        }
    }

    .close {
        text-align:center;
        cursor: pointer;
        color: white;
        margin-bottom: 10px;

        .close-button {
            background-color: $yellow;
            font-size: 14px;
            padding: 8px 15px;
        }
    }
}

.treefortmodal-overlay, .overlay{
	display:none;
	height:100%;
	width:100%;
	z-index:10;
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(0,0,0,.5);
}

#paypal_form {
    visibility: hidden;
}


#twitterIcon
{
    width: 18px; 
	height: 18px; 
	background: transparent url(/Themes/MGR/Content/images/ico-twitter-blue.png) no-repeat;
	background-size: 18px 18px;   
}

#facebookIcon
{
    width: 18px; 
	height: 18px; 
	background: transparent url(/Themes/MGR/Content/images/facebook.png) no-repeat;
	background-size: 18px 18px;    
}

#foursquareIcon
{
    width: 18px; 
	height: 18px; 
	background: transparent url(../Content/mobile-images/foursquare.png) no-repeat;
	background-size: 18px 18px;     
}

#youtubeIcon
{
    width: 36px; 
	height: 18px; 
	background: transparent url(../Content/mobile-images/youtube.png) no-repeat;
	background-size: 36px 18px;     
}
#myspaceIcon
{
    width: 18px; 
	height: 18px; 
	background: transparent url(../Content/mobile-images/myspace.png) no-repeat;
	background-size: 18px 18px;     
}

/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}


/* For hi-resolution devices */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    
    #detect-location span { background-image: url(../Content/mobile-images/detect-location-hi.png); }


    #search-gear .image-preload { background-image: url(../Content/mobile-images/selectCheck-hi.png); }
    #search-gear .form-field.custom-checkbox.selected span { background-image: url(../Content/mobile-images/selectCheck-hi.png); }

    
    
    	
	#twitterIcon
    {
        width: 18px; 
	    height: 18px; 
	    background: transparent url(/Themes/MGR/Content/images/ico-twitter-blue.png) no-repeat;
	    background-size: 18px 18px;   
    }

    #facebookIcon
    {
        width: 18px; 
	    height: 18px; 
	    background: transparent url(/Themes/MGR/Content/images/facebook.png) no-repeat;
	    background-size: 18px 18px;    
    }

    #foursquareIcon
    {
        width: 18px; 
	    height: 18px; 
	    background: transparent url(../Content/mobile-images/hi-res/foursquare.png) no-repeat;
	    background-size: 18px 18px;     
    }

    #youtubeIcon
    {
        width: 36px; 
	    height: 18px; 
	    background: transparent url(../Content/mobile-images/hi-res/youtube.png) no-repeat;
	    background-size: 36px 18px;     
    }
    
    #myspaceIcon
    {
        width: 18px; 
	    height: 18px; 
	    background: transparent url(../Content/mobile-images/hi-res/myspace.png) no-repeat;
	    background-size: 18px 18px;     
    }
}
