﻿@import url(icomoon.css);
@font-face {
  font-family: "Neo Sans W01 Light";
  src: url("fonts/681fbcbc-1907-441a-893a-fc00ecea0267.eot?#iefix");
  src: url("fonts/681fbcbc-1907-441a-893a-fc00ecea0267.eot?#iefix") format("eot"), url("Fonts/a21a792c-051c-4059-8719-ecc8749c99a6.woff") format("woff"), url("Fonts/feee8e94-28a0-416a-88d3-db3912effbc4.ttf") format("truetype"), url("Fonts/be444bf4-2ebe-416a-baa3-b19910fb06ba.svg#be444bf4-2ebe-416a-baa3-b19910fb06ba") format("svg"); }

@font-face {
  font-family: "Neo Sans W01";
  src: url("fonts/2959d89a-a257-4ce7-9cda-63e00f275369.eot?#iefix");
  src: url("fonts/2959d89a-a257-4ce7-9cda-63e00f275369.eot?#iefix") format("eot"), url("Fonts/a32c3a17-3242-461c-a048-ca8e775582b1.woff") format("woff"), url("Fonts/97316a7d-9db1-4dc1-bd87-e24103d88a81.ttf") format("truetype"), url("Fonts/1287ca7a-3ce7-40b7-9612-061d4c793f04.svg#1287ca7a-3ce7-40b7-9612-061d4c793f04") format("svg"); }

@font-face {
  font-family: "Neo Sans W01 Bold";
  src: url("fonts/a0b14394-4dd9-4421-98cf-dfe2f8dc6251.eot?#iefix");
  src: url("fonts/a0b14394-4dd9-4421-98cf-dfe2f8dc6251.eot?#iefix") format("eot"), url("Fonts/ecedcc38-3aec-48a5-a693-fbfac59dd0ed.woff") format("woff"), url("Fonts/2974017c-634d-4238-9381-e3f0b95a150c.ttf") format("truetype"), url("Fonts/0b4cc213-f9e9-4cb1-aa3c-64e91a1328dc.svg#0b4cc213-f9e9-4cb1-aa3c-64e91a1328dc") format("svg"); }

@font-face {
  font-family: 'American Captain Regular';
  src: url('fonts/american_captain-webfont.eot');
  src: url('fonts/american_captain-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/american_captain-webfont.woff2') format('woff2'), url('fonts/american_captain-webfont.woff') format('woff'), url('fonts/american_captain-webfont.ttf') format('truetype'), url('fonts/american_captain-webfont.svg#american_captainregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir Next Cyr W00 Regular"; }

@font-face {
  font-family: "Avenir Next Cyr W00 Medium"; }

body {
  font-size: 1rem;
  height: 100%;
  color: #565451;
  font-family: 'Avenir Next Cyr W00 Regular', Helvetica, Arial; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }

h1 {
  text-decoration: none;
  font-family: 'American Captain Regular', Helvetica, Arial; }

a, a:link, a:visited {
  color: #555450; }

a:hover, a:focus {
  color: #f6a914; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.yellow-arrow-button, .yellow-arrow-button, input.yellow-arrow-button, button.yellow-arrow-button {
  color: #000; }

.yellow-arrow-button {
  font-size: 0.625rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-color: #f6a914;
  padding: 0 10px;
  margin: 0 8px;
  position: relative; }
  .yellow-arrow-button:before {
    content: "";
    width: 0;
    height: 0;
    border: 12px solid #f6a914;
    border-left: 4px solid transparent;
    border-right: none;
    position: absolute;
    top: 0;
    left: -4px; }
  .yellow-arrow-button:after {
    content: "";
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left: 4px solid #f6a914;
    position: absolute;
    top: 0;
    right: -16px; }
  .yellow-arrow-button:hover, .yellow-arrow-button:focus {
    background-color: #f7b22d; }
    .yellow-arrow-button:hover:before, .yellow-arrow-button:focus:before {
      border-color: #f7b22d;
      border-left-color: transparent; }
    .yellow-arrow-button:hover:after, .yellow-arrow-button:focus:after {
      border-color: transparent;
      border-left-color: #f7b22d; }

header {
  padding: 5px 0;
  background-color: #222; }
  header h1 {
    padding: 12px 15px; }
    header h1 a img {
      width: 225px;
      margin-top: 5px; }
    header h1 .search-toggle {
      position: absolute;
      right: 15px;
      padding-right: 5px;
      color: white;
      font-size: 30px; }
  header .cart-navbar {
    background-color: #2f2f2f;
    border-bottom: 1px solid #fff;
    padding: 5px 10px 10px 10px; }
    header .cart-navbar ul {
      text-align: right; }
    header .cart-navbar li {
      list-style: none;
      display: inline;
      padding-left: 5px; }
      header .cart-navbar li a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        box-shadow: none;
        background: none;
        padding: 0 3px;
        font-weight: normal; }
    header .cart-navbar .ico-cart {
      background: url(/Themes/MGR/Content/images/shopping-cart.png) no-repeat;
      padding-left: 27px;
      /*height:21px;*/
      /*width:23px;*/ }

.big-red {
  color: #b10001; }

footer {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #f1eae2;
  text-align: center; }
  footer ul {
    margin-left: 0;
    margin-bottom: 10px; }
  footer li {
    display: inline;
    padding: 0 0.25em; }
    footer li a {
      text-decoration: underline; }
  footer a, footer a:visited {
    font-size: 0.5rem;
    text-decoration: none;
    color: #565451; }
  footer a:hover, footer a:focus {
    color: #f6a914; }

.all-caps {
  text-transform: uppercase; }

/* SEARCH BOX */
/* ================================================= */
.search-box {
  padding: 2px 15px 2px 15px;
  font-size: 0.875rem; }
  .search-box input, .search-box select, .search-box button {
    font-size: 1rem; }
  .search-box button {
    text-decoration: none; }
  .search-box .search-button {
    border-radius: 0;
    box-shadow: none;
    padding: 7px 8px;
    font-size: 0.8125rem;
    background-color: #565451;
    text-transform: uppercase;
    font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
  .search-box .advanced-search {
    display: inline-block;
    right: 15px;
    width: 100%; }
    .search-box .advanced-search #orAdvancedSearch {
      color: white;
      text-align: center;
      font-size: 0.8125rem;
      margin: 4px 0; }
    .search-box .advanced-search #advancedSearchButton {
      width: 100%;
      display: block;
      padding: 5px 0;
      text-transform: uppercase;
      background-color: #f6a914;
      border-radius: 0;
      font-size: 0.875rem;
      font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
    .search-box .advanced-search #advanced-search-wrapper {
      font-size: 0.875rem;
      background-color: #f6a914;
      padding: 3px 10px 6px 10px;
      box-shadow: 1px 2px 0; }
      .search-box .advanced-search #advanced-search-wrapper .line-section {
        margin: 5px 0; }
      .search-box .advanced-search #advanced-search-wrapper .button-section {
        padding-top: 5px;
        text-align: right; }
      .search-box .advanced-search #advanced-search-wrapper .input-label {
        color: #222;
        margin-bottom: 2px; }
      .search-box .advanced-search #advanced-search-wrapper input, .search-box .advanced-search #advanced-search-wrapper select {
        box-shadow: none;
        width: 100%;
        margin: 0; }
      .search-box .advanced-search #advanced-search-wrapper .short-box, .search-box .advanced-search #advanced-search-wrapper .short-select {
        width: 85px; }
      .search-box .advanced-search #advanced-search-wrapper select {
        overflow: hidden; }
        .search-box .advanced-search #advanced-search-wrapper select option {
          width: 100%; }
      .search-box .advanced-search #advanced-search-wrapper .price-reduction .price-reduction-left, .search-box .advanced-search #advanced-search-wrapper .price-reduction .price-reduction-right {
        display: inline-block;
        vertical-align: middle; }
      .search-box .advanced-search #advanced-search-wrapper .price-reduction .price-reduction-left input[type=checkbox] {
        margin: 1em 0;
        width: 20px;
        height: 20px; }
      .search-box .advanced-search #advanced-search-wrapper .price-reduction .price-reduction-right {
        padding: 7px 0; }

.message-error {
  margin: 20px 0;
  font-size: 0.75rem;
  color: #a51700; }

.search-result-message {
  text-align: center;
  margin: 10px 0;
  font-style: italic; }

/* HOME PAGE */
/* =================================================== */
#locationSearch {
  text-align: center; }
  #locationSearch label {
    font-size: 2rem;
    font-family: 'American Captain Regular', Helvetica, Arial;
    color: #a51700;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block; }

.no-edge {
  margin: 0 15px; }

div.validation-summary-errors {
  margin-bottom: 15px; }
  div.validation-summary-errors li {
    color: red; }

.login-page .login-title, .login-page .register-title {
  font-size: 16px;
  font-weight: bold; }
.login-page .returning-wrapper .login-block input {
  margin: 3px 0; }
.login-page .returning-wrapper .login-block input[type=checkbox] {
  width: 18px;
  height: 18px;
  margin: 9px 0 0 0;
  vertical-align: text-bottom;
  box-shadow: none; }
.login-page .returning-wrapper .login-block input[type=submit] {
  margin: 20px 0;
  padding: 5px 45px; }
.login-page .new-wrapper {
  margin-top: 15px; }
  .login-page .new-wrapper .buttons {
    margin: 6px auto;
    text-align: center; }
    .login-page .new-wrapper .buttons a[data-role=button] {
      display: block;
      float: left;
      text-decoration: none;
      color: white;
      padding: 8px 10px;
      margin-right: 15px;
      width: 100px;
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px; }
      .login-page .new-wrapper .buttons a[data-role=button]#register {
        line-height: 28px; }
      .login-page .new-wrapper .buttons a[data-role=button]#checkoutAsGuest {
        line-height: 14px; }

.enter-address-title, .select-address-title {
  margin-bottom: 10px;
  font-size: 20px; }

#createUpdateAddress {
  margin-bottom: 10px; }
  #createUpdateAddress .singlerow {
    margin: 3px 0;
    vertical-align: baseline; }
    #createUpdateAddress .singlerow label {
      width: 100px;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top; }
    #createUpdateAddress .singlerow select {
      width: 168px; }
  #createUpdateAddress input {
    margin: 3px 0; }
  #createUpdateAddress input[type=text] {
    width: 270px; }
  #createUpdateAddress .field-validation-error {
    display: block;
    color: red;
    font-style: italic; }

.address-item .select-button a {
  box-shadow: none;
  text-shadow: none;
  background: none; }

.shipping-options .shipping-option-item {
  margin-bottom: 5px; }
  .shipping-options .shipping-option-item .option-name {
    font-size: 16px;
    font-weight: bold;
    display: inline-block; }
    .shipping-options .shipping-option-item .option-name input[type=radio] {
      vertical-align: middle;
      box-shadow: none; }
    .shipping-options .shipping-option-item .option-name label {
      position: relative;
      vertical-align: middle; }
  .shipping-options .shipping-option-item .option-description {
    margin-left: 1.2em; }

.checkout-notes {
  margin: 15px 0; }
  .checkout-notes .location-message {
    font-style: italic; }
  .checkout-notes ul#storeList {
    margin-top: 10px; }
    .checkout-notes ul#storeList li {
      padding: 5px 0; }
      .checkout-notes ul#storeList li .pickup-only-warning {
        color: red; }
      .checkout-notes ul#storeList li .store-name {
        font-weight: bold; }

.payment-info .singlerow {
  margin: 3px 0;
  vertical-align: baseline; }
  .payment-info .singlerow label {
    width: 130px;
    display: inline-block;
    margin-right: 10px;
    float: left; }
  .payment-info .singlerow select {
    width: 168px; }
.payment-info input, .payment-info select {
  margin: 3px 0;
  font-size: 14px; }
.payment-info #CardholderName, .payment-info #CardNumber, .payment-info #CardCode {
  width: 250px; }

.confirm-order {
  margin-bottom: 15px; }

/* NAVIGATION LIST */
/* =================================================== */
nav ul, [data-role="nav"] ul {
  border-top: solid 1px #ddd6cd;
  border-bottom: solid 1px #ddd6cd; }
nav a, [data-role="nav"] a {
  padding: 24px 10px 24px 18px;
  display: block;
  font-size: 0.75rem;
  background-color: #f1eae2;
  font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
  text-transform: uppercase;
  border-top: solid 1px #ddd6cd;
  border-bottom: solid 1px #ddd6cd;
  text-decoration: none;
  color: #565451; }
nav a:hover, nav a:focus, [data-role="nav"] a:hover, [data-role="nav"] a:focus {
  color: #f6a914; }

.order-summary-content .cart li input {
  font-size: 14px; }
.order-summary-content .cart li input[type=text] {
  width: 40px;
  text-align: right; }
.order-summary-content .cart-item-row .info, .order-summary-content .cart-item-row .actions {
  display: inline-block;
  vertical-align: bottom; }
.order-summary-content .cart-item-row .product, .order-summary-content .cart-item-row .sku, .order-summary-content .cart-item-row .quantity, .order-summary-content .cart-item-row .unitprice, .order-summary-content .cart-item-row .totalprice, .order-summary-content .cart-item-row .updateitem, .order-summary-content .cart-item-row .remove {
  margin-bottom: 10px; }
.order-summary-content .cart-item-row .product {
  text-transform: uppercase;
  font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
  width: 200px; }
.order-summary-content .cart-item-row .sku {
  font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
.order-summary-content .cart-item-row .unitprice, .order-summary-content .cart-item-row .totalprice {
  font-family: 'American Captain Regular', Helvetica, Arial;
  text-transform: uppercase;
  color: #a51700; }
.order-summary-content .cart-item-row .unitprice {
  font-size: 1.25rem; }
.order-summary-content .cart-item-row .totalprice {
  font-size: 1.25rem; }

.cart-footer {
  background-color: #f1eae2; }
  .cart-footer .total-info {
    border-bottom: 2px solid #ddd6cd;
    padding: 20px; }
    .cart-footer .total-info table.cart-total {
      font-size: 0.875rem;
      margin-left: auto; }
      .cart-footer .total-info table.cart-total .cart-total-left, .cart-footer .total-info table.cart-total .cart-total-right {
        vertical-align: text-bottom;
        padding-bottom: 4px; }
      .cart-footer .total-info table.cart-total .cart-total-left {
        padding-right: 5px;
        text-transform: uppercase;
        font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
      .cart-footer .total-info table.cart-total .cart-total-right {
        text-align: right; }
      .cart-footer .total-info table.cart-total .order-total {
        font-family: 'American Captain Regular', Helvetica, Arial;
        font-size: 2rem;
        color: #a51700;
        text-transform: uppercase; }
  .cart-footer .buttons {
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #ddd6cd; }
    .cart-footer .buttons .yellow-arrow-button {
      padding: 0 75px; }
    .cart-footer .buttons input[type=submit].continuebutton {
      background: none;
      text-transform: uppercase;
      font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
      color: #565451;
      text-decoration: underline;
      font-size: 0.875rem; }
      .cart-footer .buttons input[type=submit].continuebutton:hover, .cart-footer .buttons input[type=submit].continuebutton:focus {
        color: #f6a914; }
    .cart-footer .buttons .checkout-buttons {
      margin-bottom: 20px; }
  .cart-footer .real-submit {
    display: none; }

ul[data-role=listview] {
  border-top: solid 1px #ddd6cd;
  border-bottom: solid 1px #ddd6cd;
  margin: 0; }
  ul[data-role=listview] li {
    font-size: 0.875rem;
    padding: 20px;
    border-top: solid 1px #ddd6cd;
    border-bottom: solid 1px #ddd6cd;
    list-style: none; }
    ul[data-role=listview] li a {
      background: none;
      display: block;
      border: none;
      padding: 0;
      font-size: 1rem;
      text-decoration: none; }

div.product-list a {
  text-decoration: none;
  color: black; }
div.product-list ul li {
  padding: 0; }
div.product-list li .product-box {
  background-color: #f1eae2;
  padding: 10px;
  font-size: 14px; }
  div.product-list li .product-box .product-image {
    float: left;
    width: 110px;
    position: relative;
    /*overflow:hidden;*/ }
    div.product-list li .product-box .product-image img {
      width: 110px;
      height: 110px; }
    div.product-list li .product-box .product-image .clearance-tag, div.product-list li .product-box .product-image .special-price-tag {
      font-size: 0.5rem;
      line-height: 0.75rem;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      color: #fff;
      width: 84px;
      text-align: center; }
      div.product-list li .product-box .product-image .clearance-tag:before, div.product-list li .product-box .product-image .clearance-tag:after, div.product-list li .product-box .product-image .special-price-tag:before, div.product-list li .product-box .product-image .special-price-tag:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        position: relative;
        top: 11px; }
      div.product-list li .product-box .product-image .clearance-tag:before, div.product-list li .product-box .product-image .special-price-tag:before {
        border-width: 12px 0 0 6px;
        left: -7px; }
      div.product-list li .product-box .product-image .clearance-tag:after, div.product-list li .product-box .product-image .special-price-tag:after {
        right: -7px;
        border-width: 12px 6px 0 0; }
    div.product-list li .product-box .product-image .clearance-tag {
      background-color: #a51700; }
      div.product-list li .product-box .product-image .clearance-tag:before, div.product-list li .product-box .product-image .clearance-tag:after {
        border-color: #a51700 transparent transparent transparent; }
    div.product-list li .product-box .product-image .special-price-tag {
      background-color: #f6a914; }
      div.product-list li .product-box .product-image .special-price-tag:before, div.product-list li .product-box .product-image .special-price-tag:after {
        border-color: #f6a914 transparent transparent transparent; }
  div.product-list li .product-box .product-info {
    margin-left: 110px;
    margin-right: 35px;
    padding: 0 0 0 10px;
    text-transform: uppercase; }
    div.product-list li .product-box .product-info .product-title {
      font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
      font-size: 0.75rem;
      font-weight: normal;
      margin-bottom: 8px; }
    div.product-list li .product-box .product-info .product-location {
      font-weight: normal;
      font-size: 0.75rem;
      font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
    div.product-list li .product-box .product-info .product-prices {
      font-family: 'American Captain Regular', Helvetica, Arial;
      font-size: 1.375rem;
      font-weight: normal;
      color: #a51700;
      margin-top: 5px; }
      div.product-list li .product-box .product-info .product-prices .old-product-price {
        text-decoration: line-through;
        text-shadow: none; }

div.pager {
  padding-top: 15px;
  text-align: center;
  font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
  font-size: 1rem;
  text-transform: uppercase;
  color: #f6a914;
  background-color: #f1eae2; }
  div.pager a {
    padding: 0 6px; }

.product-details-page .page-title h1.product-name {
  font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
  text-align: left;
  color: #565451;
  letter-spacing: unset;
  font-size: 1.25rem;
  margin: 20px 0; }

.product-essential {
  padding: 10px; }
  .product-essential .pictures-container .picture-slides {
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 480px; }
    .product-essential .pictures-container .picture-slides .slides-wrapper {
      overflow: hidden;
      position: relative; }
      .product-essential .pictures-container .picture-slides .slides-wrapper .slide-image {
        float: left;
        width: 100%;
        position: relative;
        overflow: hidden; }
  .product-essential .pictures-container ul.pictures-pagination {
    margin: 6px auto 0 auto;
    display: block;
    width: 95%;
    text-align: center; }
    .product-essential .pictures-container ul.pictures-pagination li.selected-dot {
      background-color: #f6a914; }
    .product-essential .pictures-container ul.pictures-pagination li {
      background-color: #f1eae2;
      width: 0.625rem;
      height: 0.625rem;
      border: 0;
      margin: 0 1px;
      border-radius: 2rem;
      list-style: none;
      display: inline-block;
      float: none; }
  .product-essential .product-details {
    /*margin-left:$default_picture_size;*/ }

.product-collateral {
  padding: 0 0 10px 0; }
  .product-collateral .product-variant-line {
    margin: 10px 0;
    padding: 0 10px; }
    .product-collateral .product-variant-line .price-sku-container {
      text-align: left;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between; }
      .product-collateral .product-variant-line .price-sku-container .product-price-container, .product-collateral .product-variant-line .price-sku-container .sku-container {
        flex-grow: 1; }
      .product-collateral .product-variant-line .price-sku-container .product-price-container .product-price {
        font-family: 'American Captain Regular', Helvetica, Arial;
        font-size: 1.75rem;
        color: #a51700; }
      .product-collateral .product-variant-line .price-sku-container .product-price-container .old-product-price {
        text-decoration: line-through; }
      .product-collateral .product-variant-line .price-sku-container .sku-container {
        text-align: right;
        font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
        .product-collateral .product-variant-line .price-sku-container .sku-container .sku {
          font-size: 0.75rem; }
    .product-collateral .product-variant-line .add-to-cart-container {
      text-align: center;
      margin-bottom: 25px; }
      .product-collateral .product-variant-line .add-to-cart-container .add-to-cart {
        margin-top: 30px; }
        .product-collateral .product-variant-line .add-to-cart-container .add-to-cart .yellow-arrow-button {
          padding: 0 50px; }
        .product-collateral .product-variant-line .add-to-cart-container .add-to-cart .product-detail-instore {
          font-size: 0.75rem;
          text-transform: uppercase;
          font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
          margin-top: 15px; }
  .product-collateral .product-details {
    position: relative;
    margin-bottom: 50px;
    padding: 0 10px; }
    .product-collateral .product-details .long-description-title {
      position: relative;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
      text-align: center;
      opacity: 0.6; }
    .product-collateral .product-details .long-description {
      max-height: 125px;
      overflow: hidden;
      padding: 0 5px;
      font-size: 12px;
      font-size: small; }
      .product-collateral .product-details .long-description.expand {
        max-height: none; }
    .product-collateral .product-details .show-more {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-top: 30px;
      background: linear-gradient(to bottom, rgba(233, 229, 226, 0.4) 0, #fff 100%);
      text-align: center;
      text-decoration: underline; }
      .product-collateral .product-details .show-more.expand {
        background: none; }
      .product-collateral .product-details .show-more span {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        top: 1.5em;
        text-align: center;
        padding: 2px 5px;
        cursor: pointer;
        opacity: 0.6; }
  .product-collateral .product-detail-location {
    border-top: 2px solid #ddd6cd;
    font-size: 1rem;
    padding: 20px 10px 0; }
    .product-collateral .product-detail-location .location-address {
      line-height: 16px;
      padding-bottom: 2px; }
      .product-collateral .product-detail-location .location-address .location-address-line {
        text-align: left;
        font-size: 0.75rem; }
      .product-collateral .product-detail-location .location-address .location-address-title {
        font-size: 0.8125rem;
        text-transform: uppercase;
        font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
        margin-bottom: 4px; }
    .product-collateral .product-detail-location .location-actions {
      color: #565451;
      text-align: center;
      margin-bottom: 20px; }
      .product-collateral .product-detail-location .location-actions a {
        text-decoration: none;
        text-transform: uppercase;
        display: block; }
      .product-collateral .product-detail-location .location-actions a:hover, .product-collateral .product-detail-location .location-actions a:focus {
        color: #f6a914; }
      .product-collateral .product-detail-location .location-actions .location-action-block {
        width: 20%;
        display: inline-block; }
        .product-collateral .product-detail-location .location-actions .location-action-block [class^=ico-] {
          width: 24px;
          height: 24px;
          background-size: cover;
          display: inline-block; }
        .product-collateral .product-detail-location .location-actions .location-action-block .ico-email {
          background-image: url('/Themes/MGR/Content/images/icon-email.png'); }
        .product-collateral .product-detail-location .location-actions .location-action-block .ico-phone {
          background-image: url('/Themes/MGR/Content/images/icon-phone.png'); }
        .product-collateral .product-detail-location .location-actions .location-action-block .ico-hours {
          background-image: url('/Themes/MGR/Content/images/icon-hours.png'); }
        .product-collateral .product-detail-location .location-actions .location-action-block .ico-map {
          background-image: url('/Themes/MGR/Content/images/icon-map.png'); }
        .product-collateral .product-detail-location .location-actions .location-action-block .location-action-text {
          margin: 6px 0;
          font-size: 0.875rem;
          font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
  .product-collateral .product-detail-shipping-text {
    font-size: 12px;
    color: #303030;
    text-align: center;
    padding-top: 10px; }
  .product-collateral .related-products-grid {
    margin-top: 25px; }

.order-details .page-body {
  border: solid 1px #ddd6cd;
  padding: 10px; }
.order-details .section-title {
  font-weight: bold;
  margin: 5px 0 2px 0; }
.order-details .order-summary-content .cart ul {
  margin: 0 0 10px 0; }
.order-details .order-summary-content .cart ul li {
  padding: 3px 0; }

/* FORMS */
/* =================================================== */
form .one-line-search-bar {
  display: flex;
  background-color: #fff; }
  form .one-line-search-bar label, form .one-line-search-bar input, form .one-line-search-bar button {
    font-size: 0.75rem;
    line-height: 1.25rem; }
  form .one-line-search-bar label {
    padding: 6px 5px 6px 10px;
    font-weight: bold;
    font-size: 0.8125rem;
    letter-spacing: 0.03125rem; }
  form .one-line-search-bar input.search-box-text {
    padding: 6px;
    flex-grow: 1;
    width: auto;
    border-right: none; }
  form .one-line-search-bar button.search-button {
    padding: 0 8px;
    font-weight: bold;
    font-size: 1rem;
    color: #f6a914;
    background-color: #f1eae2;
    border: 1px solid #ddd6cd;
    border-left: none; }
    form .one-line-search-bar button.search-button .icon {
      -moz-transform: rotate(-10deg) translate(-1px, 2px);
      -ms-transform: rotate(-10deg) translate(-1px, 2px);
      -o-transform: rotate(-10deg) translate(-1px, 2px);
      -webkit-transform: rotate(-10deg) translate(-1px, 2px);
      transform: rotate(-10deg) translate(-1px, 2px);
      display: inline-block; }

button, input[type=submit], input[type=button], [data-role=button] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
  border: none;
  background-color: #f6a914;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 20px; }

button.secondary, input[type=submit].secondary, input[type=button].secondary {
  background: #949BA5;
  /* old browsers */
  background: -moz-linear-gradient(top, #949BA5 0%, #646D7A 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #949BA5), color-stop(100%, #646D7A));
  /* webkit */ }

input, select {
  padding: 5px;
  background: #fff;
  color: #565451;
  vertical-align: baseline;
  border: 1px solid #ddd6cd; }

.page .page-title {
  margin: 15px; }
  .page .page-title h1 {
    color: #a51700;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: 'American Captain Regular', Helvetica, Arial;
    letter-spacing: 0.125rem;
    text-align: center;
    font-weight: normal; }
    .page .page-title h1 a {
      color: #f6a914; }

#content section, .section {
  margin: 15px; }
  #content section h1, .section h1 {
    color: #a51700;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'American Captain Regular', Helvetica, Arial;
    letter-spacing: 0.125rem;
    text-align: center;
    font-weight: normal; }
    #content section h1 a, .section h1 a {
      color: #f6a914; }
  #content section p, #content section li, .section p, .section li {
    margin-top: 0.75em;
    line-height: 150%; }
  #content section p:first-of-type, #content section li:first-of-type, .section p:first-of-type, .section li:first-of-type {
    margin-top: 0; }
  #content section ol, .section ol {
    margin-top: 0.75em;
    margin-left: 2em; }

/* GEAR SEARCH FORM */
/* =================================================== */
#search-gear fieldset {
  margin-top: 8px; }
  #search-gear fieldset #ks input {
    margin-right: 7px; }
#search-gear input.price {
  width: 4.3em; }
#search-gear input {
  width: 12em; }
#search-gear select {
  width: 12.6em; }
#search-gear .form-field {
  margin-bottom: 10px; }
#search-gear .image-preload {
  background-image: url(../Content/mobile-images/selectCheck.png);
  display: none; }
#search-gear .form-field.custom-checkbox {
  padding: 3px 0px;
  width: 228px;
  background: #bcbec0;
  /* old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #d4d5d7 50%, #bcbec0 51%, #bec0c2 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(50%, #d4d5d7), color-stop(51%, #bcbec0), color-stop(100%, #bec0c2));
  /* webkit */
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #6a6b6d;
  font-size: 13px;
  font-weight: bold; }
  #search-gear .form-field.custom-checkbox label {
    display: table-cell;
    width: 178px;
    letter-spacing: -0.5pt;
    vertical-align: middle;
    text-align: right;
    padding: 6px 10px 6px 0px; }
  #search-gear .form-field.custom-checkbox span {
    display: table-cell;
    width: 42px;
    height: 17px; }
#search-gear .form-field.custom-checkbox.selected {
  background: #fdcb39;
  /* old browsers */
  background: -moz-linear-gradient(top, #fdcb39 0%, #ffd75a 50%, #f3bd2a 51%, #fbc633 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdcb39), color-stop(50%, #ffd75a), color-stop(51%, #f3bd2a), color-stop(100%, #fbc633));
  /* webkit */ }
  #search-gear .form-field.custom-checkbox.selected label {
    color: #030303; }
  #search-gear .form-field.custom-checkbox.selected span {
    background: transparent url(../Content/mobile-images/selectCheck.png) no-repeat;
    background-position: 10px center;
    background-size: 26px 26px; }

/* GIFT CARD IMAGE */
/* =================================================== */
#gift-cards img {
  float: left;
  margin-right: 10px; }

/* STORE SEARCH RESULTS */
/* =================================================== */
#internalWrapper {
  margin: 15px; }

.results {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: solid 1px #ddd6cd;
  border-bottom: solid 1px #ddd6cd; }
  .results li {
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: #f1eae2; }
  .results .adr, .results .gear {
    padding: 16px 18px;
    display: block;
    color: #565451;
    font-size: 0.875rem;
    border-top: solid 1px #ddd6cd;
    border-bottom: solid 1px #ddd6cd;
    text-decoration: none; }
    .results .adr .locality, .results .gear .locality {
      font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
      font-size: 1rem;
      text-transform: uppercase; }
    .results .adr a, .results .adr a:visited, .results .gear a, .results .gear a:visited {
      color: #565451;
      text-decoration: none; }
    .results .adr a:hover, .results .adr a:focus, .results .gear a:hover, .results .gear a:focus {
      color: #f6a914; }
    .results .adr .map, .results .gear .map {
      margin-left: 8px;
      text-decoration: underline; }
    .results .adr .tel, .results .gear .tel {
      text-decoration: underline; }
  .results .line {
    display: block; }
  .results .gear {
    height: 45px; }
    .results .gear img {
      display: block;
      float: left;
      margin-right: 8px; }
    .results .gear .info {
      margin-left: 68px;
      margin-right: 40px; }
    .results .gear .description {
      color: white;
      font-weight: bold; }
    .results .gear .price {
      color: #adbacb;
      font-size: 90%; }

#gear-search-results h1 {
  font-size: 80%; }

/* STORE DETAIL PAGE */
/* =================================================== */
#store-photo, #store-address {
  display: inline-block;
  vertical-align: top; }
  #store-photo #distance, #store-address #distance {
    color: rgba(0, 0, 0, 0.5); }
  #store-photo .social-media-icon, #store-address .social-media-icon {
    display: inline-block;
    top: -6px;
    margin-right: 3px;
    position: relative;
    font-size: 0; }

#store-photo {
  margin: 5px 15px 0 0;
  max-width: 100px; }

#store-photo-large {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  #store-photo-large img {
    margin: 2.5%;
    min-width: 95%;
    max-width: 95%; }

#contact-links {
  margin: 15px 0;
  padding: 0;
  text-align: center; }
  #contact-links li {
    display: inline-block;
    margin-right: 8px; }
  #contact-links a {
    display: block;
    background-color: #f6a914;
    padding: 6px 9px;
    font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem; }

#store-hours {
  line-height: 150%; }
  #store-hours caption {
    text-align: left;
    font-weight: bold; }
  #store-hours th {
    text-align: right;
    padding-right: 4pt;
    font-weight: normal; }
  #store-hours td {
    text-align: right;
    padding-left: 4pt; }

.personal-info input, .personal-info select {
  margin: 3px 0; }
.personal-info .singlerow label {
  padding-top: 12px;
  display: inline-block;
  margin-right: 10px;
  width: 60px;
  vertical-align: top; }
.personal-info .singlerow div {
  max-width: 200px;
  display: inline-block; }
.personal-info .singlerow select {
  display: inline-block; }

.related-products-grid {
  margin: 10px 0;
  border-top: 2px solid #ddd6cd; }
  .related-products-grid .title {
    background: #f1eae2;
    font-family: 'American Captain Regular', Helvetica, Arial;
    color: #565451;
    text-align: center;
    font-size: 1.75rem;
    line-height: 4.25rem;
    text-transform: uppercase; }

/* GEAR DETAIL PAGE */
/* =================================================== */
#gear-detail h1 {
  padding-left: 4px;
  color: white !important;
  font-size: 18px !important;
  font-weight: bold; }
#gear-detail h2 {
  padding-left: 4px;
  color: #d00e42;
  font-size: 12px;
  font-weight: normal; }
#gear-detail img {
  float: left; }
#gear-detail #contact-links {
  margin-top: 6px; }
  #gear-detail #contact-links li {
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0; }
    #gear-detail #contact-links li a {
      padding: 4px; }
#gear-detail p {
  font-size: 11px; }
#gear-detail #long-description {
  font-size: 14px; }
#gear-detail #price-and-links {
  margin-top: 20px;
  padding-left: 150px; }

/* SORT BY */
/* ------------------------- */
.sort-filter-bar {
  width: 100%;
  background-color: #f6a914;
  box-shadow: rgba(128, 128, 128, 0.75) 1px 1px 2px;
  text-align: center;
  color: white; }
  .sort-filter-bar select {
    display: none; }
  .sort-filter-bar .sort-by {
    width: 100%;
    height: 100%;
    padding: 5px 0; }
  .sort-filter-bar .filter-by {
    border-left: solid 1px #ddd6cd;
    padding: 5px 0;
    height: 100%;
    float: right;
    width: 50%; }

.order-review-data-box, .order-details-box {
  padding: 0 10px; }
  .order-review-data-box .billinginfo, .order-review-data-box .shippinginfo, .order-details-box .billinginfo, .order-details-box .shippinginfo {
    margin-bottom: 15px; }
    .order-review-data-box .billinginfo .payment-method, .order-review-data-box .billinginfo .shipping-method, .order-review-data-box .shippinginfo .payment-method, .order-review-data-box .shippinginfo .shipping-method, .order-details-box .billinginfo .payment-method, .order-details-box .billinginfo .shipping-method, .order-details-box .shippinginfo .payment-method, .order-details-box .shippinginfo .shipping-method {
      margin-top: 10px; }

.treefort-modal {
  text-align: center;
  text-decoration: none;
  background-color: white;
  overflow: hidden;
  display: none;
  min-width: 80%;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  max-height: 85%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); }
  .treefort-modal .title {
    font-size: 16px;
    padding: 12px 0;
    border-bottom: solid 1px #ddd6cd;
    font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
  .treefort-modal .options-list {
    margin-bottom: 10px;
    position: relative;
    overflow: auto; }
    .treefort-modal .options-list .option {
      display: block;
      padding: 10px 10px;
      border-bottom: solid 1px #ddd6cd;
      background-color: #f1eae2;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
      .treefort-modal .options-list .option:hover, .treefort-modal .options-list .option:active {
        background-color: #f6a914; }
      .treefort-modal .options-list .option.selected {
        font-family: 'Avenir Next Cyr W00 Medium', Helvetica, Arial; }
      .treefort-modal .options-list .option.red {
        color: #a51700; }
  .treefort-modal .close {
    text-align: center;
    cursor: pointer;
    color: white;
    margin-bottom: 10px; }
    .treefort-modal .close .close-button {
      background-color: #f6a914;
      font-size: 14px;
      padding: 8px 15px; }

.treefortmodal-overlay, .overlay {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }

#paypal_form {
  visibility: hidden; }

#twitterIcon {
  width: 18px;
  height: 18px;
  background: transparent url(/Themes/MGR/Content/images/ico-twitter-blue.png) no-repeat;
  background-size: 18px 18px; }

#facebookIcon {
  width: 18px;
  height: 18px;
  background: transparent url(/Themes/MGR/Content/images/facebook.png) no-repeat;
  background-size: 18px 18px; }

#foursquareIcon {
  width: 18px;
  height: 18px;
  background: transparent url(../Content/mobile-images/foursquare.png) no-repeat;
  background-size: 18px 18px; }

#youtubeIcon {
  width: 36px;
  height: 18px;
  background: transparent url(../Content/mobile-images/youtube.png) no-repeat;
  background-size: 36px 18px; }

#myspaceIcon {
  width: 18px;
  height: 18px;
  background: transparent url(../Content/mobile-images/myspace.png) no-repeat;
  background-size: 18px 18px; }

/*
 * Media queries for responsive design
 */
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; }
 }

/* For hi-resolution devices */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #detect-location span {
    background-image: url(../Content/mobile-images/detect-location-hi.png); }

  #search-gear .image-preload {
    background-image: url(../Content/mobile-images/selectCheck-hi.png); }

  #search-gear .form-field.custom-checkbox.selected span {
    background-image: url(../Content/mobile-images/selectCheck-hi.png); }

  #twitterIcon {
    width: 18px;
    height: 18px;
    background: transparent url(/Themes/MGR/Content/images/ico-twitter-blue.png) no-repeat;
    background-size: 18px 18px; }

  #facebookIcon {
    width: 18px;
    height: 18px;
    background: transparent url(/Themes/MGR/Content/images/facebook.png) no-repeat;
    background-size: 18px 18px; }

  #foursquareIcon {
    width: 18px;
    height: 18px;
    background: transparent url(../Content/mobile-images/hi-res/foursquare.png) no-repeat;
    background-size: 18px 18px; }

  #youtubeIcon {
    width: 36px;
    height: 18px;
    background: transparent url(../Content/mobile-images/hi-res/youtube.png) no-repeat;
    background-size: 36px 18px; }

  #myspaceIcon {
    width: 18px;
    height: 18px;
    background: transparent url(../Content/mobile-images/hi-res/myspace.png) no-repeat;
    background-size: 18px 18px; }
 }
