﻿<div id="{{containerId}}" class="advanced-search-box" ng-show="homepageSearch != 'true' || gsAdv.showHomepageSearch" ng-cloak>
    <div class="advanced-search-wrapper centerwrapper">
        <form action="@Url.Action("Search", "Catalog")" method="GET" id="productAdvancedSearch{{formIdSeed}}" ng-submit="submitForm({ev:$event})">

            <input type="hidden" name="Advanced" ng-value="true" />
            <input type="hidden" id="sid{{formIdSeed}}" name="Sid" ng-value="search.Sid" />

            <div class="search-text-wrapper">
                <label for="advancedSearchText{{formIdSeed}}" class="search-label">Search Gear</label>
                <input type="text" id="advancedSearchText{{formIdSeed}}" name="Q" class="search-box-text" ng-model="search.Q" placeholder="Keyword, Brand, Model..." />
                <button type="submit" class="search-icon-button" id="searchButton{{formIdSeed}}">
                    <span class="icon icon-search"><span class="sr-only">Search</span></span>
                </button>
            </div>

            <div class="main-categories">
                <ul>
                    <li ng-repeat="co in search.CategoryOptions">
                        <a ng-class="{'selected': co.Value==selectedMainCategory.Value}" ng-click="changeMainCategory(co.Value)" aria-selected="{{co.Value==selectedMainCategory.Value}}" href="" data-category-id="{{co.Value}}">{{co.Text}}</a>
                    </li>
                </ul>
            </div>

            <div class="advanced-search-options">
                <div class="category-panel option-panel">
                    <div class="panel-title">Category</div>
                    <div class="panel-content">
                        <input type="hidden" name="Cid" ng-value="search.Cid" />
                        <label for="categorySelector{{formIdSeed}}" class="sr-only">Select a category</label>
                        <div id="categorySelector{{formIdSeed}}" class="custom-select-wrapper nano">
                            <div class="custom-select-inner nano-content">
                                <ul class="custom-select nano-content">
                                    <li ng-repeat="sc in selectedMainCategory.AvailableCategories" ng-init="resetScrollbar($last, '.category-panel .nano')" ng-show="selectedManufacturer.Value == 0 || selectedManufacturer.BrandListIds == null || selectedManufacturer.BrandListIds.indexOf(sc.BrandListId) > -1">
                                        <a href ng-class="{'selected': sc.Value==search.Cid}" aria-selected="{{sc.Value==search.Cid}}" ng-click="changeCategory(sc)" data-value="{{sc.Value}}">{{sc.Text}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brand-panel option-panel">
                    <div class="panel-title">Brand</div>
                    <div class="panel-content">
                        <input type="hidden" name="Mid" ng-value="search.Mid" />
                        <label for="brandSelector{{formIdSeed}}" class="sr-only">Select a brand</label>
                        <div id="brandSelector{{formIdSeed}}" class="custom-select-wrapper nano">
                            <div class="custom-select-inner nano-content">
                                <ul class="custom-select">
                                    <li ng-repeat="mn in search.AvailableManufacturers" ng-init="resetScrollbar($last, '.brand-panel .nano')" ng-show="search.Cid == 0 || mn.BrandListIds == null || mn.BrandListIds.indexOf(selectedCategory.BrandListId) > -1">
                                        <a href ng-class="{'selected': mn.Value==search.Mid}" aria-selected="{{mn.Value==search.Mid}}" ng-click="changeManufacturer(mn)" data-value="{{mn.Value}}">{{mn.Text}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-panel option-panel">
                    <div class="panel-title">Price</div>
                    <div class="panel-content">
                        <input type="hidden" name="Pf" ng-value="search.Pf" />
                        <input type="hidden" name="Pt" ng-value="search.Pt" />
                        <div class="price-select-wrapper">
                            <label class="price-label" for="allPriceRange{{formIdSeed}}">
                                <input id="allPriceRange{{formIdSeed}}" type="radio" name="priceRange" ng-click="changePrice('','')" ng-checked="!search.Pf && !search.Pt" />
                                <div class="price-option-button">
                                    <span class="sr-only">All price range</span>
                                    <div class="price-option-text-line">
                                        All
                                    </div>
                                </div>
                            </label>
                            <label class="price-label" for="0100priceRange{{formIdSeed}}">
                                <input id="0100priceRange{{formIdSeed}}" type="radio" name="priceRange" ng-click="changePrice('0','100')" ng-checked="search.Pf == '0' && search.Pt == '100'" />
                                <div class="price-option-button">
                                    <span class="sr-only">$0 to $100</span>
                                    <div class="price-option-text-line">
                                        $0
                                    </div>
                                    <div class="price-option-text-line divider"></div>
                                    <div class="price-option-text-line">
                                        $100
                                    </div>
                                </div>
                            </label>
                            <label class="price-label" for="100250priceRange{{formIdSeed}}">
                                <input id="100250priceRange{{formIdSeed}}" type="radio" name="priceRange" ng-click="changePrice('100','250')" ng-checked="search.Pf == '100' && search.Pt == '250'" />
                                <div class="price-option-button">
                                    <span class="sr-only">$10 to $250</span>
                                    <div class="price-option-text-line">
                                        $100
                                    </div>
                                    <div class="price-option-text-line divider"></div>
                                    <div class="price-option-text-line">
                                        $250
                                    </div>
                                </div>
                            </label>
                            <label class="price-label" for="250500priceRange{{formIdSeed}}">
                                <input id="250500priceRange{{formIdSeed}}" type="radio" name="priceRange" ng-click="changePrice('250','500')" ng-checked="search.Pf == '250' && search.Pt == '500'" />
                                <div class="price-option-button">
                                    <span class="sr-only">$250 to $500</span>
                                    <div class="price-option-text-line">
                                        $250
                                    </div>
                                    <div class="price-option-text-line divider"></div>
                                    <div class="price-option-text-line">
                                        $500
                                    </div>
                                </div>
                            </label>
                            <label class="price-label" for="5001000priceRange{{formIdSeed}}">
                                <input id="5001000priceRange{{formIdSeed}}" type="radio" name="priceRange" ng-click="changePrice('500','1000')" ng-checked="search.Pf == '500' && search.Pt == '1000'" />
                                <div class="price-option-button">
                                    <span class="sr-only">$500 to $1000</span>
                                    <div class="price-option-text-line">
                                        $500
                                    </div>
                                    <div class="price-option-text-line divider"></div>
                                    <div class="price-option-text-line">
                                        $1000
                                    </div>
                                </div>
                            </label>
                            <label class="price-label" for="1000plusPriceRange{{formIdSeed}}">
                                <input id="1000plusPriceRange{{formIdSeed}}" type="radio" name="priceRange" ng-click="changePrice('1000','')" ng-checked="search.Pf == '1000' && !search.Pt" />
                                <div class="price-option-button">
                                    <span class="sr-only">More than $1000</span>
                                    <div class="price-option-text-line">
                                        $1000+
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="custom-checkbox-wrapper">
                            <input type="checkbox" name="Cl" id="onlyPriceReduction{{formIdSeed}}" ng-model="search.Cl" value="true" />
                            <label for="onlyPriceReduction{{formIdSeed}}">Only Price Reductions</label>
                            <input type="hidden" value="false" name="Cl" />
                        </div>
                    </div>
                </div>
                @*<div class="color-panel option-panel">
                        <div class="panel-title">Color</div>
                        <div class="panel-content">
                            <div class="color-select-wrapper">
                                <label class="color-swatch-wrapper" ng-repeat="cs in search.ColorSwatches">
                                    <input type="radio" id="color{{cs.DrsColorAttribute}}{{formIdSeed}}" name="Dca" ng-model="search.Dca" value="{{cs.DrsColorAttribute}}" />
                                    <div class="color-swatch" ng-class="{'all': cs.Name == 'All', 'other': cs.Name == 'Other'}" ng-style="{'background-image': cs.Url, 'background-color': cs.BackgroundColor, 'Color': cs.Color}">
                                        <span class="sr-only">{{cs.Name}}</span>
                                        <div class="color-name">
                                            {{cs.Name}}
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>*@

                <div class="location-panel option-panel">
                    <div class="panel-title">Location</div>
                    <div class="panel-content">
                        <div class="distance-row">
                            <label class="sr-only" for="distance{{formIdSeed}}">Distance</label>
                            <select id="distance{{formIdSeed}}" class="custom-select-dropdown" name="Dist" ng-model="search.Dist">
                                <option ng-repeat="ds in search.AvailableDistances" value="{{ds.Value}}" ng-selected="ds.Value == search.Dist">{{ds.Text}}</option>
                            </select>
                            <label class="sr-only" for="zip{{formIdSeed}}">Zip code</label>
                            <input id="zip{{formIdSeed}}" name="Zip" type="text" placeholder="Zip Code" ng-model="search.Zip" />
                        </div>
                        <div class="custom-checkbox-wrapper">
                            <input type="checkbox" name="SortByClosest" id="sortByClosest{{formIdSeed}}" value="true" ng-model="search.SortByClosest" />
                            <label for="sortByClosest{{formIdSeed}}">Sort By Closest</label>
                        </div>
                        <input type="hidden" value="false" name="SortByClosest" />
                        <div class="or-row">Or</div>
                        <div class="store-row">
                            <div ng-if="search.IsCorporateSite">
                                <label class="sr-only" for="storeList{{formIdSeed}}">Store</label>
                                <select id="storeList{{formIdSeed}}" class="custom-select-dropdown" name="Sn" ng-model="search.Sn">
                                    <option disabled value="default" selected="selected">Search a Store</option>
                                    <option ng-repeat="st in search.Stores" value="{{st.Value}}" ng-selected="st.Value == search.Sn">{{st.Text}}</option>
                                </select>
                            </div>
                            <div ng-if="!search.IsCorporateSite">
                                <div class="custom-checkbox-wrapper">
                                    <input type="checkbox" name="AllStores" id="allStores{{formIdSeed}}" ng-model="search.AllStores" value="true" />
                                    <label for="allStores{{formIdSeed}}">Show results from all stores</label>
                                    <input type="hidden" name="AllStores" value="false"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="location-panel option-panel">
                    <div class="panel-content">
                        <div class="submit-row">
                            <input type="submit" class="advanced-search-button" id="btnAdvancedSearchSubmit{{formIdSeed}}" value="{{submitText}}" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
