﻿@model Nop.Web.Models.Catalog.SearchModel

<div id="advanced-search-wrapper" class="clearfix" style="display:none;">
    <script type="text/javascript" src="@Url.Content("~/Scripts/treefort/TreefortModal.js")"></script>
    <script type="text/javascript">
    </script>
    <div class="search-input advanced-search-options">
        @Html.Hidden("Advanced", true)
        @Html.Hidden("sid", true)
        
        <div class="line-section">
            <div class="input-label">
                <label for="aQ">Search for</label>
            </div>
            @Html.TextBoxFor(model => model.Q, new { @class = "as-input-box", placeholder = "keyword,brand,model,etc.", type = "search", id="aQ" })
        </div>
        <div class="line-section">
            @if (Model.AvailableCategories.Count > 0)
            {
                <div class="input-label">
                    @Html.LabelFor(model => model.Cid)
                </div>
                <div>
                    <div class="select-box">
                        @Html.DropDownListFor(model => model.Cid, Model.AvailableCategories, new {@class = "category-list-dropdown"})
                    </div>
                </div>
                <script type="text/javascript">
                    var categoryMs;
                    $(function () {
                        categoryMs = new ModalDropdown({
                            Selector: '.category-list-dropdown',
                            Title: 'Select Category'
                        });
                    });
                </script>
            }
        </div>

        <div class="line-section">
            @if (Model.AvailableManufacturers.Count > 0)
            {
                <div class="input-label">
                    @Html.LabelFor(model => model.Mid)
                </div>
                <div>
                    @Html.DropDownListFor(model => model.Mid, Model.AvailableManufacturers, new {@class = "brand-list-dropdown"})
                </div>
                <script type="text/javascript">
                    var brandMs;
                    $(function () {
                        brandMs = new ModalDropdown({
                            Selector: '.brand-list-dropdown',
                            Title: 'Select Brand'
                        });
                    });
                </script>
            }
        </div>

        <div class="line-section">
            <div class="input-label">
                <label for="Pf">Price</label>
            </div>
            <div>
                @Html.TextBoxFor(model => model.Pf, new { @class = "short-box", placeholder = "$0", type = "number" })
                <label for="Pt" class="in-between-inputs">to</label>
                @Html.TextBoxFor(model => model.Pt, new { @class = "short-box", type = "number" })
            </div>
        </div>

        <div class="price-reduction line-section clearfix">
            <div class="price-reduction-left">
                <input id="Cl" type="checkbox" value="true" name="Cl" />
            </div>
            <div class="price-reduction-right input-label">
                <label for="Cl">Only show products with a price reduction</label>
            </div>
        </div>

        <div class="line-section">
            <div class="input-label">
                @Html.LabelFor(m => m.Dist, "Location")
            </div>
            <div>
                @Html.DropDownListFor(m => m.Dist, Model.AvailableDistances, new { @class = "short-select distance-list-dropdown" })
                <label class="in-between-inputs" for="Zip">from</label>
                @Html.TextBoxFor(m => m.Zip, new { @class = "short-box", placeholder = "zip code", type="number" })
            </div>
            <script type="text/javascript">
                var distanceMs;
                $(function () {
                    distanceMs = new ModalDropdown({
                        Selector: '.distance-list-dropdown',
                        Title: 'Select Distance'
                    });
                });
            </script>
        </div>
        <div class="line-section">
            @if (Model.IsCorporateSite)
            {
                <div class="input-label">
                    @Html.LabelFor(model => model.Sn, "Or, limit results to only this store:")
                </div>
                <div>
                    @Html.DropDownListFor(model => model.Sn, Model.Stores, new {@class = "store-list-dropdown"})
                </div>
                <script type="text/javascript">
                    var storeMs;
                    $(function () {
                        storeMs = new ModalDropdown({
                            Selector: '.store-list-dropdown',
                            Title: 'Select Store'
                        });
                    });
                </script>
            }
            else
            {
                <div>
                    <input id="AllStores" type="checkbox" value="true" name="AllStores" />
                    <label>Or, show results from all stores</label>
                </div>
            }
        </div>

        <div class="line-section">
            @if (!string.IsNullOrEmpty(Model.Warning))
            {
                <span class="warning">@Model.Warning</span>
            }
        </div>
        
        <div class="line-section button-section">
            <button type="submit" id="searchButtonAdvanced" class="search-button" onclick=" return check_small_search_form() ">@T("Search")</button>
        </div>

    </div>
</div>
