﻿<div class="overlay overlay-popup">
    <div class="popup" role="dialog" id="advancedSearchPopup">
        <a href="#" class="popup-close">X<span class="sr-only">Close Popup</span></a>
        <div ng-controller="AdvancedSearchCtrl" ng-init="initAdvancedSearch(2000)">
            <div mgr-advanced-search data-container-id="'advancedSearchBoxPopup'" data-submit-text="Search" data-search="search" data-submit-form="submitAdvancedSearch(ev)" data-current-form="currentForm"></div>
        </div>
    </div>
</div>
