﻿@model ProductOverviewModel
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart", new { productId = Model.Id, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart", new { productId = Model.Id });
    }    
}
<div class="product-item">
    @if(Model.ProductPrice.SpecialPrice){
        <img src="/Themes/MGR/Content/images/special-price-tag.png" class="special-price-tag"/>
    }
    else if(Model.ProductPrice.Clearance){
        <img src="/Themes/MGR/Content/images/price-reduction-tag.png" class="clearance-tag"/>
    }
     
 
    <h2 class="product-title">
          @if(Model.ProductLocation != null){
              if(!string.IsNullOrEmpty(Model.ProductLocation.City)){
                   <a rel="nofollow" class="location-popup" href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">@Model.ProductLocation.City, @Model.ProductLocation.Region</a>
              }
            }

        <a tabindex="-1" class="product-title-link" rel="nofollow" href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">@Model.Name  <span>@Model.ProductPrice.Price</span></a>
    </h2>
    <div class="picture">
        <a rel="nofollow" href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
</div>


