﻿@using SimpleHoneypot.HtmlHelpers
@model Nop.Web.Models.Catalog.EmailStoreAboutProductModel

<div class="email-store-form">
    <div id="emailStoreMessage"></div>
    <form action="@Url.Action("EmailStoreAboutProduct", "Catalog")" method="POST">
        <h3>@Model.TopMessage</h3>
        @Html.HiddenFor(x => x.ProductId)

        <div class="label-input-group">
            <div class="inner-label">
                <label for="emailStoreFormName">*Name:</label>
            </div>
            <div class="inner-input">
                @Html.TextBoxFor(x => x.Name, new { id = "emailStoreFormName", required = "required" })
            </div>
        </div>

        <div class="label-input-group">
            <div class="inner-label">
                <label for="emailStoreFormEmail">*Email:</label>
            </div>
            <div class="inner-input">
                @Html.TextBoxFor(x => x.Email, new { id = "emailStoreFormEmail", required = "required" })
            </div>
        </div>


        <div class="label-input-group">
            <div class="inner-label">
                <label for="emailStoreFormPhone">Phone:</label>
            </div>
            <div class="inner-input">
                @Html.TextBoxFor(x => x.Phone, new { id = "emailStoreFormPhone" })
            </div>
        </div>

        <div class="label-input-group">
            <div class="inner-label">
                <label for="emailStoreFormNote">*Note:</label>
            </div>
            <div class="inner-input">
                @Html.TextAreaFor(x => x.Note, 4, 20, new { id = "emailStoreFormNote", required="required" })
            </div>
        </div>

        <div class="hidden-row">
            <label id="honeypotLabel">Please do not enter anything in the following field:</label>@Html.HoneypotInput()
        </div>

        @Html.TextBoxFor(x => x.Hverify, new { @style = "position:absolute; left:-5000px;" })
        <button type="submit" class="button-1" id="sendEmailModal">Send Email</button>
    </form>
</div>