﻿<div class="pagers" ng-show="internalControl.totalPages > 1">
    <ul>
        <li><a href="" ng-click="internalControl.prevPage($event)"><span class="icon-chevron-left"></span><span class="sr-only">Previous page</span></a></li>
        <li ng-repeat="n in internalControl.range" ng-show="n > internalControl.currentMin && n < internalControl.currentMax"><a ng-class="{'selected': internalControl.pageNumber == n}" href="" ng-click="internalControl.changePage($event, n)">{{n}}</a></li>
        <li><a href="" ng-click="internalControl.nextPage($event)"><span class="icon-chevron-right"></span><span class="sr-only">Next page</span></a></li>
    </ul>
</div>
