﻿@model ProductOverviewModel
@using Nop.Web.Models.Catalog;
<a class="product-box clearfix" href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })">
    <div class="product-image">
        @if (Model.ProductPrice.Clearance)
        {
            <div class="clearance-tag">Price Reduction</div>
        }
        else if (Model.ProductPrice.SpecialPrice)
        {
            <div class="special-price-tag">Special Price</div>
        }
        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title"/>
    </div>
    <div class="product-info">
        <div class="product-title">@(Model.Name.Length > 45 ? Model.Name.Substring(0, 45) + "..." : Model.Name)</div>
        @if (!string.IsNullOrEmpty(Model.ShortDescription))
        {
            <div class="description">
                @Html.Raw(Model.ShortDescription)
            </div>
        }
        @if (Model.ProductLocation != null && !string.IsNullOrWhiteSpace(Model.ProductLocation.City))
        {
            <div class="product-location">
                @(Model.Used ? "Used" : "New") | @Model.ProductLocation.City, @Model.ProductLocation.Region
            </div>
        }
        <div class="product-prices">
            @if (!string.IsNullOrEmpty(Model.ProductPrice.OldPrice))
            {
                <div class="old-product-price">
                    <span class="price">@Model.ProductPrice.OldPrice</span>
                </div>
            }
            <div class="product-price">
                <span class="price">@Model.ProductPrice.Price</span>
            </div>
        </div>
    </div>
</a>