﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts(@Url.Content("~/Scripts/productPictures.js?v=2"));

    int productPerRow = 5;
    int productCount = 0;
}

<div class="picture">
    <ul id="etalage">
        @if (Model.ProductVariantModels.Any())
        {
            foreach (var p in Model.PictureModels)
            {
                <li>
                    <img class="etalage_thumb_image" src="@p.MidImageUrl" alt="" />
                    <img class="etalage_source_image" src="@p.FullSizeImageUrl" alt=""/>
                </li>

                productCount++;
            }
        }
        else if(Model.PictureModels.Any())
        {
            <li>
                <img class="etalage_thumb_image" src="@Model.PictureModels[0].MidImageUrl" alt="" />
                <img class="etalage_source_image" src="@Model.PictureModels[0].FullSizeImageUrl" alt="" />
            </li>
            productCount = 1;
        }
    </ul>
    
    @if(productCount > 1){
        <div id="prevImage" class="arrowButton"><span class="icon-chevron-left"></span></div>
        <div id="nextImage" class="arrowButton"><span class="icon-chevron-right"></span></div>
    }
</div>