﻿@model ProductOverviewModel
@using Nop.Web.Models.Catalog;
<div class="small-product-item">
    <a href="@Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName })" @(Model.IsNotOnStoreDomain ? "rel='nofollow'" : "") class="product-item">
        @if (Model.ProductPrice.SpecialPrice)
        {
            <div class="special-price-tag">Special Price</div>
        }
        else if (Model.ProductPrice.Clearance)
        {
            <div class="clearance-tag">Price Reduction</div>
        }

        <div class="picture">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.LargeBoxUrl" title="@Model.DefaultPictureModel.Title" />
        </div>

        <div class="product-info">

            <div class="product-title-price">
                <div class="product-title">
                    @Model.Name
                </div>
                <div class="product-price">
                    @Model.ProductPrice.Price
                </div>
            </div>
            <div class="product-condition-location">
                <span class="product-condition">@(Model.Used ? "Used" : "New")</span>
                @if (Model.ProductLocation != null)
                {
                    if (!string.IsNullOrEmpty(Model.ProductLocation.City))
                    {
                        <span class="product-location"> | @Model.ProductLocation.City, @Model.ProductLocation.Region</span>
                    }
                }
            </div>
        </div>
    </a>
    @Html.Widget("productsmallbox")
</div>