﻿@using Nop.Web.Extensions
@model Treefort.Portal.Queries.Locations.GenericLocation



<div class="product-detail-location">
    <div class="contact-link">
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <a href="#" id="emailStoreDetail" rel="nofollow" aria-controls="emailStorePopup" class="popup-opener">
                <span class="icon-envelop"></span>Contact the store about this product
            </a>
        }
    </div>
    <div class="contact-store-text">
        For Additional Info Contact Store:
    </div>
    <div class="store-name">
        Music Go Round - @Model.City, @Model.Region
    </div>

    <div class="location-actions">
        <span class="phone"><a href="tel:@Model.Phone">@Model.Phone</a></span>
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            @: | <a href="mailto:@Model.Email?subject=@(String.Format("{0} - {1}", Model.ProductDescription, Model.ProductSKU))">Email</a>
        }

        | <a href="@Url.GoogleDirections(Model)" target="_blank">Get Directions</a>
        @if (ViewBag.IsCorporateSite && !ViewBag.IsCorporateProduct)
        {
            @: | <a href="@Model.Website" target="_blank">Website</a>
        }
    </div>

    <div class="location-hours">
        @Model.HoursToday
    </div>
</div>