﻿@using Nop.Web.Extensions
@model Treefort.Portal.Queries.Locations.GenericLocation

@{
    var theModalMessage = string.Format("You are emailing Music Go Round {0} about the {1}", Model.Name, Model.ProductDescription);
}

<div class="product-detail-location">
    <div class="location-actions">
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <div class="location-action-block">
                <a href="mailto:@Model.Email?subject=@(String.Format("{0} - {1}", Model.ProductDescription, Model.ProductSKU))">
                    <div class="ico-email">
                    </div>
                    <div class="location-action-text">
                        Email
                    </div>
                </a>
            </div>
        }
        <div class="location-action-block">
            <a href="tel:@Model.Phone">
                <div class="ico-phone">
                </div>
                <div class="location-action-text">
                    Call
                </div>
            </a>
        </div>
        <div class="location-action-block">
            <a href="#" class="hours-link">
                <div class="ico-hours">
                </div>
                <div class="location-action-text">
                    @Html.Action("Hours", "Locations", new { Id = Model.Id })
                </div>
            </a>
        </div>
        <div class="location-action-block">
            <a href="@Url.GoogleDirections(Model)" target="_blank">
                <div class="ico-map">
                </div>
                <div class="location-action-text">
                    Map
                </div>
            </a>
        </div>

    </div>

    <div class="location-address">
        <div class="location-address-line location-address-title">
            Additional Contact Info:
        </div>
        <div class="location-address-line">
            @Model.Address1
        </div>
        @if (!string.IsNullOrEmpty(Model.Address2))
        {
            <div class="location-address-line">
                @Model.Address2
            </div>
        }
        <div class="location-address-line">
            @Model.City, @Model.Region @Model.PostalCode
        </div>
        <div class="location-address-line">
            <a class="phone-number-link" href="tel:@Model.Phone">@Model.Phone</a>
        </div>
    </div>

</div>