﻿<a href="{{product.Url}}" ng-rel="{'nofollow' : product.IsNotOnStoreDomain}" class="product-item">
        <div ng-if="product.ProductPrice.SpecialPrice" class="special-price-tag">Special Price</div>
        <div ng-if="product.ProductPrice.Clearance" class="clearance-tag">Price Reduction</div>

    <div class="picture">
        <img alt="{{product.DefaultPictureModel.AlternateText}}" src="{{product.DefaultPictureModel.LargeBoxUrl}}" />
    </div>

    <div class="product-info">

        <div class="product-title-price">
            <div class="product-title">
                {{product.Name}}
            </div>
            <div class="product-price">
                {{product.ProductPrice.Price}}
            </div>
        </div>
        <div class="product-condition-location">
            <span class="product-condition">{{product.Used ? 'Used' : 'New'}}</span>
            <span ng-if="product.ProductLocation != null && product.ProductLocation.City" class="product-location"> | {{product.ProductLocation.City}}, {{product.ProductLocation.Region}}</span>
        </div>
    </div>
</a>
