﻿@model ProductDetailsModel.ProductVariantModel.ProductVariantPriceModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using System.Text;
@using System.Globalization;
@using Nop.Services.Customers;
@using System.Text.RegularExpressions;
<div class="prices">
    @if (Model.CustomerEntersPrice)
    {
        /*display nothing*/
    }
    else if (Model.CallForPrice)
    {
        <span class="product-price"> @T("Products.CallForPrice")</span>
    }
    else
    {
        <span class="@(string.IsNullOrWhiteSpace(Model.PriceWithDiscount) ? "product-price" : "")">
            @Html.Raw(Model.Price)
        </span>
        
        
        if (!string.IsNullOrWhiteSpace(Model.PriceWithDiscount))
        {
            <br />
            @T("Products.Price.WithDiscount")<text>:</text>
            <span class="product-price special-price">
                @Html.Raw(Model.PriceWithDiscount)
            </span>
        }
        if (!string.IsNullOrWhiteSpace(Model.OldPrice))
        {
            <br />
            @T("Products.Price.OldPrice")<text>:</text>
            <span class="old-product-price">@Model.OldPrice</span>
        }
    }
</div>
