﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

<div class="picture-slides" data-slides-count="@Model.PictureModels.Count">
    <div class="slides-wrapper">
        @foreach (var pic in Model.PictureModels)
        {
            <div class="slide-image" data-img-src="@pic.MobileImageUrl" data-initialized="false">
                <img alt="@pic.AlternateText" title="@pic.Title" />
            </div>
        }
    </div>
</div>
@if (Model.PictureModels.Count > 1)
{
    <ul class="pictures-pagination">
        @for (var i = 0; i < Model.PictureModels.Count; i++)
        {
            <li class="picture-dot @(i == 0 ? "selected-dot" : "")" data-slide-index="@i"></li>
        }
    </ul>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/libs/swipe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/libs/pinchzoom.js")"></script>
<script type="text/javascript">
    var $pagers;
    var $pictureDots;
    var ps;
    var pinchZooms = [];
    var sCount;
    var defaultImageWidth = 0;
    $(function() {
        var $images = $('.slide-image');
        var $pictureSlides = $('.picture-slides');
        sCount = parseInt($pictureSlides.data('slides-count'));
        sCount = sCount == 2 ? sCount = 4 : sCount;

        // load first image
        var $firstImage = $images.eq(0);
        loadImage($firstImage, function() {
            var w = $firstImage.width();
            $pictureSlides.css('height', w + 'px');
        });

        ps = Swipe(
            $pictureSlides[0],
            {
                callback: function (index, elem) {
                    loadImage(elem);
                    updatePager(index);

                    var prevIndex = index - 1;
                    var nextIndex = index + 1;
                    if (index == (sCount - 1)) {
                        nextIndex = 0;
                    } else if (index == 0) {
                        prevIndex = sCount - 1;
                    }

                    loadImage($images[prevIndex]);
                    loadImage($images[nextIndex]);
                }
            });

        if (sCount == 1) {
            ps.disable();
        } else {
            var prevIndex = sCount - 1;
            var nextIndex = 1;

            loadImage($images[prevIndex]);
            loadImage($images[nextIndex]);
        }

        $pagers = $('.pictures-pagination');
        $pictureDots = $pagers.children('li.picture-dot');

        $pictureDots.on('click', function (e) {
            var $dot = $(e.currentTarget);
            ps.slide(parseInt($dot.data('slide-index')));
        });

    });


    function loadImage(imgSlide, callback) {
        if (!imgSlide) return;

        imgSlide = $(imgSlide);
        if (imgSlide.data('initialized')) return;

        var img = imgSlide.children('img');
        img.attr('src', imgSlide.data('img-src'));
        img.one('load', function () {
            defaultImageWidth = defaultImageWidth == 0 ? img.width() : defaultImageWidth;
            var imageWidth = defaultImageWidth;
            img.prop(img.height() >= img.width() ? 'height' : 'width', imageWidth);
            img.css('height', imageWidth + 'px');

            var pz = new window.RTP.PinchZoom(img, {
                tapZoomFactor: 2
            });

            pinchZooms.push(pz);

            if (typeof (callback) == "function") {
                callback();
            }

            imgSlide.data('initialized', true);
        }).each(function () {
            if (this.complete) $(this).load();
        });
    }

    function updatePager(index) {
        $pictureDots.removeClass('selected-dot');

        // Swipe.js generates 4 slides when there's only 2 items
        // Take mod 2 to get around it and get the real pager index
        if ($pictureDots.length == 2) {
            index = index % 2;
        }

        var sel = $.grep($pagers.children('li'), function (lst) {
            return parseInt($(lst).data('slide-index')) == index;
        })[0];

        $(sel).addClass('selected-dot');
    };
</script>