﻿@model ProductDetailsModel.ProductVariantModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@using Treefort.Portal
<div class="add-to-cart">
    @if (Model.CustomerEntersPrice)
    {
        <div class="customer-entered-price">
            @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" }):
            @*round price*@
            @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
            <div class="price-range">
                @Model.CustomerEnteredPriceRange
            </div>
        </div>
    }
    @if (!Model.DisableBuyButton || !Model.DisableWishlistButton)
    {
        <div>
            
            @if(Model.ProductLocation == null && 
                (Model.CategoryId == KnownIds.Category.AccessoriesBandInstruments ||
                Model.CategoryId == KnownIds.Category.AccessoriesDrumHeads || 
                Model.CategoryId == KnownIds.Category.AccessoriesGuitarStrings || 
                Model.CategoryId == KnownIds.Category.AccessoriesGuitars ||
                Model.CategoryId == KnownIds.Category.AccessoriesKeyboards ||
                Model.CategoryId == KnownIds.Category.AccessoriesOther ||
                Model.CategoryId == KnownIds.Category.AccessoriesPercussion ||
                Model.CategoryId == KnownIds.Category.AccessoriesProSound)){
                <div style="margin-bottom:10px;">
                    @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" })@Html.Raw(":")
                    @if (Model.AllowedQuantities.Count > 0)
                    {
                        @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })
                    }
                </div>
            }
            @if (!Model.DisableBuyButton)
            {
                <div class="add-to-cart-container" ng-controller="HelperCtrl">
                    <a href="#" class="default-yellow-arrow" ng-click="addProductToCart(@Model.ProductVariantId) ">
                        <svg>
                            <use xlink:href="#yellow-arrow-template"></use>
                        </svg>
                        <span class="yellow-arrow-text">
                            @(Model.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))
                        </span>
                    </a>
                </div>
                <div class="buy-in-store">
                    Or Buy In Store
                </div>
            }
            else
            {
                <h3>This item is for sale, but is not available for an online purchase.  Please contact the store for more details.</h3>
            }
        </div>
    }
    @Html.Widget("productdetails_add_info")
</div>
