﻿<div class="product-detail-generic-information">
    <div class="big-red">First time buying from Music Go Round?</div>
    <div><a href="@Url.Action("WhatToExpect", "Home")">Click here to see what to expect with your purchase.</a></div>
</div>