﻿@model ProductDetailsModel.ProductVariantModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Treefort.Portal
<div class="add-to-cart">
    @if (Model.CustomerEntersPrice)
    {
        <div class="customer-entered-price">
            <div>
                @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" })
                @*round price*@
                @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
            </div>
            <div class="price-range">
                @Model.CustomerEnteredPriceRange
            </div>
        </div>
    }
    @if (!Model.DisableBuyButton || !Model.DisableWishlistButton)
    {
        <div>
            @if (Model.ProductLocation == null &&
                 (Model.CategoryId == KnownIds.Category.AccessoriesBandInstruments ||
                  Model.CategoryId == KnownIds.Category.AccessoriesDrumHeads ||
                  Model.CategoryId == KnownIds.Category.AccessoriesGuitarStrings ||
                  Model.CategoryId == KnownIds.Category.AccessoriesGuitars ||
                  Model.CategoryId == KnownIds.Category.AccessoriesKeyboards ||
                  Model.CategoryId == KnownIds.Category.AccessoriesOther ||
                  Model.CategoryId == KnownIds.Category.AccessoriesPercussion ||
                  Model.CategoryId == KnownIds.Category.AccessoriesProSound))
            {
                <div style="margin-bottom: 10px;">
                    @Html.LabelFor(model => model.EnteredQuantity, new {@class = "qty-label"})@Html.Raw(":")
                    @if (Model.AllowedQuantities.Count > 0)
                    {
                        @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new {@class = "qty-dropdown"})
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.EnteredQuantity, new {@class = "qty-input"})
                    }
                </div>
            }
        </div>
        if (!Model.DisableBuyButton)
        {
            <button type="submit" class="yellow-arrow-button" name="addtocartbutton-@(Model.ProductVariantId)">@(Model.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))</button>
            if (Model.ProductLocation != null)
            {
                <div class="product-detail-instore">Or Purchase In Store - @Model.ProductLocation.City, @Model.ProductLocation.Region</div>
            }
        }
        else
        {
            <h3>This item is for sale, but is not available for an online purchase.  Please contact the store for more details.</h3>
        }
    }
    @Html.Widget("mobile_productdetails_add_info")
</div>
