﻿@model ProductDetailsModel.ProductVariantModel
@using Nop.Web.Models.Catalog;

@if (!String.IsNullOrWhiteSpace(Model.Sku) && Model.ShowSku)
{
    if (!Model.AddToCart.DisableBuyButton && !string.IsNullOrEmpty(Model.ProductVariantPrice.Shipping))
    {
        <div class="sku">
            SHIPPING: @Model.ProductVariantPrice.Shipping
        </div>
    }
    <div class="sku">
        @T("Products.Sku"): @Model.Sku
    </div>
}

@if (!String.IsNullOrWhiteSpace(Model.ManufacturerPartNumber) && Model.ShowManufacturerPartNumber)
{
    <div class="manufacturer-part-number">
        @T("Products.ManufacturerPartNumber"): @Model.ManufacturerPartNumber
    </div>
}

@if (!String.IsNullOrWhiteSpace(Model.Gtin) && Model.ShowGtin)
{
    <div class="gtin">
        @T("Products.GTIN"): @Model.Gtin
    </div>
}