﻿@model ProductDetailsModel.ProductVariantModel.ProductVariantPriceModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using System.Text;
@using System.Globalization;
@using Nop.Services.Customers;
@using System.Text.RegularExpressions;
@{
    string pattern = "(?<val>(\\d+[\\s\\,\\.]?)+)";
    string replacement = string.Format("<span class=\"price-val-for-dyn-upd-{0}\">${{val}}</span> ", Model.ProductVariantId);
}
@if (Model.DynamicPriceUpdate)
{
    <script type="text/javascript">
        var priceValForDynUpd_@(Model.ProductVariantId) = @(((float)(Model.PriceValue != Model.PriceWithDiscountValue ? Model.PriceWithDiscountValue : Model.PriceValue)).ToString(new CultureInfo("en-US")));
    </script>
}
<div class="prices">
    @if (Model.CustomerEntersPrice)
    {
        /*display nothing*/
    }
    else if (Model.CallForPrice)
    {
        <span class="product-price">@T("Products.CallForPrice")</span>
    }
    else
    {
        <div class="product-price">
            <span>
                @(Model.DynamicPriceUpdate && !Model.HidePrices && string.IsNullOrWhiteSpace(Model.PriceWithDiscount) ? Html.Raw(Regex.Replace(Model.Price, pattern, replacement)) : Html.Raw(Model.Price))
            </span>
            @if (!string.IsNullOrWhiteSpace(Model.OldPrice))
            {
                <span class="old-price-container">
                    <div>@(Model.HasSpecialPrice ? "Regular price" : T("Products.Price.OldPrice").ToString()):</div>
                    <div class="old-product-price">@Model.OldPrice</div>
                </span>
            }
        </div>

        if (!string.IsNullOrEmpty(Model.Shipping))
        {
            <div class="shipping">Shipping: @(Model.Shipping)*</div>

        }
    }
</div>
