﻿@using Newtonsoft.Json
@using Treefort.Portal
@model Nop.Web.Models.Catalog.SavedSearchModel
@if (Model.Cancelled || Model.Ended)
{
    <div class="saved-search-page">
        <h2 class="big-page-title">Saved Search</h2>
        <div class="saved-search-section completed-section blurb">
            <div>
                @if (Model.Cancelled)
                {
                    <p>Your saved search has been cancelled.</p>
                }
                else if (Model.Ended)
                {
                    <p>Your saved search has ended.</p>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="saved-search-page" ng-controller="SavedSearchCtrl" ng-init="init({model: @(JsonConvert.SerializeObject(Model))})">
        <h2 class="big-page-title">Saved Search</h2>
        <div class="saved-search-section completed-section blurb" ng-show="search.Slug">
            <div ng-hide="search.Cancelled">
                <p>
                    Your search results will be e-mailed to <a ng-href="{{search.Email}}">{{search.Email}}</a> {{search.Frequency}}{{search.NotifyOnlyWhenNewResults ? " when new products are available" : ""}}.
                </p>
                <p>You can <a ng-href="{{savedSearchUrl}}?slug={{search.Slug}}&action=cancel" ng-click="cancelSavedSearch($event)">click here to cancel your saved search</a>.</p>
                <p><a href="#" ng-click="viewSearchResult($event)">View results for your search here.</a></p>
            </div>
        </div>
        <div class="saved-search-section" ng-hide="searchCompleted || search.Slug">
            <div class="blurb">
                <p>Music Go Round is all about putting the right gear with the right customer. We have thousands of products available in our online inventory and get new gear in daily. If you're looking for a specific product, category or brand, let our site do the searching for you.</p>
                <p class="small">Tell us what gear you'd like to find, for how long we should search and how often you'd like to receive notices and we will send you the results by email. Fill out the form below to get your search started.</p>
            </div>
        </div>
        <div class="saved-search-section setting-section form" ng-hide="searchCompleted">
            <div class="saved-search-input-col">
                <div class="label-input-group">
                    <div class="inner-label">
                        <label for="ssEmail">Email*</label>
                    </div>
                    <div class="inner-input">
                        <input type="email" id="ssEmail" name="Email" ng-model="search.Email" />
                    </div>
                </div>
            </div>
            <div class="saved-search-input-col">
                <div class="label-input-group">
                    <div class="inner-label">
                        <label for="ssFrequencies">How often do you want to be updated?</label>
                    </div>
                    <div class="inner-input">
                        <select class="custom-select-dropdown" id="ssFrequencies" name="Frequency" ng-model="search.Frequency">
                            <option ng-repeat="fr in frequencies" value="{{fr.Value}}" ng-selected="search.Frequency == fr.Value">{{fr.Text}}</option>
                        </select>
                    </div>
                </div>
                <div class="label-checkbox-group custom-checkbox-wrapper">
                    <input type="checkbox" ng-checked="search.NotifyOnlyWhenNewResults" id="ssNotifyOnlyNew" ng-model="search.NotifyOnlyWhenNewResults" name="NotifyOnlyWhenNewResults" />
                    <label for="ssNotifyOnlyNew">Only Notify Me with Latest Additions</label>
                </div>
            </div>
            <div class="saved-search-input-col">
                <div class="label-input-group">
                    <div class="inner-label">
                        <label for="ssDuration">How long do you want to be updated?</label>
                    </div>
                    <div class="inner-input">
                        <select class="custom-select-dropdown" id="ssDuration" name="Duration" ng-model="search.Duration">
                            <option ng-repeat="dr in durations" value="{{dr.Value}}" ng-selected="search.Duration == dr.Value">{{dr.Text}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="saved-search-section completed-section blurb" ng-show="searchCompleted">
            <div ng-show="search.Cancelled">
                <p>Your saved search has been cancelled.</p>
            </div>

            <div ng-hide="search.Cancelled">
                <p>
                    Your search has been saved, results will be e-mailed to <a ng-href="{{search.Email}}">{{search.Email}}</a> {{search.Frequency}}{{search.NotifyOnlyWhenNewResults ? " when new products are available" : ""}}.
                </p>
                <p>You can <a ng-href="{{savedSearchUrl}}?slug={{search.Slug}}" ng-click="editSavedSearch($event)">click here to edit your saved search </a> or <a ng-href="{{savedSearchUrl}}?slug={{search.Slug}}&action=cancel" ng-click="cancelSavedSearch($event)">click here to cancel your saved search</a>.</p>
                <p><a href="#" ng-click="viewSearchResult($event)">View results for your search here.</a></p>
            </div>
        </div>
        <div class="saved-search-section" ng-hide="searchCompleted">
            <div mgr-advanced-search data-container-id="advancedSearchBoxSavedPopup" data-submit-text="Save Search" data-ignore-search-term="true" data-search="search" data-submit-form="submitSaveSearch(ev)" data-current-form="currentForm"></div>
        </div>
    </div>
}