﻿@model CategoryModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    ViewBag.Used = ViewBag.Used != null;
    var isAccesory = Model.Name.StartsWith("Access") || Model.Name.StartsWith("Music Books");
    Html.AddTitleParts(((isAccesory && !ViewBag.Used) ? Model.Name : "Used " + Model.Name) + " | Page " + Model.PagingFilteringContext.PageNumber);
    
    ViewBag.DisplayProductSearch = true;
    ViewBag.ShowSearchBar = Model.IsCatalogHomePage;
    var allowSorting = Model.Products.Any() && Model.PagingFilteringContext.AllowProductSorting;
    var allowPriceFilter = Model.Products.Any() && Model.PagingFilteringContext.PriceRangeFilter.Enabled;
}
@using Nop.Web.Extensions
@using Nop.Web.Models.Catalog;
@helper FormatPriceRangeText(CatalogPagingFilteringModel.PriceRangeFilterItem filterItem)
{
    string rangeText = "";

    if (String.IsNullOrWhiteSpace(filterItem.From))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Under").Text, string.Format("{0}", filterItem.To));
    }
    else if (String.IsNullOrWhiteSpace(filterItem.To))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Over").Text, string.Format("{0}", filterItem.From));
    }
    else
    {
        rangeText = string.Format("{0} - {1}", filterItem.From, filterItem.To);
    }
    @Html.Raw(rangeText)
}
<div class="page category-page">
    @if (allowSorting || allowPriceFilter)
    {
        <div class="sort-filter-bar clearfix">
            @if (allowPriceFilter)
            {
                var selectedFilter = Model.PagingFilteringContext.PriceRangeFilter.Items.FirstOrDefault(aso => aso.Selected);
                <div class="filter-by">
                    @(selectedFilter == null ? "Filter By Price" : FormatPriceRangeText(selectedFilter).ToHtmlString())
                    <select class="filter-by-dropdown">
                        @foreach (var pf in Model.PagingFilteringContext.PriceRangeFilter.Items)
                        {
                            <option value="@pf.FilterUrl" @(pf.Selected ? "selected" : string.Empty)>@FormatPriceRangeText(pf)</option>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.PagingFilteringContext.PriceRangeFilter.ClearanceOnlyUrl))
                        {
                            <option value="@Model.PagingFilteringContext.PriceRangeFilter.ClearanceOnlyUrl"
                                @(Model.PagingFilteringContext.PriceRangeFilter.IsClearance ? "selected" : string.Empty)
                                data-treefortmodal-apply-class="red">
                                Clearance Only
                            </option>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.PagingFilteringContext.PriceRangeFilter.RemoveFilterUrl))
                        {
                            <option value="@Model.PagingFilteringContext.PriceRangeFilter.RemoveFilterUrl">Clear Filter By</option>
                        }
                        else
                        {
                            <option disabled selected></option>
                        }
                    </select>
                </div>
            }
            @if (allowSorting)
            {
                var selectedSorting = Model.PagingFilteringContext.AvailableSortOptions.FirstOrDefault(aso => aso.Selected) ?? Model.PagingFilteringContext.AvailableSortOptions.First();
                <div class="sort-by" data-modalselector-value="@selectedSorting.Value" data-modalselector-text="@selectedSorting.Text">
                    @(Model.PagingFilteringContext.IsDefaultSorting ? "Sort By" : selectedSorting.Text)
                    @Html.DropDownListFor(m => selectedSorting.Value, Model.PagingFilteringContext.AvailableSortOptions, new { @class = "sort-by-dropdown" })
                </div>
            }
        </div>

        <script type="text/javascript" src="@Url.Content("~/Scripts/treefort/TreefortModal.js")"></script>
        <script type="text/javascript">
            var sortByMs;
            var filterByMs;
            $(function () {
                sortByMs = new ModalDropdown({
                    Selector: '.sort-by-dropdown',
                    Title: 'Sort By',
                    callback: function () {
                        window.location.href = sortByMs.SelectedValue;
                    }
                });

                $('.sort-by').on('click', function() {
                    sortByMs.show();
                });

                filterByMs = new ModalDropdown({
                    Selector: '.filter-by-dropdown',
                    Title: 'Filter By',
                    callback: function () {
                        window.location.href = filterByMs.SelectedValue;
                    }
                });

                $('.filter-by').on('click', function () {
                    filterByMs.show();
                });
            });
        </script>
    }
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
        @Html.Widget("mobile_categorydetails_top")
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="category-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @Html.Widget("mobile_categorydetails_before_subcategories")
        @*subcategories*@
        @if (Model.SubCategories.Count > 0)
        {
            <nav class="sub-category-grid">
                <ul data-inset="true" data-filter="false">
                    @foreach (var category in Model.SubCategories.Where(c => !c.IsAccessoryCategory))
                    {
                        <li>
                            <a href="@Url.RouteUrl("Category", new { categoryId = category.Id, SeName = category.SeName })">
                                @category.Name
                            </a>
                        </li>
                    }
                    @foreach (var accesoryCategory in Model.SubCategories.Where(c => c.IsAccessoryCategory))
                    {
                        <li>
                            <a href="@Url.RouteUrl("Category", new {categoryId = accesoryCategory.Id, SeName = accesoryCategory.SeName})">
                                @("New " + accesoryCategory.Name)
                            </a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Category", new {categoryId = accesoryCategory.Id, SeName = accesoryCategory.SeName, used = true})">
                                @("Used " + accesoryCategory.Name)
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }
        
        @Html.Widget("mobile_categorydetails_before_featured_products")

        @*featured products*@
        @*@if (Model.FeaturedProducts.Count > 0)
        {
            <div class="featured-product-grid">
                <div class="title">
                    @T("Products.FeaturedProducts")
                </div>
                <div class="product-list">
                    <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                        @foreach (var product in Model.FeaturedProducts)
                        {
                            <li>
                                @Html.Partial("_ProductBox", product)
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }*@
        
        @Html.Widget("mobile_categorydetails_before_product_list")

        @*product list*@
        @if (Model.Products.Any())
        {
            <div class="product-list">
                <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                    @foreach (var product in Model.Products)
                    {
                        <li>
                            @Html.Partial("_ProductBox", product)
                        </li>
                    }
                </ul>
            </div>
        }
        else if (!Model.SubCategories.Any())
        {
            <div class="search-result-message">
                No products found. Choose another category or check again in the future.
            </div>
            var parent = Model.ParentCategory ?? Model.CategoryBreadcrumb.FirstOrDefault();
            if (parent != null)
            {
                <nav class="sub-category-grid">
                    <ul data-inset="true" data-filter="false">
                        <li>
                            <a href="@Url.RouteUrl("Category", new {categoryId = parent.Id, SeName = parent.SeName})">
                                @parent.Name
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        }
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).ShowMobileCompactMode(true).QueryParam("pagenumber")
        </div>
        @Html.Widget("mobile_categorydetails_bottom")
    </div>
</div>
