﻿@model IList<CategoryNavigationModel>
    @using Newtonsoft.Json
    @using Nop.Core.Domain.Catalog;
    @using Nop.Core.Infrastructure;
    @using Nop.Services.Catalog;
    @using Nop.Web.Models.Catalog;
    @{
        var categoryPadding = 15;

    }
    @if (Model.Count > 0)
    {
        <div class="category-navigation-box" ng-init="current.productFilters.subCategories = @JsonConvert.SerializeObject(Model)">
            <a href="#" class="saved-search-button-box" ng-click="showSavedSearch()">
                <div class="saved-search-button-image">
                    <span>Saved Search</span>
                </div>
                <div class="saved-search-button-text">
                    Click here and let us do the searching for you.
                </div>
            </a>
            <div class="title">
                Category
            </div>
            <div class="listbox">
                <ul>
                    <li ng-repeat="c in current.productFilters.subCategories" ng-if="c.NumberOfParentCategories > 0">
                        <a href="" ng-class="{'selected': c.Id == current.categoryId}" ng-click="changeCategory(c.Id, c.SeName)">
                            {{c.Name}}<span ng-if="c.DisplayNumberOfProducts"> ({{c.NumberOfProducts}})</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
