﻿@model CategoryModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    var usedCategory = ViewBag.Used != null;

    var isAccesory = Model.Name.StartsWith("Access") || Model.Name.StartsWith("Music Books");
    Html.AddTitleParts(((isAccesory && !usedCategory) ? Model.Name : "Used " + Model.Name) + " | Page " + Model.PagingFilteringContext.PageNumber);

    if (Model.IsCorpSite)
    {
        Html.AddMetaDescriptionParts("Find used " + Model.Name + " available for purchase online or pickup at the Music Go Round location nearest you. Many models to choose from at great prices.");
    }
    else
    {
        Html.AddMetaDescriptionParts("Find used " + Model.Name + " available for purchase online or pickup at Music Go Round " + Model.StoreName + ". Many models to choose from at great prices.");
    }

    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled || (Model.Id == KnownIds.Category.Guitars || Model.Id == KnownIds.Category.Percussion
        || Model.Id == KnownIds.Category.Band || Model.Id == KnownIds.Category.Keyboard
        || Model.Id == KnownIds.Category.ProSound || Model.Id == KnownIds.Category.Accessories))
    {
        var categoryUrl = Url.RouteUrl("Category", new { categoryId = Model.Id, SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    ViewBag.PageTitle = (isAccesory && !usedCategory) ? Model.Name : "Used " + Model.Name;

    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}

@using Newtonsoft.Json
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@using Treefort.Portal
<script type="text/javascript">
    window.plcParams = {
        cId: @Model.Id,
        cSeName: '@Model.SeName',
        pageTitle: '@ViewBag.PageTitle',
        pager: {
            pageNumber: @Model.PagingFilteringContext.PageNumber,
            pageSize: @Model.PagingFilteringContext.PageSize,
            totalPages: @Model.PagingFilteringContext.TotalPages,
            maxShown: 5
        },
        products: @Html.Raw(JsonConvert.SerializeObject(Model.Products)),
        sortOptions: @Html.Raw(JsonConvert.SerializeObject(Model.PagingFilteringContext.AvailableSortOptions)),
        totalResults: @Model.TotalResults
    };
</script>
<div class="category-page" ng-controller="ProductsListCtrl" ng-cloak ng-init="initCtrl('plcParams', catalogBrowse)">
    <h1 class="big-page-title">{{current.pageTitle}}</h1>

    @if (!String.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="category-description">
            @Html.Raw(Model.Description)
        </div>
    }

    <div class="page-content-wrapper">
        <div class="page-content-inner form centerwrapper">


            <div class="top-info">
                <div class="top-info-left"></div>
                <div class="top-info-right">
                    <div class="available-items-count">
                        <span class="count">{{current.totalResults | number}}</span><span> Item{{current.totalResults > 1 ? 's' : ''}} Available</span>
                    </div>

                    <div class="products-filter-top">
                        @if (Model.PagingFilteringContext.AllowProductSorting && Model.Products.Count > 0)
                        {
                        <div class="product-sorting">
                            <label for="productsSort">
                                <span class="text pushed">@T("Categories.OrderBy")</span>
                                <select id="productsSort" class="custom-select-dropdown" ng-model="current.orderBy" ng-options="s.Text for s in current.sortOptions" ng-change="sortProducts(getValueFromUrl('orderby', current.orderBy.Value))"></select>
                            </label>
                        </div>
                        }
                        @if (Model.PagingFilteringContext.AllowCustomersToSelectPageSize && Model.Products.Count > 0)
                        {
                        <div class="product-page-size">
                            <span>@T("Categories.PageSize")</span> <span>@Html.DropDownList("products-pagesize", Model.PagingFilteringContext.PageSizeOptions, new {onchange = "setLocation(this.value);"})</span>
                            <span>@T("Categories.PageSize.PerPage")</span>
                        </div>
                        }
                    </div></div>
            </div>
            <div class="main-section">
                <div class="navigation-block">

                    @Html.Action("CategoryNavigation", "Catalog", new {currentCategoryId = currentCategoryId, currentProductId = currentProductId, used = usedCategory})

                    @Html.Action("ManufacturerNavigation", "Catalog", new {currentCategoryId = currentCategoryId})

                    @Html.Action("PriceNavigation", "Catalog", new {currentCategoryId = currentCategoryId, currentProductId = currentProductId})

                </div>

                <div class="products-list-wrapper">
                    <div class="sr-only" id="productsAnchor" tabindex="0"></div>
                    <div ng-show="current.products.length > 0" class="product-grid">
                        <div ng-repeat="product in current.products">
                            @Html.Partial("_ProductBoxNg")
                        </div>
                    </div>
                    <div ng-show="current.products.length == 0" class="no-result-found">
                        @(Model.Products.Count) No products found. Choose another category or check again in the future.
                    </div>

                    <div pager control="current.pager" on-change="changePageNumber(ev,pn)"></div>
                    <p style="text-align:center;">
                        @if (Model.PagingFilteringContext.PageSize == 24)
                        {
                            @(Model.Products.Count) @:Items total | <strong style = "padding-left: 5px;padding-right: 5px;"> View 24 </strong> | <a href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Guitars.Id, seName = Model.Categories.Guitars.SeName, view = Model.PagingFilteringContext.PageSize*2})"><strong style="padding-left: 5px;padding-right: 5px;"> View 48 </strong></a>
                        }
                        else
                        {
                            @(Model.Products.Count) @:Items total | <a href = "@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Guitars.Id, seName = Model.Categories.Guitars.SeName})"><strong style = "padding-left: 5px;padding-right: 5px;"> View 24 </strong> </a> | <strong style = "padding-left: 5px;padding-right: 5px;"> View 48 </strong>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay overlay-popup">
    <div class="popup" role="dialog" id="savedSearchPopup">
        <a href="#" class="popup-close">X<span class="sr-only">Close Popup</span></a>
        @Html.Action("GetSavedSearchPartial")
    </div>
</div>

@section footerScripts{
    <script type="text/javascript">
        $(function() {
            $('.product-sorting label').on('click', function() {
                $(this).next('select').openSelect();
            });
            $('.product-sorting .icon-chevron-down').on('click', function() {
                $(this).prev('select').openSelect();
            });
        });
    </script>
}
