﻿@model CrossSellProductsModel
@using Nop.Web.Models.Catalog;
@if (Model.Products.Count > 0)
{
    <div class="related-products">
        <div class="title">
            New Accessories
        </div>
        <div class="product-grid small-product-item">
            @foreach (var item in Model.Products.Take(4))
            {
                <div class="item-box">
                    @Html.Partial("_ProductSmallBox", item)
                </div>
            }
            <div class="item-box see-more-item-box">
                <div class="small-product-item">
                    <a class="accessories-link product-item" href="@Url.Action("Category", "Catalog", new {categoryId = Model.CategoryId, seName = string.Empty})">
                       See More New Accessories
                    </a>
                </div>
            </div>
        </div>
    </div>
}