﻿@model CrossSellProductsModel
@using Nop.Web.Models.Catalog;
@if (Model.Products.Any())
{
    <div class="related-products-grid cross-sells clearfix">
        <div class="title">
            @T("Products.RelatedAccessories")
        </div>
        <div class="product-list">
            <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                @foreach (var product in Model.Products.Take(3))
                {
                    <li>
                        @Html.Partial("_ProductBox", product)
                    </li>
                }
            </ul>
        </div>
        @*@if (Model.CategoryId != 0)
        {
            <a href="/c/@Model.CategoryId" class="more-button"></a>
        }*@
    </div>
}