﻿@model HomePageProductsModel
@using Nop.Web.Models.Catalog;
<div class="home-page-products" data-current-cat-index="0">
    <div class="title">
        Latest Additions
    </div>

    <div class="products-slideshow">
        <div class="categories-list">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li><a href="#" data-se-name="@category.SeName">@category.Name</a></li>
                }
            </ul>
        </div>
        <div class="products-wrapper">
            <div class="centerwrapper centered-parent">
                <a href="#" class="prev"><span class="icon-chevron-left"></span><span class="sr-only">Previous Category</span></a>
                <div class="products-inner-wrapper">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="product-flex-grid" data-se-name="@category.SeName">
                            @foreach (var item in category.Products)
                            {
                                <div class="home-item-box">
                                    @Html.Partial("_LargeHomeProductBox", item)
                                </div>
                            }
                        </div>
                    }
                </div>
                <a href="#" class="next"><span class="icon-chevron-right"></span><span class="sr-only">Next Category</span></a>
            </div>
            <div class="advanced-search-text" ng-controller="HelperCtrl">
                Looking for something more specific? Try <a href="" ng-click="showHomeAdvancedSearch(scrollIntoElement('#advancedSearchBoxSlider'))" class="advanced-search-link" aria-controls="advancedSearchBoxSlider" aria-expanded="{{advancedSearchService.show}}">Advanced Search</a>
            </div>
        </div>
    </div>
</div>

<script>
</script>