﻿@model ManufacturerNavigationModel
@using Nop.Core.Domain.Catalog;
@using Nop.Core.Infrastructure;
@using Nop.Services.Catalog;
@using Nop.Web.Models.Catalog;
@{/*TODO: CHANGE BACK TO > 0*/}
@if (Model.Manufacturers.Count < 0)
{
    <div class="block block-manufacturer-navigation">
        <div class="title">
           Brands
        </div>
        <div class="clear">
        </div>
        <div class="listbox">
            <ul>
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")"><a href="@manufacturer.FilterUrl">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}