﻿@using Newtonsoft.Json
@using Nop.Web.Models.Catalog
@model Nop.Web.Models.Catalog.CatalogPagingFilteringModel.PriceRangeFilterModel
 
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected);
}
@helper FormatPriceRangeText(CatalogPagingFilteringModel.PriceRangeFilterItem filterItem)
    {
    string rangeText = "";
    if (String.IsNullOrWhiteSpace(filterItem.From))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Under").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.To));
    }
    else if (String.IsNullOrWhiteSpace(filterItem.To))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Over").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.From));
    }
    else
    {
        rangeText = string.Format("<span class=\"PriceRange\">{0}</span> - <span class=\"PriceRange\">{1}</span>", filterItem.From, filterItem.To);
    }
    <text>@Html.Raw(rangeText)</text>
}

          
@if (Model.Enabled)
{
    <div class="category-navigation-box" ng-init="current.productFilters.priceRanges = @JsonConvert.SerializeObject(Model.Items)">
        <div class="title">
            Price
        </div>
        <div class="listbox">
            <ul>
                <li ng-repeat="p in current.productFilters.priceRanges">
                    <a href="" ng-click="changePrice(p.FromValue, p.ToValue)" 
                       ng-class="{'selected' : (toPriceFilterString(p.FromValue) == current.priceMin) && (toPriceFilterString(p.ToValue) == current.priceMax)}">
                        {{formatPriceRange(p)}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
}