﻿@model ProductDetailsModel
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    ViewBag.DisplayProductSearch = true;
}
@{
    //errors
    var errors = new List<string>();
    foreach (var modelState in ViewData.ModelState.Values)
    {
        foreach (var error in modelState.Errors)
        {
            errors.Add(error.ErrorMessage);
        }
    }

    var defaultProductVariant = Model.ProductVariantModels.Count > 0 && !Model.Deleted ? Model.ProductVariantModels[0] : null;
}
<div class="page product-details-page">
    <div class="page-title">
        <h1 class="product-name">
            @Model.Name
        </h1>
    </div>
    <div class="page-body">
        @Html.Widget("mobile_productdetails_top")
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requries it*@
        @using (Html.BeginRouteForm("Product", new { productId = Model.Id, SeName = Model.SeName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="product-essential">
                @if (defaultProductVariant == null)
                {
                    <div style="margin-bottom: 10px;">
                        <p class="big-red" style="font-size:16px; font-weight:bold;">This product has been sold. Please check our related products below.</p>
                    </div>
                }
                <div class="overview">
                    <div class="pictures-container">
                        @Html.Widget("mobile_productdetails_before_pictures")
                        @Html.Partial("_ProductDetailsPictures", Model)
                    </div>

                    @if (errors.Count > 0)
                    {
                        <div class="message-error">
                            <ul>
                                @for (int i = 0; i < errors.Count; i++)
                                {
                                    <li>@errors[i]</li>
                                }
                            </ul>
                        </div>
                    }

                    @Html.Widget("mobile_productdetails_after_pictures")
                </div>
            </div>
            <div class="product-collateral">
                @if (defaultProductVariant != null)
                {
                    <div class="product-variant-list">
                        @foreach (var variant in Model.ProductVariantModels)
                        {
                            var dataDictVariant = new ViewDataDictionary();
                            dataDictVariant.TemplateInfo.HtmlFieldPrefix = string.Format("variant_{0}", variant.Id);
                            @Html.Partial("_ProductVariantLine", variant, dataDictVariant)
                        }
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.FullDescription))
                {
                    <div class="product-details clearfix">
                        
                        <div class="long-description">
                            @Html.Raw(Model.FullDescription)
                        </div>
                        <div class="show-more">
                            <span>
                                Show More
                            </span>
                        </div>
                        
                        <script type="text/javascript">
                            $(function() {
                                var $longdesc = $('.long-description');
                                var $smLink = $('.show-more');
                                if ($longdesc[0].scrollHeight < 125) {
                                    $smLink.hide();
                                    $('.product-details').css('margin-bottom', '25px');
                                }

                                $('.show-more span').on('click', function(e) {
                                    e.preventDefault();
                                    var ctext = $(e.currentTarget).html().trim();
                                    if (ctext.toLowerCase() == "show more") {
                                        $longdesc.addClass('expand');
                                        $smLink.addClass('expand');
                                        $(e.currentTarget).html('Show Less');
                                    } else {
                                        $longdesc.removeClass('expand');
                                        $smLink.removeClass('expand');
                                        $(e.currentTarget).html('Show More');

                                        var pvTop = $(".product-variant-list").offset().top;
                                        var currentTop = $(window).scrollTop();

                                        if (currentTop > pvTop){
                                            $('html, body').animate({
                                                scrollTop: $(".product-variant-list").offset().top
                                            }, 500);
                                        }
                                    }
                                });
                            })
                        </script>
                    </div>
                }
                @Html.Action("ProductSpecifications", "Catalog", new { productId = Model.Id })

                @Html.Action("ProductTags", "Catalog", new { productId = Model.Id })

                @if (Model.ProductLocation != null)
                {
                    @Html.Partial("_ProductDetailLocationInformation", Model.ProductLocation)
                }

                @Html.Action("RelatedProducts", "Catalog", new { productId = Model.Id })

                @Html.Action("CrossSellProductsDetailPage", "Catalog", new { productId = Model.Id })
            </div>
        }
        @Html.Widget("mobile_productdetails_bottom")
    </div>
</div>
