﻿@model ProductDetailsModel
@using iTextSharp.text.pdf.qrcode
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    if (!String.IsNullOrEmpty(Model.MetaDescription)) { Html.AddMetaDescriptionParts(Model.MetaDescription); }
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    var defaultProductVariant = Model.ProductVariantModels.Count > 0 && !Model.Deleted ? Model.ProductVariantModels[0] : null;

    ViewBag.IsCorporateProduct = Model.IsCorpProduct;
    ViewBag.IsCorporateSite = Model.IsCorporateSite;

    if (defaultProductVariant != null)
    {
        ViewBag.PageTitle = defaultProductVariant.AddToCart.DisableBuyButton ? "Sold " + ViewBag.PageTitle : ViewBag.PageTitle;
    }
}
<div class="product-details-page">
    <h1 class="big-page-title">@(Model.IsCorpProduct ? Model.CategoryName : "Used " + Model.CategoryName)</h1>
    <div class="page-content-wrapper">
        <div class="page-body centerwrapper">
            @Html.Action("ProductBreadcrumb", "Catalog", new {productId = Model.Id})
            @Html.Widget("productdetails_top")
            @using (Html.BeginRouteForm("Product", new {productId = Model.Id, SeName = Model.SeName}, FormMethod.Post, new {id = "product-details-form"}))
            {
                <div class="product-essential">
                    @Html.Widget("productdetails_before_pictures")
                    <!--product pictures-->
                    @Html.Partial("_ProductDetailsPictures", Model)
                    @Html.Widget("productdetails_after_pictures")
                    <div class="overview">
                        @if (Model.IsSpecialPrice)
                        {
                            <div class="special-price-tag">Special Price</div>
                        }
                        else if (Model.IsClearance)
                        {
                            <div class="clearance-tag">Price Reduction</div>
                        }

                        <div class="title-section">
                            @if (defaultProductVariant != null)
                            {
                                <div class="sku-container">
                                    @Html.Partial("_ProductVariant_SKU_Man_Stock", defaultProductVariant)
                                </div>
                            }
                            <div class="product-title">
                                @Model.Name
                            </div>
                        </div>

                        <div class="price-cart-section">
                            <div class="left-section-price">
                                @if (defaultProductVariant != null && defaultProductVariant.AddToCart.InStorePickupOnly)
                                {
                                    <div>This Product is Only Available for In Store Pick-Up at @Model.ProductLocation.City, @Model.ProductLocation.Region Location.</div>
                                }
                                @if (defaultProductVariant != null)
                                {
                                    var dataDictPrice = new ViewDataDictionary();
                                    dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", defaultProductVariant.Id);
                                    @Html.Partial("_ProductVariantPrice", defaultProductVariant.ProductVariantPrice, dataDictPrice)
                                }
                            </div>
                            <div class="right-section-cart">
                                @if (defaultProductVariant != null)
                                {
                                    var dataDictAddToCart = new ViewDataDictionary();
                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", defaultProductVariant.Id);
                                    @Html.Partial("_ProductVariantAddToCart", defaultProductVariant.AddToCart, dataDictAddToCart)
                                }
                            </div>
                            @if (defaultProductVariant == null)
                            {
                                <div class="product-sold-message">
                                    <p>This product has been sold. Please check our related products below.</p>
                                </div>
                            }
                        </div>

                        <div class="description-store-section">
                            @Html.Widget("productdetails_overview_top")
                            <div class="full-description">
                                <div id="fullDescription">
                                    <div class="fd-inner">
                                        @Html.Raw(Model.FullDescription)
                                    </div>
                                </div>
                                <div class="white-shadow"></div>
                                <div class="expand-description">
                                    <a href="" aria-controls="fullDescription" aria-expanded="False" class="show-more-button">Show More<span class="sr-only">. Show more description.</span></a>
                                </div>
                            </div>
                            @if (Model.ProductLocation != null)
                            {
                                @Html.Partial("_ProductDetailLocationInformation", Model.ProductLocation)
                            }
                            @Html.Partial("_ProductDetailGenericInformation")
                        </div>


                        <div class="product-detail-oversize-text">
                            <p>*For oversized or smaller items, the actual shipping charges may vary from this quote.</p>
                            <p>Please contact the store with questions regarding the shipping of oversized items.</p>
                        </div>
                        @*@Html.Action("ShareButton", "Catalog")*@
                        @Html.Widget("productdetails_overview_bottom")
                    </div>

                </div>


                <div class="product-collateral">
                    @Html.Action("ProductTags", "Catalog", new {productId = Model.Id})
                    @Html.Action("RelatedProducts", "Catalog", new {productId = Model.Id})

                    @Html.Action("CrossSellProductsDetailPage", "Catalog", new {productId = Model.Id})

                </div>
            }
            @Html.Widget("productdetails_bottom")
        </div>
    </div>
</div>

@if (Model.ProductLocation != null && !string.IsNullOrEmpty(Model.ProductLocation.Email))
{
    var theModalMessage = string.Format("You are emailing Music Go Round {0} about the {1}", Model.ProductLocation.Name, Model.Name);
    <div class="overlay overlay-popup">
        <div class="popup" role="dialog" id="emailStorePopup">
            <a href="#" class="popup-close">X<span class="sr-only">Close Popup</span></a>
            @Html.Action("EmailStoreAboutProduct", "Catalog", new { topMessage = theModalMessage, ProductId = Model.Id })
        </div>
    </div>
}

@section FooterScripts{
<script type="text/javascript">
    $(function () {
        var $fullDesc = $('#fullDescription');
        if ($fullDesc.find('.fd-inner').outerHeight(true) <= 140) {
            $('.expand-description').hide();
        } else {
            $('.expand-description .show-more-button').on('click', function (e) {
                e.preventDefault();
                if ($fullDesc.height() <= 140) {
                    $fullDesc.css('height', 'auto');
                    $(this).attr('aria-expanded', true);
                    $(this).text('Show Less');
                } else {
                    $fullDesc.css('height', '');
                    $(this).attr('aria-expanded', false);
                    $(this).text('Show More');
                    if (window.scrollY > $fullDesc.offset().top) {
                        $('.overview')[0].scrollIntoView();
                    }
                }
            });
        }
    })
</script>
}
