﻿@model RelatedProductModel
@using Nop.Web.Models.Catalog;
@if (Model.Products.Any())
{
    <div class="related-products-grid">
        <div class="title">
            @T("Products.RelatedProducts")
        </div>
        <div class="product-list">
            <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                @foreach (var product in Model.Products.Take(3))
                {
                    <li>
                        @Html.Partial("_ProductBox", product)
                    </li>
                }
            </ul>
        </div>
    </div>
}