﻿@model RelatedProductModel

@using Nop.Web.Models.Catalog;
@if (Model.Products.Any())
{
    <div class="related-products">
        <div class="title">
            Related Products
        </div>
        <div class="product-grid small-product-item">
            @foreach (var item in Model.Products)
            {
                <div class="item-box">
                    @Html.Partial("_ProductSmallBox", item)
                </div>
            }
        </div>
    </div>
}