﻿@model Nop.Web.Models.Catalog.SavedSearchCompleteModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<h3>Thank you.</h3><br />
@if (Model.Cancelled) {
    <p>Your saved search has been cancelled.</p>
}
else {
    <p>Your search has been saved, results will be e-mailed to <a href="mailto:@Model.Email">@Model.Email</a> @Model.Frequency@(Model.NotifyOnlyWhenNewResults ? " when new products are available" : "").</p>
    <br /><p>You can edit or cancel your saved search <a href="@Url.Action("SavedSearch", "Catalog", new {slug = Model.Slug})">here</a>.</p>
    <br /><p style="margin-bottom: 100px;">View results for your search <a href="@Url.Action("Search", "Catalog", new { Advanced = true, Sid = true, Model.Q, Model.Cid, Model.Mid, Model.Pf, Model.Pt, Model.Cl, Model.Sn, Model.Zip, Model.Dist })">here</a>.</p>
}
