﻿@model Nop.Web.Models.Catalog.SearchBoxModel
<div class="search-box">
    @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
    {
        <input type="hidden" id="sid" name="sid" value="true"/>
        <div class="basic-search">
            <label class="sr-only" for="q">Search for product</label>
            <div class="one-line-search-bar">
                @{
                    var searchBoxPlaceholder = (Model.IsCorpSite) ? T("Search.SearchBox.Tooltip.Corporate") : T("Search.SearchBox.Tooltip.Franchisee");
                }
                <input type="search" id="q" name="q" id="small-searchterms" class="search-box-text" placeholder="@searchBoxPlaceholder" aria-label="Search all stores"/>
                <button type="submit" class="search-button" id="searchButton" onclick=" return check_small_search_form() ">
                    <span class="icon icon-search"><span class="sr-only">Search</span></span>
                </button>
            </div>
        </div>
    }
    @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
    {
        <div class="advanced-search">
            <div id="orAdvancedSearch">or</div>
            <button type="button" id="advancedSearchButton">Advanced Search</button>
            @Html.Action("AdvancedSearch", "Catalog")
        </div>
    }
    @Html.Widget("mobile_searchbox")
    <script type="text/javascript">
        function check_small_search_form() {
            var search_terms = $("#small-searchterms");
            if (search_terms.val() == "") {
                alert('@T("Search.EnterSearchTerms")');
                search_terms.focus();
                return false;
            }

            return true;
        }

        var isAdvancedSearch;
        var $hdnAdvanced;
        var $hdnSid;
        var $advancedSearchButton;
        var $advancedWrapper;
        $(function () {

            $advancedSearchButton = $('#advancedSearchButton');
            $advancedWrapper = $('#advanced-search-wrapper');

            $('.search-toggle').on('click', function(e) {
                e.preventDefault();
                $('.search-box-wrapper').toggle();
            });

            $advancedSearchButton.on('click', function(e) {
                e.preventDefault();

                $advancedWrapper.show();
            });
        });
    </script>
</div>