﻿@model SearchModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text + " Page " + Model.PagingFilteringContext.PageNumber);

    ViewBag.DisplayProductSearch = true;
}
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
<div class="page search-page">
    <script type="text/javascript">
        $(function() {
            $('.search-box input[type=search]').val('@Model.Q');
        });
    </script>
    <div class="page-body">
        @if (Model.Products.Count > 0)
        {
            var selectedSorting = Model.PagingFilteringContext.AvailableSortOptions.FirstOrDefault(aso => aso.Selected) ?? Model.PagingFilteringContext.AvailableSortOptions.First();
            <div class="sort-filter-bar">
                <div class="sort-by" data-Selector-value="@selectedSorting.Value" data-Selector-text="@selectedSorting.Text">
                    @(Model.PagingFilteringContext.IsDefaultSorting ? "Sort By" : selectedSorting.Text)
                    @Html.DropDownListFor(m => m.PagingFilteringContext.OrderBy, Model.PagingFilteringContext.AvailableSortOptions, new { @class = "sort-by-dropdown" })
                </div>
            </div>
            
            <script type="text/javascript" src="@Url.Content("~/Scripts/treefort/TreefortModal.js")"></script>
            <script type="text/javascript">
                var sortByMs;
                $(function () {
                    sortByMs = new ModalDropdown({
                        Selector: '.sort-by-dropdown',
                        Title: 'Sort By',
                        callback: function () {
                            window.location.href = sortByMs.SelectedValue;
                        }
                    });
                });

                $('.sort-by').on('click', function () {
                    sortByMs.show();
                });
            </script>
        }
        @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
        {
            <div class="search-results">
                @if (!String.IsNullOrEmpty(Model.Warning))
                {
                    <span class="warning">
                        @Model.Warning
                    </span>
                }
                <div class="search-result-message">
                    Your search
                    @if (!string.IsNullOrWhiteSpace(Model.Q))
                    {
                        <text>for '@Model.Q'</text>
                    }
                    returned @Model.TotalResults results.
                    @if (@Model.TotalResults == 0)
                    {
                        <text>Please try a different search or browse by category.</text>
                    }
                </div>
                @if (Model.Products.Count > 0)
                {
                    <div class="product-list">
                        <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                            @foreach (var product in Model.Products)
                            {
                                <li>
                                    @Html.Partial("_ProductBox", product)
                                </li>
                            }
                        </ul>
                    </div>
                }
                <div class="pager">
                    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                </div>
            </div>
        }
    </div>
</div>
