﻿@model SearchModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text + " Page " + Model.PagingFilteringContext.PageNumber);
}
@using Newtonsoft.Json
@using Nop.Web.Models.Catalog;
<script type="text/javascript">
    window.plcParams = {
        advanced: @Model.Advanced.ToString().ToLower(),
        allStores: @Model.AllStores.ToString().ToLower(),
        cId: @Model.Cid,
        distance: @Model.Dist,
        includeSubCategory: @Model.Isc.ToString().ToLower(),
        pageTitle: 'Search Results',
        pager: {
            pageNumber: @Model.PagingFilteringContext.PageNumber,
            pageSize: @Model.PagingFilteringContext.PageSize,
            totalPages: @Model.PagingFilteringContext.TotalPages,
            maxShown: 5
        },
        priceMin: @(Model.Pf ?? "null"),
        priceMax: @(Model.Pt ?? "null"),
        products: @Html.Raw(JsonConvert.SerializeObject(Model.Products)),
        searchInDescription: @Model.Sid.ToString().ToLower(),
        searchQuery: '@Model.Q',
        sortOptions: @Html.Raw(JsonConvert.SerializeObject(Model.PagingFilteringContext.AvailableSortOptions)),
        storeNumber: '@Model.Sn',
        totalResults: @Model.TotalResults,
        zip: '@Model.Zip'
    };
</script>
<div class="search-page" ng-controller="ProductsListCtrl" ng-cloak ng-init="initCtrl('plcParams', searchProducts);">
    <div class="sr-only">
        <a href="#productsAnchor">Skip to Products</a>
    </div>
    <h1 class="big-page-title">Search Results</h1>
    <div class="top-info-wrapper">
        <div class="centerwrapper">
            <div class="top-info">
                <div class="top-info-left">
                    <a href="#" ng-click="showSavedSearch()">
                        <div class="saved-search-button">
                            Saved Search
                        </div>
                        <div class="saved-search-text">Click here and let us do the searching for you.</div>
                    </a>
                </div>
                <div class="top-info-right">
                    <div class="available-items-count">
                        <span>Items Available </span><span class="count">{{current.totalResults | number}}</span>
                    </div>

                    <div class="products-filter-top">
                        @if (Model.Products.Count > 0)
                        {
                            <div class="product-sorting form">
                                <label for="productsSort">
                                    <span class="text pushed">@T("Categories.OrderBy")</span>
                                    <select id="productsSort" class="custom-select-dropdown" ng-model="current.orderBy" ng-options="s.Text for s in current.sortOptions" ng-change="sortProducts(getValueFromUrl('orderby', current.orderBy.Value))"></select>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content-inner centerwrapper form">

            <div class="products-list-wrapper search-results">
                <div id="productsAnchor" class="sr-only"></div>
                <div ng-show="current.products.length > 0" class="product-grid">
                    <div ng-repeat="product in current.products">
                        @Html.Partial("_ProductBoxNg")
                    </div>
                </div>
                <div pager control="current.pager" on-change="changePageNumber(ev,pn)"></div>
            </div>
        </div>

    </div>
</div>

<div class="overlay overlay-popup">
    <div class="popup" role="dialog" id="savedSearchPopup">
        <a href="#" class="popup-close">X<span class="sr-only">Close Popup</span></a>
        @Html.Action("GetSavedSearchPartial")
    </div>
</div>
