﻿@model SearchBoxModel
@using Nop.Web.Models.Catalog;

<div class="search-box" id="sb@(Model.RandomId)">
    @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { onsubmit = "return check_small_search_form(" + Model.RandomId +")" }))
    {
        <div class="one-line-search-bar">
            <label for="searchterms@(Model.RandomId)" class="small-search-label">Search Gear</label>
            <input type="text" name="Q" class="search-box-text" id="searchterms@(Model.RandomId)" @(Model.AutoCompleteEnabled ? Html.Raw(" autocomplete=\"off\"") : null) placeholder="Keyword, Brand..." />

            <input type="hidden" id="sid" name="sid" value="true"/>
            <a href="#" class="sb-advanced-search-link" ng-controller="HelperCtrl" ng-click="updateSearchTerm('.header-search-bar .search-box-text');">Advanced Search</a>
            <button type="submit" class="search-button" id="searchButton">
                <span class="icon icon-search"><span class="sr-only">Search</span></span>
            </button>
        </div>

        <script type="text/javascript">
            if (!searchBoxes) {
                var searchBoxes = [];
            }
            searchBoxes.push(@(Model.RandomId));
            if (!searchBoxOption) {
                var searchBoxOption = {
                    enableAutoComplete: @Model.AutoCompleteEnabled.ToString().ToLower(),
                    minLength: @Model.SearchTermMinimumLength,
                    sourceUrl: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                    showImage: @Model.ShowProductImagesInSearchAutoComplete.ToString().ToLower()
                };
            }
        </script>

    }
</div>