﻿@{
    //page title
    ViewBag.Title = @T("Admin.Dashboard").Text;
}
<div class="section-title">
    <img src="@Url.Content("~/Administration/Content/images/ico-dashboard.png")" alt="" />
    @T("Admin.Dashboard")
</div>
<table class="dashboard">
    @Html.Widget("admin_dashboard_top")
    <tr>
        <td class="maincol">
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-stat1.gif")" alt="" />
                    Statistics - All Stores
                </div>
            </div>
            <table class="stats">
                <tbody>
                    <tr>
                        <td class="orderaveragereport">
                            <div class="subsection-title">
                                @T("Admin.SalesReport.Average")
                            </div>
                            @Html.Action("OrderAverageReport", "Order")
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="stats">
                <tbody>
                    <tr>
                        <td class="orderstatistics">
                            <div class="subsection-title">
                                @T("Admin.SalesReport.Incomplete")
                            </div>
                            @Html.Action("OrderIncompleteReport", "Order")
                        </td>
                        <td class="customerstatistics">
                        <div class="subsection-title">
                            @T("Admin.Customers.Reports.RegisteredCustomers")
                        </div>
                            @Html.Action("ReportRegisteredCustomers", "Customer")
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="stats">
                <tr>
                    <td class="bestsellers">
                        <div class="subsection-title">
                            @T("Admin.SalesReport.BestSellers.ByQuantity")
                        </div>
                            @Html.Action("BestsellersBriefReportByQuantity", "Order")
                    </td>
                    <td class="bestsellers">
                        <div class="subsection-title">
                            @T("Admin.SalesReport.BestSellers.ByAmount")
                        </div>
                            @Html.Action("BestsellersBriefReportByAmount", "Order")
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    @Html.Widget("admin_dashboard_bottom")
</table>
