﻿@using Nop.Admin.Models.CustomReport
@using Nop.Services.CustomReport
@model AccessorySalesModel
           
@helper DisplayQuantity(AccessorySales details) {
	var value = "";
	switch (Model.Form.Display) {
		case AccessorySalesDisplay.Sales: value = details.TotalSales.ToString("C0"); break;
		case AccessorySalesDisplay.Items: value = details.QuantitySold.ToString(); break;
	}
    @value
}
		   
@helper DisplayLink(string linkText, AccessorySalesDisplay display) {
	if (Model.Form.Display == display) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("AccessorySales", Model.Form.CloneForDisplay(display))">@linkText</a> 
	}
}
		   
@helper SortLink(string linkText, AccessorySalesSort sort) {
	if (Model.Form.Sort == sort) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("AccessorySales", Model.Form.CloneForSort(sort))">@linkText</a> 
	}
}

<div class="_extraInput">
	@Html.HiddenFor(m => m.Form.Sort)
	@Html.HiddenFor(m => m.Form.Display)
</div>

<div class="report accessory-sales">
    <h1>Accessory Sales</h1>
    
    <div class="controls">
		<div>
			<label>Display: </label>
			@DisplayLink("Sales", AccessorySalesDisplay.Sales) or @DisplayLink("Items Sold", AccessorySalesDisplay.Items)
		</div>
		<div class="sort-by">
			<label>Sort: </label>
			@SortLink("Sales", AccessorySalesSort.Total)
			@SortLink("Sku", AccessorySalesSort.Sku)
			@*SortLink("Name", AccessorySalesSort.Name)*@
		</div>
    </div>
    
    <div class="store-results">
		@if (Model.ReportData.AccessorySales.Any()) {
			<table>
				@{ var maxValue = Model.ReportData.AccessorySales.Max(x => x.GetChartValue(Model.Form.Display)); }
				@foreach (var accessory in Model.ReportData.AccessorySales) {
					var tv = accessory.GetChartValue(Model.Form.Display);
					var tw = Math.Max(1, Convert.ToInt32(Math.Round((tv == 0 ? 0 : tv/maxValue*100))));
					var fw = Math.Max(0, 100 - tw);
					<tr>
						<td class="store no-stretch"><a href="@Url.Action("Edit", "Product", new {id = accessory.ProductId})">@(accessory.Sku ?? "[No SKU]")</a></td>
						<td>
							<table class="bar">
								<tr>
									<td class="segment total" style="width: @(tw)%;"><span class="value">@DisplayQuantity(accessory)</span></td>
									<td class="segment filler" style="width: @(fw)%;"></td>
								</tr>
							</table>
						</td>
					</tr>
				}
			</table>
		}
    </div>
</div>

