﻿@using Nop.Admin.Models.CustomReport
@using Nop.Services.CustomReport
@model CategorySalesModel
		   
@helper DisplayLink(string linkText, bool showSubcategories) {
	if (Model.Form.ShowSubcategories == showSubcategories) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("CategorySales", Model.Form.CloneForDisplay(showSubcategories))">@linkText</a> 
	}
}
		   
@helper DisplayLink(string linkText, CategorySalesDisplay display) {
	if (Model.Form.Display == display) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("CategorySales", Model.Form.CloneForDisplay(display))">@linkText</a> 
	}
}
		   
@helper SortLink(string linkText, CategorySalesSort sort) {
	if (Model.Form.Sort == sort) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("CategorySales", Model.Form.CloneForSort(sort))">@linkText</a> 
	}
}

<div class="_extraInput">
	@Html.HiddenFor(m => m.Form.Sort)
	@Html.HiddenFor(m => m.Form.Display)
	@Html.HiddenFor(m => m.Form.ShowSubcategories)
</div>
           
<div class="report category-sales">
    <h1>Sales By Category</h1>
    
    <div class="controls">
		<div>
			<label>List: </label>
			@DisplayLink("Parent", false) or @DisplayLink("Sub", true) categories
		</div>
		@*<div>
			<label>Display: </label>
			@DisplayLink("Sales", CategorySalesDisplay.Sales) or @DisplayLink("Items Sold", CategorySalesDisplay.Items)
		</div>*@
		<div class="sort-by">
			<label>Sort: </label>
			@SortLink("Sales", CategorySalesSort.Total)
			@SortLink("Name", CategorySalesSort.Name)
		</div>
    </div>
    
    <div class="store-results">
		@if (Model.ReportData.CategorySales.Any()) {
			<table>
				@{ var maxValue = Model.ReportData.CategorySales.Max(x => x.TotalSales); }
				@foreach (var category in Model.ReportData.CategorySales) {
					var tv = category.TotalSales;
					var tw = Math.Max(1, Convert.ToInt32(Math.Round((tv == 0 ? 0 : tv/maxValue*100))));
					var fw = Math.Max(0, 100 - tw);
					<tr>
						<td class="store no-stretch">@category.CategoryName</td>
						<td>
							<table class="bar">
								<tr>
									<td class="segment total" style="width: @(tw)%;"><span class="value">@category.TotalSales.ToString("C0")</span></td>
									<td class="segment filler" style="width: @(fw)%;"></td>
								</tr>
							</table>
						</td>
					</tr>
				}
			</table>
		}
    </div>
</div>

