﻿@using Nop.Web.Framework.UI
@using Nop.Admin.Models.CustomReport
@model CustomReportModel
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	Html.AddCssFileParts("/administration/content/reports.css");
}

<div class="custom-report">
    <div class="selection-form">
		@using (Html.BeginForm()) {
			if (Model.Stores != null) { @Html.DropDownListFor(m => m.Form.StoreNumber, Model.Stores) }
			@Html.EditorFor(m => m.Form.StartDate)
			<span class="date-separator">to</span>
			@Html.EditorFor(m => m.Form.EndDate)
			@Html.DropDownListFor(m => m.Form.ReportType, Model.ReportTypes.Select(rt => new SelectListItem {Text = rt.Name, Value = rt.ReportViewUrl}))
			<input type="submit" id="btnLoad" class="t-button" value="Load Report" />
			<div class="_extraInput"></div>
		}
	</div>

    <div id="report-container"></div>
</div>


<script>
    $(function () {
        var $form = $('.custom-report .selection-form form');
        var $reportWrapper = $('#report-container');

        var loadReport = function(href, data) {
            var showReport = function() {
	            $reportWrapper.fadeIn('fast');
	            $form.find('._extraInput').replaceWith($reportWrapper.find('._extraInput'));
            };

	        $reportWrapper.fadeOut('fast', function() {
				if (data) {
					$reportWrapper.load(href, data, showReport);
				} else {
					$reportWrapper.load(href, showReport);
				}
	        });
        };

        $form.submit(function(evt) {
            evt.preventDefault();
            var reportUrl = $form.find('[name*="ReportType"]').val();
	        if (!reportUrl) return;
			loadReport(reportUrl, $form.serialize());
        });

	    $reportWrapper.on('click', '._reportUrl', function(evt) {
		    evt.preventDefault();
		    loadReport($(this).attr('href'));
	    });
    });
</script>