﻿@using Nop.Admin.Models.CustomReport
@using Nop.Services.CustomReport
@using Treefort.Common
@model ItemSalesModel


<div class="report item-sales">
    <h1>Item Sales</h1>

    <div class="controls">
        <div>
            <a target="_blank" href="@Url.Action("ItemSalesSpreadsheet", Model.Form)">Download as spreadsheet</a>
        </div>
    </div>

    <div>
        @if (Model.ReportData.Sales.Any()) {
            <table class="data-grid" cellspacing="0">
                <tr>
                    <th>Sale Date</th>
                    <th>Active Date</th>
                    <th>Days on Site</th>
                    <th>Order Id</th>
                    <th>Product Price</th>
                    <th>Shipping Charge</th>
                    <th>Category</th>
                    <th>Product Name</th>
                </tr>
                @foreach (var ss in Model.ReportData.Sales) {
                    <tr>
                        <td>@ss.TransactionDate.ToShortDateString()</td>
                        <td>@ss.ActiveDate.IfHasValue(d => d.ToShortDateString())</td>
                        <td>@ss.ProductAge.IfHasValue(a => a.Days.ToString())</td>
                        <td>@ss.OrderId.ToString()</td>
                        <td>@ss.ProductPrice.ToString("C2")</td>
                        <td>@ss.OrderShippingCost.ToString("C2")</td>
                        <td>@ss.CategoryName</td>
                        <td>@ss.ProductName</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
