﻿@using Nop.Services.CustomReport
@using Nop.Admin.Models.CustomReport
@model PaymentMethodsModel
           
@helper DisplayQuantity(PaymentMethodDetails details) {
	var value = "";
	switch (Model.Form.Display) {
		case PaymentMethodsDisplay.Sales: value = details.TotalSales.ToString("C0"); break;
		case PaymentMethodsDisplay.Orders: value = details.NumberOfOrders.ToString(); break;
	}
    @value
}

@helper TaxAndShippingLink(string linkText, bool includeTaxAndShipping) {
    if (Model.Form.IncludeTaxAndShipping == includeTaxAndShipping) {
        <span class="selected">@linkText</span>
    }
    else {
        <a class="_reportUrl" href="@Url.Action("PaymentMethods", Model.Form.CloneForTaxAndShipping(includeTaxAndShipping))">@linkText</a>
    }
}

		   
@helper DisplayLink(string linkText, PaymentMethodsDisplay display) {
	if (Model.Form.Display == display) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("PaymentMethods", Model.Form.CloneForDisplay(display))">@linkText</a> 
	}
}
		   
@helper SortLink(string linkText, PaymentMethodsSort sort) {
	if (Model.Form.Sort == sort) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("PaymentMethods", Model.Form.CloneForSort(sort))">@linkText</a> 
	}
}

<div class="_extraInput">
	@Html.HiddenFor(m => m.Form.Sort)
	@Html.HiddenFor(m => m.Form.Display)
</div>

<div class="report payment-methods">
    <h1>Payment Methods</h1>
    
    <div class="controls">
		<div>
			<label>Display: </label>
		    @TaxAndShippingLink("With", true) or @TaxAndShippingLink("Without", false) tax &amp; shipping <br />
			@DisplayLink("Sales", PaymentMethodsDisplay.Sales) or @DisplayLink("Orders", PaymentMethodsDisplay.Orders)
		</div>
		<div class="sort-by">
			<label>Sort: </label>
			@SortLink("Sales", PaymentMethodsSort.Total)
            @SortLink("Location", PaymentMethodsSort.Location)
			@SortLink("Store #", PaymentMethodsSort.StoreNumber)
		</div>
    </div>
    
    
    @{ if (Model.ReportData.SystemPayments == null && Model.ReportData.StorePayments.Any()) { Model.ReportData.SystemPayments = Model.ReportData.StorePayments.First(); }}
    
    @if (Model.ReportData.SystemPayments == null)
    {
        <p>No report data.</p>
    } else {
        <div class="main-result">
            <h2>@Model.ReportData.SystemPayments.StoreNumber</h2>
            <table class="bar large">
			    @{
                    var mtotal = Model.ReportData.SystemPayments.AuthorizeNetPayments.GetChartValue(Model.Form.Display) + Model.ReportData.SystemPayments.PaypalPayments.GetChartValue(Model.Form.Display);
                    var mccv = Model.ReportData.SystemPayments.AuthorizeNetPayments.GetChartValue(Model.Form.Display);
                    var mccw = Math.Max(1, Convert.ToInt32(Math.Round((mccv == 0 ? 0 : mccv/mtotal*100))));
                    var mppv = Model.ReportData.SystemPayments.PaypalPayments.GetChartValue(Model.Form.Display);
                    var mppw = Math.Max(1, Convert.ToInt32(Math.Round((mppv == 0 ? 0 : mppv / mtotal * 100))));
                    var mppev = Model.ReportData.SystemPayments.PayPalExpressPayment.GetChartValue(Model.Form.Display);
                    var mppew = Math.Max(1, Convert.ToInt32(Math.Round((mppev == 0 ? 0 : mppev / mtotal * 100))));
			    }
			    <tr>
				    <td class="segment authorizenet" style="width:@(mccw)%;"><span class="value">@DisplayQuantity(Model.ReportData.SystemPayments.AuthorizeNetPayments)</span></td>
				    <td class="segment paypal" style="width:@(mppw)%;"><span class="value">@DisplayQuantity(Model.ReportData.SystemPayments.PaypalPayments)</span></td>
                    <td class="segment paypalexpress" style="width:@(mppew)%;"><span class="value">@DisplayQuantity(Model.ReportData.SystemPayments.PayPalExpressPayment)</span></td>
			    </tr>
            </table>
        </div>

        <div class="legend top clearfix">
            <div class="paypalexpress">PayPal Express</div>
            <div class="paypal">PayPal</div>
            <div class="authorizenet">Authorize.Net</div>
        </div>

        if (Model.ReportData.StorePayments.Any() && Model.ReportData.SystemPayments.StoreNumber != Model.ReportData.StorePayments.First().StoreNumber) {
            <div class="store-results">
                <h2>Stores</h2>
                <table>
                    @{var maxValue = Model.ReportData.StorePayments.Max(x => x.AuthorizeNetPayments.GetChartValue(Model.Form.Display) + x.PaypalPayments.GetChartValue(Model.Form.Display));}
                    @foreach (var store in Model.ReportData.StorePayments){
                        var ccv = store.AuthorizeNetPayments.GetChartValue(Model.Form.Display);
                        var ccw = Math.Max(1, Convert.ToInt32(Math.Round((ccv == 0 ? 0 : ccv/maxValue*100))));
                        var ppv = store.PaypalPayments.GetChartValue(Model.Form.Display);
                        var ppw = Math.Max(1, Convert.ToInt32(Math.Round((ppv == 0 ? 0 : ppv / maxValue * 100))));
                        var ppev = store.PayPalExpressPayment.GetChartValue(Model.Form.Display);
                        var ppew = Math.Max(1, Convert.ToInt32(Math.Round((ppev == 0 ? 0 : ppev / maxValue * 100))));
                        var fw = Math.Max(0, 100 - ccw - ppw);
                        <tr>
                            <td class="store no-stretch">@store.StoreDisplayName</td>
                            <td>
                                <table class="bar">
                                    <tr>
                                        <td class="segment authorizenet" style="width:@(ccw)%;"><span class="value">@DisplayQuantity(store.AuthorizeNetPayments)</span></td>
                                        <td class="segment paypal" style="width:@(ppw)%;"><span class="value">@DisplayQuantity(store.PaypalPayments)</span></td>
                                        <td class="segment paypalexpress" style="width:@(ppew)%;"><span class="value">@DisplayQuantity(store.PayPalExpressPayment)</span></td>
                                        <td class="segment filler" style="width:@(fw)%;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="legend bottom clearfix">
                <div class="paypal">PayPal</div>
                <div class="authorizenet">Authorize.Net</div>
            </div>
        }
    }
</div>
