﻿@using Nop.Admin.Models.CustomReport
@using Nop.Services.CustomReport
@using Treefort.Common
@model SavedSearchesModel


<div class="report saved-searches">
    <h1>Saved Searches</h1>

    <div class="controls">
        <div>
            <a target="_blank" href="@Url.Action("SavedSearchesSpreadsheet", Model.Form)">Download as spreadsheet</a>
        </div>
    </div>

    <div>
        @if (Model.ReportData.SavedSearches.Any()) {
            <table class="data-grid">
                <tr>
                    <th>Status</th>
                    <th>Activated</th>
                    <th>Expires</th>
                    <th>Cancelled</th>
                    <th>Occurence</th>
                    <th>Duration</th>
                    <th>Search Term</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Just New Gear?</th>
                    <th>Price reduction only?</th>
                    <th>Price range</th>
                    <th>Store Number</th>
                    <th>Postal Code</th>
                    <th>Distance</th>
                </tr>
                @foreach (var ss in Model.ReportData.SavedSearches) {
                    <tr>
                        <td>@ss.Status</td>
                        <td>@ss.DateOfActivation.ToShortDateString()</td>
                        <td>@ss.DateOfExpiration.ToShortDateString()</td>
                        <td>@ss.DateOfCancellation.IfHasValue(d => d.ToShortDateString())</td>
                        <td>@ss.Occurrence</td>
                        <td>@ss.DurationName</td>
                        <td>@ss.Keywords</td>
                        <td>@ss.CategoryName</td>
                        <td>@ss.BrandName</td>
                        <td>@(ss.NotifyOnlyWhenNewResults ? "Yes" : "No")</td>
                        <td>@(ss.ClearanceOnly ? "Yes" : "No")</td>
                        <td>@ss.PriceRange</td>
                        <td>@ss.StoreLocation</td>
                        <td>@ss.PostalCode</td>
                        <td>@ss.MilesFromPostalCode.IfHasValue(v => v + " miles", (string)null)</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
