﻿@using Nop.Admin.Models.CustomReport
@using Nop.Services.CustomReport
@model TotalSalesModel
		   
@helper TaxAndShippingLink(string linkText, bool includeTaxAndShipping)
{
	if (Model.Form.IncludeTaxAndShipping == includeTaxAndShipping) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("TotalSales", Model.Form.CloneForTaxAndShipping(includeTaxAndShipping))">@linkText</a> 
	}
}
		   
@helper SortLink(string linkText, TotalSalesSort sort) {
	if (Model.Form.Sort == sort) {
		<span class="selected">@linkText</span> 
	}
	else {
		<a class="_reportUrl" href="@Url.Action("TotalSales", Model.Form.CloneForSort(sort))">@linkText</a> 
	}
}

<div class="_extraInput">
	@Html.HiddenFor(m => m.Form.Sort)
	@Html.HiddenFor(m => m.Form.IncludeTaxAndShipping)
</div>

<div class="report sales">
    <h1>Sales Report</h1>
    
    <div class="controls">
        <div>
            <label>Display: </label>
            @TaxAndShippingLink("With", true) or @TaxAndShippingLink("Without", false) tax &amp; shipping
        </div>
        <div class="sort-by">
            <label>Sort: </label>
            @SortLink("Sales", TotalSalesSort.TotalSales)
            @SortLink("Orders", TotalSalesSort.Orders)
            @SortLink("Avg Order", TotalSalesSort.AverageSale)
            @SortLink("Location", TotalSalesSort.Location)
            @SortLink("Store #", TotalSalesSort.StoreNumber)
        </div>
    </div>
    
    @{ if (Model.ReportData.SystemSales == null && Model.ReportData.StoreSales.Any()) { Model.ReportData.SystemSales = Model.ReportData.StoreSales.First(); }}
    
    @if (Model.ReportData.SystemSales == null)
    {
        <p>No report data.</p>
    } else {
        <div class="main-result">
            <div>
                <h2 class="store">@Model.ReportData.SystemSales.StoreNumber</h2>
                <span class="total-sales">@Model.ReportData.SystemSales.TotalSales.ToString("C0")</span>
                <span class="orders">Orders: @Model.ReportData.SystemSales.NumberOfOrders</span>
                <span class="average-order">Avg: @Model.ReportData.SystemSales.AverageOrderTotal.ToString("C0")</span>
            </div>
            <table class="bar large">
			    @{
			        var mtotal = Model.ReportData.SystemSales.TotalSales;
			        var mcv = Model.ReportData.SystemSales.CompletedSales;
                    var mcw = Math.Max(1, Convert.ToInt32(Math.Round((mcv == 0 ? 0 : mcv / mtotal * 100))));
				    var mrw = 100 - mcw;
			    }
                <tr>
				    <td class="segment completed" style="width:@(mcw)%;"><span class="value">@Model.ReportData.SystemSales.CompletedSales.ToString("C0")</span></td>
				    <td class="segment refunded" style="width:@(mrw)%;"><span class="value">@Model.ReportData.SystemSales.RefundedSales.ToString("C0")</span></td>
                </tr>
            </table>
        </div>

        <div class="legend top clearfix">
            <div class="refunded">Refunded</div>
            <div class="completed">Completed</div>
        </div>

        if (Model.ReportData.StoreSales.Any() && Model.ReportData.SystemSales.StoreNumber != Model.ReportData.StoreSales.First().StoreNumber) {
            <div class="store-results">
                <h2>Stores</h2>
                <table>
                    @{ var maxValue = Model.ReportData.StoreSales.Max(x => x.TotalSales); }
                    @foreach (var store in Model.ReportData.StoreSales) {
                        var cv = store.CompletedSales;
                        var cw = Math.Max(1, Convert.ToInt32(Math.Round((cv == 0 ? 0 : cv / maxValue * 100))));
                        var rv = store.RefundedSales;
                        var rw = Math.Max(1, Convert.ToInt32(Math.Round((rv == 0 ? 0 : rv / maxValue * 100))));
                        var fw = Math.Max(0, 100 - cw - rw);
                        <tr>
                            <td class="store no-stretch">@store.StoreDisplayName</td>
                            <td>
                                <table class="bar">
                                    <tr>
                                        <td class="segment completed" style="width:@(cw)%;"><span class="value">@store.CompletedSales.ToString("C0")</span></td>
                                        <td class="segment refunded" style="width:@(rw)%;"><span class="value">@store.RefundedSales.ToString("C0")</span></td>
                                        <td class="segment filler" style="width:@(fw)%;"></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="total-sales no-stretch">@store.TotalSales.ToString("C0")</td>
                            <td class="summary no-stretch">
                                <div class="orders">Orders: @store.NumberOfOrders</div>
                                <div class="average-order">Avg: @store.AverageOrderTotal.ToString("C0")</div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        
             <div class="legend bottom clearfix">
                 <div class="refunded">Refunded</div>
                 <div class="completed">Completed</div>
             </div>
        }
    }
</div>
