﻿@model Treefort.Portal.Queries.Press.DetailViewModel

@{
    Layout = "~/Views/Shared/_OwnRoot.cshtml";
    ViewBag.Title = Model.Meta.Title;
    ViewBag.MetaDescription = Model.Meta.MetaDescription;
}

<h1 class="own-mgr-pageTitle">In The Press</h1>

<div class="own-page-content">
    <div id="inThePressContent">
        <h2 style="margin-bottom:15px">@Html.Raw(Model.Title)</h2>
        
         @Html.Raw(Model.Body)
        
	    <p style="margin-top:25px;"><a href="@Url.Action("Index", "Press")">&laquo; Read more Press Releases </a></p>
    </div>
</div>

@section Sidebar
{
      <div id="contactInfo">
            <h2>Media Contact</h2>

            Jayne Levy <br />
            Fishman Public Relations <br />
            847-945-1300 x225<br />
            <a href="mailto:jlevy@fishmanpr.com">jlevy@fishmanpr.com</a>
    </div>
     
}
