﻿@model Treefort.Portal.Queries.Press.IndexViewModel

@{
    Layout = "~/Views/Shared/_OwnRoot.cshtml";
    Html.AppendTitleParts(Model.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.Meta.MetaDescription);
}

<h1 class="own-mgr-pageTitle">@Model.PageTitle</h1>

<div class="own-page-content">
    <div id="inThePressContent">
        @Html.Raw(Model.PageBody)

        @if (Model.Posts.Any()) {
            <ul>
                @foreach (var post in Model.Posts) {
        
           
                    if (!string.IsNullOrEmpty(post.DirectLink)) {
                        <li><a href="@post.DirectLink" target="_blank">@post.Title</a></li>
                    } else {
                        <li>@Html.ActionLink(post.Title, "Detail",  new {urlSlug = post.RewriteUrl})</li>
                    }
                }
            </ul>
        } else {
            <h2>There are no press releases to read at the moment.</h2>
        }
    </div>
</div>

@section Sidebar
{
      <div id="contactInfo">
            <h2>Media Contact</h2>

            Jayne Levy <br />
            Fishman Public Relations <br />
            847-945-1300 x225<br />
            <a href="mailto:jlevy@fishmanpr.com">jlevy@fishmanpr.com</a>
    </div>
     
}
