﻿<div class="featured-store-callout">
    <div class="featured-store-wrapper centerwrapper">
        <div class="left-section">
            <div class="small-text">
                Est.
            </div>
            <div class="big-text">
                2014
            </div>
        </div>
        <div class="mid-section">
            <div class="small-text">
                St. Louis, Missouri
            </div>
            <div class="big-text">
                Featured Store
            </div>
            <div class="see-more">
                <a class="default-yellow-arrow" href="http://www.musicgoroundstlouis.com/" target="_blank" aria-label="See more at musicgoroundstlouis.com">
                    <svg viewbox="0 0 160 28" preserveAspectRatio="none">
                        <use xlink:href="#yellow-arrow-template"></use>
                    </svg>
                    <span class="yellow-arrow-text">See More<span class="sr-only"> at musicgoroundstlouis.com</span></span>
                </a>

            </div>
        </div>
        <div class="right-section">
            <div class="small-text">Products in stock</div>
            <div class="big-text">Over 1,100</div>
        </div>
    </div>
</div>
