﻿@model Treefort.Portal.Queries.Franchisee.Website.HeaderViewModel
           
<ul>
    <li><a href="/sell-us-your-gear">Sell Us Your Gear</a></li>
    @if (Model.IsVisibleAbout){<li><a href="/about-us">About Us</a></li>}
    @if (Model.IsVisibleNewGear){<li><a href="/new-gear">New Gear</a></li>}
    @if(Model.IsVisibleMostWanted){<li><a href="/most-wanted">Most Wanted</a></li>}
    @if(Model.IsVisibleLessons){<li><a href="/lessons">Lessons</a></li>}
    @if(Model.IsVisibleRepairs){<li><a href="/repairs">Repairs</a></li>}
    @if(Model.IsVisiblePromotions){<li><a href="/promotions">Promotions</a></li>}
    @if(Model.IsVisibleCommunity){<li><a href="/community-links">Community Links</a></li>}
    @if(Model.IsVisibleJobs){<li><a href="/jobs">Jobs</a></li>}
</ul>