﻿@model FooterModel
@using Nop.Web.Models.Common;

@{
    if (Model.IsFranchiseSite)
    {
        ViewBag.HideOwnMgrFooter = true;
    }
}
<div class="footer @(Model.IsFranchiseSite ? "franchisee" : "")">
    <div class="yellow-bar gold-blend"></div>
    @if (ViewBag.HideOwnMgrFooter == null || !ViewBag.HideOwnMgrFooter)
    {
        <div class="centerwrapper">
            <div class="own-section">
                <div class="image-wrapper">
                    <img src="/Themes/MGR/Content/images/footer-top-dealer.png" alt="Top 100 Dealer" />
                </div>
                <div class="own-main-section">
                    <div class="own-title">Own a Music Go Round</div>
                    <div class="own-text">
                        <p>Looking for Used Gear? You may have just discovered your future. Music Go Round franchisees started out as customers of our stores. They have a love of music, they love gear and they understand the industry. Most importantly they’ve taken their passion and turned it into a business they’re proud of which is an asset to the music scene in their community. Who wouldn’t want to own a business where every day they were doing what they truly love? Sound interesting?</p>
                    </div>
                    <a href="http://www.winmarkfranchises.com/music-go-round/overview" target="_blank" class="default-yellow-arrow">
                        <svg viewbox="0 0 160 28" preserveAspectRatio="none">
                            <use xlink:href="#yellow-arrow-template"></use>
                        </svg>
                        <span class="yellow-arrow-text">Learn more at WinmarkFranchises.com</span>
                    </a>
                </div>
            </div>
        </div>
    }
    <div class="bottom-footer">
        <div class="footer-all centerwrapper">
            <div class="logo-wrapper">
                <img src="/Themes/MGR/Content/images/logo-mgr.png" alt="Music GO Round" />

            </div>
            <div class="footer-navigation">
                @if (!Model.IsCoop)
                {
                    <div class="navigation-col">
                        <div class="navigation-title">Search</div>
                        <div class="navigation-content">

                            <ul>
                                <li><a href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Guitars.Id, seName = Model.Categories.Guitars.SeName})">Guitars</a></li>
                                <li><a href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Percussion.Id, seName = Model.Categories.Percussion.SeName})">Percussion</a></li>
                                <li><a href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Band.Id, seName = Model.Categories.Band.SeName})">Band</a></li>
                                <li><a href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Keyboard.Id, seName = Model.Categories.Keyboard.SeName})">Keyboard</a></li>
                                <li><a href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.ProSound.Id, seName = Model.Categories.ProSound.SeName})">Pro Sound</a></li>
                                <li><a href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Accessories.Id, seName = Model.Categories.Accessories.SeName})">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="navigation-col">
                    <div class="navigation-title">Stores</div>
                    <div class="navigation-content">
                        <ul>
                            @if (Model.IsFranchiseSite)
                            {
                                <li><a href="@Url.Action("Index", "SellYourGear")">How It Works</a></li>
                                <li><a href="@Url.Action("WhatToExpect", "Home")">What to Expect in Buying</a></li>
                                if (Model.FranchiseeLinks.IsVisibleNewGear)
                                {
                                    <li><a href="@Url.Action("NewGear", "Franchisee")">New Gear</a></li>
                                }
                                if (Model.FranchiseeLinks.IsVisibleMostWanted)
                                {
                                    <li><a href="@Url.Action("MostWanted", "Franchisee")">Most Wanted</a></li>
                                }
                                if (Model.FranchiseeLinks.IsVisibleLessons)
                                {
                                    <li><a href="@Url.Action("Lessons", "Franchisee")">Lessons</a></li>
                                }
                                if (Model.FranchiseeLinks.IsVisiblePromotions)
                                {
                                    <li><a href="@Url.Action("Promotions", "Franchisee")">Promotions</a></li>
                                }
                                if (Model.FranchiseeLinks.IsVisibleCommunity)
                                {
                                    <li><a href="@Url.Action("CommunityLinks", "Franchisee")">Community Links</a></li>
                                }
                                if (Model.FranchiseeLinks.IsVisibleJobs)
                                {
                                    <li><a href="@Url.Action("Jobs", "Franchisee")">Careers</a></li>
                                }
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                                <li><a href="@Url.Action("Index", "SellYourGear")">Sell Your Gear</a></li>
                                <li><a href="@Url.Action("AboutUs", "Franchisee")">About Music Go Round</a></li>
                                <li><a href="@Url.Action("Index", "Own")">Own a Store</a></li>
                            }
                            <li><a href="@Url.Action("Faq", "Home")">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navigation-col grow-col">
                    <div class="navigation-title">Customer Service</div>
                    <div class="navigation-content">
                        <ul>
                            <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
                            <li><a href="@Url.Action("ReturnPolicy", "Home")">Online Purchase Return Policy</a></li>
                            <li><a href="@Url.Action("ShippingPolicy", "Home")">Shipping Policy</a></li>
                            @if (Model.IsFranchiseSite)
                            {
                            }
                            else
                            {
                                <li><a href="@Url.Action("WhatToExpect", "Home")">What to Expect in Buying</a></li>
                            }
                            <li><a href="@Url.Action("ConditionsOfUse", "Home")">Conditions of Use</a></li>
                            <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
                            <li><a href="@Url.Action("Sitemap", "Common")">Site Map</a></li>
                        </ul>
                    </div>
                </div>
                @if (Model.IsFranchiseSite)
                {
                    <div class="franchisee-col">
                        <div class="top-wrapper">
                            <div class="image-wrapper">
                                <img src="/Themes/MGR/Content/images/footer-top-dealer.png" alt="Top 100 Dealer" />
                            </div>
                            <div class="text-wrapper">
                                Music Go Round<sup>&reg;</sup> buys used musical instruments all day, every day. Bring in your used music gear such as guitars, amps, drums, pro sound, keyboards, and band instruments and we will pay you on the spot! You can always trade-in your gear to add that must-have piece to your collection.
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.ConstantContactUrl))
                        {
                            <div class="franchisee-constant-contact">
                                <div class="cc-title">Sign Up For News From Your Local Store</div>
                                <a href="@Model.ConstantContactUrl" class="default-yellow-arrow" target="_blank" rel="nofollow">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">Go to Sign Up Form</span>
                                </a>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="forms-col">
                        <div class="location-search-footer">
                            <div mgr-location-search form-id="'findLocationFooter'" label="'Find A Location'" place-holder-text="'Zip Code or City & State'" use-async="false" action-url="'/Locations/List'" layout="'two-line'"></div>
                            <div class="social-media-footer">
                                <div class="footer-label">Follow Us</div>
                                <div class="social-media-links">
                                    <a href="https://www.facebook.com/musicgoround" target="_blank"><img src="/Themes/MGR/Content/images/icon-facebook-yellow.png" alt="Facebook" /></a>
                                    <a href="https://twitter.com/musicgoround86" target="_blank"><img src="/Themes/MGR/Content/images/icon-twitter-yellow.png" alt="Twitter" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="constant-contact-footer">
                            <div mgr-constant-contact></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (Model.IsFranchiseSite)
        {
            <div class="footer-franchisee"></div>
        }

        <div class="footer-copyright-section centerwrapper">
            <p>
                Music Go Round® is a registered trademark of <a href="http://www.winmarkcorporation.com/">Winmark Corporation</a> based in Minneapolis, MN. Each franchise is independently owned
                and operated. Other brand names are trademarked or registered by their respective companies. The trademarks and logos used in this website
                are owned by Winmark Corporation® and any unauthorized use of these trademarks by others is subject to action under federal and state trademark laws.
            </p>
            <p>&copy;@DateTime.Now.Year Winmark Corporation. All Rights Reserved.</p>
            <p>
                Powered by <a href="http://www.nopcommerce.com" target="_blank">Nop Commerce</a>
            </p>
        </div>
    </div>

    @Html.Action("ChangeDeviceBlock", "Common")
    @Html.Widget("footer")


</div>
