﻿@model FooterModel
@using Nop.Web.Models.Common;

<ul>
    <li><a href="@ViewBag.NonMobileHref">View Full Site</a></li>
    <li><a href="http://www.winmarkcorporation.com">&copy;@DateTime.Now.Year Winmark Corporation</a></li>
    <li>@Html.ActionLink("Terms", "PrivacyPolicy","Home")</li>
</ul>


@Html.Widget("mobile_footer")
