﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
<div class="header-links">
    <ul>
        @Html.Widget("header_links_before")
        @if (Model.IsCustomerImpersonated)
        {
            <li><span class="impersonate">(@(string.Format(T("Account.ImpersonatedAs").Text, Model.CustomerEmailUsername)))
                - <a  href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                ) </span></li>
        }
        @if (Model.DisplayAdminLink)
        {
            <li><a  href="@Url.Content("~/admin")" class="ico-admin">@T("Account.Administration")</a>
            </li>
        }

        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")"><span class="ico-person-full"></span><span class="sr-only">Account</span></a><div class="link-hover-text">Account</div></li>
            <li><a class="logout" href="@Url.RouteUrl("Logout")"><span class="icon-exit"></span><span class="sr-only">Logout</span></a><div class="link-hover-text">Log Out</div></li>
        }
        else
        {
            <li><a  href="@Url.RouteUrl("Login")"><span class="ico-person-hollow"></span><span class="sr-only">Login</span></a><div class="link-hover-text">Log In</div></li>
        }

        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink">
                <a href="@Url.RouteUrl("ShoppingCart")"><span class="ico-cart"></span><span class="cart-qty">{{shoppingCartService.productCount}}</span><span class="sr-only">Shopping Cart</span></a>
            </li>
        }

        @Html.Widget("header_links_after")
    </ul>
</div>
