﻿@model MenuModel
@using Nop.Web.Models.Common;
@using Treefort.Portal


<ul class="top-menu">
    @Html.Widget("header_menu_before")
    <li class="top-menu-li">
        <a id="guitarLinkMenu" aria-controls="guitarDropdown" aria-expanded="false" class="top-menu-main-link" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Guitars.Id, seName = Model.Categories.Guitars.SeName})">Guitars</a>
        <div class="dropdown" id="guitarDropdown">
            <div class="uparrow"></div>
            <div class="dropdown-content" tabindex="-1">
                <div class="sr-only category-skip">
                    <a  href="#percussionLinkMenu">Skip to Next Category</a>
                </div>
                <div class="dropdown-column">
                    <h3>Category</h3>

                    <ul class="medium">
                        @foreach (var subc in Model.Categories.GuitarSubC)
                        {
                            <li>
                                <a  href="@Url.Action("Category", "Catalog", new {categoryId = subc.Id, seName = subc.SeName})">@subc.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Brand</h3>

                    <ul class="short">
                        @foreach (var br in Model.GuitarBrands)
                        {
                            <li><a  href="@br.filterUrl">@br.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Accessories</h3>
                    <ul class="long">
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesGuitars.Id, seName = Model.Categories.AccessoriesGuitars.SeName})">New Guitar Accessories</a></li>
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesGuitars.Id, seName = Model.Categories.AccessoriesGuitars.SeName, used = true})">Used Guitar Accessories</a></li>
                    </ul>
                </div>
                <div class="dropdown-column">
                    <a  class="new-accessories-box" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesGuitars.Id, seName = Model.Categories.AccessoriesGuitars.SeName})">
                        <div class="outer-box">
                            <div class="new-text">
                                New
                            </div>
                            <div class="category-text">
                                Guitar Accessories
                            </div>
                            <div class="shop-text">
                                <div class="shop-box default-yellow-arrow">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">
                                        Shop Accessories
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <a class="sr-only category-end" >[End of Guitar]</a>
            </div>
        </div>
    </li>
    <li class="top-menu-li">
        <a id="percussionLinkMenu" aria-controls="percussionDropdown" aria-expanded="false" class="top-menu-main-link" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Percussion.Id, seName = Model.Categories.Percussion.SeName})">Percussion</a>
        <div class="dropdown" id="percussionDropdown">

            <div class="uparrow"></div>
            <div class="dropdown-content" tabindex="-1">
                <div class="sr-only category-skip">
                    <a href="#bandLinkMenu">Skip to Next Category</a>
                </div>
                <div class="dropdown-column">
                    <h3>Category</h3>

                    <ul class="medium">
                        @foreach (var subc in Model.Categories.PercussionSubC)
                        {
                            <li>
                                <a  href="@Url.Action("Category", "Catalog", new {categoryId = subc.Id, seName = subc.SeName})">@subc.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Brand</h3>

                    <ul class="short">
                        @foreach (var br in Model.PercussionBrands)
                        {
                            <li><a  href="@br.filterUrl">@br.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Accessories</h3>
                    <ul class="long">
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesPercussion.Id, seName = Model.Categories.AccessoriesPercussion.SeName})">New Percussion Accessories</a></li>
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesPercussion.Id, seName = Model.Categories.AccessoriesPercussion.SeName, used = true})">Used Percussion Accessories</a></li>
                    </ul>
                </div>
                <div class="dropdown-column">
                    <a  class="new-accessories-box" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesPercussion.Id, seName = Model.Categories.AccessoriesPercussion.SeName})">
                        <div class="outer-box">
                            <div class="new-text">
                                New
                            </div>
                            <div class="category-text">
                                Percussion Accessories
                            </div>
                            <div class="shop-text">
                                <div class="shop-box default-yellow-arrow">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">
                                        Shop Accessories
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <a class="sr-only category-end" >[End of Percussion]</a>
            </div>
        </div>
    </li>
    <li class="top-menu-li">
        <a id="bandLinkMenu" aria-controls="bandDropdown" aria-expanded="false" class="top-menu-main-link" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Band.Id, seName = Model.Categories.Band.SeName})">Band</a>
        <div class="dropdown" id="bandDropdown">

            <div class="uparrow"></div>
            <div class="dropdown-content" tabindex="-1">
                <div class="sr-only category-skip">
                    <a  href="#keyboardLinkMenu">Skip to Next Category</a>
                </div>
                <div class="dropdown-column">
                    <h3>Category</h3>

                    <ul class="medium">
                        @foreach (var subc in Model.Categories.BandSubC)
                        {
                            <li>
                                <a  href="@Url.Action("Category", "Catalog", new {categoryId = subc.Id, seName = subc.SeName})">@subc.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Brand</h3>

                    <ul class="short">
                        @foreach (var br in Model.BandBrands)
                        {
                            <li><a  href="@br.filterUrl">@br.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Accessories</h3>
                    <ul class="long">
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesBandInstruments.Id, seName = Model.Categories.AccessoriesBandInstruments.SeName})">New Band Accessories</a></li>
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesBandInstruments.Id, seName = Model.Categories.AccessoriesBandInstruments.SeName, used = true})">Used Band Accessories</a></li>
                    </ul>
                </div>
                <div class="dropdown-column">
                    <a  class="new-accessories-box" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesBandInstruments.Id, seName = Model.Categories.AccessoriesBandInstruments.SeName})">
                        <div class="outer-box">
                            <div class="new-text">
                                New
                            </div>
                            <div class="category-text">
                                Band Accessories
                            </div>
                            <div class="shop-text">
                                <div class="shop-box default-yellow-arrow">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">
                                        Shop Accessories
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <a class="sr-only category-end" >[End of Band Instruments]</a>
            </div>
        </div>
    </li>
    <li class="top-menu-li">
        <a id="keyboardLinkMenu" aria-controls="keyboardDropdown" aria-expanded="false" class="top-menu-main-link" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Keyboard.Id, seName = Model.Categories.Keyboard.SeName})">Keyboards</a>
        <div class="dropdown" id="keyboardDropdown">

            <div class="uparrow"></div>
            <div class="dropdown-content" tabindex="-1">
                <div class="sr-only category-skip">
                    <a  href="#proSoundLinkMenu">Skip to Next Category</a>
                </div>
                <div class="dropdown-column">
                    <h3>Category</h3>

                    <ul class="medium">
                        @foreach (var subc in Model.Categories.KeyboardSubC)
                        {
                            <li>
                                <a  href="@Url.Action("Category", "Catalog", new {categoryId = subc.Id, seName = subc.SeName})">@subc.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Brand</h3>

                    <ul class="short">
                        @foreach (var br in Model.KeyboardBrands)
                        {
                            <li><a  href="@br.filterUrl">@br.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Accessories</h3>
                    <ul class="long">
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesKeyboards.Id, seName = Model.Categories.AccessoriesKeyboards.SeName})">New Keyboard Accessories</a></li>
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesKeyboards.Id, seName = Model.Categories.AccessoriesKeyboards.SeName, used = true})">Used Keyboard Accessories</a></li>
                    </ul>
                </div>
                <div class="dropdown-column">
                    <a  class="new-accessories-box" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesKeyboards.Id, seName = Model.Categories.AccessoriesKeyboards.SeName})">
                        <div class="outer-box">
                            <div class="new-text">
                                New
                            </div>
                            <div class="category-text">
                                Keyboard Accessories
                            </div>
                            <div class="shop-text">
                                <div class="shop-box default-yellow-arrow">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">
                                        Shop Accessories
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <a class="sr-only category-end" >[End of Keyboards]</a>
            </div>
        </div>
    </li>
    <li class="top-menu-li">
        <a id="proSoundLinkMenu" aria-controls="proSoundDropdown" aria-expanded="false" class="top-menu-main-link" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.ProSound.Id, seName = Model.Categories.ProSound.SeName})">Pro Sound</a>
        <div class="dropdown" id="proSoundDropdown">
            
            <div class="uparrow"></div>
            <div class="dropdown-content" tabindex="-1">
                <div class="sr-only category-skip">
                    <a  href="#accessoriesLinkMenu">Skip to Next Category</a>
                </div>
                <div class="dropdown-column">
                    <h3>Category</h3>

                    <ul class="medium">
                        @foreach (var subc in Model.Categories.ProSoundSubC)
                        {
                            <li>
                                <a  href="@Url.Action("Category", "Catalog", new {categoryId = subc.Id, seName = subc.SeName})">@subc.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Brand</h3>

                    <ul class="short">
                        @foreach (var br in Model.ProSoundBrands)
                        {
                            <li><a  href="@br.filterUrl">@br.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>Accessories</h3>
                    <ul class="long">
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesProSound.Id, seName = Model.Categories.AccessoriesProSound.SeName})">New Pro Sound Accessories</a></li>
                        <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesProSound.Id, seName = Model.Categories.AccessoriesProSound.SeName, used = true})">Used Pro Sound Accessories</a></li>
                    </ul>
                </div>
                <div class="dropdown-column">
                    <a  class="new-accessories-box" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.AccessoriesProSound.Id, seName = Model.Categories.AccessoriesProSound.SeName})">
                        <div class="outer-box">
                            <div class="new-text">
                                New
                            </div>
                            <div class="category-text">
                                Pro Sound Accessories
                            </div>
                            <div class="shop-text">
                                <div class="shop-box default-yellow-arrow">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">
                                        Shop Accessories
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <a class="sr-only category-end" >[End of Pro Sound]</a>
            </div>
        </div>
    </li>
    <li class="top-menu-li">
        <a id="accessoriesLinkMenu" aria-controls="accessoriesDropdown" aria-expanded="false" class="top-menu-main-link" href="@Url.Action("Category", "Catalog", new {categoryId = Model.Categories.Accessories.Id, seName = Model.Categories.Accessories.SeName})">Accessories</a>
        <div class="dropdown" id="accessoriesDropdown">

            <div class="uparrow"></div>
            <div class="dropdown-content" tabindex="-1">
                <div class="sr-only category-skip">
                    <a  href="#endOfMenu">Skip to Next Category</a>
                </div>
                <div class="dropdown-column">
                    <h3>Used Accessories</h3>

                    <ul class="medium">
                        @foreach (var subc in Model.Categories.AccessoriesSubC.Where(c => !c.HideUsedFromNav))
                        {
                            <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = subc.Id, seName = subc.SeName, used = true})">@subc.Name.Replace("Accessories - ", "")</a></li>
                        }
                    </ul>
                </div>
                <div class="dropdown-column">
                    <h3>New Accessories</h3>

                    <ul class="medium">
                        @foreach (var subc in Model.Categories.AccessoriesSubC)
                        {
                            <li><a  href="@Url.Action("Category", "Catalog", new {categoryId = subc.Id, seName = subc.SeName})">@subc.Name.Replace("Accessories - ", "")</a></li>
                        }
                    </ul>
                </div>
                <a class="sr-only category-end" >[End of Accessories]</a>
            </div>
        </div>
    </li>
</ul>

<div id="endOfMenu" tabindex="-1" class="sr-only">[End of Menu]</div>
@Html.Widget("header_menu_after")
