﻿@model SitemapModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Models.Common;
@using Nop.Web.Models.Topics;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Sitemap").Text);
}
<h1 class="big-page-title">
    @T("Sitemap")
</h1>
<div class="additional-pages-nav">
    <ul>
        <li><a href="@Url.Action("AboutUs", "Franchisee")">About Us</a></li>
        <li><a href="@Url.Action("ReturnPolicy", "Home")">Return</a></li>
        <li><a href="@Url.Action("ShippingPolicy", "Home")">Shipping</a></li>
        <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
        <li><a href="@Url.Action("ConditionsOfUse", "Home")">Conditions of Use</a></li>
        <li><a href="@Url.Action("Sitemap", "Common")">Site Map</a></li>
        <li><a href="@Url.Action("ContactUs", "Home")">Contact</a></li>
        <li><a href="@Url.Action("Faq", "Home")">FAQ</a></li>
    </ul>
</div>
<div class="sitemap-page">
    <div class="centerwrapper inner-wrapper">
        <div class="entity">
            <h2 style="margin-bottom:10px;">Pages</h2>

            <ul>
                @if (Model.IsCorpSite)
                {
                    <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                    <li><a href="@Url.Action("AboutUs", "Franchisee")">About Us</a></li>
                    <li><a href="@Url.Action("Index", "SellYourGear")">Sell Your Gear</a></li>
                    <li><a href="@Url.Action("Index", "Own")">Own a Music Go Round Store</a></li>

                }
                else
                {
                    if (Model.FranchiseePages.IsVisibleAbout)
                    {
                            if(Model.FranchiseePages.IsVisibleAbout){<li><a href="/about-us">About Us</a></li>}
                            <li><a href="/sell-us-your-gear">Sell Us You Gear</a></li>
                            if(Model.FranchiseePages.IsVisibleCommunity){<li><a href="/community-links">Community Links</a></li>}
                            if(Model.FranchiseePages.IsVisibleLessons){<li><a href="/lessons">Lessons and Repairs</a></li>}
                            if(Model.FranchiseePages.IsVisibleNewGear){<li><a href="/new-gear">New Gear</a></li>}
                            if(Model.FranchiseePages.IsVisiblePromotions){<li><a href="/promotions">Promotions</a></li>}
                             <li><a href="/most-wanted">Most Wanted</a></li>
                            if(Model.FranchiseePages.IsVisibleJobs){<li><a href="/jobs">Jobs</a></li>}
                    }
                }
                
                <li><a href="what-to-expect">What To Expect</a></li>
                <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
                <li><a href="@Url.Action("ReturnPolicy", "Home")">Online Purchase Return Policy</a></li>
                <li><a href="@Url.Action("ShippingPolicy", "Home")">Shipping Policy</a></li>
                <li><a href="@Url.Action("ConditionsOfUse", "Home")">Conditions of Use</a></li>
                <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
            </ul>
        </div>


        @if (!Model.IsCoopSite && Model.Categories.Count > 0)
        {
            <div class="entity">
                <h2 style="margin-bottom:10px;">
                    @T("Sitemap.Categories")</h2>
                @(Html.DataList<CategoryModel>(Model.Categories, 4,
                                               @<div class="category-box">
                                                    <div class="item">
                                                        <a href="@Url.RouteUrl("Category", new { categoryId = item.Id, SeName = item.SeName })">@item.Name</a>
                                                    </div>
                                                </div>
                      ))
            </div>
            <div class="clear">
            </div>
        }
      
    </div>
</div>
