﻿@model Nop.Plugin.Payments.PayPalExpress.Models.PaymentInfoModel
@{
    Layout = "";
}

@Html.HiddenFor(m => m.TransactionId)
@Html.HiddenFor(m => m.MerchantId)
@Html.HiddenFor(m => m.PayerId)
@Html.HiddenFor(m => m.Token)
@Html.HiddenFor(m => m.Approved)

@if (Model.Approved)
{
    <p>
        Your PayPal has been authorized. Please click the Continue button.
    </p>
    <p>Payer ID: @Model.PayerId</p>
    <script type="text/javascript">
        $(function () {
            setTimeout(function() {
                PaymentInfo.save();
            }, 500);
        })
    </script>
}
