﻿@model Nop.Plugin.Payments.PayPalExpress.Models.PaymentInfoModel
@{
    Layout = "";
}

@Html.HiddenFor(m => m.TransactionId)
@Html.HiddenFor(m => m.MerchantId)
@Html.HiddenFor(m => m.PayerId)
@Html.HiddenFor(m => m.Token)
@Html.HiddenFor(m => m.Approved)

@if (string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="paypalBlock" style="display: none;">
        <p>Click the button below to enter your payment information.</p>
        <a href="#" id="paypalCheckoutLink">
            <img class="paypal-button-hidden" src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
        </a>
    </div>
}
else
{
    <div class="error">
        <p>An error has occured</p>
        <p>@Model.Error</p>
    </div>
}

<script type="text/javascript">

    var approved = '@Model.Approved'.toLowerCase();
    if (!window.paypal || !window.paypal.checkout) {
        $.getScript("//www.paypalobjects.com/api/checkout.js", initiatePayPalExpress);
    } else {
        initiatePayPalExpress();
    }

    function initiatePayPalExpress() {
        if (!paypal.checkout.urlPrefix) {
            paypal.checkout.setup("@Model.MerchantId", {
                environment: '@(Model.SandboxMode ? "sandbox" : "production")',
                button: ['paypalCheckoutLink'],
                click: function(e) {
                    e.preventDefault();
                    payPalStartFlow();
                }
            });
        }

        if ($('.paypalBlock').length) {
            $('.paypalBlock').show();
        }
    }

    function payPalStartFlow() {
        paypal.checkout.initXO();
        var url = paypal.checkout.urlPrefix + '@Model.Token';
        paypal.checkout.startFlow(url);
    }
</script>
