﻿@model ProductListModel
@using Telerik.Web.Mvc.UI
@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.Manage").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Catalog.Products.Manage")
        </div>
        <div class="options">
            @if (Model.CanAddProduct)
            {
                <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
            }
            <input type="submit" id="exportexcel-all" class="t-button" value="@T("Admin.Common.ExportToExcel.All")"/>
            <input type="button" id="exportexcel-selected" class="t-button" value="@T("Admin.Common.ExportToExcel.Selected")"/>
            <input type="button" id="delete-selected" class="t-button" value="@T("Admin.Common.Delete.Selected")"/>
            @if (Model.EnableImport)
            {
                <input type="button" id="importexcel" class="t-button" value="@T("Admin.Common.ImportFromExcel")"/>
            }
        </div>
    </div>
	
	<div style="position: relative">
		<table>
		<tr>
			<td class="adminTitle">
				@Html.LabelFor(model => model.SearchProductName):
			</td>
			<td class="adminData">
				@Html.EditorFor(model => Model.SearchProductName)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.LabelFor(model => model.SearchCategoryId):
			</td>
			<td class="adminData">
				@Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.LabelFor(model => model.SearchManufacturerId):
			</td>
			<td class="adminData">
				@Html.DropDownList("SearchManufacturerId", Model.AvailableManufacturers)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.Label("SearchWithImages", "Image?")
			</td>
			<td class="adminData">
				@Html.DropDownList("SearchWithImages", Model.ImageOptions)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.Label("SearchWithDescrip", "Description?")
			</td>
			<td class="adminData">
				@Html.DropDownList("SearchWithDescrip", Model.DescriptionOptions)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.Label("SearchPublished", "Published?")
			</td>
			<td class="adminData">
				@Html.DropDownList("SearchPublished", Model.PublishedOptions)
			</td>
		</tr>

		@if (Model.ShowStoreNumber) {
			<tr>
				<td class="adminTitle">
					@Html.Label("SearchStoreNumber", "Store #"):
				</td>
				<td class="adminData">
					@Html.EditorFor(model => Model.SearchStoreNumber)
				</td>
			</tr>
		}

		<tr>
			<td class="adminTitle">
				@Html.Label("SortOption", "Sort By:")
			</td>
			<td class="adminData">
				@Html.DropDownList("SortOption", Model.SortOptions)
			</td>
		</tr>
        <tr>
            <td class="adminTitle">
                @Html.Label("SearchClearanceOnly", "Clearance Only:")
            </td>
            <td class="adminData">
                @Html.CheckBoxFor(m => m.SearchClearanceOnly)
            </td>
        </tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="button" id="search-products" class="t-button" value="@T("Admin.Common.Search")" />
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.LabelFor(model => model.GoDirectlyToSku):
			</td>
			<td class="adminData">
				@Html.EditorFor(model => Model.GoDirectlyToSku)
				<input type="submit" id="go-to-product-by-sku" name="go-to-product-by-sku" class="t-button" value="@T("Admin.Common.Go")" />
			</td>
		</tr>
		</table>		
		<table class="productStats">
			<tr>
				<td class="count">@Model.Stats.TotalCount.ToString("n0")</td>
				<td>total products</td>
			</tr>
			<tr>
				<td class="count">@Model.Stats.PublishedCount.ToString("n0")</td>
				<td>products published</td>
			</tr>
			<tr>
				<td class="count">@Model.Stats.UnpublishedCount.ToString("n0")</td>
				<td>products not published</td>
			</tr>
			<tr>
				<td class="count">@Model.Stats.WaitingOnDelayCount.ToString("n0")</td>
				<td>products waiting on delay</td>
			</tr>
			<tr>
				<td class="count">@Model.Stats.WithoutImagesCount.ToString("n0")</td>
				<td>products without images</td>
			</tr>
			<tr>
				<td class="count">@Model.Stats.WithoutDescripCount.ToString("n0")</td>
				<td>products without description</td>
			</tr>
			<tr>
				<td class="count">@Model.Stats.WithoutImagesAndDescripCount.ToString("n0")</td>
				<td>products without images &amp; description</td>
			</tr>
		</table>
	</div>

    <p>
    </p>
    <table class="adminContent">
        <tr>
            <td>
                @(Html.Telerik().Grid<ProductModel>(Model.Products.Data)
                    .Name("products-grid")
					.Sortable()
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Id)
							.Sortable(false)
							.Filterable(false)
							.Template(x => string.Format("<input type='checkbox' name='checkedRecords' value='{0}' class='checkboxGroups'/>", x.Id))
							.ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' class='checkboxGroups'/>")
							.Title("<input id='mastercheckbox' type='checkbox'/>")
							.Width(50)
							.HtmlAttributes(new { style = "text-align:center" })
							.HeaderHtmlAttributes(new { style = "text-align:center" });

                        if (Model.DisplayProductPictures)
                        {
                            columns.Bound(x => x.PictureThumbnailUrl)
								.Sortable(false)
								.Width(150)
								.HtmlAttributes(new { style = "text-align:center" })
								.Template(
									@<text>
									 	<a href="@Url.Content("~/Admin/Product/Edit/" + @item.Id)">
											<img alt="@item.Id" src="@item.PictureThumbnailUrl" />
										</a>
									</text>
                                )
								.ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Product/Edit/") + "<#= Id #>\"><img alt='<#= Id #>' src='<#= PictureThumbnailUrl #>' /></a>");
                        }

						columns.Bound(x => x.Sku)
							.Sortable(true)
							.Width(150)
		                    .Template(x => Html.ActionLink(x.Sku, "Edit", new { id = x.Id }))
		                    .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Product/Edit/") + "<#= Id #>\"><#= Sku #></a>");

	                    columns.Bound(x => x.Name)
		                    .Sortable(true);

	                    if (Model.ShowStoreNumber) {
		                    columns.Bound(x => x.StoreNumber)
								.Sortable(true)
			                    .Width(150);
	                    }

						columns.Bound(x => x.Price)
							.Sortable(true)
							.Format("{0:C}")
							.Width(150);
								
						columns.Bound(x => x.Published)
							.Sortable(false)
                            .Width(100)
                            .Template(x => x.Published.ToString().ToLower())
                            .Centered();

	                    columns.Bound(x => x.Id)
							.HeaderTemplate("&nbsp;")
		                    .Sortable(false)
		                    .Width(100)
		                    .Template(x => Html.ActionLink("Edit", "Edit", new { id = x.Id }))
		                    .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Product/Edit/") + "<#= Id #>\">Edit</a>")
                            .Centered();

                    })
                            .Pageable(settings => settings.Total(Model.Products.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                            .DataBinding(dataBinding => dataBinding.Ajax().Select("ProductList", "Product"))
                            .ClientEvents(events => events.OnDataBinding("onDataBinding").OnDataBound("onDataBound"))
                            .EnableCustomBinding(true))
            </td>
        </tr>
    </table>
    
    <script type="text/javascript">

        var selectedIds = [];

        $(document).ready(function () {

            //search button
            $('#search-products').click(function () {
                //search
                var grid = $('#products-grid').data('tGrid');
                grid.currentPage = 1; //new search. Set page size to 1
                grid.ajaxRequest();
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.GoDirectlyToSku)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#go-to-product-by-sku").click();
                    return false;
                }
            });

            //"Export Excel selected" button
            $('#exportexcel-selected').click(function (e) {
                e.preventDefault();
                //redirect to required URL
                setLocation('@(Url.Action("ExportExcelSelected", "Product"))?selectedIds=' + selectedIds.join(","));
                return false;
            });

            $('#exportexcel-all').click(function(e) {
                e.preventDefault();
                var $form = $(e.currentTarget).closest('form');
                $form.attr('action', '@Url.Action("ExportExcelAll")').submit();
            });

            //"Export XML selected" button
            $('#exportxml-selected').click(function (e) {
                e.preventDefault();
                //redirect to required URL
                setLocation('@(Url.Action("ExportXmlSelected", "Product"))?selectedIds=' + selectedIds.join(","));
                return false;
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //"Delete (selected)" button
            $('#delete-selected').click(function (e) {
                e.preventDefault();
                //redirect to required URL
                setLocation('@(Url.Action("DeleteSelected", "Product"))?selectedIds=' + selectedIds.join(","));
                return false;
            });

            //wire up checkboxes. 
            $('#products-grid input[type=checkbox][id!=mastercheckbox]').live('change', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.  
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.  
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function onDataBinding(e) {
            var searchModel = {
                SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
            	SearchCategoryId: $('#SearchCategoryId').val(),
            	SearchWithImages: $('#SearchWithImages').val(),
            	SearchWithDescrip: $('#SearchWithDescrip').val(),
            	SearchPublished: $('#SearchPublished').val(),
            	SearchStoreNumber: $('#SearchStoreNumber').val(),
            	SortOption: $('#SortOption').val(),
            	SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchClearanceOnly: $('#SearchClearanceOnly').is(':checked')
            };
            e.data = searchModel;
        }
    
        function onDataBound(e) {
            $('#products-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.  
                $(this).attr('checked', checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>  
}
@*import products form*@
@{Html.Telerik().Window()
        .Name("importexcel-window")
        .Title(T("Admin.Common.ImportFromExcel").Text)
        .Content(@<text>
    @using (Html.BeginForm("ImportExcel", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="text-align: left;">
            <tr>
                <td>
                    @T("Admin.Common.ExcelFile"):
                </td>
                <td>
                    <input type="file" id="importexcelfile" name="importexcelfile"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>In order to import your data correctly from an Excel file, please pay attention to the following:</p>
                    <p>
                        <ul>
                            <li>Do not change the column headers.</li>
                            <li>Do not change any value under Id column.</li>
                            <li>For columns requiring Yes/No value, enter 1/0 respectively.</li>
                            <li>Enter date in MM/DD/YYYY format.</li>
                            <li>Separate multiple Category IDs and Manufacturer IDs with semi-colon(;).</li>
                            <li>Weight is measured in pounds.</li>
                            <li>Length, Width, and Height are measured in inches.</li>
                        </ul>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="t-button" value="@T("Admin.Common.ImportFromExcel")" />
                </td>
            </tr>
        </table>
    }
    </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#importexcel").click(function (e) {
            e.preventDefault();
            $('#importexcel-window').data('tWindow').center().open();
            setTimeout(function () {
                $('#importexcel-window .t-window-content').css('height', 'auto');
            }, 300);
        });
    });
</script>
