﻿@model  Treefort.Portal.Queries.Franchisee.Website.WebsiteOptions 


@if (Model.BuySellStatementAboveProducts)
{
    if(Model.ShowBuySellStatement){
        <div class="home-page-callout">
            We <span class="big-red">BUY</span> & <span class="big-red">SELL</span> Used Gear <span style="font-size:75px;"><span class="big-red">IN-STORE</span> & <span class="big-red">ON-LINE</span></span>
        </div>
        if (Model.ShowBuySellSubtext) {
            <p class="homepage-mgr-info">
                @Html.Raw(Model.BuySellSubtext)
            </p>
        }
    }
}

@foreach (var opt in Model.HomepageProductRowOptions.Where(o => o.Visible)) {
	@Html.Action("HomepageProducts", "Catalog", opt)
}

@if (!Model.BuySellStatementAboveProducts)
{
    if(Model.ShowBuySellStatement){
        <div class="home-page-callout">
                We <span class="big-red">BUY</span> & <span class="big-red">SELL</span> Used Gear <span style="font-size:75px;"><span class="big-red">IN-STORE</span> & <span class="big-red">ON-LINE</span></span>
            </div>
        if (Model.ShowBuySellSubtext) {
            <p class="homepage-mgr-info">
                @Html.Raw(Model.BuySellSubtext)
            </p>
        }
    }
}