﻿@model IList<Treefort.Portal.Queries.Franchisee.GenericPageViewModel.AdditionalPageNav>

@if (Model != null && Model.Any())
{
    <div class="additional-pages-nav centerwrapper">
        <ul>
            @foreach (var ap in Model)
            {
                <li><a class="@(ap.IsSelected ? "selected" : "" )" href="@ap.NavigationUrl">@ap.NavigationTitle</a></li>
            }
        </ul>
    </div>
}