﻿@model Treefort.Portal.Queries.Franchisee.GenericPageViewModel.CommunityEventWidget


<div class="community-event">
    <div class="community-event-title">
        @if (Model.Date.HasValue)
        {
            <span>@Model.Date.Value.ToString("MMMM dd, yyyy") :</span>
        }
        <span>@Model.Title</span>
    </div>
    <div class="community-event-text rc-base-styles">
        @Html.Raw(Model.Content)
        @if (!string.IsNullOrWhiteSpace(Model.Url))
        {
            <a href="@Model.Url">Learn More<span class="sr-only">about @Model.Title</span></a>
        }
    </div>
</div>

