﻿@model IList<Treefort.Portal.Queries.Franchisee.GenericPageViewModel.CommunityEventWidget>

@if (Model != null && Model.Any())
{
    <div class="community-events-feed-widget-wrapper bkg-gray">
        <div class="inner-wrapper centerwrapper">
            <div class="all-title">
                Community Events
            </div>
            <div class="events-wrapper">
                @foreach (var ev in Model)
                {
                    @Html.Partial("_CommunityEventLine", ev)
                }
            </div>
        </div>
    </div>
}