﻿@model Treefort.Portal.Queries.Franchisee.GenericPageViewModel.CouponWidget

<div class="coupon-box" style="background-image: url('@(Model.ImageReference)?width=280')">
    <div class="coupon-box-inner gold-blend">
        <div class="image-title">@Model.Title</div>
        <div class="image-subtitle">@Model.Subtitle</div>
        <div class="image-description">@Model.Text</div>
        @if (Model.DisplayLink && !string.IsNullOrEmpty(Model.DocumentReference))
        {
            <div class="image-link">
                <a href="@Model.DocumentReference">Click Here to Learn More</a>
            </div>
        }
    </div>
</div>

