﻿@model Treefort.Portal.Queries.Franchisee.GenericPageViewModel

@if (Model.IsPreview)
{
     <div id="previewCallout">
        Preview Only
    </div>
}

<div ng-controller="HelperCtrl" ng-hide="advancedSearchService.show">
    @Html.Action("LocationBox", "Locations")
</div>
<div class="home-portal-widgets">
    @Html.Partial("/Views/Franchisee/_Widgets.cshtml", Model.Widgets)
    @Html.Action("CommunityEventsFeed", "Franchisee")
</div>
