﻿@using Nop.Web.Extensions
@model Treefort.Portal.Queries.Franchisee.Location.MultipleLocationSidebar
           
<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1i9smG57djEOiEVHIXw1K8PtCHiq-p24&sensor=false">
    </script>
<script type="text/javascript">
    function initialize() {
        var lat, lng, li;
        var bounds = new google.maps.LatLngBounds();

        var myOptions = {
            zoom: 12,
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
         
        var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

        $(".iLocation").each(function(i, el) {
            li = $(el);
            lat = parseFloat(li.attr("lat"));
            lng = parseFloat(li.attr("lng"));

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map,
                icon: '/Themes/MGR/Content/images/location-pin-small.png'
            });


            bounds.extend(marker.position);
            map.fitBounds(bounds);
                
        });
    }
        

    $(document).ready(function() {
        initialize();
            
        $(".hours-link").live("click", function (e) {
            e.preventDefault();

            var table = $("#" + $(this).attr("data-id"));
            if (table.length == 0) {
                var parent = $(this).parent();
                $.get($(this).attr("href"), function (responseText) {
                    html = $(responseText);
                    $("tr:odd", html).addClass("odd");
                    parent.append(html);
                });
            } else if (table.is(":visible")) {
                table.hide();
            } else {
                table.show();
            }
            return false;
        });
    });
</script>


 <div id="google-map">
        <div id="map-canvas" style="height:100%; width:100%;"></div>
    </div>

@foreach (var location in Model.Locations.Where(l => !l.IsCrossBrand)) {

    <div lat="@location.Lat" lng="@location.Lon" data-id="@location.StoreNumber" class="iLocation">
        <h4>@location.Name</h4>
            
        @if (Model.IsCoop)
        {
            <div class="location-actions">
                @*&raquo; <span style="margin-left:5px;">*@
                @location.Address1 @location.Address2 
                @location.City, @location.Region @location.PostalCode
                @*</span>*@
            </div>
        }
    
        <div class="location-actions">
            &raquo; <a href="@Url.GoogleDirections(location)" @Html.Raw("onClick=\"ga('send', 'event', 'Directions Link', 'clicked', 'Directions for Store " + location.StoreNumber + "');\"") target="_blank">Map</a>  <span>@location.Phone</span>
                
            @if (Model.IsCoop && !string.IsNullOrWhiteSpace(location.Website)) { 
                <a href="@location.Website" class="cross-domain" title="@location.Website" @Html.Raw("onClick=\"ga('send', 'event', 'Website Link', 'clicked', 'Website for Store " + location.StoreNumber + "');\"")>Website</a>
            }
                
            <a class="hours-link" data-id="@Html.Raw("hours" + location.Id)" @Html.Raw("onClick=\"ga('send', 'event', 'Hours Link', 'clicked', 'Hours for Store " + location.StoreNumber + "');\"") href="@Url.Action("Hours", "Locations", new {Id = location.Id})">Hours</a>
        </div>
            
        <div class="location-actions">
            @if (!string.IsNullOrEmpty(location.ConstactContactUrl))
            {
                <a href="@location.ConstactContactUrl" @Html.Raw("onClick=\"ga('send', 'event', 'Email List Link', 'clicked', 'Email List for Store " + location.StoreNumber + "');\"")>Join Our Email List</a>
            }

            @if (!string.IsNullOrEmpty(location.FacebookUrl))
            {
                <a href="@location.FacebookUrl" class="icon-facebook" onclick="ga('send', 'event', 'Facebook Link' , 'clicked' , 'Facebook for Store @location.StoreNumber');"></a>
            }

            @if (location.IsGoldStandard.HasValue && location.IsGoldStandard.Value)
            {
                <img src="/Themes/MGR/Content/images/4_star_small.png" style="height:14px; width:13px; margin-left:5px; vertical-align: top; margin-top:-2px;" />
            }
        </div>
    </div>
} 

@if (Model.Locations.Any(x => !x.IsCrossBrand && x.IsGoldStandard.HasValue && x.IsGoldStandard.Value))
{
    <div id="fourStarBoxWrapper">
        <img src="/Themes/MGR/Content/images/four-star-store-box.jpg"/>
            
        <p>Look for stores with the "star" logo. These stores are recognized as "4-Star" customer service locations. They earned this status by achieving the highest standards in Store Operations, Customer Service, Staff Development and E-Commerce Service.</p>
    </div>
}
@{
    var crossBrandCount = Model.Locations.Count(l => l.IsCrossBrand);
}
@if (crossBrandCount > 0)
{
    <div id="crossBrandLocations">
        <div class="cbTitle">
            <strong>@(crossBrandCount > 1 ? "Check out our other stores that buy & sell gently used and new too!" : "Check out our other store that buys & sells gently used and new too!")</strong>
        </div>
        <div id="locationLists" class="clearfix">
            @foreach (var location in Model.Locations.Where(l => l.IsCrossBrand).OrderBy(l => l.FranchiseId).ThenBy(l => l.Name))
            {
                <a target="_blank" href="//@location.CrossBrandUrl" class="brandName brand-@location.FranchiseId">
                    <div><p>@string.Format("{0} {1}", location.FranchiseName, location.City)</p></div>
                </a>
            }
        </div>
    </div>
}
<img src="/Themes/MGR/Content/images/dont-forget-bring-in-text.png" style="margin-top:20px"/>