﻿@model Nop.Web.Models.Common.PromotionsFeedModel

<div class="promotions-feed-widget-wrapper bkg-white">
    <div class="inner-wrapper centerwrapper">
        <div class="all-title">In-Store Promotions</div>
        <div class="coupons-wrapper">
            @foreach (var promo in Model.Promotions.Take(3))
            {
                <a class="coupon-link-wrapper" href="@Url.Action("Promotions", "Franchisee")">
                    @Html.Partial("_CouponBox", promo)
                </a>
            }
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.ConstantContactUrl))
        {
            <div class="text-wrapper">
                We're always updating and starting new promotions so check back to see what's new or <a href="@Model.ConstantContactUrl" target="_blank" rel="nofollow">sign up for our newsletter</a> and get updates in your inbox.
            </div>
        }
    </div>
</div>