﻿
@using Nop.Web.Extensions
@using Treefort.Portal.Services
@model Treefort.Portal.Queries.Franchisee.Location.SingleLocationSidebar

 <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1i9smG57djEOiEVHIXw1K8PtCHiq-p24&sensor=false">
    </script>
<script type="text/javascript">
    function initialize() {
        var myOptions = {
            center: new google.maps.LatLng(@Model.Location.Lat, @Model.Location.Lon),
            zoom: 14,
            mapTypeControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
                
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            myOptions);
            
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.Location.Lat, @Model.Location.Lon),
            map: map,
            icon: '/Themes/MGR/Content/images/location-pin-small.png'
        });
        map.setCenter(marker.position);
    }

    $(document).ready(function() {
        initialize();
            
        $(".hours-link").live("click", function (e) {
            e.preventDefault();

            var table = $("#" + $(this).attr("data-id"));
            if (table.length == 0) {
                var parent = $(this).closest('.singleLocWrap');
                $.get($(this).attr("href"), function (responseText) {
                    html = $(responseText);
                    $("tr:odd", html).addClass("odd");
                    parent.append(html);
                });
            } else if (table.is(":visible")) {
                table.hide();
            } else {
                table.show();
            }
            return false;
        });

        $('#fourstarMoreInfo').click(function() {
            $('#fourStarBoxWrapper').toggle();
        });
    });
</script>


<div class="singleLocationWrapper">
    <div class="sidebar-franchisee-image-wrapper">
        @if (!string.IsNullOrEmpty(Model.Location.ImageFileName))
        {
             @Html.SaltCheckImage(Model.Location.ImageFileName, "width=270&crop=max", "Store Photo")
        }
    </div>

    <div class="locationheader clearfix">
        <h3>@Model.WebsiteOptions.AboveMapText1 </h3>
        @if(!string.IsNullOrEmpty(Model.WebsiteOptions.AboveMapText2))
        {
            <h3>
                @Model.WebsiteOptions.AboveMapText2
            </h3>
        }
    </div>
    <div id="google-map">
        <div id="map-canvas" style="height:100%; width:100%;"></div>
    </div>
    
    <div class="singleLocWrap clearfix">
        <div class="icon-compass icon"></div>
        <div class="single-details">
            <strong>Directions to</strong>
            
            <a href="@Url.GoogleDirections(Model.Location)" @Html.Raw("onClick=\"ga('send', 'event', 'Directions Link', 'clicked', 'Directions for Store " + Model.Location.StoreNumber + "');\"") target="_blank" style="text-decoration:none;">
                <address>
                    @Model.Location.Address1 @Model.Location.Address2 <br/>
                    @Model.Location.City, @Model.Location.Region @Model.Location.PostalCode
                </address>
            </a>
        </div>
    </div>
    
    <div class="singleLocWrap clearfix">
        <div class="icon-clock icon"></div>
        <div class="single-details">
            Check Out Our Store<br/>
            
            <a class="hours-link" data-id="@Html.Raw("hours" + Model.Location.Id)" @Html.Raw("onClick=\"ga('send', 'event', 'Hours Link', 'clicked', 'Hours for Store " + Model.Location.StoreNumber + "');\"") href="@Url.Action("Hours", "Locations", new {Id = Model.Location.Id})">Hours</a>
        </div>
    </div>

    <div class="singleLocWrap clearfix">
        <div class="icon-mic icon"></div>
        <div class="single-details">
            Give us a shout at<br/>
            <strong>@Model.Location.Phone</strong><br/>
            
            @if(!string.IsNullOrEmpty(Model.Location.Email)){
                @:or <a href="mailto:@Model.Location.Email" @Html.Raw("onClick=\"ga('send', 'event', 'Email Link', 'clicked', 'Email for Store " + Model.Location.StoreNumber + "');\"")>Email Us</a>
            }
        </div>
    </div>
    
    @if(!string.IsNullOrEmpty(Model.Location.FacebookUrl)){
        <div class="singleLocWrap clearfix">
            <div class="icon-facebook icon"></div>
            <div class="single-details">
                Show us some love<br/>
                <strong><a href="@Model.Location.FacebookUrl" onclick="ga('send', 'event', 'Facebook Link' , 'clicked' , 'Facebook for Store @Model.Location.StoreNumber');">on Facebook</a></strong>
            </div>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(Model.Location.InstagramUrl))
    {
        <div class="singleLocWrap clearfix">
            <div class="icon-instagram icon"></div>
            <div class="single-details">
                See more<br />
                <strong><a href="@Model.Location.InstagramUrl" onclick="ga('send', 'event', 'Instagram Link' , 'clicked' , 'Instagram for Store @Model.Location.StoreNumber');">on Instagram</a></strong>
            </div>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(Model.Location.TwitterUrl))
    {
        <div class="singleLocWrap clearfix">
            <div class="icon-twitter icon"></div>
            <div class="single-details">
                Follow us<br />
                <strong><a href="@Model.Location.TwitterUrl" onclick="ga('send', 'event', 'Twitter Link' , 'clicked' , 'Twitter for Store @Model.Location.StoreNumber');">on Twitter</a></strong>
            </div>
        </div>
    }
    
    @if(!string.IsNullOrEmpty(Model.Location.ConstactContactUrl)){
        <div class="singleLocWrap clearfix">
            <div class="icon-envelop icon"></div>
            <div class="single-details">
                Get the skinny from<br/>
                <strong><a href="@Model.Location.ConstactContactUrl" @Html.Raw("onClick=\"ga('send', 'event', 'Email List Link', 'clicked', 'Email List for Store " + Model.Location.StoreNumber + "');\"")>our Email newsletter</a></strong> 
            </div>
        </div>
    }
    
    @if (Model.Location.IsGoldStandard.HasValue && Model.Location.IsGoldStandard.Value)
    {
        <div id="franchisee-fourstar" class="singleLocWrap clearfix">
            <div class="icon"><img src="/Themes/MGR/Content/images/4_star.png" alt="Four Star Store"/></div>
            <div class="single-details">
                This is a "4-Star" store.  <br /><strong>click for <span style="text-decoration: underline; cursor: pointer" id="fourstarMoreInfo">More Info</span></strong>
            </div>
        </div>

        <div id="fourStarBoxWrapper" style="display: none">
            <img src="/Themes/MGR/Content/images/four-star-store-box.jpg" alt="Four Star Store"/>
            
            <p>This store earned the 4 Star status by achieving the highest standards in Store Operations, Customer Service, Staff Development and E-Commerce Service.</p>
        </div>
    }
    
    @{
        var crossBrandCount = Model.CrossBrandLocations.Count;
    }
    @if (crossBrandCount > 0)
    { 
        <div id="crossBrandLocations">
            <div class="cbTitle">
                <strong>@(crossBrandCount > 1 ? "Check out our other stores that buy & sell gently used and new too!" : "Check out our other store that buys & sells gently used and new too!")</strong>
            </div>
            <div id="locationLists" class="clearfix">
                @foreach (var location in Model.CrossBrandLocations.OrderBy(l => l.FranchiseId).ThenBy(l => l.Name))
                {
                    <a target="_blank" href="//@location.CrossBrandUrl" class="brandName brand-@location.FranchiseId">
                        <div><p>@string.Format("{0} {1}", location.FranchiseName, location.City)</p></div>
                    </a>
                }
            </div>
        </div>
    }
    
    <img src="/Themes/MGR/Content/images/dont-forget-bring-in-text.png" alt="Dont forget to bring us your gear"/>
</div>