﻿@using Treefort.Portal.Services
@model IList<Treefort.Portal.Queries.Franchisee.GenericPageViewModel.Widget>

@foreach (var w in Model)
{
    switch (w.Code)
    {
        case 1:
            <div class="text-widget-wrapper bkg-white">
                <div class="inner-wrapper centerwrapper rc-base-styles">
                    @Html.Raw(w.TextWidgets.Content)
                </div>
            </div>
            break;

        case 3:
            <div class="embed-widget-wrapper bkg-white">
                @Html.Raw(w.EmbedWidgets.Code)
            </div>
            break;
        case 4:
            <div class="job-widget-wrapper">
                <div class="centerwrapper inner-wrapper">
                    <div class="job-title">
                        @w.JobWidgets.Title @(string.IsNullOrWhiteSpace(w.JobWidgets.Compensation) ? "" :" | " + w.JobWidgets.Compensation)
                    </div>
                    <div class="job-subtitle">
                        @w.JobWidgets.Summary
                    </div>
                    <div class="job-description rc-base-styles">
                        @Html.Raw(w.JobWidgets.Description)
                    </div>
                </div>
            </div>
            break;
        case 5:
        <div class="special-offers-widget-wrapper bkg-white">
            <div class="inner-wrapper centerwrapper">
                <div class="all-title">
                    @w.SpecialOfferWidgets.Title
                </div>
                <div class="columns-wrapper">
                    <div class="widget-column">
                        <div class="image-wrapper">
                            @Html.SaltCheckImage(w.SpecialOfferWidgets.ImageReference, "width=520", "", w.SpecialOfferWidgets.ImageAltText)
                        </div>
                    </div>
                    <div class="widget-column description-column">
                        <div class="column-text rc-base-styles">@Html.Raw(w.SpecialOfferWidgets.Text)</div>
                        @if (!string.IsNullOrWhiteSpace(w.SpecialOfferWidgets.DocumentReference))
                        {
                            <div class="column-download">
                                <a class="default-yellow-arrow" href="@w.SpecialOfferWidgets.DocumentReference" target="_blank">
                                    <svg>
                                        <use xlink:href="#yellow-arrow-template"></use>
                                    </svg>
                                    <span class="yellow-arrow-text">
                                        Download Coupon
                                    </span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
                        break;
        case 7:
        <div class="three-columns-widget-wrapper bkg-gray">

            <div class="inner-wrapper centerwrapper">
                @if (!string.IsNullOrWhiteSpace((w.ThreeColumnsWidgets.Title)))
                {
                    <div class="all-title">@w.ThreeColumnsWidgets.Title</div>
                }
                <div class="columns-wrapper">
                    <div class="widget-column">
                        @if (!string.IsNullOrEmpty(w.ThreeColumnsWidgets.ImageReference1))
                        {
                            <div class="column-image">
                                @Html.SaltCheckImage(w.ThreeColumnsWidgets.ImageReference1, "width=335&height=343&crop=auto&scale=both", "", w.ThreeColumnsWidgets.Image1AltText)
                            </div>
                        }

                        <div class="column-subtitle">@w.ThreeColumnsWidgets.Subtitle1</div>

                        @if (!string.IsNullOrEmpty(w.ThreeColumnsWidgets.Text1))
                        {
                            <div class="column-text rc-base-styles">@Html.Raw(w.ThreeColumnsWidgets.Text1)</div>
                        }
                    </div>
                    <div class="widget-column">
                        @if (!string.IsNullOrEmpty(w.ThreeColumnsWidgets.ImageReference2))
                        {
                            <div class="column-image">
                                @Html.SaltCheckImage(w.ThreeColumnsWidgets.ImageReference2, "width=335&height=343&crop=auto&scale=both", "", w.ThreeColumnsWidgets.Image2AltText)
                            </div>
                        }

                        <div class="column-subtitle">@w.ThreeColumnsWidgets.Subtitle2</div>

                        @if (!string.IsNullOrEmpty(w.ThreeColumnsWidgets.Text2))
                        {
                            <div class="column-text rc-base-styles">@Html.Raw(w.ThreeColumnsWidgets.Text2)</div>
                        }
                    </div>
                    <div class="widget-column">
                        @if (!string.IsNullOrEmpty(w.ThreeColumnsWidgets.ImageReference3))
                        {
                            <div class="column-image">
                                @Html.SaltCheckImage(w.ThreeColumnsWidgets.ImageReference3, "width=335&height=343&crop=auto&scale=both", "", w.ThreeColumnsWidgets.Image3AltText)
                            </div>
                        }

                        <div class="column-subtitle">@w.ThreeColumnsWidgets.Subtitle3</div>

                        @if (!string.IsNullOrEmpty(w.ThreeColumnsWidgets.Text3))
                        {
                            <div class="column-text rc-base-styles">@Html.Raw(w.ThreeColumnsWidgets.Text3)</div>
                        }
                    </div>
                </div>
            </div>
        </div>
                        break;
        case 8:
        <div class="image-grid-widget-wrapper bkg-gray">
            <div class="inner-wrapper centerwrapper">
                <div class="image-grid">
                    @foreach (var image in w.ProductGridWidgets.Products)
                    {
                        <a href="@image.Link" @(image.OpenInNewWindow ? "target='_blank'" : "") class="image-box">
                            <div class="image-container">
                                @Html.SaltCheckImage(image.ImageReference, "width=244&height=244&crop=auto&scale=down", "", image.AltText)
                            </div>
                            <div class="image-box-description">
                                @image.Title
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
                    break;
        case 9:
            <div class="slideshow-widget-wrapper">
                <div class="inner-wrapper centerwrapper">
                    <div class="slides">
                        <div class="slides_container">
                            @if (w.SlideshowWidgets.Slides.Count > 1)
                            {
                                <a href="#" class="prev-slideshow slidesjs-previous slidesjs-navigation">
                                    <span class="icon-chevron-left"></span>
                                </a>
                                <a href="#" class="next-slideshow slidesjs-next slidesjs-navigation">
                                    <span class="icon-chevron-right"></span>
                                </a>
                            }
                            @foreach (var slide in w.SlideshowWidgets.Slides)
                            {
                                <div class="slide">
                                    @Html.SaltCheckImage(slide.ImageReference, "height=520&width=1300&crop=auto&scale=both", "", slide.AltText)
                                    @(string.IsNullOrEmpty(slide.Link) ? Html.Raw("<div class=\"caption\">") : Html.Raw("<a class=\"caption\" href=\"" + slide.Link + "\">"))
                                    @slide.Title
                                    @(string.IsNullOrEmpty(slide.Link) ? Html.Raw("</div>") : Html.Raw("</a>"))
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
                            break;
        case 12:
        <div class="simple-text-widget-wrapper  bkg-gray">
            <div class="inner-wrapper centerwrapper rc-base-styles">
                @Html.Raw(w.SimpleTextWidgets.Content)
            </div>
        </div>
                            break;
        case 13:
        <div class="two-columns-widget-wrapper bkg-white">
            <div class="inner-wrapper centerwrapper">
                @if (!string.IsNullOrEmpty(w.TwoColumnWidgets.Columns[0].Title))
                {
                    <div class="all-title">@w.TwoColumnWidgets.Columns[0].Title</div>
                }
                <div class="columns-wrapper">
                    @foreach (var col in w.TwoColumnWidgets.Columns)
                    {
                        <div class="widget-column">
                            @if (!string.IsNullOrEmpty(col.ImageReference))
                            {
                                <div class="column-image">
                                    @Html.SaltCheckImage(col.ImageReference, "width=530&height=341&crop=auto&scale=both", "", col.ImageAltText)
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(col.Text))
                            {
                                <div class="column-text rc-base-styles">@Html.Raw(col.Text)</div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
                    break;
        case 14:
            <div class="staff-member-widget-wrapper bkg-gray">
                <div class="inner-wrapper centerwrapper">
                    <div class="image-wrapper">
                        @Html.SaltCheckImage(w.StaffWidgets.ImageReference, "width=384&height=425&crop=auto&scale=both")
                    </div>
                    <div class="info-wrapper">
                        <div class="name-contact-wrapper">
                            <div class="title-subtitle">
                                <div class="title">
                                    @w.StaffWidgets.Name
                                </div>
                                <div class="subtitle">
                                    @w.StaffWidgets.Subtitle
                                </div>
                            </div>
                            <div class="contact-info">
                                <a href="tel:@w.StaffWidgets.Phone" class="contact-line-large phone">
                                    @w.StaffWidgets.Phone
                                </a>
                                <a href="mailto:@w.StaffWidgets.Email" class="contact-line-large email">
                                    Send an Email
                                </a>
                            </div>
                        </div>
                        <div class="attributes-wrapper">
                            @if (!string.IsNullOrEmpty(w.StaffWidgets.Specialty))
                            {
                                <div class="attribute">
                                    <div class="attribute-title">Specialty</div>
                                    <div class="attribute-description">@w.StaffWidgets.Specialty</div>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(w.StaffWidgets.Rate))
                            {
                                <div class="attribute">
                                    <div class="attribute-title">Rate</div>
                                    <div class="attribute-description">
                                        @w.StaffWidgets.Rate
                                        @if (!string.IsNullOrEmpty(w.StaffWidgets.PaymentMethod))
                                        {
                                            <span>, Accepts @w.StaffWidgets.PaymentMethod</span>
                                        }
                                    </div>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(w.StaffWidgets.Availability))
                            {
                                <div class="attribute">
                                    <div class="attribute-title">Availability</div>
                                    <div class="attribute-description">@w.StaffWidgets.Availability</div>
                                </div>
                            }
                        </div>
                        <div class="content-wrapper rc-base-styles">
                            @Html.Raw(w.StaffWidgets.Text)
                        </div>
                    </div>
                </div>
            </div>
            break;
        case 18:
            <div class="coupon-widget-wrapper">
                <div class="inner-wrapper centerwrapper">
                    <div class="text-section">
                        <div class="text-title">
                            <span class="big-title">@w.CouponWidgets.Title</span>
                            <span class="small-subtitle">@w.CouponWidgets.Subtitle</span>
                        </div>
                        <div class="text-description">
                            @w.CouponWidgets.Text
                        </div>
                    </div>
                    <div class="image-section">
                        @Html.Partial("_CouponBox", w.CouponWidgets)
                    </div>
                </div>
            </div>
            break;
        case 19:
        <div class="community-event-widget-wrapper bkg-gray">
            <div class=" inner-wrapper centerwrapper">
                <div class="all-title">
                    Community Event
                </div>
                @Html.Partial("_CommunityEventLine", w.CommunityEventWidgets)
            </div>
        </div>
            break;
        case 99:
            @Html.Partial("_CommunityEventsFeed", w.CommunityEventsFeed)
            break;
        case 20:
            @Html.Partial("~/Views/Home/_HowItWorksCallout.cshtml", "Here's How We Buy Your Gear")
            break;
            case 21:
            <div class="lessons-feed-widget-wrapper">
                <div class="inner-wrapper centerwrapper">
                    <div class="all-title">
                        Lessons at Music Go Round
                    </div>
                    <div class="lessons-description">
                        @Html.Raw(w.LessonsFeedWidget.Text)
                    </div>
                    <div class="lessons-learn-more">
                        <a href="@Url.Action("Lessons", "Franchisee")" class="default-yellow-arrow">
                            <svg>
                                <use xlink:href="#yellow-arrow-template"></use>
                            </svg>
                            <span class="yellow-arrow-text">
                                Meet the Teachers
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            break;
        case 22:

            @Html.Action("HomepageProducts", "Catalog", new {visibleCategoryIds = w.ProductsFeedWidget.VisibleCategoryIds, minimumPrice = w.ProductsFeedWidget.MinimumPrice})
            break;
        case 23:
            @Html.Action("PromotionsFeed", "Franchisee")
            break;
    }
}


<script>
    $(function () {
        var $slidesContainer = $('.slides_container');
        $.each($slidesContainer, function(i, v) {
            var $sc = $(v);
            var hasMultipleSlides = $sc.find('.slide').length > 1;
            $sc.slidesjs({
                height: 520,
                width: 1300,
                navigation: {
                    active: false
                },
                pagination: {
                    active: hasMultipleSlides
                },
                play: {
                    active: false,
                    interval: 5000,
                    auto: hasMultipleSlides,
                    pauseOnHover: true,
                    restartDelay: 2500
                },
                callback: {
                    loaded: function (a) {
                        $('.slidesjs-pagination-item a').each(function (i, v) {
                            $(v).html('&bull;<span class="sr-only">' + i + '</span>');
                        });
                    }
                }
            });
        });
    });
</script>