﻿@using Treefort.Portal.Services
@model IList<Treefort.Portal.Queries.Franchisee.GenericPageViewModel.Widget>

@foreach (var w in Model)
{
    switch (w.Code)
    {
        case 1:
            @Html.Raw(w.TextWidgets.MobileContent)
       break;

        case 3:
            <div style="text-align:center">
                @Html.Raw(w.EmbedWidgets.MobileCode)
            </div>
           break;
        case 4:
            <div class="jobdetail">
                <div class="available-jobs-wrapper clearfix">
                    <h2 class="job-title"><a href="#">@Html.Raw(w.JobWidgets.Title)</a></h2>
                    <p class="job-summary">@Html.Raw(w.JobWidgets.Summary) <a href="#" class="job-more-info">More Info &raquo;</a></p>
                </div>
                
                <dl class="job-info">
                    <dt>Compensation:</dt>
                    <dd>@Html.Raw(w.JobWidgets.Compensation)</dd>
                    
                    <dt>Description:</dt>
                    <dd>@Html.Raw(w.JobWidgets.Description)</dd>
                    
                    <dt></dt>
                    <dd><a href="#" class="job-detail-close">Close</a></dd>
                </dl>
            </div>
                   break;
         case 5:
            <div class="promotion-box clearfix">
                @if(!String.IsNullOrEmpty(w.SpecialOfferWidgets.ImageReference))
                {
                    @Html.SaltCheckImage(w.SpecialOfferWidgets.ImageReference, "width=156", "", w.SpecialOfferWidgets.ImageAltText)
                }
                
                <div class="promotion-description clearfix">
                    <h3>@Html.Raw(w.SpecialOfferWidgets.Title)</h3>
                    <p>@Html.Raw(w.SpecialOfferWidgets.Text)</p>
                    @if(!String.IsNullOrEmpty(w.SpecialOfferWidgets.DocumentReference))
                   {
                       <a href="@w.SpecialOfferWidgets.DocumentReference" target="_blank">Click here for printable coupon</a>
                   }
                </div>
            </div>
         
            break;
            
             case 9:
            <div class="slideshow-widget-wrapper">
                <div class="slides">
                    <div class="slides_container">
                         <a href="#" class="next-slideshow slidesjs-previous slidesjs-navigation"></a>
                        <a href="#" class="prev-slideshow slidesjs-next slidesjs-navigation"></a>
                        @foreach (var slide in w.SlideshowWidgets.Slides)
                        {
                            <div class="slide">
                                @Html.SaltCheckImage(slide.ImageReference, "height=520&width=1300&crop=auto", "", slide.AltText)
                                @if (!string.IsNullOrEmpty(slide.Title))
                                {
                                    @(string.IsNullOrEmpty(slide.Link) ? Html.Raw("<div class=\"caption\">") : Html.Raw("<a class=\"caption\" href=\"" + slide.Link + "\">"))
                                    @slide.Title
                                    @(string.IsNullOrEmpty(slide.Link) ? Html.Raw("</div>") : Html.Raw("</a>"))
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>

            <script>
                $(function () {
                    $(".slides_container").slidesjs({
                        height: 380,
                        width: 737,
                        navigation: {
                            active: false
                        },
                        pagination: {
                            active: false
                        },
                        play: {
                            active: false,
                            interval: 5000,
                            auto: true,
                            pauseOnHover: true,
                            restartDelay: 2500
                        }
                    });
                });
            </script>
                        break;
    }
}