﻿@model Treefort.Portal.Queries.Franchisee.GenericPageViewModel

@{
    //ViewBag.Title = Model.Meta.Title;
    Html.AddTitleParts(Model.Meta.Title);
    Html.AddMetaDescriptionParts(Model.Meta.MetaDescription);
    Layout = "~/Views/Shared/_Root.cshtml";
}

@if (Model.IsPreview)
{
     <div id="previewCallout">
        Preview Only
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <h1 class="big-page-title">@Model.Title</h1>
}
else
{
    <div class="big-page-title"></div>
}

@if (Model.ShowAdditionalPages)
{
    @Html.Action("AdditionalPagesNav", "Franchisee", new {pageId = Model.PageId})
}
<div class="generic-page">
    <div class="page-body">
        @Html.Partial("_Widgets", Model.Widgets)
    </div>
</div>


@section FooterScripts
{
     <script type="text/javascript">
            $(function () {

                $('.available-jobs-wrapper a').click(function (e) {
                    e.preventDefault();
                    $(this).closest('.available-jobs-wrapper').next('.job-info').toggle();
                });


                $('.job-detail-close').click(function (e) {
                    e.preventDefault();
                    $(this).parent().parent().hide();
                });
            });

    </script>
}

