﻿@model Treefort.Portal.Queries.Franchisee.GenericPageViewModel

@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AddTitleParts(Model.Meta.Title);
    Html.AddMetaDescriptionParts(Model.Meta.MetaDescription);
}

<section>
    <h1>@Model.Title</h1>
    
    @Html.Partial("_Widgets", Model.Widgets)
</section>

<script type="text/javascript">
    $(function () {
        $('.job-info').hide();
        $('.available-jobs-wrapper a').click(function (e) {
            e.preventDefault();
            $(this).closest('.available-jobs-wrapper').next('.job-info').toggle();
        });


        $('.job-detail-close').click(function (e) {
            e.preventDefault();
            $(this).parent().parent().hide();
        });
    });

    $(function() {
        var frames = $('iframe');

        $.each(frames, function(i, f) {
            $(f).css('width', 'auto');
            $(f).css('height', 'auto');
        });
    });
</script>
