﻿@model Treefort.Portal.Queries.Franchisee.GenericPageViewModel

@{
    //ViewBag.Title = Model.Meta.Title;
    Html.AddTitleParts(Model.Meta.Title);
    Html.AddMetaDescriptionParts(Model.Meta.MetaDescription);
    Layout = "~/Views/Shared/_ColumnsTwoRightColumn.cshtml";
}

@if (Model.IsPreview)
{
     <div id="previewCallout">
        Preview Only
    </div>
}


<div class="page home-page rc-base-styles">
    <video id="hiw-video" class="video-js vjs-default-skin"
      controls preload="auto" width="762" height="428"
      poster="https://s3.amazonaws.com/mgrstore/how-it-works/hiw-poster.png"
      data-setup='{}'>
     <source src="https://s3.amazonaws.com/mgrstore/how-it-works/hiwv1.mp4" type='video/mp4' />
    </video>

    <h1>@Model.Title</h1>
    <div class="page-body">
        @Html.Partial("_Widgets", Model.Widgets)
    </div>
</div>


@section right
{
    @Html.Action("LocationSidebar", "Franchisee")
}


