﻿@using Newtonsoft.Json
@model List<ShipmentModel>

    @{
        //page title
        var defaultPackage = Model[0];
        ViewBag.Title = string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, defaultPackage.OrderId);
        ViewBag.DefaultStateProvinceId = defaultPackage.ShippingAddress.StateProvinceId;
        var packageIds = (JsonConvert.SerializeObject(Model.Select(p => p.ShipmentPackageId).ToArray()));
    }
    @using (Html.BeginForm())
    {
        <input type="hidden" id="ShipmentPackageIds" name="ShipmentPackageIds" value="@packageIds" data-package-ids="@packageIds" />
        <div class="section-header">
            <div class="title">
                <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
                @string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, defaultPackage.OrderId) @Html.ActionLink("(" + T("Admin.Orders.Shipments.BackToOrder") + ")", "Edit", new { id = @defaultPackage.OrderId })
            </div>
            <div class="options">
                <label for="MarkAsShipped">Mark As Shipped</label>
                @Html.CheckBox("MarkAsShipped", false, new { Name = "MarkAsShipped", id = "MarkAsShipped" })
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
                <input type="submit" name="save-continue" class="t-button" value="@T("Admin.Common.SaveContinue")" />
            </div>
        </div>
        @Html.ValidationSummary(false)

        for (int j = 0; j < Model.Count; j++)
        {
            <table class="adminContent">
                <tr>
                    <td class="adminData">
                        <strong>Box @Model[j].ShipmentPackageId</strong>
                    </td>
                </tr>
                <tr>
                    <td class="adminData">
                        <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                            <thead>
                                <tr class="headerstyle">
                                    <th align="center">
                                        @T("Admin.Orders.Shipments.Products.ProductName")
                                    </th>
                                    <th align="center">
                                        @T("Admin.Orders.Shipments.Products.SKU")
                                    </th>
                                    <th align="center">
                                        @T("Admin.Orders.Shipments.Products.ItemWeight")
                                    </th>
                                    <th align="center">
                                        @T("Admin.Orders.Shipments.Products.ItemDimensions")
                                    </th>
                                    <th align="center">
                                        @T("Admin.Orders.Shipments.Products.QtyOrdered")
                                    </th>
                                    <th align="center">
                                        @T("Admin.Orders.Shipments.Products.QtyToShip")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model[j].Products.Count; i++)
                                {
                                    <tr>
                                        <td style="width: 50%;">
                                            <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                                <em><a href="@Url.Action("Edit", "ProductVariant", new { id = Model[j].Products[i].ProductVariantId })">@Model[j].Products[i].FullProductName</a></em>
                                                @if (!String.IsNullOrEmpty(Model[j].Products[i].AttributeInfo))
                                                {
                                                    <br />
                                                    @Html.Raw(Model[j].Products[i].AttributeInfo)
                                                }
                                            </div>
                                        </td>
                                        <td style="width: 10%;">
                                            <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                                @Model[j].Products[i].Sku
                                            </div>
                                        </td>
                                        <td align="center" style="width: 10%;">
                                            @Model[j].Products[i].ItemWeight
                                        </td>
                                        <td align="center" style="width: 10%;">
                                            @Model[j].Products[i].ItemDimensions
                                        </td>
                                        <td align="center" style="width: 10%;">
                                            @Model[j].Products[i].QuantityOrdered
                                        </td>
                                        <td align="center" style="width: 10%;">
                                            <input type="hidden" name="shipmentPackage@(Model[j].Products[i].OrderProductVariantId)" value="@Model[j].ShipmentPackageId" />
                                            @Html.HiddenFor(m => m[j].Products[i].QuantityToAdd, new { Name = "qtyToAdd" + Model[j].Products[i].OrderProductVariantId, @readonly = "readonly" })
                                            @Model[j].Products[i].QuantityToAdd
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        }

        <table style="margin:16px 0">
            <tr>
                <td colspan="2" style="padding-top:16px;">
                    <strong>Shipping Destination</strong>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => defaultPackage.ShippingAddress.Address1, "Address Line 1"):
                </td>
                <td>
                    @Html.EditorFor(model => defaultPackage.ShippingAddress.Address1)
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => defaultPackage.ShippingAddress.Address1)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => defaultPackage.ShippingAddress.Address2, "Address Line 2"):
                </td>
                <td>
                    @Html.EditorFor(model => defaultPackage.ShippingAddress.Address2)
                    @Html.ValidationMessageFor(model => defaultPackage.ShippingAddress.Address2)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => defaultPackage.ShippingAddress.City, "City"):
                </td>
                <td>
                    @Html.EditorFor(model => defaultPackage.ShippingAddress.City)
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => defaultPackage.ShippingAddress.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => defaultPackage.ShippingAddress.StateProvinceId, "State"):
                </td>
                <td>
                    @Html.DropDownList("DefaultStateProvinceId", defaultPackage.AvailableStates, new { Name = "defaultPackage.ShippingAddress.StateProvinceId" })
                    <span id="states-loading-progress" style="display: none;">
                        @T("Common.Wait...")
                        <img src='@Url.Content("~/Content/Images/ajax_loader_small.gif")' alt="@T("Common.Wait...")" />
                    </span>
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => defaultPackage.ShippingAddress.StateProvinceId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => defaultPackage.ShippingAddress.ZipPostalCode, "Zip Code"):
                </td>
                <td>
                    @Html.EditorFor(model => defaultPackage.ShippingAddress.ZipPostalCode)
                    @Html.RequiredHint()
                    @Html.ValidationMessageFor(model => defaultPackage.ShippingAddress.ZipPostalCode)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top:16px;">
                    <strong>Shipment Options</strong>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.PackagingType):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => defaultPackage.UpsShipment.PackagingType, new SelectList(defaultPackage.UpsShipment.AvailablePackagingTypes, "Key", "Value"))
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.Service):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => defaultPackage.UpsShipment.Service, new SelectList(defaultPackage.UpsShipment.AvailableServices, "Key", "Value"))
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.SendEmailNotification):
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(model => defaultPackage.UpsShipment.SendEmailNotification)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.ConfirmationDelivery):
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(model => defaultPackage.UpsShipment.ConfirmationDelivery)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.RequireSignature):
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(model => defaultPackage.UpsShipment.RequireSignature)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.SaturdayDelivery):
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(model => defaultPackage.UpsShipment.SaturdayDelivery)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.UpsCarbonNeutral):
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(model => defaultPackage.UpsShipment.UpsCarbonNeutral)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.OversizePackage):
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(model => defaultPackage.UpsShipment.OversizePackage)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => defaultPackage.UpsShipment.ResidentialAddress):
                </td>
                <td class="adminData">
                    @Html.CheckBoxFor(model => defaultPackage.UpsShipment.ResidentialAddress)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top:16px;">
                    <strong>Package Information</strong>
                </td>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td colspan="2" style="padding-top:16px;" id="@string.Format("Shipment.Package.{0}", Model[i].ShipmentPackageId)" data-package-id="@Model[i].ShipmentPackageId">
                        <strong>Box @Model[i].ShipmentPackageId</strong>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => Model[i].UpsShipment.DeclaredValue):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => Model[i].UpsShipment.DeclaredValue, null, string.Format("Shipment.DeclaredValue.{0}", Model[i].ShipmentPackageId))
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => Model[i].Length):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => Model[i].Length, null, string.Format("Shipment.Length.{0}", Model[i].ShipmentPackageId))
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => Model[i].Width):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => Model[i].Width, null, string.Format("Shipment.Width.{0}", Model[i].ShipmentPackageId))
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => Model[i].Height):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => Model[i].Height, null, string.Format("Shipment.Height.{0}", Model[i].ShipmentPackageId))
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => Model[i].Weight):
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => Model[i].Weight, null, string.Format("Shipment.Weight.{0}", Model[i].ShipmentPackageId))
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model[i].TrackingNumber):
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model[i].TrackingNumber, new { Name = string.Format("Shipment.TrackingNumber.{0}", Model[i].ShipmentPackageId) })
                    </td>
                </tr>
            }
            <tr>
                <td class="adminTitle" style="padding-top:15px;">
                    @Html.LabelFor(model => defaultPackage.UpsShipment.QuotedPrice, "Shipping Rate"):
                </td>
                <td class="adminData" style="padding-top:15px;">
                    @Html.EditorFor(model => defaultPackage.UpsShipment.QuotedPrice)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top:16px; font-size:14px;">
                    <span style="margin-right:10px;">
                        <label for="upsPassword">UPS Password: </label>
                        <input type="password" id="upsPassword" />
                    </span>
                    <input type="button" id="getQuote" value="Get Quote" class="t-button" onclick="GetQuote(@defaultPackage.OrderId);" />
                </td>
            </tr>
        </table>

        <div id="upsStatus" style="display:none;">
            <div id="addressContainer" style="display:none;">
                <div style="padding:14px 0 0 0; font-size:14px; font-weight:bold;">
                    Address Validation Status: <span id="addressStatus"></span>
                </div>
                <table id="suggestedAddress" class="adminData" style="display:none; width:100%; margin:10px 0">
                    <tr>
                        <td class="adminData">
                            <strong>Suggested Addresses</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="adminData">
                            <table class="tablestyle" border="1" style="border-collapse: collapse; width:100%;">
                                <thead>
                                    <tr class="headerstyle">
                                        <th></th>
                                        <th style="text-align: center;">Address</th>
                                    </tr>
                                </thead>
                                <tbody id="#addressList"></tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="shipQuoteContainer" style="display:none; padding:14px 0 0 0; font-weight:bold; font-size:14px;">
                <div id="acceptContainer" style="display:none; line-height:16px;">
                    Shipping Rate: <span id="quotedRate"></span>
                    <input id="btnAcceptRate" type="button" style="margin-left:20px;" class="t-button" value="Accept Rate" onclick="AcceptAndShip();" />
                </div>
                <div id="shipQuoteErrors" style="display:none; color:red">
                    <strong>Error(s):</strong>
                    <ul style="padding-left:0; margin:0; list-style-type:none;"></ul>
                </div>
                <div id="shipConfirmationContainerTemplate" style="margin-top: 20px; display:none;">
                    <div>
                        Tracking Number: <span id="trackingNumber"></span>
                        <a href="#" download type="button" id="downloadShippingLabel" class="t-button" >Download Label</a>
                        <a href="#" type="button" id="downloadClr" class="t-button" style="display:none; margin-left: 10px;">Download Control Log Receipt</a>
                    </div>
                    <div style="margin-top:20px; padding:20px;">
                        <img style="margin-top:-24px; left:-24px;" id="shippingLabel" src="" />
                    </div>
                </div>
            </div>
        </div>
    }


    <script type="text/javascript" src="@Url.Content("~/Administration/Scripts/UpsShipping.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Administration/Scripts/jquery.printElement.min.js")"></script>
