﻿@using Telerik.Web.Mvc.UI
@{
    var gridPageSize = 50;
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
        Blocked Customers  
   </div>
    


<div class="adminContent" style="float: right" > 
    <div class="adminContent" style="margin-bottom: 20px">
        

<span class="label"> Search Emails, Names, or IP Addresses : </span> 
@Html.Editor("searchBox")
<input type="button" id="search"  class="t-button" value="@T("Admin.Common.Search")" />
    </div>
    </div>
   </div>





<table class="adminContent">
    <tr>       
        <td>
           
            @(Html.Telerik().Grid<BlockedCustomerModel>()
                .Name("orders-grid")
                .Columns(columns =>
                {
                    columns.Bound(x => x.Email);
                    columns.Bound(x => x.Name);
                    columns.Bound(x => x.AttemptedAt);
                    columns.Bound(x => x.IpAddress);
                    columns.Bound(x => x.Id)
                        .Template(x => Html.ActionLink("Unblock", "Unblock", new { ipAddress = x.IpAddress }))
                        .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Order/Unblock?ipAddress=") + "<#= IpAddress #>\">Unblock</a>");
                })
                .Pageable(settings => settings.PageSize(gridPageSize).Position(GridPagerPosition.Both))
                .DataBinding(dataBinding => dataBinding.Ajax().Select("OrderBlockedList", "Order", Model))
                .ClientEvents(events => events.OnDataBinding("onDataBinding"))
                .EnableCustomBinding(true))
        </td>
    </tr>
</table>

<script type="text/javascript">
     
  
    $(document).ready(function (){
    
            //search button
            $('#search').click(function() {
                //search
                var grid = $('#orders-grid').data('tGrid');
                grid.currentPage = 1; //new search. Set page size to 1
                grid.ajaxRequest();
                return false;
                
              
                
            });


            
          
            

        });
        function onDataBinding(e) {
            var searchModel = {
                searchBox: $('#searchBox').val()
                
            };
            e.data = searchModel;
        }



    
</script>  
