﻿@model ShipmentModel
@using Telerik.Web.Mvc.UI;
@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Catalog;
@{    
    //page title
    ViewBag.Title = T("Admin.Orders.Shipments.ViewDetails").Text;
}
@using (Html.BeginForm())
{

    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.Orders.Shipments.ViewDetails") - @Model.Id @Html.ActionLink("(" + T("Admin.Orders.Shipments.BackToOrder") + ")", "Edit", new { id = @Model.OrderId })
        </div>
        <div class="options">
            @if (Model.DisplayPdfPackagingSlip)
            {
                <a href="@Url.Action("PdfPackagingSlip", new { shipmentId = Model.Id })" class="t-button">@T("Admin.Orders.Shipments.PrintPackagingSlip")</a>
            }
            <span id="shipment-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>    
    @Html.ValidationSummary(false)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TrackingNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TrackingNumber)
                <input type="submit" name="settrackingnumber" value="@T("Admin.Orders.Shipments.TrackingNumber.Button")" id="settrackingnumber" class="adminButton" />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TotalWeight):
            </td>
            <td class="adminData">
                @Model.TotalWeight
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ShippedDate):
            </td>
            <td class="adminData">
                @Model.ShippedDate
                @if (Model.CanShip)
                {
                    <input type="submit" name="setasshipped" value="@T("Admin.Orders.Shipments.ShippedDate.Button")" id="setasshipped" class="adminButton" />
                }
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeliveryDate):
            </td>
            <td class="adminData">
                @Model.DeliveryDate
                @if (Model.CanDeliver)
                {
                    <input type="submit" name="setasdelivered" value="@T("Admin.Orders.Shipments.DeliveryDate.Button")" id="setasdelivered" class="adminButton" />
                }
            </td>
        </tr>
        @if (Model.UpsShipment != null)
        {
            <tr>
                <td class="adminData" colspan="2" style="padding-top: 16px"><strong>Package Info</strong></td>
            </tr>
            <tr style="padding-top: 16px;">
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.Service, "Shipping Service"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.AvailableServices.First(x => x.Key.Equals(Model.UpsShipment.Service)).Value
                </td>
            </tr>
            <tr style="padding-top: 16px;">
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.QuotedPrice, "Shipping Rate"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.QuotedPrice.ToString("C")
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.SendEmailNotification, "Send Email Notification"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.SendEmailNotification
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.ConfirmationDelivery, "Receive Confirmation of Delivery"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.ConfirmationDelivery
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.RequireSignature, "Require Signature"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.RequireSignature
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.SaturdayDelivery, "Delivery On Saturday"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.SaturdayDelivery
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.UpsCarbonNeutral, "Offset Climate Impact"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.UpsCarbonNeutral
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.OversizePackage, "Oversize Package"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.OversizePackage
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.UpsShipment.ResidentialAddress, "Residential Address"):
                </td>
                <td class="adminData">
                    @Model.UpsShipment.ResidentialAddress
                </td>
            </tr>
        }
    </table>
    <table class="adminContent">
        <tr>
            <td class="adminData" style="padding-top:16px;">
                <strong>@T("Admin.Orders.Shipments.Products")</strong>
            </td>
        </tr>
        <tr>
            <td class="adminData">
                <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <thead>
                        <tr class="headerstyle">
                            <th align="center" style="width: 40%">
                                @T("Admin.Orders.Shipments.Products.ProductName")
                            </th>
                            <th align="center" style="width: 20%">
                                @T("Admin.Orders.Shipments.Products.SKU")
                            </th>
                            <th align="center" style="width: 10%">
                                @T("Admin.Orders.Shipments.Products.ItemWeight")
                            </th>
                            <th align="center" style="width: 10%">
                                @T("Admin.Orders.Shipments.Products.ItemDimensions")
                            </th>
                            <th align="center" style="width: 10%">
                                @T("Admin.Orders.Shipments.Products.QtyShipped")
                            </th>
                            <th align="center" style="width: 10%">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>
                                    <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                        <em><a href="@Url.Action("Edit", "ProductVariant", new { id = @item.ProductVariantId })">@item.FullProductName</a></em>
                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <br />
                                            @Html.Raw(item.AttributeInfo)
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                        @item.Sku
                                    </div>
                                </td>
                                <td align="center">
                                    @item.ItemWeight
                                </td>
                                <td align="center">
                                    @item.ItemDimensions
                                </td>
                                <td align="center">
                                    @item.QuantityInThisShipment
                                </td>
                                <td align="center">
                                    @item.Price
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
}
@Html.DeleteConfirmation("DeleteShipment", "shipment-delete")