.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
	width: 180px; 
	padding: 2px 0; 
	text-align:center;    
    background:#2c2c2c;
	border:1px solid #080808;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    height: 70px;
    text-align:center;
	color: #000;
	border: 1px dashed #acacac;
	margin-bottom: 1em;
}
.qq-upload-drop-area span {
    display:block; margin-top:26px; font-size:16px;
}
.qq-upload-drop-area-active {background:#fca900;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc; color:#000}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("images/fileuploader-loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}