﻿.custom-report {
	width: 960px;
	padding-bottom: 100px;

	.selection-form {
		margin-bottom: 20px;
		#Form_StoreNumber { margin-right: 15px; }
		.date-separator { margin: 0 5px; }
		#Form_ReportType { margin-left: 15px; }
		#btnLoad { margin-left: 10px; }
	}

	._extraInput { display: none; }

	.report {
		table {
			width: 100%;
			.no-stretch { width: 1px; white-space: nowrap; }

            &.data-grid {
                border-spacing: 0;

                th {
                    padding: .25em .6em;
                    text-align: left;
                    background-color: rgb(5,5,5);
                    color: white;
                    border-color: #080808;
                    background: #050505 url('/content/2012.1.214/Black/sprite.png') repeat-x 0 -852px;
                }

                td {
                    padding: .25em .6em;
                    line-height: 1.6em;
                    color: white;
                    border-width: 0px;
                    border-left-width: 1px;
                    border-style: solid;
                    border-color: #454545;

                    &:first-child {
                        border-left-width: 0px;
                    }
                }

                tr:nth-child(odd) {
                    background-color: #494949;
                }

                tr:nth-child(even) {
                    background-color: #4f4f4f;
                }
            }
		}

		h1 {
			font-weight: normal;
			margin-bottom: 15px;
			font-size: 24px;
		}

		h2 {
			font-size: 18px;
			font-weight: normal;
		}

		.controls {
			float: right;
			text-align: right;
			font-size: 11px;
			position: relative;
			top: -25px;

			label { margin-right: 3px; }
			.sort-by {
				a, .selected { margin-left: 4px; }
				label { margin-right: 0; }
			}

			a, a:visited, a:hover {
				color: #0052b0;
				font-weight: normal;
				text-decoration: underline;
			}

			.selected { 
				color: black;
				font-weight: bold; 
			}
		}

		.bar {
			border-collapse: collapse;

			.segment {
				white-space: nowrap;
				padding: 5px 0;
				&.filler { background-color: #d9d8d4; }
				.value { padding: 0 5px; }
			}

			&.large {
				margin-top: 10px;
				font-size: 18px;

				.segment {
					padding: 7px 0;
					.value { padding: 0 7px; }
				}
			}
		} /* .bar */

		.legend {
			&.top { padding-bottom: 10px; }
			&.bottom { padding-top: 10px; }
			div {
				float: right;
				padding: 7px;
				margin-left: 7px;
			}
		}

		.main-result { margin-bottom: 25px; }

		.store-results {
			.store {
				padding: 0 5px 0 10px;
				font-weight: bold;
				a, a:visited, a:hover {
					color: black;
				}
			}
		}

		&.category-sales, &.accessory-sales {
			.total {
				color: white;
				background-color: #ffaa01;
				text-align: right;
			}
		}

		&.payment-methods {
			.authorizenet {
				color: white;
				background-color: #8e8e8e;
			}

			.paypal {
				color: white;
				background-color: #636162;
				text-align: right;
			}
			.paypalexpress {
				color: white;
				background-color: #434142;
				text-align: right;
			}
		}

		&.sales {
			.main-result {
				.total-sales {
					font-size: 18px;
					font-weight: bold;
					margin-right: 10px;
				}

				.orders, .average-order {
					font-size: 15px;
					margin-right: 10px;
				}

				h2.store { float: left; margin-right: 10px; }
			}

			.store-results {
				.total-sales {
					font-size: 18px;
					text-align: right;
					padding-right: 3px;
				}

				.orders, .average-order {
					font-size: 10px;
					text-transform: uppercase;
				}
			}

			.completed {
				color: white;
				background-color: #ffaa01;
			}

			.refunded {
				color: white;
				background-color: #c8042c;
			}
		}
	}
}

