﻿.custom-report {
  width: 960px;
  padding-bottom: 100px; }
  .custom-report .selection-form {
    margin-bottom: 20px; }
    .custom-report .selection-form #Form_StoreNumber {
      margin-right: 15px; }
    .custom-report .selection-form .date-separator {
      margin: 0 5px; }
    .custom-report .selection-form #Form_ReportType {
      margin-left: 15px; }
    .custom-report .selection-form #btnLoad {
      margin-left: 10px; }
  .custom-report ._extraInput {
    display: none; }
  .custom-report .report {
    /* .bar */ }
    .custom-report .report table {
      width: 100%; }
      .custom-report .report table .no-stretch {
        width: 1px;
        white-space: nowrap; }
      .custom-report .report table.data-grid {
        border-spacing: 0; }
        .custom-report .report table.data-grid th {
          padding: 0.25em 0.6em;
          text-align: left;
          background-color: #050505;
          color: white;
          border-color: #080808;
          background: #050505 url('/content/2012.1.214/Black/sprite.png') repeat-x 0 -852px; }
        .custom-report .report table.data-grid td {
          padding: 0.25em 0.6em;
          line-height: 1.6em;
          color: white;
          border-width: 0px;
          border-left-width: 1px;
          border-style: solid;
          border-color: #454545; }
          .custom-report .report table.data-grid td:first-child {
            border-left-width: 0px; }
        .custom-report .report table.data-grid tr:nth-child(odd) {
          background-color: #494949; }
        .custom-report .report table.data-grid tr:nth-child(even) {
          background-color: #4f4f4f; }
    .custom-report .report h1 {
      font-weight: normal;
      margin-bottom: 15px;
      font-size: 24px; }
    .custom-report .report h2 {
      font-size: 18px;
      font-weight: normal; }
    .custom-report .report .controls {
      float: right;
      text-align: right;
      font-size: 11px;
      position: relative;
      top: -25px; }
      .custom-report .report .controls label {
        margin-right: 3px; }
      .custom-report .report .controls .sort-by a, .custom-report .report .controls .sort-by .selected {
        margin-left: 4px; }
      .custom-report .report .controls .sort-by label {
        margin-right: 0; }
      .custom-report .report .controls a, .custom-report .report .controls a:visited, .custom-report .report .controls a:hover {
        color: #0052b0;
        font-weight: normal;
        text-decoration: underline; }
      .custom-report .report .controls .selected {
        color: black;
        font-weight: bold; }
    .custom-report .report .bar {
      border-collapse: collapse; }
      .custom-report .report .bar .segment {
        white-space: nowrap;
        padding: 5px 0; }
        .custom-report .report .bar .segment.filler {
          background-color: #d9d8d4; }
        .custom-report .report .bar .segment .value {
          padding: 0 5px; }
      .custom-report .report .bar.large {
        margin-top: 10px;
        font-size: 18px; }
        .custom-report .report .bar.large .segment {
          padding: 7px 0; }
          .custom-report .report .bar.large .segment .value {
            padding: 0 7px; }
    .custom-report .report .legend.top {
      padding-bottom: 10px; }
    .custom-report .report .legend.bottom {
      padding-top: 10px; }
    .custom-report .report .legend div {
      float: right;
      padding: 7px;
      margin-left: 7px; }
    .custom-report .report .main-result {
      margin-bottom: 25px; }
    .custom-report .report .store-results .store {
      padding: 0 5px 0 10px;
      font-weight: bold; }
      .custom-report .report .store-results .store a, .custom-report .report .store-results .store a:visited, .custom-report .report .store-results .store a:hover {
        color: black; }
    .custom-report .report.category-sales .total, .custom-report .report.accessory-sales .total {
      color: white;
      background-color: #ffaa01;
      text-align: right; }
    .custom-report .report.payment-methods .authorizenet {
      color: white;
      background-color: #8e8e8e; }
    .custom-report .report.payment-methods .paypal {
      color: white;
      background-color: #636162;
      text-align: right; }
    .custom-report .report.payment-methods .paypalexpress {
      color: white;
      background-color: #434142;
      text-align: right; }
    .custom-report .report.sales .main-result .total-sales {
      font-size: 18px;
      font-weight: bold;
      margin-right: 10px; }
    .custom-report .report.sales .main-result .orders, .custom-report .report.sales .main-result .average-order {
      font-size: 15px;
      margin-right: 10px; }
    .custom-report .report.sales .main-result h2.store {
      float: left;
      margin-right: 10px; }
    .custom-report .report.sales .store-results .total-sales {
      font-size: 18px;
      text-align: right;
      padding-right: 3px; }
    .custom-report .report.sales .store-results .orders, .custom-report .report.sales .store-results .average-order {
      font-size: 10px;
      text-transform: uppercase; }
    .custom-report .report.sales .completed {
      color: white;
      background-color: #ffaa01; }
    .custom-report .report.sales .refunded {
      color: white;
      background-color: #c8042c; }
