﻿@model Nop.Web.Models.Order.AdwordsConversionModel

@if (Model.HasAdwordsConversion)
{
    <!-- Google Code for Order Confirmation Page -->
    <script type="text/javascript">
/* <![CDATA[ */
        var google_conversion_id = @Model.ConversionId;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "vvG_CJOQ2mEQkO-4xAM";
        var google_conversion_value = @Model.Value;
        var google_conversion_currency = "@Model.CurrencyCode";
        var google_remarketing_only = false;
/* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">

    </script>
    <noscript>
        <div style="display: inline;">
            <img height="1" width="1" style="border-style: none;" alt="" src="//www.googleadservices.com/pagead/conversion/@Model.ConversionId/?value=@Model.Value&amp;currency_code=@Model.CurrencyCode&amp;label=vvG_CJOQ2mEQkO-4xAM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
}
