﻿@model OrderDetailsPageModel
@using System.Web.Script.Serialization
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Order;
@using Nop.Services.Localization;
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_Root.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);

    var defaultOrder = Model.Orders.First();
}
@if (Model.PrintMode)
{
    <script type="text/javascript">
	    $(document).ready(function () {
		    window.print();
	    });
    </script>
}
<div class="order-details-page">
    <h1 class="big-page-title">
        Order Confirmation
    </h1>
    <div class="gray-background">
        <div class="inner-wrapper centerwrapper">
            <div class="checkout-breadcrumb">
                Shopping Cart / Checkout / Order Confirmation
            </div>
            <div class="checkout-data">
                <div class="checkout-data-left">
                    <div class="section">
                        <div class="step-title">Thank You For Your Order</div>
                        <div class="step a-item">
                            <div class="inner-step">
                                <div class="step-content">
                                    <div class="info-card-group">
                                        <div class="info-title">Customer Information</div>
                                        <div class="info-card">
                                            <div class="card-title">@string.Format("{0} {1}", defaultOrder.BillingAddress.FirstName, defaultOrder.BillingAddress.LastName)</div>
                                            <div class="card-content">
                                                <div>@defaultOrder.BillingAddress.Email</div>
                                                <div>@defaultOrder.BillingAddress.PhoneNumber</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-card-group">
                                        <div class="info-title">Shipping & Billing Address</div>
                                        <div class="info-card">
                                            <div class="card-title">@string.Format("{0} {1}", defaultOrder.BillingAddress.FirstName, defaultOrder.BillingAddress.LastName)</div>
                                            <div class="card-content">
                                                <div>@defaultOrder.BillingAddress.Address1</div>
                                                <div>@string.Format("{0}, {1} {2}", defaultOrder.BillingAddress.City, defaultOrder.BillingAddress.StateProvinceName, defaultOrder.BillingAddress.ZipPostalCode)</div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="info-card-group">
                                        <div class="info-title">Payment Information</div>
                                        <div class="info-card">
                                            <div class="card-content">
                                                <div>[CARD TYPE] @defaultOrder.MaskedCreditCardNUmber</div>
                                                <div>EXP [MM/YYYY]</div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="checkout-info">
                                    <div class="order-status-card">
                                        <div class="title">Order Status</div>
                                        <div class="order-status-text">@defaultOrder.OrderStatus</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-data-right">
                    @foreach (var order in Model.Orders)
                    {

                        <div class="order-summary-sidebar">
                            <div class="order-summary-title">
                                Order #@order.Id
                            </div>
                            <div class="order-summary-body">
                                @foreach (var product in order.Items)
                                {
                                    <div class="cart-item">
                                        <div class="product-image">
                                            <img src="@product.Picture.ImageUrl" alt="@product.Picture.Title" />
                                        </div>
                                        <div class="product-info">
                                            <div class="product-name">@product.ProductName</div>
                                            @if (product.Store != null)
                                            {
                                                <div class="product-location">
                                                    <div class="ship-from">Ships From</div>
                                                    <div class="product-location-name">Music Go Round &mdash; @product.Store.Name</div>
                                                    <div class="product-location-aux">@product.Store.State | @product.Store.Phone</div>
                                                </div>
                                            }
                                        </div>
                                        <div class="product-price-quantity">
                                            <div class="product-price">@product.UnitPrice</div>
                                            <div class="product-quantity">QTY @product.Quantity</div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="order-summary-totals">
                                <div class="cart-subtotal cart-totals-line">
                                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.SubTotal"): </span>
                                    <span class="cart-totals-list-right">@order.OrderSubtotal</span>
                                </div>
                                <div class="cart-shipping cart-totals-line">
                                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.Shipping"): </span>
                                    <span class="cart-totals-list-right">@order.OrderShipping</span>
                                </div>
                                <div class="cart-tax cart-totals-line">
                                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.Tax"): </span>
                                    <span class="cart-totals-list-right">@order.Tax</span>
                                </div>
                                <div class="cart-totals-separator-line"></div>
                                <div class="cart-order-total cart-totals-line">
                                    <span class="cart-totals-list-left">@T("ShoppingCart.Totals.OrderTotal"): </span>
                                    <span class="cart-totals-list-right">@order.OrderTotal</span>
                                </div>
                                <div class="cart-payment-status cart-totals-line">
                                    <span class="cart-totals-list-left">Status: </span>
                                    <span class="cart-totals-list-right">@order.PaymentStatus</span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="what-to-expect-section">
                        <div class="question">First time buying from Music Go Round?</div>
                        <div class="wte-link"><a href="@Url.Action("WhatToExpect", "Home")">Click here to see what to expect with your purchase.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section FooterScripts{
    @if (Model.GaCommands != null)
    {
        <script type="text/javascript">
            @foreach (var cmd in Model.GaCommands)
            {
                @:ga.apply(null, @Html.Raw(new JavaScriptSerializer().Serialize(cmd)));
            }
    
                           
        </script>
    }
    @Html.Partial("_AdwordsConversion", Model.AdwordsConversion)
}