﻿@model OrderDetailsPageModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Order;
@using Nop.Services.Localization;
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
}
<div class="page order-details">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <div class="title">
                @if (Model.WasJustSubmitted)
                {
                    <h1>Congratulations! Your order is complete.</h1>
                }
                else
                {
                    <h1>Order Information</h1>
                }
                @if (Model.Orders.Count > 1)
                {
                    <p>Because your order includes products that will be fulfilled by @Model.Orders.Count different stores, we have split it into @Model.Orders.Count seperate orders as outlined below.</p>
                }
            </div>

        </div>
        <div class="clear">
        </div>
    }

    @foreach (var order in Model.Orders)
    {
        <div class="page-body no-edge">
            @Html.Widget("orderdetails_page_top")
            <div class="order-overview">
                <table class="order-overview-table">
                    <tbody>
                        <tr>
                            <td>
                                <strong>
                                    @T("Order.Order#")@order.Id
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @T("Order.OrderDate"): @order.CreatedOn.ToString("D")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @T("Order.OrderStatus"): @order.OrderStatus
                            </td>
                        </tr>
                        @Html.Widget("orderdetails_page_overview")
                    </tbody>
                </table>
            </div>
            <div class="clear">
            </div>
            <div class="order-details-box">
                <table class="order-details-table">
                    <tbody>
                        <tr>
                            <td class="billinginfo">
                                <div class="title">
                                    <strong>
                                        @T("Order.BillingAddress")
                                    </strong>
                                </div>
                                <div class="name">
                                    @order.BillingAddress.FirstName @order.BillingAddress.LastName
                                </div>
                                <div class="email">
                                    @T("Order.Email"): @order.BillingAddress.Email
                                </div>
                                <div class="phone">
                                    @T("Order.Phone"): @order.BillingAddress.PhoneNumber
                                </div>
                                @if (!String.IsNullOrEmpty(order.BillingAddress.Company))
                                {
                                    <div class="company">
                                        @order.BillingAddress.Company
                                    </div>
                                }
                                <div class="address1">
                                    @order.BillingAddress.Address1
                                </div>
                                @if (!String.IsNullOrEmpty(order.BillingAddress.Address2))
                                {
                                    <div class="address2">
                                        @order.BillingAddress.Address2
                                    </div>
                                }
                                <div class="city-state-zip">
                                    @order.BillingAddress.City, @order.BillingAddress.StateProvinceName @order.BillingAddress.ZipPostalCode
                                </div>
                                @if (!String.IsNullOrEmpty(order.BillingAddress.CountryName))
                                {
                                    <div class="country">
                                        @order.BillingAddress.CountryName
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(order.VatNumber))
                                {
                                    <div class="vat">
                                        <div class="vat-label">
                                            <strong>@T("Order.VATNumber")</strong>
                                        </div>
                                        <div class="vat-value">
                                            @order.VatNumber
                                        </div>
                                    </div>
                                }
                                @if (!String.IsNullOrEmpty(order.PaymentMethod))
                                {
                                    <div class="payment-method">
                                        <div class="payment-method-label">
                                            <strong>@T("Order.PaymentMethod")</strong>
                                        </div>
                                        <div class="payment-method-value">
                                            @order.PaymentMethod
                                        </div>
                                    </div>
                                    if (!Model.PrintMode && order.CanRePostProcessPayment)
                                    {
                                        @*Completing payment support (for redirection payment methods)*@
                                        <div class="repost">
                                            @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                            {
                                                <input type="submit" name="repost-payment" value="@T("Order.CompletePayment")" class="button-1 re-order-button" />
                                                <p class="hint">
                                                    <em>@T("Order.CompletePayment.Hint")</em>
                                                </p>
                                            }
                                        </div>
                                    }
                                }
                                @if (order.DisplayPurchaseOrderNumber)
                                {
                                    <div class="po">
                                        <div class="po-label">
                                            <strong>@T("Order.PurchaseOrderNumber")</strong>
                                        </div>
                                        <div class="po-value">
                                            @order.PurchaseOrderNumber
                                        </div>
                                    </div>
                                }
                            </td>

                            @if (order.IsShippable)
                            {
                                <td class="shippinginfo">
                                    <div class="title">
                                        <strong>
                                            @T("Order.ShippingAddress")
                                        </strong>
                                    </div>
                                    <div class="name">
                                        @order.ShippingAddress.FirstName @order.ShippingAddress.LastName
                                    </div>
                                    <div class="email">
                                        @T("Order.Email"): @order.ShippingAddress.Email
                                    </div>
                                    <div class="phone">
                                        @T("Order.Phone"): @order.ShippingAddress.PhoneNumber
                                    </div>
                                    <div class="fax">
                                        @T("Order.Fax"): @order.ShippingAddress.FaxNumber
                                    </div>
                                    @if (!String.IsNullOrEmpty(order.ShippingAddress.Company))
                                    {
                                        <div class="company">
                                            @order.ShippingAddress.Company
                                        </div>
                                    }
                                    <div class="address1">
                                        @order.ShippingAddress.Address1
                                    </div>
                                    @if (!String.IsNullOrEmpty(order.ShippingAddress.Address2))
                                    {
                                        <div class="address2">
                                            @order.ShippingAddress.Address2
                                        </div>
                                    }
                                    <div class="city-state-zip">
                                        @order.ShippingAddress.City, @order.ShippingAddress.StateProvinceName @order.ShippingAddress.ZipPostalCode
                                    </div>
                                    @if (!String.IsNullOrEmpty(order.ShippingAddress.CountryName))
                                    {
                                        <div class="country">
                                            @order.ShippingAddress.CountryName
                                        </div>
                                    }
                                    <div class="shipping-method">
                                        <div class="shipping-method-label">
                                            <strong>@T("Order.ShippingMethod")</strong>
                                        </div>
                                        <div class="shipping-method-value">
                                            @order.ShippingMethod
                                        </div>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear">
            </div>
            @Html.Widget("orderdetails_page_beforeproducts")
            @if (order.Items.Count > 0)
            {
                <div class="section-title">
                    @T("Order.Product(s)")
                </div>
                <div class="clear">
                </div>
                <div class="order-summary-content">
                    <div class="cart">
                        <ul data-role="listview">
                            @foreach (var item in order.Items)
                            {
                                <li>
                                    <div class="cart-item-row">
                                        <div class="a-left">
                                            @if (!Model.PrintMode)
                                            {
                                                <em><a href="@Url.RouteUrl("Product", new { productId = item.ProductId, SeName = item.ProductSeName })" title="View details">@item.ProductName <text>(</text>@item.Sku<text>)</text></a></em>
                                                if (item.InStorePickupOnly)
                                                {
                                                    <br />
                                                    <text>This Product is @(string.IsNullOrEmpty(item.InStorePickupLocation) ? "" : "Only") Available for In Store Pick-Up @(string.IsNullOrEmpty(item.InStorePickupLocation) ? "Only." : "at " + item.InStorePickupLocation + " Location.")</text>
                                                }
                                            }
                                            else
                                            {
                                                @item.ProductName @:(@item.Sku)
                                            }
                                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                <div class="attributes">
                                                    @Html.Raw(item.AttributeInfo)
                                                </div>
                                            }
                                        </div>
                                        <div class="a-right">
                                            Price:  @item.UnitPrice
                                        </div>
                                        <div class="a-center">
                                            Quantity: @item.Quantity
                                        </div>
                                        <div class="a-right">
                                            Subtotal: @item.SubTotal
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                        <div class="clear">
                        </div>
                        @if (!String.IsNullOrEmpty(order.CheckoutAttributeInfo))
                        {
                            <div class="checkout-attributes">
                                @Html.Raw(order.CheckoutAttributeInfo)
                            </div>
                            <div class="clear">
                            </div>
                        }
                        @if (!Model.PrintMode)
                        {
                            <div class="actions">
                                @if (order.IsReOrderAllowed)
                                {
                                    <input type="button" value="@T(" order.reorder")" class="button-1 re-order-button" onclick=" setlocation('@Url.RouteUrl(" reorder", new { orderid=order.Id })') " />
                                }
                                @if (order.IsReturnRequestAllowed)
                                {
                                    <text>&nbsp; &nbsp; &nbsp;</text>
                                    <input type="button" value="@T(" order.returnitems")" class="button-2 return-items-button" onclick=" setlocation('@Url.RouteUrl(" returnrequest", new { orderid=order.Id })') " />
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="clear">
                </div>
            }
            @Html.Widget("orderdetails_page_afterproducts")
            <div class="total-info">
                <table class="cart-total">
                    <tbody>
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @T("Order.SubTotal"):
                                </strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @order.OrderSubtotal
                                </span>
                            </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(order.OrderSubTotalDiscount))
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <strong>
                                        @T("Order.SubTotalDiscount"):
                                    </strong>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @order.OrderSubTotalDiscount
                                    </span>
                                </td>
                            </tr>
                        }
                        @if (order.IsShippable)
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <strong>
                                        @T("Order.Shipping"):
                                    </strong>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @order.OrderShipping
                                    </span>
                                </td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(order.PaymentMethodAdditionalFee))
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <strong>
                                        @T("Order.PaymentMethodAdditionalFee"):
                                    </strong>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @order.PaymentMethodAdditionalFee
                                    </span>
                                </td>
                            </tr>
                        }
                        @if (order.DisplayTaxRates && order.TaxRates.Count > 0)
                        {
                            foreach (var taxRate in order.TaxRates)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <strong>
                                            @string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):
                                        </strong>
                                    </td>
                                    <td class="cart-total-right">
                                        <span class="nobr">
                                            @taxRate.Value
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        @if (order.DisplayTax)
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <strong>
                                        @T("Order.Tax"):
                                    </strong>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @order.Tax
                                    </span>
                                </td>
                            </tr>
                        }
                        @if (!string.IsNullOrEmpty(order.OrderTotalDiscount))
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <strong>
                                        @T("Order.TotalDiscount"):
                                    </strong>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @order.OrderTotalDiscount
                                    </span>
                                </td>
                            </tr>
                        }
                        @if (order.GiftCards.Count > 0)
                        {
                            foreach (var gc in order.GiftCards)
                            {
                                <tr>
                                    <td class="cart-total-left">
                                        <strong>
                                            @string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):
                                        </strong>
                                    </td>
                                    <td class="cart-total-right">
                                        <span class="nobr">
                                            @gc.Amount
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        @if (order.RedeemedRewardPoints > 0)
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <strong>@string.Format(T("Order.RewardPoints").Text, order.RedeemedRewardPoints):</strong>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @order.RedeemedRewardPointsAmount
                                    </span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @T("Order.OrderTotal"):
                                </strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    <strong>
                                        @order.OrderTotal
                                    </strong>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear">
            </div>
            @if (!Model.PrintMode)
            {
                if (order.Shipments.Count > 0)
                {
                    <div class="section-title">
                        @T("Order.Shipments")
                    </div>
                    <div class="clear">
                    </div>
                    <div class="shipments-box">
                        <table class="data-table">
                            <col width="1" />
                            <col />
                            <col />
                            <col />
                            <col />
                            <thead>
                                <tr>
                                    <th class="a-center">
                                        @T("Order.Shipments.ID")
                                    </th>
                                    <th class="a-center">
                                        @T("Order.Shipments.TrackingNumber")
                                    </th>
                                    <th class="a-center">
                                        @T("Order.Shipments.ShippedDate")
                                    </th>
                                    <th class="a-center">
                                        @T("Order.Shipments.DeliveryDate")
                                    </th>
                                    <th class="a-center">
                                        @T("Order.Shipments.ViewDetails")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in order.Shipments)
                                {
                                    <tr>
                                        <td class="a-left">
                                            @item.Id.ToString()
                                        </td>
                                        <td class="a-left">
                                            @item.TrackingNumber
                                        </td>
                                        <td class="a-left">
                                            @if (item.ShippedDate.HasValue)
                                            {
                                                @item.ShippedDate.Value.ToString("D")
                                            }
                                            else
                                            {
                                                @T("Order.Shipments.ShippedDate.NotYet")
                                            }
                                        </td>
                                        <td class="a-left">
                                            @if (item.DeliveryDate.HasValue)
                                            {
                                                @item.DeliveryDate.Value.ToString("D")
                                            }
                                            else
                                            {
                                                @T("Order.Shipments.DeliveryDate.NotYet")
                                            }
                                        </td>
                                        <td class="a-center">
                                            <a href="@Url.RouteUrl(" shipmentdetails", new { shipmentid=item.Id })" title="@T(" order.shipments.viewdetails")">@T("Order.Shipments.ViewDetails")</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            <div class="clear">
            </div>
            @if (!Model.PrintMode)
            {
                if (order.OrderNotes.Count > 0)
                {
                    <div class="section-title">
                        @T("Order.Notes")
                    </div>
                    <div class="clear">
                    </div>
                    <div class="ordernotes-box">
                        <table class="data-table">
                            <col />
                            <col />
                            <thead>
                                <tr>
                                    <th class="a-center">
                                        @T("Order.Notes.CreatedOn")
                                    </th>
                                    <th class="a-center">
                                        @T("Order.Notes.Note")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in order.OrderNotes)
                                {
                                    <tr>
                                        <td class="a-left">
                                            @item.CreatedOn.ToString()
                                        </td>
                                        <td class="a-left">
                                            @Html.Raw(item.Note)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            @Html.Widget("orderdetails_page_bottom")
        </div>
        <br />
    }
</div>

@section scripts
{
    @Html.Partial("_AdwordsConversion", Model.AdwordsConversion)
}