﻿@using Nop.Web.Extensions
@model Treefort.Portal.Queries.Own.OwnPageViewModel

@if (Model.File.Count > 0) {
    <div id="slideshow" style="height:346px;">
        <div id="slideshow-images">
		    @foreach (var file in Model.File){
			    <div>
			       	@Html.Image(file.FileUrl, file.Width, file.Height, file.Caption)
			        @if (!string.IsNullOrEmpty(file.Caption)) {
				        <p><strong>@file.Caption</strong></p>
			        }
			    </div>
            }
        </div>
    </div>

}