﻿@{
    Layout = null;
    
}
@model Treefort.Portal.Queries.Own.TerritoryInfoViewModel

@{var className = (@Model.Territories.Count > 15) ? "columns" : "";  }



@if(Model.Territories.Any()) { 
	<div class="popup @className">
			<h3>@Model.StateProvName</h3>			<ul class="@className">
			@foreach (var s in Model.Territories) {
				<li>@s</li>
				 }  
			</ul>
			<span class="close">Close</span>
	</div>
} else {
	<div id="no-territories-here" class="popup">
			<h3>There are no available territories in @Model.StateProvName!</h3>		<span class="close">Close</span>
	</div>
}