﻿@model Treefort.Portal.Queries.Own.TestimonialWidgetViewModel
           
@if (Model.Videos.Count > 0)
{
    var firstVideo = Model.Videos[0];

<div id="franchisee-testimonials" class="video-player">
	<div id="franchisee-container">
		
		<div id="ft-container" class="video-container">
			<div id="ft-inner" class="video-inner">
				<video id="movie" src="@firstVideo.Mp4 "  width="@firstVideo.Size.Width " height="@firstVideo.Size.Height " preload controls>
				  <object width="@firstVideo.Size.Width " height="@firstVideo.Size.Height " type="application/x-shockwave-flash" data="@firstVideo.Swf "> 
					<param name="movie" value="@firstVideo.Swf " /> 
					<param name="allowfullscreen" value="true" /> 
					<param name="flashvars" value='config={"clip": {"url": "@firstVideo.Mp4 ", "autoPlay":false, "autoBuffering":true}}' /> 
				  </object>
				</video>
			</div>
		</div>
		<div id="video-info">When considering going into business for yourself, what factors influenced your decision?</div>
	</div>

	<ul id="franchisee-testimonials-playlist" class="playlist clearfix">
		@for (var i = 0; i < Model.Videos.Count; i++)
  { 
		<li><a href="@Model.Videos[i].Mp4">@(i + 1) </a>
			<h3>@Model.Videos[i].Title </h3>

		</li>
  } 
	</ul>
</div>

        <script src="@Url.Content("~/scripts/libs/flowplayer.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/libs/removeSWF.js")" type="text/javascript"></script>
    
<script type="text/javascript">
	$(function () {
	   
	    
		var autoPlay = false;
		var flashSupported = flashembed.isSupported([9, 115]);
		var flashConfig = { 
			src: "@firstVideo.Swf ",
			id : "flashMovie",
			allowfullscreen : "true",
			width: @firstVideo.Size.Width ,
			height: @firstVideo.Size.Height ,
			quality: "high"
		  };

		function showVideo(videoUrl) {
    
			if (flashSupported) {
				removeSWF(flashConfig.id);
				var fpConfig = "{'playlist':[ {'url': 'https://s3.amazonaws.com/playitagainsports.com/testimonials/video-placeholder.png'}, {'url': '"+ videoUrl +"', 'autoPlay':"+ autoPlay.toString() +", 'autoBuffering':true}]}";
				setTimeout(function() {
					flashembed("ft-inner", flashConfig, { config : escape(fpConfig) });
				}, 15);
				
			} else {
				var m = $("#ft-inner video");
				if (m.attr("src") != videoUrl) {
					m[0].pause();
					m[0].src = videoUrl;
					m[0].load();
					m[0].play();
				};
			}
			autoPlay = true;
		}

		var items = $(".playlist li");
       
		$("a", items).click(function (e) {
			e.preventDefault();

			$(items).removeClass("selected");
			$(this).closest("li").addClass("selected");

			showVideo($(this).attr("href"));

			$("#video-info").empty().append($(this).parent().find("h3,p").clone());
		         $('#video-info h3').css('visibility', 'visible');

			return;
		}).first().trigger("click");
	});
</script>
}
