﻿@model Treefort.Portal.Queries.Home.RemoteControlPage

@{
    Html.AppendTitleParts(Model.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.Meta.MetaDescription);
    Layout = "~/Views/Shared/_OwnRoot.cshtml";
}

<h1 class="own-mgr-pageTitle">@Model.PageTitle</h1>

<div class="own-page-content  rc-base-styles">
    @Html.Raw(Model.PageBody)
</div>