﻿@model Treefort.Portal.Queries.Own.CommercialVideoPlayerViewModel

@{
    ViewBag.Title = "MusicGoRound | Franchise Movies";
    Layout = "~/Views/Shared/_OwnRoot.cshtml";

    Model.videoNumber = Model.videoNumber == "1" ? "Overview-v2" : Model.videoNumber == "3" ? "NextSteps-v2" : "mgr";
}

<div class="video-js-box">
    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
    <video class="video-js" width="640" autoplay controls height="360"  >
        <source src="@Html.Raw("https://s3.amazonaws.com/winmarkcorporation/franchiseMovies/" + @Model.videoNumber + ".mp4")" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
        <object id="flash_fallback_1" class="vjs-flash-fallback" width="640" height="360"  type="application/x-shockwave-flash" 
                data="https://s3.amazonaws.com/playitagainsports.com/flowplayer-3.2.4.swf">
            <param name="movie" value="https://s3.amazonaws.com/playitagainsports.com/flowplayer-3.2.4.swf" />
            <param name="allowfullscreen" value="true" />
            <param name="wmode" value="transparent" />
            <param name="flashvars" 
                   value='config={"playlist":[{"url": "@Html.Raw("https://s3.amazonaws.com/winmarkcorporation/franchiseMovies/" + Model.videoNumber + ".mp4")","autoPlay":true,"autoBuffering":false}], "play" : {"opacity" : "0"}}' />
        </object>
    </video>
</div>

    <ul class="playlist clearfix" style="margin-bottom:100px;">
             <li @if (Model.videoNumber == "Overview-v2") {@Html.Raw("class=\"selected\"");}><a href="@Url.Action("FranchiseMovies", "Own", new {videoNumber=1})" style="width:100px;">Overview</a></li>
             <li @if (Model.videoNumber == "mgr") {@Html.Raw("class=\"selected\"");}><a href="@Url.Action("FranchiseMovies", "Own", new {videoNumber=2})" style="width:200px;">About Music Go Round</a></li>
             <li @if (Model.videoNumber == "NextSteps-v2") {@Html.Raw("class=\"selected\"");}><a href="@Url.Action("FranchiseMovies", "Own", new {videoNumber=3})" style="width:100px;">Next Steps</a></li>
	    </ul>

@section FooterScripts
{
    <script src="/Scripts/video-js/video.js"></script>
    <link rel="stylesheet" href="/Scripts/video-js/video-js.min.css" type="text/css"/>
    <script type="text/javascript">
        VideoJS.setupAllWhenReady();
    </script> 
}
