﻿@model Treefort.Portal.Queries.Own.OwnPageViewModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    Html.AppendTitleParts(Model.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.Meta.MetaDescription);
}

<section>
    <h1>@Model.PageTitle</h1>
    @*@Html.Raw(Model.PageBody)*@
    <p>
        Music Go Round offers value-conscious buyers a wide selection of used
        and new musical instruments and equipment for the beginner to the seasoned
        professional.  Our merchandise and customer experience are designed to
        create an environment that is welcoming to all musicians of every age.
    </p>

    <p>
        Our franchisees are our customers – business-oriented people with a love
        for music! This gives them a winning edge at understanding the needs of
        their market.  They buy the best used gear in good condition and offer
        fair trade-ins and payment on the spot, building customer loyalty with every transaction.
    </p>

    <p>
        For more information, fill out our <a href="http://musicgoround.com/request-information.aspx">information request form</a> or call our toll
        free at <a href="tel:-800-592-8049">(800) 592-8049</a> to talk to one of our helpful Franchise Developers who
        will help you understand the process.
    </p>
</section>
