﻿@model Treefort.Portal.Queries.Own.OwnPageViewModel

@{
    Html.AppendTitleParts(Model.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.Meta.MetaDescription);
    Layout = "~/Views/Shared/_Root.cshtml";
}


<h1 class="big-page-title">Own a Music Go Round</h1>

<div class="own-a-mgr-page rc-base-styles">
    <div class="yellow-bar">
        <a class="default-yellow-arrow" target="_blank" href="http://www.winmarkfranchises.com/music-go-round/overview">
            <svg viewbox="0 0 160 28" preserveAspectRatio="none">
                <use xlink:href="#yellow-arrow-template"></use>
            </svg>
            <span class="yellow-arrow-text">
                Take the Next Steps at WinmarkFranchises.com
            </span>
        </a>

        <div class="default-yellow-arrow white-arrow">
            <svg viewbox="0 0 160 28" preserveAspectRatio="none">
                <use xlink:href="#yellow-arrow-template"></use>
            </svg>
        </div>
    </div>
    <div class="statistics-section">
        <div class="cols-wrapper">
            <div class="stat-col">
                <div class="big-title">Gross Sales<sup>*</sup></div>
                <div class="big-title gold">$1,514,671</div>
                <div class="regular-text">Top Quartile Average</div>
            </div>
            <div class="stat-col">
                <div class="small-subtitle">Gross Profit Percentage</div>
                <div class="big-title">Profit<sup>*</sup></div>
                <div class="big-title gold">48.60%</div>
                <div class="regular-text">Top Quartile Average</div>
            </div>
            <div class="stat-col">
                <div class="big-title">Opportunity</div>
                <div class="regular-text">Our franchises are building a business doing what they love.</div>
                <div class="white-divider"></div>
                <div class="regular-text narrow">Not many people can say that!</div>
            </div>
            <div class="stat-col">
                <div class="big-title">Growth</div>
                <div class="cart-icons">
                    <img src="/Themes/MGR/Content/images/icon-cartdollar.png" alt="Shopping cart with dollar sign" />
                </div>
                <div class="regular-text wide">With Music Go Round's E&#8209;commerce platform your store is local but your customer base is nationwide!</div>
            </div>
        </div>
        <div class="disclaimer">*As reported in the 2016 Music Go Round&reg; Franchise Disclosure Document (based on 2015 gross sales). This average only relates to the 7 Music Go Round&reg; Stores in the United States who ranked in the top 25% of the gross sales range. A new franchisee's results will likely differ from these results.</div>
    </div>
    <div class="own-text-section">
        <div class="centerwrapper inner-wrapper">
            <div class="small-title">
                Open Auditions For New Owners!
            </div>
            <div class="own-text">
                <p>Has business ownership been a dream of yours? Have you hoped to find a way to incorporate your passion for music into a career? At Music Go Round our franchisees are doing just that. They’ve taken their love of music and gear to a new level by opening a franchise. Some have opened stores on their own while others have created a business for the entire family. Whichever structure you choose, the model is ready and the team is here to support you as you grow your business.</p>
            </div>
            <a href="http://www.winmarkfranchises.com/music-go-round/overview" target="_blank" class="default-yellow-arrow">
                <svg viewbox="0 0 160 28" preserveAspectRatio="none">
                    <use xlink:href="#yellow-arrow-template"></use>
                </svg>
                <span class="yellow-arrow-text">
                    Learn More At WinmarkFranchises.com
                </span>
            </a>
        </div>
    </div>
    <div class="top-dealers-wrapper">
        <img src="/Themes/MGR/Content/images/namm-5-seals.png" alt="5 NAMM Top 100 Dealer seals" />
    </div>
    <div class="top-dealer-text-section">
        <div class="centerwrapper inner-wrapper">
            <div class="small-title">
                Music Go Round has been recognized by NAMM as a Top 100 Dealer for 5 years running
            </div>
            <div class="top-dealer-text">
                As a NAMM Top 100 Dealer and the largest reseller of used instruments and gear in the world, our business model is proven in a competitive industry. Music Go Round Franchisee’s ROCK! If you are looking to put your knowledge, skills and passion into a business you can OWN, take the first step and <a href="http://www.winmarkfranchises.com/music-go-round/overview/" target="_blank">click here to learn more</a>.
            </div>
        </div>
    </div>
</div>




