﻿@model Treefort.Portal.Queries.Own.OwnPageViewModel

@{
    Html.AppendTitleParts(Model.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.Meta.MetaDescription);
    ViewBag.Section = "investment";
    Layout = "~/Views/Shared/_OwnRoot.cshtml";
}


<h1 class="own-mgr-pageTitle">Franchise Investment</h1>

<div class="own-page-content  rc-base-styles">
    @Html.Partial("_OwnSlideshow", Model)
    
    @Html.Raw(Model.PageBody)
</div>

