﻿@{
    Html.AppendTitleParts("Information Sent");
    Layout = "~/Views/Shared/_OwnRoot.cshtml";
}

<h1 style="font-size:26px;">Your Information has been sent</h1>

<h3 style="margin-top:30px;">
A franchise developer will contact you with the next steps in the process.</h3>
