﻿@using SimpleHoneypot.HtmlHelpers
@model Treefort.Portal.Queries.Own.GetQualifyViewModel

@{
    Html.AppendTitleParts((string)ViewBag.MetaTitle);
    Html.AppendMetaDescriptionParts((string)ViewBag.MetaDescription);
    Layout = "~/Views/Shared/_OwnRoot.cshtml";
}

@section Head
{
    <style>
        .form-field label {
            display: inline;
        }

        .form-field label span.required {
            top: .3em;
        }

    </style>
}
<!-- Google Code for MGR Franchise Remarketing List -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1061452501;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "Qa4xCP_FzwIQ1fWR-gM";
    var google_conversion_value = 0;
    /* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1061452501/?label=Qa4xCP_FzwIQ1fWR-gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<h1 class="own-mgr-pageTitle">@ViewBag.PageTitle</h1>

<div class="own-page-content">

		<p class="blurb">We appreciate your interest in joining the Music Go Round<sup>&reg;</sup> franchise family. To find out more about this business opportunity, please fill out the form below.</p>
		
		<p>If you're interested in employment at a Music Go Round store, please contact the store directly.</p>

		<fieldset>
			<legend></legend>

			@using (Html.BeginForm("Qualify", "Own", FormMethod.Post, new { @id="qualify-form" })) { 

			@Html.ValidationSummary("Please fix the following problems") 

			<div class="form-field inline clearfix" style="width:573px">
				<label>@Html.RadioButton("MeetFinancials", true)  Yes</label>
			    <label>@Html.RadioButton("MeetFinancials", false)  No</label>
                <p style="float:right; margin-bottom:0px; width:460px;">I meet the financial requirements of the Music Go Round franchise, either individually or with a financial partner: minimum of $350,000 net worth and $105,000 in cash or liquid assets.</p>
				
			</div>

			<div class="form-field inline">
				<label>@Html.RadioButton("HasPartner", true)  Yes</label>
			    <label>@Html.RadioButton("HasPartner", false) No</label>
                <p style="display:inline">If no, do you have a potential business partner?</p>
				
			</div>

			<div class="form-field-group">
				<div class="form-field">
					<label for="FirstName">First Name <span class="required">*</span></label>
					@Html.TextBox("FirstName") 
				</div>

				<div class="form-field">
					<label for="LastName">Last Name <span class="required">*</span></label>
					@Html.TextBox("LastName")
				</div>
			</div>

			<div class="form-field">
				<label for="StreetAddress" >Street Address <span class="required">*</span></label>
				@Html.TextBox("StreetAddress")
			</div>

			<div class="form-field-group">
				<div class="form-field" style="margin-top:0px;">
					<label for="City">City <span class="required">*</span></label>
					@Html.TextBox("City")
				</div>

				<div class="form-field" style="margin-top:0px;">
					<label for="StateProvince">State / Prov. <span class="required">*</span></label>
					@Html.DropDownList("StateProvince", Model.States)
				</div>

				<div class="form-field" style="margin-top:0px;">
					<label for="Postal">Postal Code <span class="required">*</span></label>
					@Html.TextBox("Postal")
				</div>
				<div class="form-field" style="margin-top:0px;">
					<label for="Country">Country <span class="required">*</span></label>
					@Html.DropDownList("Country", Model.Countries ) 
				</div>
			</div>

            <div class="form-field inputPot">
                <label>Please do not enter anything in the following field</label>
                @Html.HoneypotInput()
            </div>

			<div class="form-field">
				<label for="DayPhone" >Day Phone <span class="required">*</span></label>
				@Html.TextBox("DayPhone")
			</div>

			<div class="form-field">
				<label for="Email">Email Address <span class="required">*</span></label>
				@Html.TextBox("Email")
			</div>

			<div class="form-field">
				<label for="ConfirmEmail">Confirm Email <span class="required">*</span></label>
				@Html.TextBox("ConfirmEmail")
			</div>

			<div class="form-field">
				<label for="LocationOfInterest" style="width:465px;">Locations of interest for your Music Go Round store <span class="required">*</span></label>
			    <input type="text" style = margin-left:128px; name="LocationOfInterest" id="LocationOfInterest">
			</div>

			<div class="form-field">
				<label for="HowTheyHeard" style="width:340px;">How did you hear about Music Go Round?</label>
				@Html.DropDownList("HowTheyHeard", Model.HowTheyHeardOptions)
			</div>

			<div class="form-field">
				<label for="Comments">Comments</label>
				@Html.TextArea("Comments")
			</div>

		    <div class="form-field">
		        @Html.CheckBox("AcceptsTerms")
		        <label for="AcceptsTerms" style="width:300px;">I accept the <a href="@Url.Action("QualifyTerms", "Own")" target="_blank" style="text-decoration:underline">terms and conditions</a></label>
				
			</div>
       
			<p>Through submission of this inquiry I acknowledge and accept the above conditions.</p>


			<div class="form-field">
				<button type="submit" @Html.Raw("onClick=\"ga('send', 'event', 'Qualify Form', 'submit', 'Submit Form');\"") class="button form">Submit Form</button>
			</div>

			} 
		</fieldset>
</div>

@section FooterScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.button').click(function (e) {
                $(this).hide();
                $(this).after('<p style="margin-top:10px; color:#E24B9A">Currently Submitting to Winmark...A confirmation message should appear shortly.</p>');
            });
        });
  
    
    
    </script>

}


