﻿@model Treefort.Portal.Queries.Own.TerritoriesViewModel
@{

      Html.AppendTitleParts(Model.Meta.Title);
    Html.AppendMetaDescriptionParts(Model.Meta.MetaDescription);
    ViewBag.Section = "territories";
    Layout = "~/Views/Shared/_OwnRoot.cshtml";
}

 <h1 class="own-mgr-pageTitle">@Model.PageTitle</h1>
  
<div class="own-page-content">  
    <div id="territories">
        <img id="us-map" class="countrymap" src="/Themes/MGR/Content/images/us.png" width="590" height="388" alt="" usemap="#us-imgmap" />

        <p id="location-franchise-link">Don't see a territory in your area?<br />
            Call 1-800-592-8049 to speak to a Franchise Developer.</p>


        <map name="us-imgmap" id="us-imgmap">
            <area shape="poly" coords="123,316,155,332,179,349,199,371,229,371,231,345,208,329,188,312,153,299,130,293,121,299,123,316" href="/own/territories/HI" title="HI" alt="HI" />
            <area shape="rect" coords="509,163,542,179" href="/own/territories/DC" title="DC" alt="DC" />
            <area shape="rect" coords="528,146,558,163" href="/own/territories/MD" title="MD" alt="MD" />
            <area shape="rect" coords="530,131,558,145" href="/own/territories/DE" title="DE" alt="DE" />
            <area shape="rect" coords="515,119,536,133" href="/own/territories/NJ" title="NJ" alt="NJ" />
            <area shape="rect" coords="530,107,558,122" href="/own/territories/CT" title="CT" alt="CT" />
            <area shape="rect" coords="541,86,564,102" href="/own/territories/RI" title="RI" alt="RI" />
            <area shape="rect" coords="550,52,582,78" href="/own/territories/MA" title="MA" alt="MA" />
            <area shape="poly" coords="142,360,139,359,139,357,138,357,138,356,137,356,135,356,133,355,131,353,130,353,128,353,126,353,127,351,126,350,125,348,123,350,123,352,122,354,121,356,121,357,119,355,118,354,117,353,117,352,117,352,116,351,114,348,112,345,111,344,110,345,107,345,104,344,101,343,100,343,99,342,96,342,94,342,90,343,87,343,85,343,82,343,81,343,80,342,78,341,77,340,77,339,74,337,72,337,72,337,72,338,70,338,70,339,70,340,70,341,70,342,70,343,69,343,68,344,66,345,66,346,65,346,64,347,62,349,61,349,60,349,60,348,60,345,62,341,62,339,62,338,61,339,60,340,59,342,58,341,57,342,56,342,54,345,53,347,52,348,52,352,53,353,54,354,53,357,52,358,51,358,48,361,45,365,43,368,42,369,42,370,40,372,38,375,37,376,36,378,34,378,33,379,31,379,30,379,29,380,28,380,26,382,26,383,24,385,23,386,22,387,21,387,20,387,19,387,17,386,16,386,14,385,14,385,14,384,16,383,17,382,19,381,21,381,24,378,25,378,25,378,26,377,29,376,32,373,33,372,37,369,38,368,38,366,39,363,39,362,39,360,39,359,39,358,39,357,39,356,38,355,37,355,36,355,34,356,32,356,31,355,29,355,27,354,26,354,26,352,25,351,25,350,25,350,25,349,25,348,24,348,23,347,22,346,21,346,20,345,18,344,17,342,17,340,17,339,18,339,18,337,19,336,20,334,21,333,20,331,20,331,19,330,19,326,21,322,22,321,25,319,27,318,28,317,29,316,31,313,32,312,32,310,32,308,32,308,33,307,30,306,29,305,28,306,27,306,26,306,25,306,24,306,22,305,20,304,20,302,20,299,19,298,18,296,18,294,20,293,22,293,23,292,23,292,24,292,25,291,27,291,30,293,31,294,32,293,34,291,33,289,32,288,31,287,31,286,31,285,30,284,30,284,29,282,28,280,27,278,26,276,26,275,26,275,25,274,26,273,26,272,26,271,28,270,30,269,30,269,31,268,32,267,33,266,34,264,35,263,37,258,40,257,41,257,42,256,42,255,44,253,45,253,47,253,49,254,51,255,53,255,54,255,55,255,57,255,58,256,59,256,59,256,61,255,62,256,63,257,64,258,65,258,66,258,67,258,67,258,68,259,70,258,72,259,73,260,75,261,76,262,78,261,80,260,80,262,82,263,93,336,101,333,101,335,108,341,111,336,113,333,116,333,119,335,122,338,123,339,127,341,129,343,131,345,132,345,134,347,136,348,138,348,141,349,143,350,144,350,144,351,145,353,144,355,143,357,143,359,142,360,142,360" href="/own/territories/AK" title="AK" alt="AK" />
            <area shape="poly" coords="74,45,74,46,73,46,69,45,68,46,68,46,65,45,63,46,62,46,60,46,60,46,59,45,54,45,53,45,52,44,48,42,47,43,46,43,44,43,43,43,39,41,39,40,39,40,40,36,39,34,38,32,38,33,37,32,36,31,33,31,32,31,32,31,31,31,31,34,31,36,32,37,31,41,30,45,29,45,28,46,27,48,25,51,24,54,22,56,21,58,20,62,19,63,18,64,18,65,17,68,16,73,15,75,15,76,14,77,14,79,15,79,15,81,16,84,17,84,20,85,32,88,49,92,66,96,78,99,84,100,91,73,88,70,100,55,96,51,93,50,74,45,74,45" href="/own/territories/OR" title="OR" alt="OR" />
            <area shape="poly" coords="103,10,54,1,54,4,53,5,53,9,53,12,53,15,51,16,49,18,48,18,47,18,48,15,48,13,48,11,46,8,45,8,45,7,42,4,40,3,40,2,39,2,36,1,35,3,35,4,35,4,34,8,35,16,36,18,36,21,35,23,33,26,31,31,31,31,32,31,33,31,35,31,36,31,37,32,37,33,38,32,39,34,40,35,39,40,40,41,43,43,47,43,48,42,49,42,52,44,53,44,54,45,59,45,59,45,60,46,63,46,65,45,66,46,68,46,69,45,70,45,73,46,74,46,74,46,93,50,95,51,103,10,103,10" href="/own/territories/WA" title="WA" alt="WA" />
            <area shape="poly" coords="319,272,321,270,321,263,318,259,318,257,315,252,315,233,310,231,307,233,302,228,296,228,289,230,281,228,272,228,261,224,257,221,250,221,250,194,218,192,213,252,156,250,178,254,193,269,193,277,209,290,212,290,216,281,230,281,238,289,242,297,251,311,256,323,258,327,263,329,268,332,273,333,277,333,278,334,279,333,280,331,280,329,280,325,278,321,278,318,279,317,279,316,279,315,279,312,279,311,279,309,280,308,281,307,282,306,284,305,286,303,287,302,287,300,287,299,288,298,294,299,296,298,298,296,301,295,304,292,304,292,305,291,305,291,307,289,307,286,307,285,308,284,311,285,314,285,316,285,317,284,318,283,319,281,319,277,319,272,319,272,319,272" href="/own/territories/TX" title="TX" alt="TX" />
            <area shape="poly" coords="362,266,362,264,342,264,341,263,342,260,349,246,346,243,345,238,313,240,313,252,316,257,316,259,319,263,319,267,319,270,317,272,318,277,317,281,317,283,321,282,324,282,326,282,328,284,329,284,331,285,333,285,334,285,336,285,337,283,336,282,338,281,340,281,341,282,342,283,343,284,344,285,346,285,347,286,347,287,348,288,350,289,352,289,353,289,354,288,355,287,356,287,358,287,359,287,361,288,362,287,361,285,360,284,359,283,362,282,364,283,365,284,366,286,368,287,369,288,370,288,372,288,372,286,372,286,370,285,369,284,367,283,365,282,365,281,367,280,368,278,364,278,363,278,362,278,361,277,360,277,359,277,358,276,357,274,357,273,358,273,358,273,361,273,362,273,364,274,366,273,366,271,362,266,362,266" href="/own/territories/LA" title="LA" alt="LA" />
            <area shape="poly" coords="525,100,528,99,530,100,529,102,528,103,527,103,526,104,525,105,523,107,521,108,518,108,516,109,515,107,516,106,519,104,520,102,525,100,525,100" href="/own/territories/NY" title="NY" alt="NY" />
            <area shape="poly" coords="499,144,497,132,495,126,498,122,499,129,502,134,505,138,505,145,505,152,503,152,502,152,499,144,499,144" href="/own/territories/DE" title="DE" alt="DE" />
            <area shape="poly" coords="497,157,489,151,486,147,484,147,484,140,476,137,476,132,495,126,497,132,498,137,499,142,499,145,497,147,495,147,494,145,494,144,494,143,494,140,493,138,493,137,492,136,491,133,489,133,490,135,491,138,492,142,491,145,492,148,493,150,494,151,495,153,496,154,497,155,497,157,497,157" href="/own/territories/MD" title="MD" alt="MD" />
            <area shape="poly" coords="506,132,510,124,510,120,509,113,509,106,499,103,498,109,501,117,497,122,497,129,505,132,506,132" href="/own/territories/NJ" title="NJ" alt="NJ" />
            <area shape="poly" coords="524,88,526,96,532,93,530,86,524,88" href="/own/territories/RI" title="RI" alt="RI" />
            <area shape="poly" coords="510,90,511,104,525,96,523,88,510,90" href="/own/territories/CT" title="CT" alt="CT" />
            <area shape="poly" coords="526,40,529,17,531,13,533,11,535,14,539,10,544,13,546,17,548,27,551,30,553,29,554,30,555,35,559,35,563,39,554,45,550,49,547,49,545,51,545,55,539,58,536,60,535,65,535,71,526,40"  href="/own/territories/ME" title="ME" alt="ME" />
            <area shape="poly" coords="517,79,517,58,521,55,519,46,519,44,524,41,533,73,518,80" href="/own/territories/NH" title="NH" alt="NH" />
            <area shape="poly" coords="510,80,511,90,530,86,535,91,539,86,535,76,532,73,528,76,510,80" href="/own/territories/MA" title="MA" alt="MA" />
            <area shape="poly" coords="510,81,517,79,517,66,517,58,521,55,519,48,503,52,503,58,505,69,510,74,510,81" href="/own/territories/VT" title="VT" alt="VT" />
            <area shape="poly" coords="499,103,493,96,451,104,449,102,457,93,456,86,467,84,472,82,476,78,480,75,481,73,479,71,484,63,486,57,491,55,499,55,501,53,503,52,503,58,505,67,505,69,510,74,510,81,511,90,513,100,513,104,511,106,499,103" href="/own/territories/NY" title="NY" alt="NY" />
            <area shape="poly" coords="448,135,445,127,442,110,447,102,450,104,492,96,497,101,499,103,498,109,501,117,493,126,474,132,470,132,466,135,464,135,458,141,458,135,448,135" href="/own/territories/PA" title="PA" alt="PA" />
            <area shape="poly" coords="421,181,435,167,440,170,448,168,454,163,456,160,458,151,463,151,465,146,470,141,470,136,474,138,476,137,483,140,483,147,486,147,488,151,496,157,493,160,498,164,502,164,502,168,441,180,421,181" href="/own/territories/VA" title="VA" alt="VA" />
            <area shape="poly" coords="440,170,435,167,429,156,433,148,444,137,445,127,448,135,458,135,458,141,464,135,466,135,470,132,474,132,476,137,474,138,470,136,470,141,465,145,463,151,460,151,458,151,456,160,454,163,448,168,440,170" href="/own/territories/WV" title="WV" alt="WV" />
            <area shape="poly" coords="503,168,443,180,439,186,434,187,417,204,431,203,439,198,453,198,457,200,468,199,476,205,480,208,482,209,482,209,484,209,486,208,488,208,489,206,489,205,490,203,490,202,491,201,494,197,495,196,498,196,502,194,503,190,500,190,498,190,499,189,500,188,499,186,497,185,500,185,502,185,505,185,507,184,507,182,507,180,506,177,503,180,501,179,501,178,500,177,499,177,497,176,500,175,501,174,501,174,502,173,503,172,503,168,503,168" href="/own/territories/NC" title="NC" alt="NC" />
            <area shape="poly" coords="467,199,468,200,476,206,480,208,481,209,482,210,480,211,478,211,477,212,477,215,476,219,475,220,475,221,473,224,472,225,472,225,471,225,470,226,469,228,468,229,467,230,466,230,466,230,465,230,464,231,461,234,461,236,461,237,460,238,459,237,454,231,445,221,437,213,433,209,429,208,429,203,438,198,452,198,456,200,467,199,467,199" href="/own/territories/SC" title="SC" alt="SC" />
            <area shape="poly" coords="419,261,416,257,414,248,415,244,415,238,403,205,429,203,429,208,433,209,439,214,453,230,460,238,458,242,458,246,458,249,455,252,457,257,451,257,451,261,449,261,447,259,419,261" href="/own/territories/GA" title="GA" alt="GA" />
            <area shape="poly" coords="388,262,390,270,403,268,411,270,415,275,422,273,430,268,435,273,443,279,445,279,448,283,448,294,451,297,450,301,456,306,459,309,465,318,469,319,474,325,481,326,483,316,484,305,472,286,467,276,457,257,451,257,451,261,449,261,447,259,418,261,416,258,388,262" href="/own/territories/FL" title="FL" alt="FL" />
            <area shape="poly" coords="379,271,376,247,376,208,403,205,415,238,415,244,414,248,415,252,416,258,388,262,390,270,388,270,386,268,385,267,383,265,379,271" href="/own/territories/AL" title="AL" alt="AL" />
            <area shape="poly" coords="353,211,353,218,349,221,345,229,345,238,346,243,349,246,345,252,341,260,341,263,342,264,362,264,362,265,362,267,366,271,367,273,368,271,372,271,375,271,378,271,379,271,376,247,376,208,353,211,353,211" href="/own/territories/MS" title="MS" alt="MS" />
            <area shape="poly" coords="354,211,417,204,421,200,426,195,429,192,434,187,439,186,443,180,422,181,375,186,375,189,362,189,359,197,359,202,354,211" href="/own/territories/TN" title="TN" alt="TN" />
            <area shape="poly" coords="360,189,375,189,375,186,421,181,435,167,429,156,426,152,416,154,404,150,405,153,401,158,395,166,391,166,387,170,385,168,383,170,374,170,374,175,372,176,370,178,370,181,366,181,365,180,362,183,362,188,360,189" href="/own/territories/KY" title="KY" alt="KY" />
            <area shape="poly" coords="402,115,406,150,417,154,427,152,431,156,435,148,441,142,446,137,447,127,443,110,436,111,433,113,427,116,424,116,421,116,416,114,415,112,409,114,404,115,402,115" href="/own/territories/OH" title="OH" alt="OH" />
            <area shape="poly" coords="382,117,383,113,384,112,385,110,386,109,385,105,384,103,384,102,383,102,383,100,382,99,381,98,381,97,381,94,380,91,380,84,380,78,382,76,384,75,386,74,388,76,388,72,390,71,391,69,390,69,390,67,391,65,392,65,392,64,393,63,396,64,397,65,398,66,399,66,399,66,400,66,401,66,403,66,406,67,407,68,408,69,408,71,409,73,410,74,410,74,410,76,410,79,409,80,407,83,406,85,407,89,408,87,410,86,412,85,415,84,417,89,420,93,421,95,421,97,420,100,419,102,417,104,416,106,414,108,414,112,401,115,382,117,382,117" href="/own/territories/MI" title="MI" alt="MI" />
            <area shape="poly" coords="375,120,383,117,402,115,406,153,401,159,396,166,392,166,388,170,387,168,384,170,381,170,374,170,374,164,377,161,376,121,375,120" href="/own/territories/IN" title="IN" alt="IN" />
            <area shape="poly" coords="370,110,370,113,372,115,373,117,375,120,376,151,376,154,376,157,376,159,376,161,374,164,374,169,374,172,374,175,373,176,372,176,370,178,370,180,370,181,366,181,365,180,363,182,362,183,357,173,349,166,349,160,336,147,336,140,340,136,340,133,338,128,348,119,346,112,369,109,370,110,370,110" href="/own/territories/IL" title="IL" alt="IL" />
            <area shape="poly" coords="372,70,372,71,372,72,369,76,368,78,367,79,367,79,370,73,369,70,368,70,367,66,365,64,346,58,343,55,350,52,358,48,362,43,364,45,362,50,367,52,374,55,381,53,389,51,394,51,394,53,401,55,406,57,403,60,397,60,395,60,391,60,381,62,375,67,372,70,372,70" href="/own/territories/MI" title="MI" alt="MI" />
            <area shape="poly" coords="346,112,371,109,371,102,371,96,371,90,371,85,373,78,376,75,375,71,372,76,367,80,368,76,370,73,365,64,356,61,346,58,343,55,338,55,338,52,326,57,325,64,319,70,322,73,322,82,329,89,335,92,337,98,340,101,340,108,346,112,346,112" href="/own/territories/WI" title="WI" alt="WI" />
            <area shape="poly" coords="284,99,337,99,334,92,329,89,324,85,323,82,323,73,319,70,325,64,325,57,330,51,333,48,338,43,344,41,347,38,346,38,337,37,335,35,330,37,323,33,321,35,316,30,310,32,302,29,299,23,297,23,297,28,279,28,279,39,282,46,283,59,284,68,282,71,284,75,284,99,284,99" href="/own/territories/MN" title="MN" alt="MN" />
            <area shape="poly" coords="337,140,341,136,341,133,340,128,342,126,346,122,349,119,347,112,346,112,340,108,340,105,340,101,337,98,331,98,323,98,317,99,285,98,285,110,289,120,292,126,293,133,295,139,334,137,337,140" href="/own/territories/IA" title="IA" alt="IA" />
            <area shape="poly" coords="359,197,354,197,354,193,307,193,305,188,305,158,301,153,301,150,299,147,295,139,334,137,337,140,338,147,342,152,346,156,350,160,350,166,353,169,358,173,361,178,364,183,364,188,362,189,359,197,359,197" href="/own/territories/MO" title="MO" alt="MO" />
            <area shape="poly" coords="310,231,310,205,307,193,354,193,354,197,359,197,359,202,354,211,354,218,351,221,346,229,346,238,315,240,315,233,310,231" href="/own/territories/AR" title="AR" alt="AR" />
            <area shape="poly" coords="218,186,218,192,250,194,250,221,257,221,261,224,266,225,272,228,281,228,289,230,296,228,302,228,307,233,310,231,310,205,306,188,218,186" href="/own/territories/OK" title="OK" alt="OK" />
            <area shape="poly" coords="227,185,230,146,297,147,300,150,300,153,305,158,305,188,227,185" href="/own/territories/KS" title="KS" alt="KS" />
            <area shape="poly" coords="286,111,282,107,272,109,268,107,213,104,211,131,231,133,231,146,299,147,294,137,292,128,289,120,286,111" href="/own/territories/NE" title="NE" alt="NE" />
            <area shape="poly" coords="267,107,213,104,215,66,284,69,282,71,285,76,285,101,285,106,285,112,280,108,275,108,270,110,267,107" href="/own/territories/SD" title="SD" alt="SD" />
            <area shape="poly" coords="284,67,283,60,282,46,279,39,278,28,218,26,215,66,284,69,284,67" href="/own/territories/ND" title="ND" alt="ND" />
            <area shape="poly" coords="142,111,112,107,84,100,91,73,88,70,100,55,95,50,103,10,112,12,109,22,112,29,112,32,120,44,118,58,121,61,122,60,130,75,145,75,148,77,142,111" href="/own/territories/ID" title="ID" alt="ID" />
            <area shape="poly" coords="130,75,145,75,148,77,149,71,214,78,218,26,165,20,112,12,109,22,112,29,112,32,120,44,118,58,121,61,122,60,126,66,128,71,130,75" href="/own/territories/MT" title="MT" alt="MT" />
            <area shape="poly" coords="210,131,214,78,149,71,140,124,161,127,210,131" href="/own/territories/WY" title="WY" alt="WY" />
            <area shape="poly" coords="155,179,162,127,231,133,228,185,218,186,155,179" href="/own/territories/CO" title="CO" alt="CO" />
            <area shape="poly" coords="145,253,156,255,156,250,213,252,218,186,155,179,145,253" href="/own/territories/NM" title="NM" alt="NM" />
            <area shape="poly" coords="155,179,145,253,123,251,83,228,95,207,92,198,95,182,99,184,101,172,155,179" href="/own/territories/AZ" title="AZ" alt="AZ" />
            <area shape="poly" coords="101,172,155,179,163,127,140,124,142,111,112,107,101,172" href="/own/territories/UT" title="UT" alt="UT" />
            <area shape="poly" coords="92,198,47,134,55,94,112,107,99,184,94,182,92,198" href="/own/territories/NV" title="NV" alt="NV" />
            <area shape="poly" coords="15,88,14,90,13,91,13,96,12,97,11,99,10,101,10,103,10,107,10,111,10,113,12,115,11,117,11,118,10,122,10,124,13,129,13,131,14,132,15,134,16,135,16,138,16,141,18,142,18,144,17,147,17,150,19,153,20,155,21,155,20,159,20,160,21,161,23,163,23,165,24,169,27,173,28,175,28,183,26,186,26,190,28,191,31,192,35,192,39,194,39,195,43,201,47,202,49,204,51,206,55,211,57,214,56,216,57,220,58,222,62,224,71,225,85,226,95,207,92,198,49,134,56,94,40,89,28,86,16,84,15,88,15,88" href="/own/territories/CA" title="CA" alt="CA" />
        </map>
    </div>
</div>




@section FooterScripts
{
     <script type="text/javascript">
        function closePopups(e) {
            if (e) e.preventDefault();
            $(".popup").remove();
        }

        $(function () {
            $("area").click(function (e) {
                e.preventDefault();
                closePopups();

                var offset = $("#territories").offset();
                var relativeX = e.pageX - offset.left - 20;
                var relativeY = e.pageY - offset.top - 20;

                $.get($(this).attr("href"), function (responseText) {

                    var popup = $(responseText).css({
                        top: relativeY,
                        left: relativeX
                    }).appendTo("#territories");

                    var colWidth = 150;
                    var colCount = Math.ceil($("ul.columns li").length / 10);
                    if (colCount) {
                        popup.width(colWidth * colCount);
                    }

                    $("ul.columns").makeacolumnlists({ cols: colCount, colWidth: colWidth, equalHeight: false, startN: 1 });

                    var diffY = (popup.offset().top + popup.outerHeight(true)) - $(window).height();
                    if (diffY > 0) {
                        popup.css({ top: relativeY - diffY });
                    }

                    var diffX = (popup.offset().left + popup.outerWidth(true)) - $(window).width();
                    if (diffX > 0) {
                        popup.css({ left: relativeX - diffX });
                    }

                    $(".popup .close").click(closePopups);

                });
            });

        });
	</script>

}
