﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.AuthorizeNet.Models.PaymentInfoModel
@using Nop.Web.Framework;
<div class="label-input-group">
    <div class="inner-label">
        @Html.NopLabelFor(model => model.CardholderName, false)
    </div>
    <div class="inner-input">
                @Html.TextBoxFor(model => model.CardholderName, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.CardholderName)
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.NopLabelFor(model => model.CreditCardTypes, false)
    </div>
    <div class="inner-input">
        @Html.DropDownListFor(model => model.CreditCardType, Model.CreditCardTypes)
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.NopLabelFor(model => model.CardNumber, false)
    </div>
    <div class="inner-input">
        @Html.TextBoxFor(model => model.CardNumber, new {autocomplete = "off", maxlength = 22})
        @Html.ValidationMessageFor(model => model.CardNumber)
    </div>
</div>
<div class="multi-label-input-group">

    <div class="label-input-group split">
        <div class="inner-label">
            @Html.NopLabelFor(model => model.ExpireMonth, false)
        </div>
        <div class="inner-input">
            @Html.DropDownListFor(model => model.ExpireMonth, Model.ExpireMonths)
        </div>
    </div>
    <div class="label-input-group split">
        <div class="inner-label">
            &nbsp;<span class="sr-only">@Html.NopLabelFor(model => model.ExpireYear, false)</span>
        </div>
        <div class="inner-input">
            @Html.DropDownListFor(model => model.ExpireYear, Model.ExpireYears)
        </div>
    </div>
</div>
<div class="label-input-group">
    <div class="inner-label">
        @Html.NopLabelFor(model => model.CardCode, false)
    </div>
    <div class="inner-input">
        @Html.TextBoxFor(model => model.CardCode, new { autocomplete = "off", maxlength = 4, @class="short" })
        @Html.ValidationMessageFor(model => model.CardCode)
    </div>
</div>
