﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.AuthorizeNet.Models.PaymentInfoModel
@using Nop.Web.Framework;
<div class="singlerow">
    @Html.NopLabelFor(model => model.CreditCardTypes, false)
    @Html.DropDownListFor(model => model.CreditCardType, Model.CreditCardTypes, new {aria_label="Select Credit Card"})
</div>
<div>
    @*@Html.NopLabelFor(model => model.CardholderName, false)*@
    @Html.TextBoxFor(model => model.CardholderName, new { autocomplete = "off", placeholder = "Cardholder name", aria_label="Cardholder name" })
    @Html.ValidationMessageFor(model => model.CardholderName)
</div>

@*@Html.NopLabelFor(model => model.CardNumber, false)*@
<div>
    @Html.TextBoxFor(model => model.CardNumber, new { autocomplete = "off", maxlength = 22, placeholder = "Card number", aria_label="Card number" })
    @Html.ValidationMessageFor(model => model.CardNumber)
</div>

<div class="singlerow">
    <label for="ExpireMonth">Expiration Date</label>

    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal">
            <legend></legend>
            @Html.DropDownListFor(model => model.ExpireMonth, Model.ExpireMonths, new { style = "width:80px;", aria_label="Expiration month" })
            /
            @Html.DropDownListFor(model => model.ExpireYear, Model.ExpireYears, new { style = "width:100px;", aria_label="Expiration year" })
        </fieldset>
    </div>
</div>
<div>
    @*@Html.NopLabelFor(model => model.CardCode, false)*@
    @Html.TextBoxFor(model => model.CardCode, new { style = "Width: 60px;", autocomplete = "off", maxlength = 4, placeholder = "card code", aria_label="Card code" })
    @Html.ValidationMessageFor(model => model.CardCode)
</div>
